[2015-08-24 18:18] annmarieven commented on #302
@a-parrott do you want to work towards making job posting feeds and faculty feeds blocks instead of pages?

job posting:
https://cms.bethel.edu/entity/relationships.act?id=619f5c8d8c5865130c130b3a88351726&type=contenttype

faculty:
https://cms.bethel.edu/entity/relationships.act?id=e15649578c5865137938fc88b6f25aaa&type=contenttype

[2015-08-24 18:21] annmarieven commented on #563
Sounds good. Thanks @c-schwarze !

[2015-08-24 18:21] #563 closed

[2015-08-24 18:22] annmarieven commented on #568
@emily-johnson can you touch base with me on this?

bethel.edu/about

[2015-08-24 18:38] emily-johnson commented on #568
Content was updated, system name and display name were changed, redirect was created and site was published for the left hand nav change

[2015-08-24 18:38] #568 closed

[2015-08-24 18:52] annmarieven commented on #569
Added this sentence for SemPM.

"You'll meet for evening classes only at one of our convenient locations."

@c-schwarze do we need to do anything to get that to show up if it's selected?

data definition for program block:
https://cms.bethel.edu/entity/open.act?id=703ebc8d8c5865132395524d89bfaeb9&type=structureddatadefinition

live page example:
https://www.bethel.edu/seminary/academics/childrens-

[2015-08-24 19:38] c-schwarze commented on #562
Updated. Let me know what you think. A couple of tests on staging:

https://staging.bethel.edu/events/2015/admissions/degree-fair
https://staging.bethel.edu/events/2016/irondale-high-school-orchestra-concert-

[2015-08-24 20:27] c-schwarze commented on #574
Done.

[2015-08-24 20:27] #574 closed

[2015-08-24 20:32] c-schwarze commented on #573
Updated so that it grabs the most recent instead of random.

Also, published the 5 homepages so the affect is live.

[2015-08-24 20:34] c-schwarze commented on #572
Closing. This moved to #573

[2015-08-24 20:34] #572 closed

[2015-08-24 21:25] c-schwarze commented on #569
You should only need to republish the pages that will need to display "You'll meet for evening classes only at one of our convenient locations."

[2015-08-25 17:22] a-parrott commented on #302
Pages are blocks now. Before I complete the last steps, a couple things:

Faculty job postings are now missing headings:
No headings: https://staging.bethel.edu/employment/openings/faculty
Headings: https://www.bethel.edu/employment/openings/faculty

I was unable to delete the faculty feed page: No outputs selected— https://cms.bethel.edu/entity/open.act?id=e5cadb6f8c5865137938fc885b8da72f&type=pa

[2015-08-26 14:42] c-schwarze commented on #302
The 2 links you posted look the same to me. Which headings are you referring to?

I deleted the faculty feed page. I had to manually delete it on the server though. It was being finicky.

[2015-08-26 15:00] a-parrott commented on #302
Oh. I don't remember publishing to production, but now unfortunately, they do look the same.

Previously, the job postings were listed by school versus just alphabetically. So the College or Arts and Sciences, the College of Adult and Professional Studies, etc. were the headings and the corresponding jobs were listed under the school headings.

[2015-08-26 16:47] c-schwarze commented on #302
It looks like Display all jobs needs to be set to Yes, in order to choose the Group by school option.

[2015-08-27 16:26] annmarieven opened #576 "Seminary Academics M.A. in Christian Thought Site Launch and Issues"
Getting ready to launch this site:
staging.bethel.edu/seminary/academics/christian-thought

We'll plan to launch Monday afternoon (pending approval from Jen).

@donowenskid can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/spreadsheets/d/1HuG1V-OM7If-YOM8_scVqYEH3PTH_Y1qyBXWhs4cdFQ/edit#gid=883867518

Redirects:
https:/

[2015-08-27 16:26] annmarieven commented on #576
@emily-johnson can you check the news/events feeds? looks like they're pulling all news and events. update, republish the index to staging, and then mark the news/event feeds as done on the migration grid. could you also do the redirect grid for this program so we can launch on Monday? thanks!

[2015-08-27 16:28] annmarieven commented on #576
@emily-johnson can you do the redirect grid for this one so we can launch Monday?

[2015-08-27 16:34] a-parrott commented on #302
All right. I think my part in this shindig is done.

@e-jameson did you complete whatever needed to be done with the job posting feed?

[2015-08-27 17:05] emily-johnson commented on #576
Redirects doc is created and linked in the Seminary Programs Migration Grid

[2015-08-28 13:02] annmarieven commented on #576
@emily-johnson can you go through the seminary proof points in the shared content folder and make sure they're all tagged appropriately? I'm seeing a children's ministry one showing up on christian thought. Adjust tags as needed, then go to the xml folder (in shared content) and publish the proof point xml page to production. Lastly, republish the christian thought site to staging :)

Thanks!

[2015-08-28 13:11] annmarieven commented on #576
@emily-johnson can we pull this photo out of the header images and load it as the main image?

Here's the link to the grid which hopefully has the link to the original Flickr photo: https://docs.google.com/spreadsheets/d/1xU2p1-aQfUgIZ2psK8tdSVEgYx0WZUyzvxFwYVtBV3Q/edit#gid=1259590273

It needs to be downloaded from Flickr, cropped to 16x9, compressed, and loaded into the images folder (not site-i

[2015-08-28 14:50] annmarieven opened #577 "Seminary Academics M.A. in Marital and Family Therapy Site Launch and Issues"
Getting ready to launch this site:
https://staging.bethel.edu/seminary/academics/marital-family-therapy/

We'll plan to launch Tuesday morning (pending approval from Jen).

@donowenskid can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/spreadsheets/d/1HuG1V-OM7If-YOM8_scVqYEH3PTH_Y1qyBXWhs4cdFQ/edit#gid=673133178

Redir

[2015-08-28 15:52] emily-johnson commented on #576
Main photo is added and removed from the image bank

[2015-08-28 16:32] emily-johnson opened #578 "Proof Point - Text after"
@johjacb Can you look into making the text after even with the number in a number proof point? Ex:
![number proof point](https://cloud.githubusercontent.com/assets/13204220/9551780/c9a8550e-4d78-11e5-96eb-21e969d16a76.png)
 (15 is the number and -20 is the text after).

Thanks!

[2015-08-28 16:35] c-schwarze commented on #578
Could the text all be put in the "Number" field?

[2015-08-28 16:36] emily-johnson commented on #578
Since it's a number proof point, it will only allow you to do the one number so only 15 shows up

[2015-08-28 16:40] c-schwarze commented on #578
A possible solution is to put "15-" in the text before field and "20" in the Number field.

Unless @johjacb has a fancy way to fix this.

[2015-08-28 16:43] emily-johnson commented on #578
Oops! That's actualy what it's at now. 15 is text before and -20 is the number

[2015-08-28 16:57] emily-johnson commented on #578
As far as I can tell, either way the -20 is higher

[2015-08-28 20:12] donowenskid commented on #576
Edits done. Looks great on Chrome and FF.

[2015-08-28 20:56] donowenskid commented on #577
Edits complete. Good to go on Chrome and FF

[2015-08-31 13:14] annmarieven commented on #571
Site launched. Looks good.

Old site archived.

[2015-08-31 13:14] #571 closed

[2015-08-31 14:36] annmarieven commented on #576
Proofed on Safari and iOS 8. Fixed the faculty page. Sent to Jen for approval.

[2015-08-31 14:41] annmarieven commented on #577
@emily-johnson can we use the photo of the guy and girl at the table as the main image?

Here's the link to the grid which hopefully has the link to the original Flickr photo: https://docs.google.com/spreadsheets/d/1xU2p1-aQfUgIZ2psK8tdSVEgYx0WZUyzvxFwYVtBV3Q/edit#gid=1259590273

It needs to be downloaded from Flickr, cropped to 16x9, compressed, and loaded into the images folder (not site-images)

[2015-08-31 16:11] annmarieven commented on #562
Can we add a sentence that says "View maps and directions to ...." and then have the location with the link?

[2015-08-31 16:13] #573 closed

[2015-08-31 16:14] annmarieven commented on #578
We confirmed that no matter what, the items aren't aligned.

[2015-08-31 16:31] #569 closed

[2015-08-31 16:31] annmarieven commented on #570
looks great. thanks!

[2015-08-31 16:31] #570 closed

[2015-08-31 18:30] ale73233 opened #579 "Mobile device web issue"
Hi Eric, we received this email, could you look into the issue?
![image_20150830124213_512913](https://cloud.githubusercontent.com/assets/10466261/9586775/59dc2930-4fe4-11e5-9965-003322f364d4.jpg)

Attached is a jpg of what people see when they use an Ipad to look at our
department page. The rolling numbers that work on the desk top does not
work on the Ipad and the numbers state "zero." I tried o

[2015-08-31 18:54] annmarieven commented on #576
waiting for approval from Ken. @vedmic is touching base with Jen about who should approve and giving a deadline.

This most likely won't launch today.

[2015-08-31 19:13] emily-johnson commented on #577
Photo has been uploaded and added to the index spotlight

[2015-08-31 20:19] emily-johnson opened #580 "CAS Quicklinks"
https://bethelnet.bethel.edu/ureg/cas/

Can you remove the QuickLinks sub menu in the left hand nav and instead have it just link to this page: https://bethelnet.bethel.edu/ureg/cas/quick-links

[2015-08-31 21:32] annmarieven opened #581 "Seminary Academics M.A. in Mental Health Counseling Site Launch and Issues"
Getting ready to launch this site:
http://staging.bethel.edu/seminary/academics/mental-health-counseling

Not sure when we're launching.. with the roar day site and my absence on Thursday/Friday of this week.

@donowenskid can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1HuG1V-OM7If-YOM8_sc

[2015-09-01 14:04] johjacb commented on #578
Should be better now, although not perfect. The odometer number gets special css.

I would recommend against trying to put part of the number in the suffix field. The fields are handled differently and could produce undesirable results. :sob:

[2015-09-02 16:54] annmarieven opened #582 "Auto publishing adult programs"
We need to do a few things before we can turn autopublishing on.

- [x] Set up automated email when blocks don't have data
- [x] Adjust program details section on program index page
- [x] Adjust actual program details page

Details about each item below:

**Automated email**
Send to: l-gupta@bethel.edu, s-baumgardner@bethel.edu, emily-jensen@bethel.edu
Subject: No Banner Data Found
Take out the pa

[2015-09-02 19:36] e-jameson commented on #576
rule is done.

[2015-09-02 19:55] emily-johnson commented on #576
Redirects and analytics tag are done

[2015-09-02 20:32] annmarieven commented on #576
Site launched. Looking good. Closing github

[2015-09-02 20:32] #576 closed

[2015-09-02 20:39] donowenskid commented on #581
Edits complete. Good to go in Chrome and FF.

[2015-09-02 20:52] donowenskid commented on #577
Edits complete. Looks great in Chrome and FF.

[2015-09-08 16:45] e-jameson commented on #565
@c-varberg  can you start looking into this?

[2015-09-09 12:49] annmarieven commented on #581
@emily-johnson can you take care of the main image today? We'll shoot for launching tomorrow.

[2015-09-09 13:53] e-jameson commented on #582
@c-schwarze can you look at making these other two changes? These changes are for if there is no "Banner Data" in a block.

[2015-09-10 15:24] a-parrott opened #583 "Undergrad Homepage Banner Features"
The undergrad homepage banner feature block needs to pull the most recent 5 CAS features. Right now there's only 4 features on the page.

https://cms.bethel.edu/entity/open.act?id=c173ad978c5865132802f1614d009134&type=page

[2015-09-10 15:33] annmarieven commented on #577
Looks good on Safari and iOS 8.

The only thing I noticed is the proof point is still animating even though it's set to not. @c-schwarze can you take a look? https://staging.bethel.edu/seminary/academics/marital-family-therapy/
proof point: https://cms.bethel.edu/entity/open.act?id=ba137e948c586513100ee2a78b805db0&type=block_STRUCTUREDDATA

We're going to move forward with the launch but it'd be g

[2015-09-10 15:43] e-jameson commented on #577
rule is done

[2015-09-10 15:50] annmarieven commented on #577
Redirects are in. Site is live and looks good!

Keeping open for @emily-johnson to tag analytics and @c-schwarze to look at proof point animation.

[2015-09-10 16:58] c-varberg commented on #565
Alright I got a working prototype. Let me know if there is anything you want me to change.

block is here - https://cms.bethel.edu/entity/open.act?id=b81c36428c58651314811f9c20474966&type=block&

test page is here - https://staging.bethel.edu/_testing/calebv/test

The article it shares will use the current page metadata to find a photo, description, title, etc...
If we want to be able specify what

[2015-09-10 19:07] e-jameson commented on #581
rule is done.

[2015-09-10 19:53] emily-johnson commented on #581
Main image, redirects and analytics tag are done!

[2015-09-10 19:58] emily-johnson commented on #577
Analytics tag is done

[2015-09-10 20:34] annmarieven commented on #581
Site launched. Everything looks good!

[2015-09-10 20:34] #581 closed

[2015-09-10 20:37] annmarieven commented on #578
just going to leave it for now.

[2015-09-10 20:37] #578 closed

[2015-09-10 20:40] annmarieven commented on #580
This is done. @emily-johnson can you follow the steps that were taken in the job to make sure these links work? even within the blink iframe?

[2015-09-10 21:13] c-varberg commented on #565
There are also a couple different styles for the button itself.
The little 'layout' drop down on this page lets you see all the styles.

https://developers.facebook.com/docs/plugins/share-button

[2015-09-11 16:00] annmarieven opened #584 "CAPS Academics Human Resource Management Certificate Site Launch and Issues"
Getting ready to launch this site:
https://staging.bethel.edu/adult-undergrad/academics/certificates/human-resource-management/

We'll plan to launch mid next week.

@donowenskid can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/spreadsheets/d/18NizqD2T-hDa2fx3tC9DHXMuEEK2Up65DtcPJh95nrM/edit#gid=1418805418

Redirects:

[2015-09-11 16:06] annmarieven opened #585 "CAPS Academics Addiction Studies Certificate Site Launch and Issues"
Getting ready to launch this site:
https://staging.bethel.edu/adult-undergrad/academics/certificates/addiction-studies

We'll plan to launch mid next week.

@donowenskid can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/spreadsheets/d/18NizqD2T-hDa2fx3tC9DHXMuEEK2Up65DtcPJh95nrM/edit#gid=1142176740

- [x] Use site image

[2015-09-11 19:08] emily-johnson commented on #584
@annmarieven It looks like you created the migration grid on June 1: https://docs.google.com/spreadsheets/d/1X94bPsFV0xww3qvrh163d3d_mJnvPEZBe0ZG9N3UczE/edit#gid=0

[2015-09-11 19:10] emily-johnson commented on #585
@annmarieven According to this migration grid (https://docs.google.com/spreadsheets/d/18NizqD2T-hDa2fx3tC9DHXMuEEK2Up65DtcPJh95nrM/edit#gid=1093195317) we don't need redirects because it wasn't in Silva

[2015-09-11 19:22] emily-johnson commented on #580
Any of the links that aren't in Cascade (bethelnet.bethel or cas.bethel) weren't working unless I right-clicked and chose to open it in a new tab. I changed all of the links to open in a new window and now they all work.

[2015-09-11 19:23] #580 closed

[2015-09-15 16:02] donowenskid commented on #584
Looks great in Chrome and FF.

[2015-09-15 16:22] donowenskid commented on #585
Good to go in FF and Chrome. No edits.

[2015-09-15 17:19] c-schwarze commented on #582
@annmarieven I updated these changes. I used the "There are no cohorts scheduled at this time" option. Let me know if anything needs to change.

[2015-09-15 19:15] annmarieven opened #586 "Seminary Academics M.A. in Marriage and Family Therapy Site Launch and Issues"
Getting ready to launch this site:
https://staging.bethel.edu/seminary/academics/marriage-family-therapy/

@donowenskid can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1HuG1V-OM7If-YOM8_scVqYEH3PTH_Y1qyBXWhs4cdFQ/edit#gid=673133178

Redirects:
https://docs.google.com/spreadsheets/d/1KQj6HRS

[2015-09-15 19:20] annmarieven opened #587 "Seminary Academics M.A. in Transformational Leadership Site Launch and Issues"
Getting ready to launch this site:
https://staging.bethel.edu/seminary/academics/transformational-leadership/

@donowenskid can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1HuG1V-OM7If-YOM8_scVqYEH3PTH_Y1qyBXWhs4cdFQ/edit#gid=1843370763

Redirects:
https://docs.google.com/spreadsheets/d/1Pm

[2015-09-15 19:24] annmarieven opened #588 "Seminary Academics M.A. (Theological Studies) Site Launch and Issues"
Getting ready to launch this site:
https://staging.bethel.edu/seminary/academics/theological-studies/

@donowenskid can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1HuG1V-OM7If-YOM8_scVqYEH3PTH_Y1qyBXWhs4cdFQ/edit#gid=2051097123

Redirects:
https://docs.google.com/spreadsheets/d/1qY12CGg0BV

[2015-09-15 19:44] donowenskid commented on #586
Good to go. Edits complete...looks great in Chrome and FF.

[2015-09-15 19:50] annmarieven commented on #586
desktop Safari and mobile Safari on iOS 8 on iPhone 6 looks good.

ran into issue with proof points which @c-schwarze is looking at.

[2015-09-15 19:58] annmarieven commented on #586
proof point issue fixed. ready for the rule @e-jameson !

[2015-09-15 20:05] annmarieven commented on #587
Looks good on desktop safari and mobile safari on iOS 8 iPhone 6.

[2015-09-15 20:06] e-jameson commented on #586
rule is done.

[2015-09-15 20:13] donowenskid commented on #587
Good to go in Chrome and FF. No edits.

[2015-09-15 20:19] annmarieven commented on #586
Site done launching! Keeping open for @emily-johnson to tag analytics and me to archive the old site.

[2015-09-15 20:22] e-jameson commented on #587
rule is done

[2015-09-15 20:32] annmarieven commented on #587
Site launched! Keeping open for tagging analytics and archiving the old site.

[2015-09-15 20:33] donowenskid commented on #588
Great in Chrome and FF

[2015-09-15 20:33] annmarieven commented on #588
desktop Safari and mobile Safari on iOS 8 on iPhone 6 look good.

[2015-09-15 20:37] e-jameson commented on #588
rule is done.

[2015-09-15 21:11] annmarieven commented on #588
Site launched! Keeping open for analytics tag and archiving old site.

[2015-09-16 13:44] c-schwarze commented on #562
Updated. Here is an example:

https://staging.bethel.edu/events/2015/african-america

[2015-09-16 13:52] c-schwarze commented on #583
@c-varberg could you look at this when you have a chance?

[2015-09-16 21:24] e-jameson opened #589 "Check for bad email address"
@c-varberg can you add a javacript check to this form, before its submitted, to make sure email is in a correct format? If you want to get super fancy you can just disable the button and show an error alert if its  not valid, rather than making them press submit and having an alert.

Format: https://cms.bethel.edu/entity/open.act?id=6e21e2a58c5865137ec8ee9de97cf8f5&type=format&

Page: https://stag

[2015-09-17 16:19] c-varberg commented on #583
should be fixed now. It looks like I can't publish to the live page though.

[2015-09-17 16:46] c-schwarze commented on #577
@c-varberg could you look at the proof point animation issue?

[2015-09-17 19:45] emily-johnson commented on #588
Tag is done

[2015-09-17 19:47] emily-johnson commented on #587
Tag done

[2015-09-17 19:48] emily-johnson commented on #586
Tag done

[2015-09-18 14:19] annmarieven opened #590 "Seminary Academics M.A. in Ministry Practice Site Launch and Issues"
Getting ready to launch this site:
http://staging.bethel.edu/seminary/academics/ministry-practice

@donowenskid can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1HuG1V-OM7If-YOM8_scVqYEH3PTH_Y1qyBXWhs4cdFQ/edit#gid=1750158536

Redirects:
https://docs.google.com/spreadsheets/d/12Z7aVhRK9Z2swN

[2015-09-18 14:24] annmarieven opened #591 "Seminary Academics Master of Divinity Site Launch and Issues"
Getting ready to launch this site:
https://staging.bethel.edu/seminary/academics/divinity/

@donowenskid can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1HuG1V-OM7If-YOM8_scVqYEH3PTH_Y1qyBXWhs4cdFQ/edit#gid=533167092

Redirects:
https://docs.google.com/spreadsheets/d/1_dGqhNzaP2FgdOP-B9lVH1

[2015-09-18 15:04] annmarieven commented on #590
Looks mostly good on desktop Safari and mobile Safari on iOS8 on iPhone 6.

Noted to @johjacb that there is a little extra spacing between the carousel and the headlines.

[2015-09-18 15:20] annmarieven commented on #591
looks good on desktop Safari and mobile Safari on iOS 8 on iPhone 6

[2015-09-18 15:24] donowenskid commented on #590
Great! GTG on FF and Chrome

[2015-09-18 15:30] annmarieven opened #592 "Seminary Academics Doctor of Ministry Site Launch and Issues"
Getting ready to launch this site:
https://staging.bethel.edu/seminary/academics/doctorate-ministry/

@donowenskid can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1HuG1V-OM7If-YOM8_scVqYEH3PTH_Y1qyBXWhs4cdFQ/edit#gid=1484608204

Redirects:
https://docs.google.com/spreadsheets/d/1sDCd4dUa398

[2015-09-18 15:30] annmarieven commented on #592
@donowenskid just realized we need descriptions for each page in the program details folder. they'll be added to the program block.
https://staging.bethel.edu/seminary/academics/doctorate-ministry/program-details/

[2015-09-18 15:41] donowenskid commented on #591
Done. GTG

[2015-09-18 15:41] e-jameson commented on #590
rule is done

[2015-09-18 15:43] e-jameson commented on #591
rule is done

[2015-09-18 15:46] ale73233 commented on #590
redirects done

On Fri, Sep 18, 2015 at 10:41 AM, Eric Jameson <notifications@github.com>
wrote:

[2015-09-18 15:54] annmarieven commented on #590
This site is live. Keeping issue open for a few additional things on Monday.

[2015-09-21 14:42] annmarieven commented on #500
@emily-johnson did you tag the program blocks or the program pages? @ale73233 created program feeds using the cluster metadata but we're not getting anything to show up in the feeds. I just thought I'd double check! The FP job allie is working on is 15799, just in case you need to reference it.

[2015-09-21 15:26] annmarieven commented on #585
This certificate is actually called "Addiction Studies Certificate" -- @donowenskid can you go through and make the changes to the site before we launch?

We'll need to change the system name of the folder as well, which will require an unpublish and republish. Let me know if you have questions about that.

I also need to change the metadata so everything will need to be retagged.

[2015-09-21 15:45] a-parrott commented on #583
Looks good!

[2015-09-21 15:45] #583 closed

[2015-09-21 15:49] annmarieven opened #593 "GS Academics Site Launch and Issues"
We need to finish migrating the root of the gs academic sites.

Can you take a look at the content on these pages and revamp as needed? This hasn't been touched in a while so it's probably not in our updated brand or anything.
http://gs.bethel.edu/academics/masters/
http://gs.bethel.edu/academics/doctorate/
http://gs.bethel.edu/academics/certificates/
http://gs.bethel.edu/academics/licensures/

So

[2015-09-21 16:23] annmarieven opened #594 "CAPS Academic Site Launch and Issues"
We need to finish migrating the root of the caps academic sites.

Can you take a look at the content on these pages and revamp as needed? This hasn't been touched in a while so it's probably not in our updated brand or anything.
http://caps.bethel.edu/academics/bachelors/
http://caps.bethel.edu/academics/certificates/
We'll actually need a license page for caps as well because of the new Alcohol a

[2015-09-21 20:14] emily-johnson commented on #500
I'm not sure what happened but I looked in the program-blocks (CAPS and GS) and some were tagged and some weren't, so if that was the issue, all are tagged now.

[2015-09-21 20:38] donowenskid commented on #592
@annmarieven program block is updated. descriptions are included in staging.

[2015-09-22 13:59] annmarieven commented on #592
Oops. Just looked through the whole site in Chrome already. So, Chrome is good!

[2015-09-22 14:21] annmarieven commented on #592
desktop Safari and mobile Safari in iOS 8 iPhone 6 look good.

[2015-09-22 14:52] donowenskid commented on #592
Edits done. GTG in Chrome and FF.

[2015-09-22 16:25] annmarieven commented on #585
new url: https://staging.bethel.edu/adult-undergrad/academics/certificates/addiction-studies

[2015-09-22 16:25] e-jameson commented on #592
rule is done.

[2015-09-22 16:36] annmarieven commented on #585
Changed the name on the site and in the metadata. Retagged program block, all feeds in the site, and the program pages that have tags.

Will proof in Safari and then launch.

[2015-09-22 16:46] a-parrott commented on #592
Redirects done.

[2015-09-22 16:54] annmarieven commented on #585
@emily-johnson can you tag analytics and then close this issue?

[2015-09-23 14:56] ale73233 opened #595 "STEM/TESOL left hand nav/block issues"
Hi Eric,

We recieved an issue today Job # 15821: (she created the TESOL minor on a basic page, and not on a major minor page, could that be why these webpages are pulling the two minors?)

Over the summer, I added the STEM minor to the Education department. Today
I created a Basic page to feed in TESOL minor information (from Modern
World Languages).

Both minors appear in the left-hand navigatio

[2015-09-23 15:12] e-jameson commented on #429
I asked Jay for an update on this.

[2015-09-23 15:13] e-jameson commented on #579
@c-varberg if you get time could you look into this. I can give you more details and an iPad to test with.

[2015-09-23 15:35] e-jameson commented on #302
Yep.

[2015-09-23 15:35] #302 closed

[2015-09-23 19:16] emily-johnson commented on #585
Tag done.

[2015-09-23 19:16] #585 closed

[2015-09-23 20:35] emily-johnson commented on #590
Tag is done

[2015-09-23 20:38] emily-johnson commented on #591
Tag is done

[2015-09-24 16:25] annmarieven opened #596 "Conference and Event Services Site Launch and Issues"
Launching this site:
https://staging.bethel.edu/conference-event/

No new features so proofing on different browsers or devices isn't vital.

Redirects grid:
https://docs.google.com/spreadsheets/d/17j-8WzizMAIZGELGylz8nfxqAgbd6_Ah3H1yDsJiL_s/edit#gid=0

Rule:
https://www.bethel.edu/conference-services/ TO https://www.bethel.edu/conference-event/

- [x] Redirects
- [x] Close old site
- [x] Update l

[2015-09-24 16:45] e-jameson commented on #596
rule is done.

[2015-09-24 19:06] c-schwarze opened #597 "New Faculty Job Titles"
- [x] 1) Update Data Def (AMV)
- [x] 2) Tinker Sync (Caleb)
- [x] 3) Update Tinker Form (by Oct. 6) (Caleb)
- [ ] 4) Faculty make changes (AMV)
- [ ] 5) Update Faculty Formats (Caleb)
- [ ] 6) Fix Data Def again (AMV)

@c-varberg When you get the list of faculty with only 1 job title/school/department, post the staging.bethel.edu url here. Thanks!

[2015-09-24 19:13] c-varberg commented on #597
Heres the list
https://staging.bethel.edu/_testing/calebv/facultybiolistpage

[2015-09-24 20:58] annmarieven commented on #596
will assign to Kathryn tomorrow when she creates a github account. for tagging analytics and doing these updates:
https://docs.google.com/spreadsheets/d/17j-8WzizMAIZGELGylz8nfxqAgbd6_Ah3H1yDsJiL_s/edit#gid=0

[2015-09-25 17:08] donowenskid opened #598 "Bug on page"
@c-schwarze Can you see why the teaser is showing up at the bottom of this page?

https://cms.bethel.edu/entity/open.act?id=057393388c5865135795f1af9eda446c&type=page

Thanks, pal!

[2015-09-25 18:19] annmarieven opened #599 "Cleaning up media + text"
Kathryn,
Can you check the html in these media + text fields?
https://cms.bethel.edu/entity/open.act?id=9d6346488c5865132395524d1d965866&type=block_STRUCTUREDDATA

[2015-09-25 18:27] kathrynmagnuson commented on #599
cleaned up span tags.

[2015-09-25 18:27] #599 closed

[2015-09-25 18:42] annmarieven commented on #596
@kathrynmagnuson can you take a look at this? (see previous description)

[2015-09-25 18:43] c-schwarze commented on #598
Should be fixed now.

[2015-09-25 18:43] #598 closed

[2015-09-25 20:11] kathrynmagnuson commented on #596
A couple of things:
1. I can't change "Conference Services to be Conference and Event Services (linking to index page)"
2. For https://www.bethel.edu/marketing/resources/ it says to remove Events completely, can you check on that?

[2015-09-28 14:49] annmarieven opened #600 "Duplicating Course Descriptions"
There is a description for the core courses but not the following 3. However, Cascade is pulling the description from the core courses and just duplicating it for the following 3.

live page:
https://www.bethel.edu/adult-undergrad/academics/human-services/program-details/

block:
https://cms.bethel.edu/entity/open.act?id=9a5db2398c586513575344824dad9aa8&type=block&

[2015-09-28 15:14] c-schwarze commented on #600
Fixed. Its kinda funky that there are 3 different "Choose one from:" sections, that each only have 1 course.

[2015-09-28 15:55] annmarieven opened #601 "About page is broken"
The content in the full width + flexible layout section isn't showing up on the page.

https://cms.bethel.edu/entity/edit.act?id=ba13b6ff8c586513100ee2a7f78e4b5d&type=page

https://staging.bethel.edu/about/

[2015-09-28 17:18] kathrynmagnuson opened #602 "Remove credit sentence from CAPS Associate Programs"
Can you remove this sentence from the CAPS Associates Program: "You need to have 60 credits to start this program." Only CAPS bachelor programs should have it.

Here are the links:
Associate of Arts
<https://www.bethel.edu/adult-undergrad/academics/associates/program-details/associate-arts>&
the Associate of Science
<https://www.bethel.edu/adult-undergrad/academics/associates/program-details/assoc

[2015-09-28 18:25] c-schwarze commented on #601
fixed.

[2015-09-28 18:25] #601 closed

[2015-09-28 18:41] c-schwarze commented on #602
Sure thing. They are updated and republished.

Let me know if anything else needs to be changed, thanks!

[2015-09-28 18:41] #602 closed

[2015-09-28 19:29] annmarieven opened #603 "GS Academics Child and Adolescent Mental Health Certificate Site Launch and Issues"
Getting ready to launch this site:
https://staging.bethel.edu/graduate/academics/certificates/child-adolescent-mental-health/

Launching today.

@donowenskid can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/spreadsheets/d/11K-MAuCwqoMSQuA5tQAMvcVxkqdjoRO8hFBeWrgq3qk/edit#gid=126388933

Redirects:
New site. No redirects

[2015-09-28 19:30] emily-johnson commented on #592
I loaded the main image in Cascade, I'll have to go back and publish it when we turn it back on

[2015-09-28 20:44] annmarieven commented on #603
desktop and mobile Safari look good.

Chris is publishing the xml to fix the proof point. If that doesn't work, we'll need to talk to Caleb.

[2015-09-28 20:48] annmarieven commented on #603
@c-schwarze can you look at why there is a space between the number and the percent signs on the proof points on this page? we checked the proof points themselves and there don't appear to be any extra spaces. https://staging.bethel.edu/graduate/academics/certificates/child-adolescent-mental-health/

[2015-09-28 20:53] annmarieven commented on #603
publishing to production since this is minor. assigning to @c-schwarze to look at proof points.

@kathrynmagnuson can you do the analytics tag for this?

[2015-09-28 20:53] donowenskid commented on #603
GTG in Chrome and FF

[2015-09-28 21:00] kathrynmagnuson commented on #603
did analytics tag for this page.

[2015-09-28 21:02] annmarieven commented on #593
If this could be done by Thursday, October 1, that'd be great!

[2015-09-28 21:04] annmarieven commented on #594
If this could be done by Thursday, October 1, that'd be great!

[2015-09-28 21:07] c-schwarze commented on #595
Updated and Published to staging. For whatever reason, our format disappeared. I pieced it together, but it might not be the most current edition of the major/minor table.

@ale73233 could you make sure that the pages are good to go before publishing to production?

Thanks a bunch!

[2015-09-28 21:28] c-schwarze commented on #603
Fixed proof point issue.

[2015-09-29 17:38] c-varberg commented on #579
@ale73233 I wasn't able to replicate the problem. I have been working on the proof point animation a little bit the last couple days, so it's possible I accidentally fixed it. Can you try it out again to see if everything is working for you?

[2015-09-29 17:47] c-varberg commented on #577
Proof points are working correctly on staging now. @annmarieven does anything else need to be done for this?

[2015-09-29 18:54] c-varberg commented on #589
I updated it to check for this regex
/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i
It seems to be accepted on the googles.

I published the page. Everything is working. I even accidentally applied for Bethel

[2015-09-29 18:54] #589 closed

[2015-09-30 14:14] ale73233 commented on #500
All of the programs are tagged but they are still not showing up in the feed.
https://cms.bethel.edu/entity/open.act?id=f05122ea8c58651346a52c6d69553d6b&type=block&
https://cms.bethel.edu/entity/open.act?id=f04474f98c58651346a52c6d6ab3d40d&type=page&

[2015-09-30 14:22] ale73233 commented on #595
This page still isn't showing the TESOL minor: https://www.bethel.edu/undergrad/academics/education/
but the other page looks good.

[2015-09-30 14:36] ale73233 commented on #579
Do you have an iPad I could test it one?

[2015-09-30 19:14] annmarieven opened #604 "GS Academics Teaching License Site Launch and Issue"
Getting ready to launch this site on Tuesday, Oct. 6:
https://staging.bethel.edu/graduate/academics/licensures/teaching/

@a-parrott can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/spreadsheets/d/1EY5kgeUPJIZiTBa9nKzPbuCjs0JiB_AF3Ww516XEEf4/edit#gid=282667469

Redirect:
http://gs.bethel.edu/academics/licensures/teachi

[2015-09-30 19:17] annmarieven commented on #604
I got this feed back from Judith Landrum. @a-parrott could you see about adding this to the license?

1.  Visual arts, not art --- *i don't know what she's talking about with this and am following up with her*
2.  Please add these content areas:  Spanish, social studies, and ESL
3.  In the narrative, please note that it is an initial teaching license, for those who do not have a teaching license.

[2015-09-30 19:26] ale73233 opened #605 "Nurse-Midwifery events"
https://www.bethel.edu/graduate/academics/nurse-midwifery/
Since there isn't any news on this webpage, the events should be showing up on the left instead of the right, could you look into this?

Thanks!

[2015-09-30 19:29] annmarieven opened #606 "GS Academics Superintendent License Site Launch and Issues"
Getting ready to launch this site on Tuesday, Oct. 6:
https://staging.bethel.edu/graduate/academics/licensures/superintendent/

@a-parrott can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/spreadsheets/d/1EY5kgeUPJIZiTBa9nKzPbuCjs0JiB_AF3Ww516XEEf4/edit#gid=1869524300

Redirect:
http://gs.bethel.edu/academics/licensures

[2015-09-30 19:30] annmarieven commented on #606
I got this feed back from Judith Landrum. @a-parrott could you see about adding this to the site?

Please add the Two-track option that appears elsewhere. They may get a license AND earn an Ed.D. or just earn the license.
----
There is info about the 2-track option on the silva page (url above)

[2015-09-30 19:32] annmarieven opened #607 "GS Academics K-12 Principal License Site Launch and Issues"
Getting ready to launch this site on Tuesday, Oct. 6:
https://staging.bethel.edu/graduate/academics/licensures/k-12-principal/

@donowenskid can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/spreadsheets/d/1EY5kgeUPJIZiTBa9nKzPbuCjs0JiB_AF3Ww516XEEf4/edit#gid=654344244

Redirect:
http://gs.bethel.edu/academics/licensure

[2015-09-30 19:33] annmarieven commented on #607
I got this feed back from Judith Landrum. @donowenskid could you see about adding this to the site?

Please add the Two-track option that appears elsewhere. They may get a license AND earn an Ed.D. or just earn the license.

--
There is info about the 2-track option on the silva page (url above)

[2015-09-30 19:36] annmarieven opened #608 "GS Academics Director of Special Education License Site Launch and Issues"
Getting ready to launch this site on Tuesday, Oct. 6:
https://staging.bethel.edu/graduate/academics/licensures/director-special-education/

@donowenskid can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/spreadsheets/d/1EY5kgeUPJIZiTBa9nKzPbuCjs0JiB_AF3Ww516XEEf4/edit#gid=64960278

Redirect:
http://gs.bethel.edu/academic

[2015-09-30 19:37] annmarieven commented on #608
I got this feed back from Judith Landrum. @donowenskid could you see about adding this to the site?

Please add the Two-track option that appears elsewhere. They may get a license AND earn an Ed.D. or just earn the license.

--
There is info about the 2-track option on the silva page (url above)

[2015-09-30 19:43] annmarieven opened #609 "GS Academics Teacher Coordinator of Work-based Learning License Site Launch and Issues"
Getting ready to launch this site on Tuesday, Oct. 6:
https://staging.bethel.edu/graduate/academics/licensures/work-based-learning/

@donowenskid can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/spreadsheets/d/1EY5kgeUPJIZiTBa9nKzPbuCjs0JiB_AF3Ww516XEEf4/edit#gid=0

Redirect:
http://gs.bethel.edu/academics/licensures/w

[2015-09-30 19:43] annmarieven commented on #609
Judith Landrum proofed. No changes.

[2015-09-30 19:52] annmarieven opened #610 "GS Academics Technology for Educators License Site Launch and Issues"
Getting ready to launch this site on Tuesday, Oct. 6:
https://staging.bethel.edu/graduate/academics/licensures/technology-educators

@a-parrott can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/spreadsheets/d/1EY5kgeUPJIZiTBa9nKzPbuCjs0JiB_AF3Ww516XEEf4/edit#gid=2045791505

Redirect:
http://gs.bethel.edu/academics/licen

[2015-09-30 19:52] annmarieven commented on #610
Judith Landrum proofed. No changes.

[2015-10-01 15:26] c-varberg commented on #579
No I don't sorry. I borrowed one from jacob

[2015-10-01 16:02] annmarieven opened #611 "Maps and Directions block update"
I added a field for office number to the group of fields for offices. Can this appear below the office name when the flag appears on the map?

data definition:
https://cms.bethel.edu/entity/open.act?id=ba13ceec8c586513100ee2a74d4ccfdd&type=structureddatadefinition

let me know if there are questions or if this isn't clear enough :)

[2015-10-01 17:34] c-schwarze commented on #595
@c-varberg could you look at this?

[2015-10-01 17:35] c-schwarze commented on #611
@c-varberg could you look at this?

[2015-10-01 20:08] a-parrott opened #612 "Proof Points"
We have a couple of itinerant proof points:
https://cms.bethel.edu/entity/open.act?id=19eefb248c5865135795f1af763ccf56&type=block&
https://cms.bethel.edu/entity/open.act?id=19ed831e8c5865135795f1af68caf70a&type=block&

Right now they are showing on Graduate School program homepages, though they are tagged only as "Graduate School." The proof points on the program homepages should only be those tha

[2015-10-01 20:09] c-schwarze commented on #612
@c-varberg could you look at this?

[2015-10-01 21:43] c-varberg commented on #611
@annmarieven It should all be working now. Did you want me to bold the office names? To me it looks a little off having the names and numbers being the same font, but I'm not really an artsy person, so I don't trust myself when it comes to that stuff.

[2015-10-02 16:04] a-parrott commented on #606
Added as a program highlight:

Two-track license option
You can choose to earn just your Superintendent License or earn your license as part of completing Bethel's Doctor of Education program.

[2015-10-02 16:19] a-parrott commented on #606
Looks generally good in both Firefox and Chrome.

We have a few courses with question marks in the description:
EDUC800
EDUC815
EDUC860

[2015-10-02 16:19] c-schwarze opened #613 "Quotes aren't pulling correctly"
@c-varberg ,

It looks like quote carousels aren't pulling correctly. Could you take a look?

https://staging.bethel.edu/undergrad/academics/art/

[2015-10-02 16:57] a-parrott commented on #604
Changes made. I tweaked the text for #5 and put it on the program details page:
MTLE pedagogy passing rates for Bethel students who complete our program are consistently 97% to 100%.

[2015-10-02 17:14] a-parrott commented on #604
Looks good in Chrome and Firefox.

There are no courses or cohort info on the program details page. "There are no cohorts scheduled at this time."

[2015-10-02 18:53] a-parrott commented on #610
Looking good in Chrome and Firefox.

[2015-10-02 20:18] c-schwarze commented on #613
Fixed this.

[2015-10-02 20:18] #613 closed

[2015-10-06 16:16] c-varberg commented on #612
Me and Caleb discussed this a bit. The way it is set up right now when you automatically select proof points it checks if schools, departments, or topics match. In order for us to make this work correctly we would have to check if schools and departments match, but if we did this nothing would match for homepages since they don't have any schools selected.

The solution we came up with is adding a

[2015-10-06 16:37] a-parrott commented on #612
Thanks!  A couple questions -

What is the "premium proof point"? And why is it in the meta-data versus the data definition?

Based on those answers, we're wondering if there can be an option to "hide this proof point unless manually selected." It could go in the metadata or the data definition.

[2015-10-06 16:49] c-varberg commented on #595
Should be working now. I ended up switching the TESOL to a major minor page as one of the formats requires there to be a program-type which basic pages don't have. Let me know if that causes any problems.

[2015-10-06 17:03] c-varberg commented on #612
Not quite sure about the premium proof points. @c-schwarze what are premium proof points?

Adding that option should be pretty straight forward. Caleb, do you see any problem with that?

Are you thinking of manually selecting proof points for department homepages then?

[2015-10-06 18:27] a-parrott commented on #612
We wouldn't manually select proof points. Instead, we would keep everything as is, but use the hide option.

[2015-10-06 18:29] c-schwarze commented on #612
Premium proof points are proof points that should appear first, before non-premium proof points. A premium CAS PP appears before a CAS PP.

We can definitely add the "hide-unless-selected" option.

[2015-10-06 18:35] a-parrott commented on #612
@c-schwarze - so are premium proof points those that appear on first page load? When the page gets refreshed, does the non-premium proof point appear?

Is it possible that premium proof points would always appear so that users only see the premium proof points?

Would it be better to add the "hide" option in the data definition or the metadata?

[2015-10-06 18:40] c-schwarze commented on #612
If a premium proof point matches the metadata of the Proof point collection, then it will always appear. (assuming there aren't more premiums proof points than proof points to show).

That is how it should be currently working, but let us know if it isn't.

The 'hide' option should be in the data definition.

[2015-10-06 18:49] a-parrott commented on #612
OK - I can add it to the data definition. And then I'll assign it back to @c-varberg.

[2015-10-06 18:49] annmarieven commented on #584
everything looks good for me except the site image bank isn't showing up. @c-schwarze could you look into this for me?

[2015-10-06 18:53] #603 closed

[2015-10-06 19:01] a-parrott commented on #612
Added.

[2015-10-06 19:01] annmarieven commented on #606
Everything looks good for me. Launching now.

[2015-10-06 19:27] annmarieven commented on #610
This one looks good too. Launching now.

[2015-10-06 19:40] annmarieven commented on #604
Looks good. Launching now.

[2015-10-06 19:41] e-jameson commented on #604
redirect is done.

[2015-10-06 19:42] e-jameson commented on #606
redirect is done

[2015-10-06 19:42] e-jameson commented on #610
redirect is done

[2015-10-06 19:44] c-schwarze commented on #584
Republishing https://staging.bethel.edu/adult-undergrad/academics/certificates/human-resource-management/ fixed the image bank issue.

[2015-10-06 19:49] donowenskid commented on #607
Two-track option added...GTG in FF and Chrome.

[2015-10-06 19:52] donowenskid commented on #593
Masters, doctorate, and certificate content is updated. Licensure content is great. Left it alone.

[2015-10-06 19:52] annmarieven commented on #607
Looks great for me too.

[2015-10-06 19:57] e-jameson commented on #607
redirect is done.

[2015-10-06 20:06] annmarieven commented on #609
Looks good on desktop and mobile Safari.

[2015-10-06 20:07] donowenskid commented on #608
GTG in Chrome and FF.

[2015-10-06 20:16] annmarieven commented on #608
Looks good in mobile and desktop Safari.

[2015-10-06 20:19] e-jameson commented on #608
redirect is done.

[2015-10-06 20:20] donowenskid commented on #609
GTG in Chrome and FF

[2015-10-06 20:26] e-jameson commented on #609
redirect is done.

[2015-10-06 20:26] donowenskid commented on #608
Two-track language updated to match other pages.

[2015-10-06 20:32] annmarieven commented on #608
Passing to @kathrynmagnuson. We can touch base on how to do things in the checklist above. When they're done, check them off and close the issue.

Thanks!

[2015-10-06 20:33] annmarieven commented on #609
Passing to @kathrynmagnuson. We can touch base on how to do things in the checklist above. When they're done, check them off and close the issue.

Thanks!

[2015-10-06 20:33] annmarieven commented on #607
Passing to @kathrynmagnuson. We can touch base on how to do things in the checklist above. When they're done, check them off and close the issue.

Thanks!

[2015-10-06 20:34] annmarieven commented on #604
Passing to @kathrynmagnuson. We can touch base on how to do things in the checklist above. When they're done, check them off and close the issue.

Thanks!

[2015-10-06 20:36] annmarieven commented on #610
Passing to @kathrynmagnuson. We can touch base on how to do things in the checklist above. When they're done, check them off and close the issue.

Thanks!

[2015-10-06 20:37] annmarieven commented on #606
Passing to @kathrynmagnuson. We can touch base on how to do things in the checklist above. When they're done, check them off and close the issue.

Thanks!

[2015-10-06 20:38] annmarieven commented on #577
perfect! closing issue.

[2015-10-06 20:38] #577 closed

[2015-10-06 20:42] annmarieven commented on #584
whaaaat???? i did that!!!! dumb cascade.

[2015-10-07 14:10] ale73233 commented on #500
Hey Caleb, have you looked into this?

Thanks!

[2015-10-07 14:38] c-schwarze commented on #500
It looks like you should update the "Degree" field in the metadata instead of the "School" field. Let us know if that should change.

Pass this to @josiahtillman if you have any questions :)

[2015-10-07 14:50] e-jameson commented on #429
this was finished last week. forgot to close issue.

[2015-10-07 14:50] #429 closed

[2015-10-07 15:27] ale73233 commented on #500
I updated the degree field and checked to make sure all of the tagging was correct and it was, but the correct feeds aren't showing up still.

[2015-10-07 15:58] e-jameson commented on #584
rule is done.

[2015-10-07 16:07] annmarieven commented on #584
Site is live and redirects are in. @emily-johnson can you tag analytics?

[2015-10-07 16:10] c-schwarze commented on #500
Publishing the page fixed it.

[2015-10-07 16:14] annmarieven commented on #591
@emily-johnson can you pull this photo out of the carousel and put it as the main image?
https://cdn3.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/seminary/academics/divinity/images/site-images/student-discusses.jpg

walk @kathrynmagnuson through it so she knows how to do it on the other githubs I've assigned to her.

Close the issue when you're done.

[2015-10-07 16:18] annmarieven commented on #586
Closing issue.

[2015-10-07 16:18] #586 closed

[2015-10-07 16:20] annmarieven commented on #587
Archived old site. Closing issue.

[2015-10-07 16:20] #587 closed

[2015-10-07 16:21] annmarieven commented on #588
Archived old site. Closing issue.

[2015-10-07 16:21] #588 closed

[2015-10-07 16:22] annmarieven commented on #590
Archived old site. Closing issue.

[2015-10-07 16:22] #590 closed

[2015-10-07 16:44] a-parrott commented on #594
Associates, Licenses, and Certificates are here: https://cms.bethel.edu/entity/open.act?id=3dd2cbe28c5865135795f1afd550f9e7&type=folder&

The Bachelor's page was already created, so revised content is in the academics folder.

[2015-10-07 16:45] annmarieven commented on #592
@emily-johnson can you do 2 things here?
finish the image thing you were referring to above and can you also copy and paste folders from here:
http://zope6.its.bethel.edu:8080/silva/seminary/academics/st-paul-programs/doctorate-ministry/edit/tab_edit
to here:
http://zope6.its.bethel.edu:8080/silva/archive/seminary/academics/st-paul-programs/doctorate-ministry/edit

apparently the publication was t

[2015-10-07 18:15] ale73233 commented on #500
I still don't think that the programs that are showing are the correct ones since every program is showing the same list?

[2015-10-07 19:03] c-schwarze commented on #500
It looks like the 3 feeds on the page have every "Degree" value selected.

[2015-10-07 19:12] emily-johnson commented on #584
Tag is done.

[2015-10-07 19:12] #584 closed

[2015-10-07 19:37] emily-johnson commented on #592
I published the main image and @e-jameson archived the site (I didn't have the right IP address)

[2015-10-07 19:37] #592 closed

[2015-10-08 16:19] c-varberg commented on #612
Alright, should all be working now. I went ahead and updated the two proof points above to be hidden. Let me know if you notice anything off.

[2015-10-08 18:22] a-parrott commented on #612
@c-varberg - The proof points are still appearing. I republished the xml and republished one of the graduate academic pages, and the proof points still appeared. So I untagged graduate school, republished the xml, and now they are back on the adult undegrad academic pages: https://www.bethel.edu/adult-undergrad/academics/business-management/

[2015-10-08 19:17] c-varberg commented on #612
@a-parrott uhps my fault. I forgot to make the new code live on www. Should be working now. Let me know if you have any problems with it now :)

[2015-10-08 19:49] emily-johnson opened #614 "Box Office Seating Chart Not Loading"
https://www.bethel.edu/events/arts/box-office

@c-schwarze The seating chart for the box office isn't loading (I tried republishing), can you take a look at it? Thanks!

[2015-10-08 20:04] emily-johnson opened #615 "Adjunct Faculty Job Listing"
@c-schwarze Can you take a look at this too? The Apply Now button is not showing up on this page: https://www.bethel.edu/employment/openings/postings/2014/november/adjunct-faculty

The /adjunct-generic page in the same folder has it right, and the only differences I saw were options like is a resume required or not, or the application type. Would these affect the button?

Thanks!

[2015-10-08 21:27] c-schwarze commented on #614
Updated. Some pages with galleries will have to be republished.

@johjacb our galleries currently are using jquery. Just letting you know that I added the jquery include to galleries.

[2015-10-08 21:33] c-schwarze commented on #615
You are correct, there needs to be an application-type set, in order for the "Apply Now" button to appear. :)

@annmarieven Do you have a default url that we can have the apply button go to? For cases like these?

[2015-10-09 18:17] annmarieven commented on #604
use this for the main image: https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/graduate/academics/teaching/images/site-images/student-learning-classroom.jpg

[2015-10-09 18:22] annmarieven commented on #606
use this for the main image:
https://cdn4.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/graduate/academics/education-doctorate/images/site-images/professor-teaching.jpg

[2015-10-09 18:25] annmarieven commented on #607
use this as the main image: https://cdn4.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/graduate/academics/education-doctorate/images/site-images/professor-teaching.jpg (you can actually just use the same one that we're using for the superintendent license)

[2015-10-09 18:27] annmarieven commented on #608
use the same image we're using for superintendent and principal.

[2015-10-09 18:28] annmarieven commented on #609
use the same image we are using for the teaching license.

[2015-10-09 18:29] annmarieven commented on #610
use the same image as the teaching license.

[2015-10-09 18:47] kathrynmagnuson opened #616 "Anchor Link Issue"
The anchor links aren't working for the seminary library pages.
Here are a couple examples, click on the "Directions and Parking" link and you'll see that they are going to the San Diego part of the page instead of St. Paul.
https://www.bethel.edu/library/about/locations/seminary-san-diego/
https://www.bethel.edu/library/about/locations/seminary-st-paul/

FP issue 15866

[2015-10-12 16:11] #614 closed

[2015-10-12 16:13] e-jameson commented on #565
@annmarieven can we close this?

[2015-10-12 16:14] #595 closed

[2015-10-12 16:15] e-jameson commented on #582
@annmarieven can we close this?

[2015-10-12 16:16] e-jameson commented on #616
@annmarieven I believe this needs to go directly to the Library. Can you confirm and close if so?

[2015-10-12 16:17] e-jameson commented on #600
@annmarieven can we close this?

[2015-10-12 19:32] annmarieven commented on #615
They should choose an application type. I'll make that field required and let her know. Thanks!

[2015-10-12 19:32] #615 closed

[2015-10-12 20:57] kathrynmagnuson commented on #610
uploaded the main image and linked it to the index, but we're having issues with it showing up on the actual page.

[2015-10-12 20:58] kathrynmagnuson commented on #604
uploaded the main image and linked it to the index, but we're having issues with it showing up on the actual page.

[2015-10-13 13:36] a-parrott commented on #612
Looks good! Thanks!

[2015-10-13 13:36] #612 closed

[2015-10-13 20:51] annmarieven commented on #593
GS Academics is live!

Here's the google doc in case anyone wants to reference anything:
https://docs.google.com/spreadsheets/d/1C1IXgA2jgj0V2_mONHispe90NW7voEbAzXe7UOm28O4/edit#gid=1990816065

@c-schwarze is putting the rule in.

[2015-10-13 20:57] annmarieven commented on #593
one thing to look at. the faculty page doesn't appear to be pulling all faculty:
https://cms.bethel.edu/entity/open.act?id=01db519a8c5865137c9c2c89ffff67a7&type=page

once this is fixed, the issue can be closed.

[2015-10-14 14:33] c-schwarze commented on #593
Fixed.

[2015-10-14 14:40] ale73233 commented on #500
We purposely selected every degree field but the problem is with the cluster in the metadata. For example the business leadership program feed's cluster in the metadata is tagged as Business and Leadership but it still isn't showing the specific feeds for business and leadership on the main index page.

[2015-10-14 14:51] c-schwarze commented on #500
@c-varberg Could you look at this?

[2015-10-14 15:31] annmarieven commented on #544
this page has launched and is looking good.

[2015-10-14 15:31] #544 closed

[2015-10-14 15:59] ale73233 commented on #593
404 error:
https://www.bethel.edu/graduate/academics/counseling-psychology/program-details/child-index
https://www.bethel.edu/graduate/academics/education-k12index
https://www.bethel.edu/graduate/academics/special-education/program-detaindex
https://www.bethel.edu/graduate/academics/mba/prindex
https://www.bethel.edu/graduate/academics/education-doctorate/program-detindex
500 internal server error

[2015-10-14 16:06] c-schwarze commented on #593
Try republish the page that has those links

[2015-10-14 17:15] kathrynmagnuson opened #617 "Program Spotlight Image Issue"
We put an image in the spotlight section of this page but it isn't showing up (it's requiring content in the heading and paragraph fields in order for it to show up). Can you take a look at this? Thanks!

https://cms.bethel.edu/entity/open.act?id=6421ce938c5865137c9c2c89d343f189&type=page

[2015-10-14 17:41] c-schwarze commented on #617
Thanks for catching that. I updated it to display the image, even if there is no heading.

[2015-10-14 18:14] ale73233 commented on #593
I published it an they work now.

[2015-10-14 18:18] ale73233 commented on #594
checked all of the links and they all work.

[2015-10-14 18:29] #593 closed

[2015-10-14 18:30] #608 closed

[2015-10-14 18:32] #610 closed

[2015-10-14 18:33] #609 closed

[2015-10-14 18:36] #606 closed

[2015-10-14 18:37] #604 closed

[2015-10-14 18:42] #607 closed

[2015-10-14 18:45] #617 closed

[2015-10-14 19:27] annmarieven commented on #616
@kathrynmagnuson can you create yourself a folder in the '_testing' folder? Then create a basic page. If Allie or Em are around, ask them to show you how to create an anchor link. If they're not, I can show you.

I'd like to test this to see if it's an issue with all anchor links in Firefox or if it's just an issue with the library site.

Thanks!

[2015-10-14 19:32] annmarieven commented on #611
@c-varberg sorry for the delay on this. can you bold the office names? I think that's a good idea. Will you assign it to @emily-johnson for testing when you're done?

Thanks!

[2015-10-14 19:32] annmarieven commented on #600
beautiful. thanks folks.

[2015-10-14 19:32] #600 closed

[2015-10-14 21:04] emily-johnson opened #618 "Wrong Faculty Photo"
We got a footprints case saying that James D Smith III has the wrong photo for his faculty bio. When I went in to cascade to look at it, the correct photo was listed as smith-james.jpg and that correct photo was linked to his bio.

I tried doing a cache-test, republishing everything, clearing my cache, using a different browser, etc. but it is still showing the wrong photo. @c-schwarze can you tak

[2015-10-15 14:34] annmarieven opened #619 "Event Feed and Galleries"
Can we make art galleries disappear off the event feeds after 3 days? This should happen on all feeds except the ones on the galleries site itself: https://www.bethel.edu/events/arts/galleries/

Let me know if you have any questions or if there's anything else you need from me!

[2015-10-15 14:36] a-parrott opened #620 "Program Feed List"
Can you make the program feed alphabetical by program name? So for example, the program feed on the adult undergrad bachelor's landing page would look like: https://www.bethel.edu/adult-undergrad/academics/bachelors

B.S. in Accounting
B.S. in Business Management
B.A. in Christian Ministries
etc.

Thanks!

[2015-10-15 15:09] c-schwarze commented on #618
Should be fixed. It looks like the image was being cached by PageSpeed. Unfortunately when that happens, you will have to let us know to clear the server cache.

Thanks!

[2015-10-15 15:09] #618 closed

[2015-10-15 18:20] c-varberg commented on #500
The code right now is set up assuming that you will only select one degree which is part of the problem, it also is not checking the cluster at all. I'll work on refactoring it

[2015-10-15 18:41] c-varberg commented on #500
@ale73233 This should be working now. Let me know if anything looks off.

[2015-10-15 19:54] annmarieven commented on #597
@ale73233, @emily-johnson, and @kathrynmagnuson can you start working through the list of faculty above?

we need to plug in the school, department, and job title, into the "Job Title -- NEW" fields in Cascade.

If their existing job title is "something AND something else",  we'll need to create 2 job titles in the NEW section. (ex: Rollin King is "Professor and Chair of Chemistry")

There's a TON

[2015-10-16 14:11] annmarieven commented on #597
@ale73233 how did this go yesterday? did you run into any questions?

[2015-10-16 14:14] ale73233 commented on #597
I had question, for example like Rollin King, I enter in the school (CAS) and department (Chemistry) but no field should up for his job title?

[2015-10-16 14:16] ale73233 commented on #597
And are we supposed to just submit them, or publish them at all?

[2015-10-16 14:24] c-schwarze commented on #597
@annmarieven  The faculty bio data definition seems to be broken. Maybe we should remove the new job titles section, and try again?

[2015-10-16 15:57] e-jameson opened #621 "Update autoCache logging and key name"
Hey Caleb, there were some false cache-hits in the PHP memcache autoCache function. I updated the auto-generated cache key, but its pretty gross right now. Its appending all the items in the $inputs array to a string, but this is creating names 100's of characters long. Can you try generating better names? Maybe if we keep the same formula but do something like (http://php.net/manual/en/function.m

[2015-10-16 19:36] annmarieven opened #622 "Withdraw/Stop Out Form Broken"
https://www.bethel.edu/undergrad/student-life/withdraw-stop-out

The id look up is no longer working.

[2015-10-16 20:19] annmarieven commented on #597
dang. okay. i'll try that.

[2015-10-16 20:31] annmarieven commented on #500
@ale73233 can you confirm this is working and close the issue if it is?

[2015-10-16 20:33] annmarieven commented on #594
caps site is live. closing issue.

[2015-10-16 20:33] #594 closed

[2015-10-16 20:49] annmarieven commented on #596
@kathrynmagnuson can you clarify what you mean by #1 here? Also, can you tag the analytics? We launched on Sept 24.

[2015-10-16 21:30] annmarieven commented on #616
@kathrynmagnuson navigate to '_testing' in the asset tree in Cascade. Click on it and then create a new folder in there for yourself.

[2015-10-19 17:22] a-parrott opened #623 "Missing headline and text for spotlight paragraphs"
On the individual program index pages we're missing the headline and text of our spotlight paragraphs. Only the photo (located at about the middle of the page) is visible. This appears to be the case for our caps, gs, and seminary programs.

A couple examples:
https://www.bethel.edu/adult-undergrad/academics/nursing/
https://www.bethel.edu/graduate/academics/teaching/

[2015-10-19 19:32] kathrynmagnuson commented on #596
I have no idea what I meant by the first thing...analytics are tagged.

[2015-10-20 15:41] c-varberg commented on #623
should be fixed now. Everything will need to be republished. Below is the page I was testing on
https://staging.bethel.edu/adult-undergrad/academics/nursing/

[2015-10-20 16:03] c-varberg commented on #621
alrighty It uses the md5 hashes now. I made the logs more compact but tried to keep the same information. Is there any information you wanted me to just  not log?

[2015-10-21 14:49] annmarieven commented on #616
I got another issue about anchor links (FP job 16057).

https://www.bethel.edu/graduate/academics/physician-assistant/program-details/#certifying

So I'm thinking this is a larger issue with all of our anchor links. @e-jameson can you take a look?

[2015-10-21 14:56] annmarieven commented on #597
@ale73233 publish them as you make the change. here's a few more rules since we turned the smart fields off (which auto showed or hid certain fields).

Choose school
Choose ONE program out of ONE school program drop down. Leave the rest of the school program fields blank.
If CAS -- answer dept. chair question.
If CAPS or GS -- answer program director question
If SEM -- answer 'for this program i a

[2015-10-21 15:19] e-jameson commented on #616
The library anchor links seem to work fine to me.

@johjacb and I talked about the anchor links on the other page. If you watch closely it looks like its anchoring and then the page height is adjusting height so its going to the bottom. Not sure there is much we can do about that.

[2015-10-21 19:29] emily-johnson opened #624 "Search link not redirecting"
There is a redirect from bethel.edu/transporation/shuttle-services to the new site at bethel.edu/transportation/shuttle that works great, but if you search "transportation shuttle services" on the bethel.edu site and click on the second link (the one with the old URL) the redirect doesn't work. Has this been an issue before? Any ideas?

![screen shot 2015-10-21 at 2 22 45 pm](https://cloud.githubu

[2015-10-21 19:38] #624 closed

[2015-10-22 13:51] annmarieven commented on #597
Lauren Pareigat said the Department Chair title isn't showing up in the faculty bio list. Can we change that so it does?

[2015-10-22 14:11] annmarieven opened #625 "Program Feeds for Marketing Pages"
I'm going to add an option on the data definition to indicate if the program feed is on a marketing landing page. Then it should be formatted differently - see https://staging.bethel.edu/_testing/build-out/marketing-pages/health-sciences/

If it's on a marketing page, the program feed shouldn't be in a bulleted list and it should pull the program name and program description (both items are in the

[2015-10-22 14:13] annmarieven commented on #625
@josiahtillman, I've added the field to the data definition. Let me know if you have questions.

[2015-10-22 14:24] a-parrott commented on #620
@josiahtillman: Have you had a chance to look at this?

[2015-10-22 15:27] a-parrott commented on #623
Thanks! Pages republished. This is done.

[2015-10-22 15:27] #623 closed

[2015-10-22 15:28] annmarieven commented on #620
Based on our conversation this morning, we're actually going to change the way the feeds are reading.

Can it be formatted this way:

Program Block Title (Degree Field)
OR
Display Name (if there is something in the display name field, it overwrites everything else)

The selection in the degree field should be formatted as follows:
Associate of Arts -- A.A.
Bachelor of Arts -- B.A.
Bachelor of Musi

[2015-10-22 18:57] c-varberg commented on #619
Alright this should be good to go. I had to update a format so pages will need to be republished. Also it also might not work on www until it gets approved by Caleb or Eric.

[2015-10-22 18:59] c-schwarze commented on #619
@c-varberg  if the code is working, go ahead and pull the change.

[2015-10-22 19:15] c-varberg commented on #619
K should be live now

[2015-10-22 20:47] josiahtillman commented on #620
I believe I have changed this properly. Could you check https://staging.bethel.edu/adult-undergrad/academics/ to see if it is formatted the way you guys want? Thanks!

[2015-10-23 14:07] annmarieven commented on #620
Looking good! One thing I noticed. If there is something in the display name field, the list should pull that instead of the program block title + degree field.

For example, check out this block's display name: https://cms.bethel.edu/entity/open.act?id=9a5edad38c58651357534482227ac423&type=block&

[2015-10-23 14:28] annmarieven commented on #619
can you clarify what needs to be republished? any event feed that is set to pull gallery events?

[2015-10-23 16:11] annmarieven commented on #622
This was an issue with residence hall/room number and has since been fixed.

[2015-10-23 16:11] #622 closed

[2015-10-26 16:30] e-jameson commented on #625
@josiahtillman can you look at this first thing tomorrow. @annmarieven @johjacb can you provide some more specific details for the new formatting?

[2015-10-26 16:50] annmarieven commented on #616
Can you look at these @johjacb?
Here are a couple examples, click on the "Directions and Parking" link and you'll see that they are going to the San Diego part of the page instead of St. Paul.
https://www.bethel.edu/library/about/locations/seminary-san-diego/
https://www.bethel.edu/library/about/locations/seminary-st-paul/

[2015-10-26 18:46] annmarieven commented on #597
@kathrynmagnuson will you look at my comment to allie on oct. 21 and start on 1 or 2 of these?

[2015-10-26 19:08] kathrynmagnuson commented on #597
https://staging.bethel.edu/academics/faculty/king-rollin We made the switch on the job title fields, but the job title is broken.

[2015-10-26 20:01] annmarieven opened #626 "CAPS Academics Alcohol and Drug Counseling License Site Launch and Issues"
We just launched this site:
https://www.bethel.edu/adult-undergrad/academics/licensures/alcohol-drug-counseling/

@a-parrott can you give it a final proof?
I've tested in Chrome and in Safari on iOS 6.

No migration grid or redirects because it didn't exist before.

- [x] Add main image @kathrynmagnuson (let's use the same image that is used on the addiction studies certificate site)
- [x] Close f

[2015-10-26 20:26] kathrynmagnuson commented on #597
Did these bios: Rollin King, Ashley Mahoney, Trey Maddox, Matthew Neibergall, Wade Neiwert, Ken Rohly, Brandon Winters, Chuck Hannema, Rudy Cardona, Tim Essenburg, Leo Gabriel, Mary Ann Harris, Brian Holland, Joyce LeMay, Dmitri Medvedovski, Jay Milbrandt, Bruce Olsen, Bethany Opsata, Kirk Freeman, Amanda Hamilton, Jessica Henderson, Wayne Roosa, Kenneth Steinbach, Lex Thompson, Michelle Westmark,

[2015-10-26 21:06] annmarieven opened #627 "PA Program Apply Now Button"
Can we make a change to the apply now button on the PA program?

https://www.bethel.edu/graduate/academics/physician-assistant/

It should go here: https://www.bethel.edu/graduate/academics/physician-assistant/how-to-apply/

This is a templated thing so I didn't know how to do a one-off change.

[2015-10-27 13:08] a-parrott commented on #626
Looked at Firefox, Chrome and Safari on desktop. Looks good!
The course description for HUSE455 has a couple question marks that are out of place (i.e. ?self of the therapist?).

[2015-10-27 14:04] annmarieven commented on #462
Reopening this for a new November gif. Suggestions anyone?

[2015-10-27 16:13] c-varberg commented on #611
Alrighty this should be working. Let me know if you have any problems

[2015-10-27 18:43] c-schwarze commented on #627
Updated.

[2015-10-27 18:43] #627 closed

[2015-10-27 19:22] annmarieven opened #628 "Faculty Bios and Left Hand Nav"
Did something change in August with our faculty bios? I adjusted the base asset to hide left hand nav. But I'm not sure why we're just now encountering this.

See Lauren's comments below from FP job 16138:

Entered on 10/27/2015 at 13:45:11 CDT (GMT-0500) by Lauren Pareigat:
There is a problem with some faculty profiles when viewed individually. It
seems to be those profiles that were added in Aug

[2015-10-27 19:58] c-schwarze commented on #628
Nothing has changed in the base-asset. I think we just didn't notice because we never create faculty bios outside of tinker (which does it correctly). And now that the base-asset is fixed, we shouldn't run into this problem anymore.

Are those ones she listed the only issues? If so, manually updating them to hide the nav will resolve this issue.

[2015-10-28 17:04] donowenskid opened #629 "Rules for Seminary Pages"
@e-jameson Will you apply rules to the following seminary sites?

https://docs.google.com/spreadsheets/d/12Z7aVhRK9Z2swN5BRe4K69JAYDbkfGV1Ehmyl_m6Myk/edit#gid=0

https://docs.google.com/spreadsheets/d/1qY12CGg0BV1pahvKUT36NeshVBk3pW9q2Tats3nkh3s/edit#gid=0

https://docs.google.com/spreadsheets/d/1_dGqhNzaP2FgdOP-B9lVH1N232mhZvKXjMaDLsc2AFw/edit#gid=0

Thanks!

[2015-10-28 18:32] e-jameson commented on #629
done.

[2015-10-28 18:32] #629 closed

[2015-10-29 14:16] annmarieven opened #630 "Marketing Resources"
Do you know why the mailing labels document doesn't download as a word document template?

under templates here:
https://www.bethel.edu/marketing/resources/

[2015-10-29 14:30] annmarieven commented on #611
@emily-johnson can you do a few tests with this?

[2015-10-29 14:41] annmarieven commented on #626
@kathrynmagnuson can you tag analytics and then load the main image?

The main image is already cropped/loaded into the adult undergrad human services program. Let's just link it up to the alcohol-drug-counseling/index page, publish to staging, proof it live, then publish it to production if everything is good.

Try to take a stab at it on your own first but let me know if you run into any issues.

[2015-10-29 14:49] annmarieven commented on #620
Josiah,
This is looking great here! https://www.bethel.edu/adult-undergrad/academics/

2 more things:
Can the certificates and licenses have "Certificate" or "License" added to the end of the title.
Could they not be in parenthesis like the B.S., B.A., M.S., etc.?

Let me know if you have any questions about this! Thanks!

[2015-10-29 14:57] annmarieven commented on #562
Right now we have a 'location' field and a 'directions' field. Example: https://www.bethel.edu/events/2015/admissions/adult-undergrad-and-graduate-information-session

I changed the label of the maps and directions field to be, "Instructions for Guests" on this data definition: https://cms.bethel.edu/entity/open.act?id=ba13d00a8c586513100ee2a7ae9cca17&type=structureddatadefinition

Can we make sur

[2015-10-29 14:58] #565 closed

[2015-10-29 14:58] c-schwarze commented on #630
Its a .dot instead of a .doc

https://www.bethel.edu/marketing/resources/mailing-labels.dot

[2015-10-29 18:54] johjacb commented on #625
Caleb fixed this

[2015-10-29 19:15] josiahtillman commented on #620
Ok, I've added the Certificate and License, you can see it here: https://staging.bethel.edu/adult-undergrad/academics/  but for some reason, the formatting is strange, so I will look into that now.

[2015-10-29 19:34] ale73233 opened #631 "Seminary Program block"
Hi Caleb,
we recieved this job, I tried republishing the pages to see if that would do anything to make the information from the program block show up but it didn't could you look into this?

"I looked through the curriculum changes on the website and realized that
the two SemPM program detail pages don't list the Face to Face Evening
options:
MDiv (https://www.bethel.edu/seminary/academics/divini

[2015-10-29 19:35] josiahtillman commented on #620
Formatting fixed! Everything should be good now on that link! Could someone check to make sure it's 100% how you guys want it?

[2015-10-29 20:04] c-schwarze commented on #631
I'm looking at the block and it looks like everything is showing up correctly.
https://cms.bethel.edu/entity/open.act?id=ba3f8ab58c58651370c56c6d34d44f38&type=block&

What is supposed to be showing up that isn't? What is a "Face to Face Evening
option"?

[2015-10-29 20:10] annmarieven commented on #582
@c-schwarze per a request from admissions, we have to change the text in the white block on the program details page when there is no banner data.

For graduate program pages can it say:
Please contact admissions at 651.635.8000 or graduate-admissions@bethel.edu for more information on start dates.

For caps program pages can it say:
Please contact admissions at 651.635.8000 or adult-undergrad-adm

[2015-10-29 20:20] ale73233 commented on #631
If you go back into the program block and look at (5/14) in the concentration >> banner info, it shows in the "How is this cohort delivered" option "You'll meet for evening classes only at one of our convenient locations." But that information is not showing up on the page https://www.bethel.edu/seminary/academics/divinity/program-details/

[2015-10-29 20:36] c-schwarze commented on #582
Do you have any that I could test?

[2015-10-29 20:54] c-schwarze commented on #631
We are going to talk about this in our next Cascade meeting to figure it out (11/2/15).

[2015-10-29 20:59] ale73233 commented on #597
I did up through g-w carlson, and we can publish them now!

[2015-10-30 15:41] ale73233 commented on #597
I did up through michael holmes skipped jolene pearson, andrew gess

[2015-10-30 18:22] ale73233 opened #632 "Physician Assistant event feed"
Hi Caleb,

the event feed is not showing up here https://staging.bethel.edu/graduate/academics/physician-assistant/
and it should be showing events because we know there is a nov. 19th event. Could you look into this?

Thanks!

[2015-10-30 18:24] annmarieven commented on #620
https://www.bethel.edu/graduate/academics/ -- i have display names for the following items:

Certificate in International Baccalaureate Teaching and Learning
Ed.D. in Leadership

So they should haven't have "Certificate" and (Ed.D) on the end.

[2015-10-30 18:34] c-schwarze commented on #632
I republished the event and the event xml.

Fixed!

[2015-10-30 18:42] c-schwarze commented on #632
I republished the event and the event xml.

Fixed!

[2015-10-30 18:42] #632 closed

[2015-10-30 18:46] c-schwarze commented on #462
how about this one? https://i.imgur.com/8myao4z.gif

[2015-10-30 18:48] e-jameson commented on #462
Couple more options: http://i.imgur.com/532t5X0.gifv or http://i.imgur.com/Tz0SC1b.gifv

[2015-10-30 19:07] c-schwarze commented on #562
Done. All events will have to be republished to see this. Tinker is live.

[2015-10-30 19:07] #562 closed

[2015-10-30 20:57] kathrynmagnuson commented on #597
@annmarieven I can explain any/all of this on Monday.
1). Skipped Susan Brooks (not sure how to format her 4 job titles)
2). Mark Bruce and Susan Brooks are Co-Chairs of the English Department, should they both be labeled as "Department Chair"?
3). Daniel Ritchie in the English Department is the "Western Humanities Program Director" (not sure how to label that; didn't publish to production)
4). Je

[2015-11-02 16:59] ale73233 commented on #597
skipped chad osgood
skipped greta schutte (not sure how to do assistant athletic trainer)
skipped christine osgood (adjunct faculty?)
skipped mark anderson (multiple job titles)
skipped diane strike (multiple job titles in grad school)
skipped Jay Tracy (LP)
Skipped sara werner (LP, RPT-S)?
did up through john hite

[2015-11-02 17:58] annmarieven commented on #596
Can you look back at the google doc i included on Sept 24 and make sure everything there is updated? If that's all taken care of, reassign the issue back to me.

Can you also update the conference link on this page? https://www.bethel.edu/offices

[2015-11-02 19:25] #626 closed

[2015-11-03 15:38] annmarieven opened #633 "GS Academics Teaching License Descriptions"
@donowenskid and @a-parrott ,
Can you guys divide up the teaching licenses and write descriptions for them?

Here's a nice list so you can see them all:
https://staging.bethel.edu/graduate/academics/licensures/teaching/program-details/

Here's the block where the descriptions will need to be added: https://cms.bethel.edu/entity/open.act?id=64262dbe8c5865137c9c2c89655f37e9&type=block&

[2015-11-03 16:01] annmarieven opened #634 "Seminary Academics Main Site Launch & Issues"
This content needs to be looked at. Some (or all) needs to be reworked and revamped.

http://seminary.bethel.edu/academics/
http://seminary.bethel.edu/academics/delivery-options/
http://seminary.bethel.edu/academics/delivery-options/residential/
http://seminary.bethel.edu/academics/delivery-options/residential/st-paul
http://seminary.bethel.edu/academics/delivery-options/residential/san-diego
http

[2015-11-03 19:54] josiahtillman commented on #620
Ok! This problem should be fixed as well: https://staging.bethel.edu/graduate/academics/

[2015-11-04 19:45] ale73233 opened #635 "Library News Feed"
Hi Caleb,
The library news feed on this page https://www.bethel.edu/library/news-events/ is not showing the correct current Nov. events. I checked the library events in events/2015/library and their is 3 upcoming events in Nov. that should be appear but they are not. These events all have the library tagged as well and the event feed block is pulling the correct event feed. Could you see what's go

[2015-11-04 20:03] c-schwarze commented on #635
Well the issue is with the "Events prior to the current date" option in the feed.

Is this option working how we want it to? @annmarieven could you weigh in maybe?

[2015-11-04 21:41] annmarieven commented on #635
yep. that's exactly what that field should be doing. so that's the issue... they changed it to 'show' instead of 'hide'. not sure why they would have done that. @ale73233 can you let Will know what's going on? then you can close this issue and the FP job. thanks!

[2015-11-05 20:36] #635 closed

[2015-11-06 18:55] kathrynmagnuson opened #636 "Ghost Pages"
The following are ghost pages that weren't unpublished before they were moved:
https://www.bethel.edu/undergrad/bsg/clubs-organizations/student-ministries/
https://www.bethel.edu/undergrad/bsg/clubs-organizations/student-ministries/mentoring/
https://www.bethel.edu/undergrad/bsg/clubs-organizations/student-ministries/mentoring/woven-lives.pdf
https://www.bethel.edu/undergrad/bsg/clubs-organization

[2015-11-06 19:49] kathrynmagnuson commented on #597
skipped:
Steve Kaatz ("retired")
Don Johnson (no department listed)
Alex Chan (no department listed)
Ngozi Mbibi (no school or department listed, name in directory is Ngozi Martin-Oguike)
Jodi Baker (no department listed)
Kari Christensen (no department listed)
Gregory Nelson (no department listed)
Janet Nelson (no department listed)
Jeff Overlie (no department listed, "recent faculty" but still i

[2015-11-09 17:14] #621 closed

[2015-11-09 17:15] #620 closed

[2015-11-09 17:17] #582 closed

[2015-11-09 17:18] annmarieven commented on #579
@ale73233 can you test on an ipad? Jake should have one for you to look at .

[2015-11-09 17:22] annmarieven commented on #579
@c-schwarze if you're looking at the proof point section on a page and refresh it, the proof points won't animate. can you touch base with caleb or jmo on fixing this?

[2015-11-09 18:28] vedmic commented on #631
![screen shot 2015-11-09 at 12 25 46 pm](https://cloud.githubusercontent.com/assets/6525476/11042544/5b3a676c-86dd-11e5-8daa-49cd4fe451dc.png)

[2015-11-09 18:28] annmarieven commented on #631
@c-schwarze when you start working on this, can you touch base with me about the daytime/evening headings and how those will work?

[2015-11-09 22:00] annmarieven opened #637 "Online Program Feed"
Can we merge our online program feed with the existing program feed block?

I added a field for it in the data definition:
https://cms.bethel.edu/entity/open.act?id=98476db08c586513091377e50bd6ef0a&type=structureddatadefinition

[2015-11-09 22:09] e-jameson commented on #636
these have all been removed.

[2015-11-09 22:09] #636 closed

[2015-11-10 14:24] a-parrott opened #638 "PA How to Apply"
Physician Assistant How to Apply: the content for Step 5 has been removed, but it still appears in staging. https://staging.bethel.edu/graduate/academics/physician-assistant/how-to-apply/

@c-schwarze could you take a look at this?

Thanks!

[2015-11-10 21:24] annmarieven commented on #634
so... we're changing the way the root of the site is laid out and now we need content for a few additional pages:
certificates: https://cms.bethel.edu/entity/open.act?id=d35804958c58651344b52cc3e6e2e48c&type=page&
doctorate: https://cms.bethel.edu/entity/open.act?id=d357be438c58651344b52cc3b0d014b7&type=page&
masters: https://cms.bethel.edu/entity/open.act?id=d35747138c58651344b52cc35b633c24&type=

[2015-11-10 21:27] annmarieven opened #639 "Seminary Online Programs Feed Not Working"
This feed isn't working:
https://cms.bethel.edu/entity/open.act?id=ecea38128c5865137ffab4532f79c113&type=block&

page embedded on:
https://cms.bethel.edu/entity/open.act?id=d358891c8c58651344b52cc3d1851b36&type=page&

I'm hoping to launch sem academics tomorrow but could wait on this page if it's not fixed by then. I have no idea how complicated this is to fix or what's going on so don't worry abo

[2015-11-10 21:28] annmarieven commented on #579
oops. mean to give this to @c-varberg

[2015-11-10 21:28] annmarieven commented on #575
@donowenskid if this is done, can you close it?

[2015-11-10 21:29] annmarieven commented on #633
@a-parrott and @donowenskid any update on these?

[2015-11-10 21:36] annmarieven commented on #596
archived the old site.

@kathrynmagnuson I don't think the link is updated on the bethel.edu/offices page. Once that's done, can you check the box at the top of this issue and then close it?

[2015-11-10 21:37] annmarieven commented on #628
we manually adjusted these. closing issue.

[2015-11-10 21:37] #628 closed

[2015-11-10 21:38] annmarieven commented on #611
@emily-johnson if you tested and followed up with brooke, can you close this issue?

[2015-11-10 21:39] annmarieven commented on #605
@johjacb do you need to look at this or do you want to assign it to a student to check it out?

[2015-11-10 21:41] annmarieven commented on #462
I vote this one! http://i.imgur.com/Tz0SC1b.gifv

yikes. sorry for the delay. :)

[2015-11-10 21:42] annmarieven commented on #630
We need it to be a .dot though because it's a word doc template.

[2015-11-10 21:43] e-jameson commented on #630
Cascade might not know what to do with .dot?

[2015-11-10 21:44] annmarieven commented on #591
@emily-johnson and @kathrynmagnuson, where are we with this?

[2015-11-11 15:34] annmarieven opened #640 "Faculty Appearing on Wrong Faculty Lists"
@parlau sent this request in. FP job 16249

https://www.bethel.edu/undergrad/academics/biology/faculty

Katie Bonawitz and Jessica Samens do not belong. Why would they suddenly show up on the wrong page?

I checked the tags on the page and the 2 bios but everything is tagged appropriately.

[2015-11-11 15:35] c-schwarze commented on #640
@c-varberg could you fix this when you get in next?

[2015-11-11 15:41] parlau commented on #640
There's also issues with the job titles on a number of the pages... maybe they just need to be republished?

[2015-11-11 15:48] parlau commented on #640
I also just found Donna LeGrand on the Music page: https://www.bethel.edu/undergrad/academics/music/faculty

I have no idea what is going on on the Nursing page (Education, Comm Studies, Seminary--oh my): https://www.bethel.edu/undergrad/academics/nursing/faculty
...and social work: https://www.bethel.edu/undergrad/academics/social-work/faculty
...and theatre: https://www.bethel.edu/undergrad/acad

[2015-11-11 19:54] donowenskid commented on #633
License descriptions are done and the pages are published to production.

[2015-11-11 20:07] kathrynmagnuson opened #641 "Events not showing up"
I updated this page https://www.bethel.edu/events/2015/admissions/mba-masl-4 to have MBA and MA Strategic Leadership tagged, but it isn't showing up in the events feed on the MBA page https://www.bethel.edu/graduate/academics/mba/

[2015-11-11 20:14] c-schwarze commented on #641
The event page and the event.xml needed to be republished.

[2015-11-12 15:33] e-jameson commented on #638
@a-parrott This is fixed and published.

[2015-11-12 16:15] a-parrott commented on #638
Sorry @e-jameson - I just received an email that a section in Step 3 is appearing on the live site although it is not in Cascade. I've checked, and it is indeed not in Cascade. It's the second section of bullet points:

CASPA Application
Interview with Program Director or Enrollment Counselor
Official College Transcripts
PA Questionnaire ($50 fee)
Reference: Professional
Reference: Professional

[2015-11-12 16:25] annmarieven commented on #634
we launched bethel.edu/seminary/academics yesterday.

@ale73233 a few things here...

can you put in these redirects? https://docs.google.com/spreadsheets/d/1ss1KGPDF90K540GHx9Hr9m8XSECde7-VK6JAEpAJuiQ/edit#gid=0

can you create an image carousel at the top of the sem academics home page? Pull some seminary photos from flickr.

add a happy, computer using student image to the top of the 'online' p

[2015-11-12 16:51] c-varberg commented on #640
Should be working now. it was some weird error where velocity was using the job-titles information of the last person it looked at if the current person didn't have any new job titles defined.

Let me know if anyone shows up out of place again

[2015-11-12 16:52] c-varberg commented on #640
@c-schwarze is this fine to be closed? all the pages will need to be republished? is there a way to do that all at once?

[2015-11-12 16:53] e-jameson commented on #638
@a-parrott, that section is being loaded from Banner. They banner data will need to be adjusted if that shouldn't be there. (the idea with these pages is mostly the content is loaded from banner).

[2015-11-12 16:53] #638 closed

[2015-11-12 16:54] c-schwarze commented on #640
Unfortunately, there is not a way to do it all at once. They have to be manually republished.

[2015-11-12 17:28] c-varberg commented on #640
alright I republished all the ones mentioned. They all look good. Closing case

[2015-11-12 17:28] #640 closed

[2015-11-12 19:03] c-schwarze commented on #639
Updated. Seminary program feeds work now.

I added online programs to the program feeds (all online program feeds can be replaced by normal program feeds).

I added another field to choose to display all to fix an issue: some of the programs don't currently have banner data, so they can't match the search.

Let me know what you think!

[2015-11-12 19:38] annmarieven opened #642 "Marketing Page - Business and Leadership Build Out & Launch"
Opening an issue for the migration of this page:
https://www.bethel.edu/academics/business/

It can be built here: https://cms.bethel.edu/entity/open.act?id=b508b8a88c58651344b52cc32b29af68&type=folder

Looks like there's already some content in that folder but i'm not sure what it's from. Feel free to do with it whatever you like.

We're templating it after the healthcare page:
https://cms.bethel

[2015-11-12 19:47] annmarieven opened #643 "Marketing Page - Leadership Build Out & Launch"
Opening an issue for the migration of this page:
https://www.bethel.edu/academics/leadership/

It can be built in a 'leadership' folder here: https://cms.bethel.edu/entity/open.act?id=67fd41f58c5865132e8da033daf13e78&type=folder&

We're templating it after the healthcare page:
https://cms.bethel.edu/entity/open.act?id=8fa032218c58651335cd27f34de51036&type=folder&

[2015-11-12 19:51] annmarieven opened #644 "Marketing Page - Education Build Out & Launch"
Opening an issue for the migration of this page:
https://www.bethel.edu/academics/education/

It can be built here: https://cms.bethel.edu/entity/open.act?id=680728008c5865132e8da033fb8172b5&type=folder

Looks like there's already some content in that folder but i'm not sure what it's from. Feel free to do with it whatever you like.

We're templating it after the healthcare page:
https://cms.bethe

[2015-11-12 19:53] annmarieven opened #645 "Marketing Page - Nursing Build Out & Launch"
Opening an issue for the migration of this page:
https://www.bethel.edu/academics/nursing

It can be built in a 'nursing' folder here: https://cms.bethel.edu/entity/open.act?id=67fd41f58c5865132e8da033daf13e78&type=folder&

We're templating it after the healthcare page:
https://cms.bethel.edu/entity/open.act?id=8fa032218c58651335cd27f34de51036&type=folder&

[2015-11-12 19:57] annmarieven opened #646 "Marketing Page - Human Services Build Out & Launch"
Opening an issue for the migration of this page:
https://www.bethel.edu/academics/human-services/

It can be built in a 'human-services' folder here: https://cms.bethel.edu/entity/open.act?id=67fd41f58c5865132e8da033daf13e78&type=folder&

We're templating it after the healthcare page:
https://cms.bethel.edu/entity/open.act?id=8fa032218c58651335cd27f34de51036&type=folder&

[2015-11-12 19:58] annmarieven opened #647 "Marketing Page - General Seminary Build Out & Launch"
Opening an issue for the migration of this page:
https://www.bethel.edu/about/seminary/

It can be built here: https://cms.bethel.edu/entity/open.act?id=67fd41f58c5865132e8da033daf13e78&type=folder&

We're templating it after the healthcare page:
https://cms.bethel.edu/entity/open.act?id=8fa032218c58651335cd27f34de51036&type=folder&

[2015-11-12 19:59] annmarieven opened #648 "Marketing Page - General CAPS/GS Build Out"
Opening an issue for the migration of this page:
http://www.bethel.edu/about/caps-gs

It can be built here: https://cms.bethel.edu/entity/open.act?id=67fd41f58c5865132e8da033daf13e78&type=folder&

We're templating it after the healthcare page:
https://cms.bethel.edu/entity/open.act?id=8fa032218c58651335cd27f34de51036&type=folder&

[2015-11-12 20:29] annmarieven commented on #619
I'm wondering if this has something to do with an issue we're running into. FP job 16258.

Nothing in the Johnson Gallery feed here - https://www.bethel.edu/events/arts/galleries/

But this event is tagged with Johnson Gallery - https://www.bethel.edu/events/arts/galleries/exhibits/2015/the-plastic-a-study-of-love
cascade link: https://cms.bethel.edu/entity/open.act?id=ae9f3d898c58651344b52cc343d7

[2015-11-12 21:29] annmarieven commented on #639
any idea why it says no programs are online here? https://cms.bethel.edu/entity/open.act?id=d358891c8c58651344b52cc3d1851b36&type=page

[2015-11-12 21:52] emily-johnson commented on #646
I got a good start on building it all out today, but I'll finish it tomorrow and make sure things look good. Publishing seems to not be working, so hopefully it will be better tomorrow

[2015-11-12 21:56] ale73233 commented on #634
submitted it to staging, check tomorrow

[2015-11-13 17:41] parlau commented on #640
@c-varberg where did all the BTS faculty go now?
https://www.bethel.edu/undergrad/academics/biblical-theological/faculty

[2015-11-13 20:15] annmarieven opened #649 "Error on Cascade Staff Bio Page"
Can someone tell me why there's an error here?
https://cms.bethel.edu/entity/open.act?id=ee4c1a058c5865137725e12f0df35838&type=page&

[2015-11-13 20:31] annmarieven commented on #637
@vedmic would also like to be able to filter by location. I added a field for that. Can we do that?

https://cms.bethel.edu/entity/open.act?id=98476db08c586513091377e50bd6ef0a&type=structureddatadefinition

[2015-11-13 20:34] c-schwarze commented on #649
Fixed.

[2015-11-13 20:34] #649 closed

[2015-11-13 21:25] kathrynmagnuson commented on #641
Now two events are showing up on the MBA page (https://www.bethel.edu/graduate/academics/mba/) but not all of them. There are supposed to be events showing up on March 14th and April 28th, they are both tagged as MBA events in cascade.
https://cms.bethel.edu/entity/open.act?id=dca805128c58651346a52c6d5c6d2603&type=page& https://cms.bethel.edu/entity/open.act?id=dcad15c08c58651346a52c6dcdde6ee9&typ

[2015-11-13 21:48] annmarieven opened #650 "Faculty Bio Formatting Issues"
From Lauren Pareigat:
Also, the formatting on the degrees list, between the degree type and year completed has a space before the comma. There's also an unnecessary space between the department and school in the title area.

[2015-11-16 17:27] #633 closed

[2015-11-16 17:28] annmarieven commented on #630
What do we do?

[2015-11-16 18:23] kathrynmagnuson commented on #641
They're all showing up now.

[2015-11-16 18:23] #641 closed

[2015-11-16 18:59] c-schwarze commented on #631
here is an example of the new cohort displays.

https://staging.bethel.edu/graduate/academics/special-education/program-details/academic-behavioral-strategist

[2015-11-16 19:03] c-schwarze opened #651 "Program blocks"
@annmarieven The program blocks' banner data that is manually entered will need to be updated to include the subheading field.

Here is an example of an updated one: https://cms.bethel.edu/entity/open.act?id=99a57dab8c58651357534482836c133b&type=block&

Here is an example of one that needs updating: https://cms.bethel.edu/entity/open.act?id=ba3f8ab58c58651370c56c6d34d44f38&type=block&

Here is the

[2015-11-16 19:36] #596 closed

[2015-11-16 19:52] annmarieven opened #652 "Undergrad Program Blocks"
Hey Allie,
We know what we're doing with the undergrad preprofessional blocks now.

We need to create a block for each of these items:
https://www.bethel.edu/undergrad/academics/preprofessional-programs/

Pre-Law
Pre-Chiropractic Medicine
Pre-Dentistry
Pre-Medicine
Pre-Occupational Therapy
Pre-Optometry
Pre-Osteopathic Medicine
Pre-Pharmacy
Pre-Physical Therapy
Pre-Physician’s Assistant
Pre-Podiat

[2015-11-16 21:01] annmarieven opened #653 "Faculty Bio Data Definition"
Still can't edit this and I don't know why :(
https://cms.bethel.edu/entity/edit.act?id=ba13d01c8c586513100ee2a7c13996d9&type=structureddatadefinition

I need to add rules so that our faculty bio approvers can update them.

[2015-11-16 22:01] kathrynmagnuson opened #654 "Graduate/Adult Undergrad Event Feeds not showing up right"
The event feeds for all of the graduate and adult undergrad pages are messed up (seminary/undergrad looks fine). I tried republishing the index pages, and it worked for a couple of them, but not for the rest. Here are examples from a couple graduate pages:
https://www.bethel.edu/graduate/academics/strategic-leadership/
https://www.bethel.edu/graduate/academics/special-education/
And an adult under

[2015-11-17 15:36] c-schwarze commented on #653
Fixed. The Tinker sync is creating the logic.

We decided to have the school field show/hide the depts/job title/lead fields.

[2015-11-17 15:36] #653 closed

[2015-11-17 15:54] c-schwarze commented on #639
Fixed!

[2015-11-17 16:10] donowenskid commented on #646
Em...when you're finished with this one, will you assign it to me so I can look at the content?

Thanks!

[2015-11-17 16:16] c-schwarze commented on #654
I see 4 events for the strategic-leadership page, which looks good to me.

The special-education has no events tagged as "Special Education (M.A.)" ?

The special-education has no events tagged as "Accounting (B.S.)" ?

[2015-11-17 16:25] johjacb commented on #605
we did have a checkbox option to hide if empty in the form. that got moved to JS so that all empty feeds are hidden. we'll need to add it back to the form and remove the JS bit if we want to make this happen. It could default to hide if none.

[2015-11-17 16:43] c-varberg commented on #650
https://www.bethel.edu/academics/faculty/rivera-ruben

How does this look @annmarieven. Let me know if you hear about any other little formatting things.

[2015-11-17 17:11] annmarieven opened #655 "News Archive Issues"
Received this from Suzanne in FP job 16294.

I just went to the news archive page (https://www.bethel.edu/news/news-archive) and the numbers are all out of order within each month.

[2015-11-17 18:22] c-varberg commented on #619
The problem appears to be with the cache. Since this started 5 days ago it seems to be stuck using saved cached events on that page. If I turn off the cache everything works fine. Is this something that needs to be addressed @c-schwarze , @e-jameson or can we just clear the cache and see if it happens again?

[2015-11-17 19:36] c-schwarze commented on #619
You updated the php code to use the cache for the whole function, but not the xml, right?

[2015-11-17 20:17] c-schwarze commented on #637
The existing program feed block now works with online and can also filter by location. Let me know if its not working as expected!

[2015-11-17 22:02] annmarieven commented on #637
I filtered by location and that seems to work great!

[2015-11-17 22:02] #637 closed

[2015-11-17 22:13] annmarieven commented on #647
First draft done. https://staging.bethel.edu/_testing/build-out/marketing-pages/seminary/

I am temporarily using the sem images that we already had because the search in Flickr wasn't working.

Still need to:
- [ ] update program field in Wufoo form (https://betheluniversity.wufoo.com/build/adm-sem-marketing-request-info/)
- [ ] update how did you hear about us field in wufoo form to match these

[2015-11-17 22:18] annmarieven commented on #650
look good! 2 more minor things that i'm wondering about.

can we make the job titles separate paragraphs? so the spacing between multiple job titles is the same spacing between multiple degrees?

can we put a space before and after the hyphen in the degree section? and i think the hyphen shouldn't be bolded. ex: Vangard University - B.A., 1986

thanks so much!!

[2015-11-17 22:20] annmarieven commented on #605
I'm a little confused. I think the checkbox still exists in the data definition for event and news feeds.. https://cms.bethel.edu/entity/open.act?id=40e5d51b8c5865137464be9cb6126055&type=structureddatadefinition&

Also, we don't want all feeds to automatically hide if they're empty, only if we specifically choose that option in the feed itself.

Let me know if we need to touch base more about this

[2015-11-17 22:23] annmarieven commented on #631
@c-schwarze i think we weren't going to divvy up online stuff for now but just the face to face ones. can you confirm this on Thursday? I won't be there but may try to call in for the meeting.

Also, do you want to run it by @johjacb for design?

[2015-11-17 22:25] c-schwarze commented on #631
Yeah I will bring it up on Thursday.

@johjacb thoughts?

[2015-11-17 22:34] c-schwarze commented on #630
Doesn't seem like it is a feature that Cascade offers (and no one else has done it). I will pose the question on the Cascade Help site.

[2015-11-18 15:29] ale73233 opened #656 "Info Session program blocks"
Hi Caleb,

On this page https://cms.bethel.edu/entity/open.act?id=f04474f98c58651346a52c6d6ab3d40d&type=page& it is not pulling the certificates and licenses program blocks. We looked at the blocks and the actual programs and they are all tagged correctly. Could you look into this?

Thanks!

[2015-11-18 15:42] annmarieven commented on #648
@vedmic should the last part of this url change to avoid using caps gs? 'bethel.edu/academics/graduate-adult-undergrad'

[2015-11-18 15:45] c-schwarze commented on #656
There were no schools tagged. I updated the program feeds, so that if no school is tagged, it assumes all schools are tagged.

[2015-11-18 16:08] ale73233 commented on #656
Hi Jake,
On this page https://staging.bethel.edu/_testing/build-out/caps-gs-info/ the teaser "Live your life with purpose. Become a leader in your field. Know that what you do matters." shows up twice at the top and on the very bottom of the page. Do we use the teaser field on this page? https://cms.bethel.edu/entity/edit.act?id=f04474f98c58651346a52c6d6ab3d40d&type=page or why would it be showing

[2015-11-18 16:10] annmarieven commented on #651
I think for Seminary blocks we need to put daytime in the delivery subheading unless they specifically say evening classes only in the delivery description.

[2015-11-18 16:10] c-schwarze commented on #651
So make F2 and F default to daytime?

[2015-11-18 16:26] ale73233 commented on #652
I created the blocks for all of them, Tim said to leave the degree field untagged.

[2015-11-18 16:35] annmarieven commented on #651
@ale73233 all of the blocks in this folder need to be updated:
https://cms.bethel.edu/entity/open.act?id=affb0f9a8c5865130265fd80c0748944&type=folder&

Once you're in the edit tab of the block, scroll all the way down and expand the banner info section. Look at each cohort details sections within there.

If the delivery label is "Face to Face", we need to enter something into the delivery subheadi

[2015-11-18 16:47] ale73233 commented on #651
I updated all of the blocks and the special education one in gs.

[2015-11-18 18:09] johjacb commented on #656
I don't think we use the teaser? I think you'll want to add it to the form below the image. You'll probably want to check with AnnMarie or Andrea.

[2015-11-18 18:32] johjacb commented on #605
Going to need Caleb or Jmo's help here

[2015-11-18 19:03] annmarieven commented on #651
@ale73233 can you republish the pages that the seminary blocks are embedded on?

@c-schwarze I'm not entirely sure what F2 and F are... might be a question for @hamtim

[2015-11-18 19:17] ale73233 commented on #656
fixed.

[2015-11-18 19:17] #656 closed

[2015-11-18 19:29] ale73233 commented on #651
I republished the pages.

[2015-11-19 18:28] parlau commented on #650
How is going getting all of the faculty bio stuff fixed?

[2015-11-19 18:31] c-schwarze commented on #631
We decided to always show the subheading, even if there is only 1 subheading. @johjacb I just updated it to include proper padding/margins. Let me know what you think.

[2015-11-19 18:51] johjacb opened #657 "Add share functionality for news stories"
Add share buttons

[2015-11-19 19:44] c-varberg commented on #650
@annmarieven Those should be fixed now. let me know if there is anything else!

[2015-11-19 21:55] ale73233 commented on #597
skipped philippe gagnon
skipped:
diana olsen
shelby reigstad
john kantke
jim stern
did up to laurel mckeever

[2015-11-19 22:21] #611 closed

[2015-11-19 22:32] emily-johnson commented on #646
@johjacb did we find anything to help with the picture formatting?

[2015-11-19 22:43] emily-johnson commented on #647
Do you want me to differentiate between BSSD and BSSP programs in the drop down list (e.g. Theological Studies), and should I include the BA in Children's Ministries since it is mentioned on the page?

[2015-11-19 22:43] emily-johnson commented on #647
@annmarieven @donowenskid

[2015-11-19 23:07] emily-johnson opened #658 "Tinker Event Request"
@c-schwarze can you (or someone else) look into the event form in tinker? It seems to not be saving the program selection when the event gets created in cascade (I'm specifically looking at the four admissions [PA info sessions](https://cms.bethel.edu/entity/open.act?id=214ef36b8c586513116ff695e1fcff19&type=page) in 2016)

Also, after I went in and selected the program, the event feed was still no

[2015-11-20 16:52] ale73233 commented on #597
skipped justin irving

Finished!!!! :)))))))

[2015-11-20 19:36] emily-johnson commented on #658
@c-schwarze Now the two I events changed yesterday are appearing on the index page (it is set to show up to 4 at a time), so does it just take some time?

[2015-11-20 19:37] c-schwarze commented on #658
Yeah it takes at least 5 minutes due to caching.

[2015-11-20 19:38] emily-johnson commented on #658
Oh I've waited that long yesterday and today... hmm

[2015-11-20 20:41] kathrynmagnuson opened #659 "Tinker Issue"
Could you take a look at the issue Rita Haglund is having with tinker? Thanks

"In Tinker - I attempted to make a title change in Beth Peterson's
faculty bio but when I went to submit it gave me an error in an orange box that says a job
title is required when I had already entered her job title. I tried several times and got the same
error. I also attempted to make a change to her title in the bio

[2015-11-20 20:59] #654 closed

[2015-11-23 20:16] emily-johnson commented on #658
Everything looks good now, it took until the next morning for both batches to update and be pulled on to the page, but it did work.

@c-schwarze Can we look into making sure Tinker keeps the program label when going over to cascade?

[2015-11-23 20:25] kathrynmagnuson opened #660 "M.S. Physician Assistant Faculty Bios not showing up"
Only one person's bio is pulling on the MS Physician Assistant Faculty page https://www.bethel.edu/graduate/academics/physician-assistant/faculty (I believe @ale73233 looked in cascade and thought all of the settings were the same for each person/they were all tagged). Here are the names of the other faculty that are supposed to be on this page:
"Wallace Boeve,
Greg Ekbom
Cynthia Goetz
Christy Han

[2015-11-23 20:30] c-schwarze commented on #660
Hmm. It looks list the job titles are missing a program, therefore they are not showing up on the list. I assume this is an issue on our end. I'll let you know when this is fixed.

[2015-11-23 21:34] c-schwarze commented on #659
I updated Tinker, it appears to work properly with Beth Peterson's bio. Could you let Rita know that she can try again?

Thanks! Sorry for all of the issues.

[2015-11-23 21:37] c-schwarze commented on #660
It appears that all CAPS, GS, and Seminary program headings got lost in the massive changes. Unfortunately, there is no way to get these back automatically. They will have to be manually chosen, or submitted through Tinker. Sorry about the unfortunate news.

[2015-11-23 21:55] emily-johnson commented on #597
@ale73233 The programs got lost, so we now have to go in and look at the previous version, see what program they are a part of, and then go in and tag it. We are going through the list in the same way as before.

Kathryn or I can show you how to do it quick next time you're in

[2015-11-23 22:03] kathrynmagnuson commented on #597
Looked at all of them through Jolene Pearson. Her page is tagged as CAS but it's not showing up

[2015-11-23 22:17] emily-johnson commented on #597
@kathrynmagnuson @ale73233 Just a note, Eric reminded me to make sure we aren't sending the bios through a workflow when we submit them

[2015-11-23 23:07] emily-johnson opened #661 "Sem Admissions Staff Page"
https://www.bethel.edu/seminary/admissions/team/

Josh Manfred's bio has been deleted, but he is still showing up on the team page. I tried republishing the page but it didn't do anything.

(I redirected his bio page back to the team page)

[2015-11-23 23:13] emily-johnson commented on #661
Never mind.. I had tried republishing the wrong page :P

[2015-11-23 23:13] #661 closed

[2015-11-24 04:17] c-schwarze commented on #597
I just did Carrie Peffley through Laura Zukanoff.

[2015-11-24 16:22] c-schwarze commented on #597
I have updated all of the programs for these. We shouldn't have to edit these anymore!

[2015-11-24 20:39] emily-johnson commented on #597
All of them? How!? :D

[2015-11-24 20:53] c-schwarze commented on #597
Many hours...

[2015-11-25 14:49] c-schwarze commented on #630
![screen shot 2015-11-25 at 8 36 31 am](https://cloud.githubusercontent.com/assets/7849657/11399895/bbbc10c6-934f-11e5-93ba-56480fd12625.png)

Dot files are outdated... Also, browsers cannot render a .dot file. However, we could just rename the .dot file to a .doc file to make it work. What do you think?

[2015-11-25 17:00] c-schwarze commented on #655
fixed

[2015-11-25 17:00] #655 closed

[2015-11-25 17:02] c-schwarze commented on #597
I'm going to close this for now. Open if any issues come up!

[2015-11-25 17:02] #597 closed

[2015-12-01 20:16] c-varberg commented on #579
This should be working now. Skrollr wasn't fully initialized before the first check to see if proof points were on the page was done. This was throwing off the page height. I added a slight delay onto the check, so skrollr has a chance to finish. Everywhere I've tested it works now.

[2015-12-01 20:26] e-jameson commented on #660
@c-schwarze is this cleaned up?

[2015-12-01 20:26] e-jameson commented on #659
@kathrynmagnuson can you confirm with Rita it is working correctly?

[2015-12-01 20:54] e-jameson commented on #619
@c-varberg ^

[2015-12-02 20:21] a-parrott commented on #645
Everything is now added.

[2015-12-02 20:23] a-parrott commented on #644
This is set as well: https://staging.bethel.edu/_testing/build-out/marketing-pages/education/

[2015-12-02 20:32] annmarieven opened #662 "New Event Category"
I added a new category to the event metadata.
https://cms.bethel.edu/entity/open.act?id=1a525c038c5865135b5a2d9efa247727&type=metadataset

Dining Services (under offices)

I checked in Tinker but didn't see the change reflected there. Also, it doesn't look like Student Life or Dining Services is appearing on the live calendar list of categories. Is that something that has to be manually updated?

[2015-12-03 16:03] annmarieven commented on #647
@emily-johnson don't differentiate in the form. yes, include christian ministries. can you format it as Christian Ministries (B.A.) and put it in alphabetical order?

Then assign the job to @donowenskid for content.

This is high priority for your work today :)

[2015-12-03 16:07] c-schwarze commented on #660
yeah. closing

[2015-12-03 16:07] #660 closed

[2015-12-03 16:14] c-schwarze commented on #662
@e-jameson could you take this over?

[2015-12-03 16:36] e-jameson commented on #662
@annmarieven: the Calendar has a seperate Metadata set, once that is updated, the Calendar page needs to be edited to select the new categories, and then republished. I'll add Dining Services to the Tinker form.

https://cms.bethel.edu/entity/open.act?id=67707b6b8c5865133e4f684601940706&type=metadataset

[2015-12-03 17:37] johjacb commented on #657
check out the buttons at the bottom on Medium

https://medium.com/swlh/no-ui-is-the-new-ui-ab3f7ecec6b3#.sft3lnr29

[2015-12-03 17:43] johjacb commented on #646
@emily-johnson Could you describe the issue?

[2015-12-03 17:52] johjacb commented on #631
@c-schwarze can you add a mb1 class to the subhead? Good after that.

[2015-12-03 20:24] donowenskid commented on #643
@vedmic I thought I left comments when i assigned this to you along with the link to the staging site...

Here you go:

https://staging.bethel.edu/_testing/build-out/marketing-pages/leadership/

Take a look. I'm sorting out some new images for this and the business page. See what you think about the use of adwords in the content.

[2015-12-03 21:04] annmarieven commented on #591
@e-jameson just got a request about this and am wondering if the 2nd rule got missed. can you put it in? here's the grid: https://docs.google.com/spreadsheets/d/1_dGqhNzaP2FgdOP-B9lVH1N232mhZvKXjMaDLsc2AFw/edit#gid=0&vpid=A1

[2015-12-03 21:24] a-parrott commented on #645
@vedmic: Let me know of any revisions - https://staging.bethel.edu/_testing/build-out/marketing-pages/nursing/

[2015-12-03 21:26] a-parrott commented on #644
@vedmic: And here's this one. Let me know of any revisions - https://staging.bethel.edu/_testing/build-out/marketing-pages/education/

[2015-12-03 21:42] emily-johnson commented on #646
@johjacb It seems to be working now, I'm not sure who fixed it haha assigning to @donowenskid to look at the content

[2015-12-04 17:46] annmarieven commented on #650
These issues have been fixed.

[2015-12-04 17:46] #650 closed

[2015-12-04 17:56] annmarieven commented on #639
a couple programs are showing up that I don't think should be..
https://cms.bethel.edu/entity/open.act?id=ed2e86c88c5865137ffab45340a81a77&type=block& -- this block has no data for delivery but is appearing on the online page.

same with a few others but i'm assuming once this issue is fixed for one it'll be fixed for all.

[2015-12-04 19:21] c-schwarze commented on #639
It looks like the seminary online feed (https://cms.bethel.edu/entity/edit.act?id=fd970bbb8c586513739ca2fddef6bf4a&type=block) has selected "all deliveries".

[2015-12-04 19:24] annmarieven commented on #630
@ale73233 can you try reloading the files on the page above as .doc and see if the download works correctly for you?

[2015-12-04 19:32] ale73233 commented on #630
I reloaded it as a .doc and it works!:)

[2015-12-04 20:48] annmarieven commented on #630
@ale73233 i went here but got an error when i tried clicking on mailing labels: https://www.bethel.edu/marketing/resources/

random question - can you remove (doc) from the word templates link. it actually goes to a web form, rather than a word doc

[2015-12-04 20:56] annmarieven opened #663 "Faculty Bio Requests"
I met with @parlau and here are some questions/requests we have.

- [x] Descriptions
- [x] Department name in lists

**Descriptions**
These used to automatically be created based on this template, "Meet [NAME], [TITLE], at Bethel University." But they're no longer working with the new job title fields. Can we get this working again with the new job title fields? Lauren would like all job titles to

[2015-12-04 21:02] donowenskid commented on #642
Page built out. Sifting through flickr for replacement image

[2015-12-04 22:12] annmarieven commented on #648
Working on finding a photo. Still need to adjust feeds so the page is formatted better.

[2015-12-04 22:46] c-schwarze commented on #663
**Descriptions**
This should be completed. Every submitted bio will reflect this change (not any that haven't been submitted in the last few days). I talked with Tim earlier this week and if a faculty member is only in Bethel Seminary, it will have ". . . at Bethel Seminary" instead of ". . . at Bethel University". If you would like, I can take the time to resubmit every bio.

**Department name in

[2015-12-04 23:12] donowenskid commented on #642
The content needs reworked with adwords. and the wufoo form needs to be updated.

[2015-12-07 15:55] annmarieven commented on #639
weird... i wonder if the data def changed from when i first created it. i fixed it but it's still doing the same thing as far as pulling blocks that don't have any data in them.

https://cms.bethel.edu/entity/open.act?id=d358891c8c58651344b52cc3d1851b36&type=page&

[2015-12-07 17:06] annmarieven commented on #647
confirmation page needed.

[2015-12-07 17:06] annmarieven commented on #646
confirmation page needed.

[2015-12-07 17:07] annmarieven commented on #648
confirmation page needed.

[2015-12-07 17:28] annmarieven opened #664 "Undergrad Program Blocks"
Get program blocks ready so that they can appear in program feeds.

I think we're going to tag the appropriate metadata and then associate a url with the department that's tagged.

The students and I will go through and make sure everything is correctly.

We may need to sit down and talk about this together @e-jameson @c-schwarze

[2015-12-07 17:38] annmarieven commented on #625
Sorting by degrees, then certificates, then licensures.

Within degrees - by degree type (bachelors, masters, doctorate)

Alphabetically within each list

[2015-12-07 17:45] annmarieven opened #665 "Faculty Lists"
If there is a program director, department chair, or lead faculty member selected for a department, can they show up at the top of the faculty list?

[2015-12-07 17:48] annmarieven commented on #665
Assign to @johjacb for design before pushing this out live.

[2015-12-07 18:04] vedmic commented on #644
Andrea please update the program listing and descriptions accordingly.

[2015-12-07 18:05] vedmic commented on #645
Please adjust program listing and description accordingly.

[2015-12-07 18:06] vedmic commented on #643
Please adjust the program listings and undergrad descriptions accordingly.

[2015-12-07 19:42] e-jameson commented on #605
@annmarieven @ale73233 this is fixed. Any other pages with the same issue will need to be republished.

[2015-12-07 19:42] #605 closed

[2015-12-07 19:51] e-jameson commented on #591
done.

[2015-12-07 19:51] e-jameson commented on #507
@annmarieven can we close this?

[2015-12-07 19:53] e-jameson commented on #591
nvm there is a checkbox open still.

[2015-12-07 20:10] e-jameson commented on #662
AMV and I looked at this together.

[2015-12-07 20:10] #662 closed

[2015-12-07 20:27] annmarieven commented on #591
@kathrynmagnuson and @emily-johnson looks like this github got missed. review the previous descriptions and close the issue when it's done.

thanks!

[2015-12-07 20:45] emily-johnson opened #666 "Bethelnet Left Hand Nav"
https://bethelnet.bethel.edu/facilities-mgmt/edit/tab_template

@e-jameson We are getting an error when we try to go to defaultMenu to change the left hand nav, can you help? Thanks!

[2015-12-07 20:46] c-schwarze commented on #665
@johjacb, the program director, lead faculty, etc. are the first ones listed. Let me know if you need any adjustments.

This is the one I was using for testing; https://staging.bethel.edu/undergrad/academics/art/faculty

[2015-12-07 20:46] emily-johnson commented on #591
Oops! I'll add the main image now and walk Kathryn through it

[2015-12-07 20:49] e-jameson commented on #666
@emily-johnson try this URL: http://zope1.its.bethel.edu:8080/silva/bethelnet/facilities-mgmt/edit/tab_template

If you don't have access swing back sometime and you can make your changes on my computer.

[2015-12-07 20:50] c-schwarze commented on #639
fixed. any program with no data will not show up on the feeds.

[2015-12-07 20:52] c-schwarze commented on #631
done

[2015-12-07 20:52] #631 closed

[2015-12-07 20:57] e-jameson commented on #500
@ale73233 @annmarieven any progress on this?

[2015-12-07 21:17] c-schwarze commented on #625
Updated. Let me know if you would like any changes.

[2015-12-07 21:37] emily-johnson commented on #591
Done!

[2015-12-07 21:37] #591 closed

[2015-12-07 21:44] emily-johnson commented on #666
It worked, thanks!

[2015-12-07 21:44] #666 closed

[2015-12-08 16:12] annmarieven commented on #639
do you still see the 3 certificates at the bottom?
https://cms.bethel.edu/entity/open.act?id=d358891c8c58651344b52cc3d1851b36&type=page&

i know they have links but they don't have any delivery data indicating that they're online programs so i feel like they shouldn't be in this list... right?

[2015-12-08 16:13] annmarieven commented on #639
also, now it looks like we're having an issue with this feed: https://www.bethel.edu/seminary/academics/certificates

[2015-12-08 16:19] e-jameson opened #667 "blogs list"
We need a blog post in the “bethel blogs” blog with a list of blogs that are interesting enough to advertise.

[2015-12-08 16:52] c-varberg commented on #619
righteo, I think the double cache was just keeping things around way longer then they should have been.  @c-schwarze

[2015-12-08 17:25] annmarieven commented on #648
grabbed all the feeds from allie's page. she's going to double check the tags and look into the undergrad ones not working.

working on finding a photo from flickr. https://staging.bethel.edu/_testing/build-out/marketing-pages/adult-undergrad-graduate/

[2015-12-08 21:06] c-schwarze commented on #619
cool. closing

[2015-12-08 21:06] #619 closed

[2015-12-08 21:54] annmarieven commented on #648
well, there are 3 photos to choose from. finding photos is.... wonderful. as always.

@a-parrott can you look at content by thursday and then @vedmic can do a final approval?

[2015-12-09 15:32] c-schwarze commented on #639
Oh. I think I misunderstood the issue. If a program has no data, it will be hidden from the list. Sorry about that!

Note: no seminary cert has any data.

[2015-12-09 15:41] e-jameson commented on #462
http://i.imgur.com/rzP4WVC.gifv

[2015-12-09 15:57] a-parrott commented on #645
Program list in wufoo form updated for organization by degree type and program name.

@c-schwarze The nursing program list was missing Nursing (RN to B.S.) in the program feed. When I published the page to staging, the program list disappeared and says, "No programs to list." I republished, and it's still gone.

[2015-12-09 16:10] c-schwarze commented on #462
Added https://i.imgur.com/Jh7P9Fz.jpg

[2015-12-09 16:10] #462 closed

[2015-12-09 16:11] c-schwarze commented on #645
Fixed.

[2015-12-09 16:47] a-parrott commented on #644
Content updated and program list in wufoo form updated for organization by degree type and program name.

@c-schwarze: The education program feed is missing several programs: the IB certificate, licenses, and the Education K-12 degree.

https://staging.bethel.edu/_testing/build-out/marketing-pages/education/

[2015-12-09 16:50] a-parrott commented on #645
@c-schwarze: Republished to staging. Now only the Nursing (RN to B.S.) program is listed in the program feed.

[2015-12-09 17:40] johjacb commented on #665
i made a few tweaks - should be ready to go

[2015-12-09 20:08] a-parrott commented on #648
Revised content. I also added a title and apply button to appear over one of the photos (though it appears over two of them). Looks like the list of programs in the program feeds needs updating.

Assigning to @vedmic for review.

[2015-12-09 20:27] c-schwarze commented on #665
Looks good. I published all of our faculty bios to www.

[2015-12-10 16:02] annmarieven opened #668 "Program Feed Headings"
We need these headings to appear in the feeds if there are programs that match the selected degree type metadata:

Associates
Bachelors
Masters
Doctorates
Certificates
Licensures

[2015-12-10 20:05] #639 closed

[2015-12-10 20:15] c-schwarze commented on #668
Updated. @annmarieven, I added a "Show subheadings" to the Data Def.

Might need some styling help @johjacb

Here is an example: https://cms.bethel.edu/entity/open.act?id=d358891c8c58651344b52cc3d1851b36&type=page

[2015-12-10 21:18] c-schwarze commented on #668
We currently decided to either display Titles or Subheadings, but never both.

[2015-12-10 21:41] annmarieven commented on #665
@kathrynmagnuson can you go through this list and make sure that all department chairs are tagged?
https://docs.google.com/a/bethel.edu/document/d/1kDNzm5IMOCieQp9Mqgw694GMnE7RKm8P7a77lzwzZLI/edit?usp=drive_web

This will need to be in addition to any other titles they have, not in place of. We can touch base on this if you have questions.

Skip the following departments:
Notes from Lauren -
Chemi

[2015-12-10 21:41] ale73233 commented on #500
everything is working!

[2015-12-10 21:41] #500 closed

[2015-12-10 22:10] annmarieven commented on #668
We also decided to say "Master's Degrees"

I think this means we should also say "Bachelor's Degrees" and "Doctoral Degrees"

[2015-12-11 16:57] ale73233 opened #669 "Info Session image"
Hey Jake,
On this page: https://www.bethel.edu/_testing/build-out/caps-gs-info/
could you look into removing the white space above the image?

[2015-12-11 17:20] c-schwarze commented on #668
Updated.

Closing.

[2015-12-11 17:20] #668 closed

[2015-12-11 17:31] annmarieven commented on #664
we decided to do this differently. closing issue.

[2015-12-11 17:31] #664 closed

[2015-12-11 17:39] annmarieven commented on #645
this page is almost ready for launch. just 1 question for @johjacb and then we're good to go. i can't seem to get rid of the white space at the top of the image - can you? and can you let me know what you do to fix it?

i've compared the section classes for that section and all of the metadata on this page with the healthcare page (which doesn't have the white space) and i can't figure it out.

[2015-12-11 18:02] johjacb commented on #645
The padding for the section needs to be set to 0.

[2015-12-11 18:13] johjacb commented on #669
Hi Allie,
The padding for the section needs to be set to 0. I changed it and republished.

[2015-12-14 16:18] annmarieven commented on #645
Launched this page: https://www.bethel.edu/academics/nursing/

We'll touch base about it in our Cascade meeting.
Photo questions
Form notification questions
Confirmation page

[2015-12-14 16:20] donowenskid commented on #643
This should be ready for launch. Assigning to AMV for final check.

https://staging.bethel.edu/_testing/build-out/marketing-pages/leadership/

[2015-12-14 17:00] annmarieven commented on #643
Launched this page: https://www.bethel.edu/academics/leadership/

We'll touch base about it in our Cascade meeting.
Photo questions
Form notification questions - sem-data@bethel.edu
Confirmation page

[2015-12-14 17:35] c-schwarze commented on #644
The feed should be fixed @a-parrott

passing back to you?

[2015-12-14 20:51] annmarieven commented on #644
I removed cas programs from the program feed and manually added it.

@johjacb is there a way to get the alignment to match the program feed and to eliminate some of the spacing in between the 2 sections? (bachelors section and program feed section)

@a-parrott can you add a manual description to the education program?

[2015-12-14 21:00] johjacb commented on #644
yes - the columns for the the section need to be set

[2015-12-14 21:07] a-parrott commented on #644
Description added.

[2015-12-15 21:58] annmarieven commented on #663
These are done and Lauren knows.

[2015-12-15 21:58] #663 closed

[2015-12-15 21:59] #669 closed

[2015-12-15 21:59] annmarieven commented on #644
@johjacb can we get the bachelors section any closer to the masters section?

[2015-12-15 22:00] annmarieven commented on #665
i'm taking care of this tomorrow morning.

[2015-12-15 22:01] annmarieven commented on #659
Lauren just contacted me about Beth Peterson's bio. I think it's been taken care of.

[2015-12-15 22:01] #659 closed

[2015-12-15 22:02] annmarieven commented on #658
@c-schwarze can you see @emily-johnson's last comment

[2015-12-15 22:03] #652 closed

[2015-12-15 22:04] annmarieven commented on #651
@c-schwarze is this done? see my last question/comment to you.

[2015-12-16 13:58] annmarieven opened #670 "Philosophy Faculty Department Chair Issue"
Sara Shady is being pulled as the department chair for Philosophy as well as Dan Yim. It should be JUST Dan Yim.

I've checked Sara's bio (and republished everything multiple times) and have no idea why it's pulling her too.

https://www.bethel.edu/undergrad/academics/philosophy/faculty

Sara's bio page: https://cms.bethel.edu/entity/open.act?id=00ad58848c586513100ee2a755ed659b&type=page

[2015-12-16 16:00] johjacb commented on #644
i've adjusted the padding

[2015-12-16 22:01] donowenskid commented on #642
Content is updated. Emily is updating the form to match program feed. Descriptions are added to program list.

Replacing image.

[2015-12-16 22:15] emily-johnson commented on #642
Form is updated

[2015-12-16 22:16] emily-johnson commented on #646
I updated the program list in the wufoo form to match the feed

[2015-12-17 15:01] annmarieven commented on #644
This page has been launched.

Still need final notification emails for Wufoo form.

[2015-12-17 17:14] johjacb commented on #579
@c-varberg i'm seeing white space at the bottom of some of the pages

https://www.bethel.edu/graduate/
https://www.bethel.edu/adult-undergrad/
https://www.bethel.edu/seminary/

[2015-12-17 17:18] johjacb commented on #616
should be fixed.

assigning to @annmarieven to verify. close if good

[2015-12-17 18:36] johjacb commented on #657
@c-varberg could you take attempt to implement this on a test page when you have some time?

https://jonsuh.com/blog/social-share-links/

[2015-12-18 13:53] annmarieven commented on #642
Launched this page yesterday.

Keeping open for final form decisions.

[2015-12-21 17:01] donowenskid commented on #647
Updated description paragraphs.

[2015-12-21 17:02] donowenskid commented on #646
Content is updated and ready to go.

[2015-12-21 17:22] annmarieven commented on #646
This page has been launched.

Keeping open for final form decisions.

[2015-12-21 22:02] donowenskid opened #671 "Faculty lists adjustment"
@c-schwarze

I noticed on this page that all the lead faculty/ program director/ program chair were pulling to the top of the list. But since it's not a program specific faculty list, we don't want them to go to the top...

https://www.bethel.edu/seminary/academics/faculty

[2015-12-22 16:39] c-schwarze commented on #671
Updated. Publishing the faculty listings now.

[2015-12-23 14:26] annmarieven commented on #671
This has been fixed. Closing.

[2015-12-23 14:26] #671 closed

[2015-12-23 17:03] annmarieven commented on #647
@c-schwarze can you see why DMin is showing up so much further below all the others?

https://staging.bethel.edu/_testing/build-out/marketing-pages/seminary/

[2015-12-23 17:18] annmarieven commented on #667
created a blog post with the list of blogs. @e-jameson is there anyway we can get the whole blog post to show up on the homepage so it doesn't look so weird?

blogs.bethel.edu

[2015-12-23 17:18] annmarieven commented on #648
@vedmic this is waiting for your approval. can you approve it please?

thanks!

[2015-12-23 17:24] c-schwarze commented on #647
Fixed.

[2015-12-23 18:57] c-schwarze commented on #670
Fixed. Some bios that were dept chairs in other depts were being pulled in as the dept chair.

[2015-12-23 18:57] #670 closed

[2015-12-23 19:03] c-schwarze commented on #651
I talked with Tim, he says we should just tell Josh to update the codes. Could you send an email to Josh to have him update the codes to "FE" for Face to Face -- Evening or "FD" for Face to Face -- Daytime?

[2016-01-04 17:20] annmarieven commented on #647
This page has been launched.

Keeping open for final form decisions.

[2016-01-04 17:29] #625 closed

[2016-01-04 17:30] annmarieven commented on #616
This is working. Closing issue.

[2016-01-04 17:30] #616 closed

[2016-01-04 19:39] annmarieven commented on #651
contacted amara to update the program blocks in cascade. closing the issue.

[2016-01-04 19:39] #651 closed

[2016-01-05 15:25] annmarieven opened #672 "Institutional Data and Research Site Launch & Issues"
@emily-johnson, the IDR office is getting ready to launch the site but I'm wondering if you can help them out with a few things before we go live.

Will you make sure none of their headings are bolded? And can you adjust the bulleted lists? Looks like they all have too much spacing in between each line.

https://staging.bethel.edu/institutional-data-research/

Thanks!

p.s. Could you do this first

[2016-01-05 15:49] annmarieven commented on #665
this is done.

[2016-01-05 15:49] #665 closed

[2016-01-05 15:50] annmarieven commented on #648
This page has been launched.

Keeping open for final form decisions.

[2016-01-05 16:04] annmarieven opened #673 "CAPS/GS Admissions program lists"
We need to transition these manual lists to program feeds.
https://www.bethel.edu/graduate/admissions/
https://www.bethel.edu/adult-undergrad/admissions/

We've already done so on these 2 pages so you can probably just use the same exact feed blocks.
https://www.bethel.edu/graduate/academics/
https://www.bethel.edu/adult-undergrad/academics/

Because this is such a central, high traffic page, be s

[2016-01-05 16:23] emily-johnson commented on #672
All set!

[2016-01-05 20:25] annmarieven commented on #648
Updated how did you hear about us (but it will eventually be going away due to tracking stuff), keeping which number is this for now (carmen is going to talk to admissions about removing this), made sure no forms were sending confirmation emails.

Closing issue.

[2016-01-05 20:25] #648 closed

[2016-01-05 20:25] annmarieven commented on #647
Updated how did you hear about us (but it will eventually be going away due to tracking stuff), keeping which number is this for now (carmen is going to talk to admissions about removing this), made sure no forms were sending confirmation emails.

Closing issue.

[2016-01-05 20:25] #647 closed

[2016-01-05 20:25] annmarieven commented on #646
Updated how did you hear about us (but it will eventually be going away due to tracking stuff), keeping which number is this for now (carmen is going to talk to admissions about removing this), made sure no forms were sending confirmation emails.

Closing issue.

[2016-01-05 20:25] #646 closed

[2016-01-05 20:25] annmarieven commented on #645
Updated how did you hear about us (but it will eventually be going away due to tracking stuff), keeping which number is this for now (carmen is going to talk to admissions about removing this), made sure no forms were sending confirmation emails.

Closing issue.

[2016-01-05 20:25] #645 closed

[2016-01-05 20:26] annmarieven commented on #644
Updated how did you hear about us (but it will eventually be going away due to tracking stuff), keeping which number is this for now (carmen is going to talk to admissions about removing this), made sure no forms were sending confirmation emails.

Closing issue.

[2016-01-05 20:26] #644 closed

[2016-01-05 20:26] annmarieven commented on #643
Updated how did you hear about us (but it will eventually be going away due to tracking stuff), keeping which number is this for now (carmen is going to talk to admissions about removing this), made sure no forms were sending confirmation emails.

Closing issue.

[2016-01-05 20:26] #643 closed

[2016-01-05 20:26] annmarieven commented on #642
Updated how did you hear about us (but it will eventually be going away due to tracking stuff), keeping which number is this for now (carmen is going to talk to admissions about removing this), made sure no forms were sending confirmation emails.

Closing issue.

[2016-01-05 20:26] #642 closed

[2016-01-06 19:56] e-jameson commented on #657
@c-schwarze can you work with @josiahtillman to get going on this again?

[2016-01-06 19:58] e-jameson commented on #579
@johjacb is this related to the fix Caleb put in? If it is, do you know what is causing the whitespace?

[2016-01-06 20:01] e-jameson commented on #667
@annmarieven I don't see a way to make the homepage show more text. Considering this homepage is probably more useful than the old one, I'm going to close this. But go ahead and re-open if you'd like.

[2016-01-06 20:01] #667 closed

[2016-01-07 17:28] emily-johnson opened #674 "Past asset versions"
@c-schwarze or @e-jameson we got this case from Brooke:

Entered on 01/05/2016 by Brooke Jameson:
"I need to look at a version of this commencement page that is from before April 29 but none of them are working. I just get [this error](http://screencast.com/t/TVe3rjtLi). Can someone help please? Thanks!!"

I'm getting the same error and after playing with it a little, can't figure out what the iss

[2016-01-07 17:29] emily-johnson commented on #674
Oops, here's the asset: https://cms.bethel.edu/entity/open.act?type=page&id=85ffceec8c58651317cf8e74d1a9b5a0

[2016-01-07 17:43] e-jameson commented on #674
This is fixed. Adding this resource in case this happens again (also might explain why Cascade is crashing...): http://help.hannonhill.com/discussions/bug-reports/1894-invalid-xml-prefix-cascadehref-asset-id-attribute-on-a-tag

@emily-johnson can you close the case and let Brooke know its working.

[2016-01-07 17:49] emily-johnson commented on #674
I'm on it, thanks!

[2016-01-07 17:49] #674 closed

[2016-01-07 21:52] annmarieven opened #675 "Registration for Event Pages"
From FP job #16516
Is there any way that we could begin displaying the names of those who have registered for events on our Tinker/Event pages?

[2016-01-08 18:03] emily-johnson opened #676 "Faculty list"
@c-schwarze

I tagged Patti Paulson for both the Ed.D and MA in Teaching programs, but she only got added to the Ed.D. faculty list. Is there any reason she wouldn't be getting pulled to the [MAT list](https://www.bethel.edu/graduate/academics/teaching/faculty)?

I did the usual republishing, clearing my cache, etc.

[2016-01-08 18:59] c-schwarze commented on #676
The Metadata isn't matched up. Patti has E.d.D. and STEM in K-12 Education Certificate for Graduate School Programs. The Faculty page you posted has

So I don't believe she shouldn't be showing up in the list.

[2016-01-08 20:19] e-jameson opened #677 "ITS Twitter channel"
created an ITS Twitter channel for Blink. Launching on 1/19/16.

[2016-01-11 15:47] annmarieven opened #678 "News archives not pulling 2016 articles"
2016 articles aren't showing up in archive feeds.

https://www.bethel.edu/news/news-archive
articles that should appear:
https://cms.bethel.edu/entity/open.act?id=192078448c58651375cf00e7a471168e&type=page&
https://cms.bethel.edu/entity/open.act?id=0e2c7e718c586513358c1a26e6489775&type=page&

https://www.bethel.edu/president/announcements/
articles that should appear:
https://cms.bethel.edu/entity

[2016-01-11 16:11] emily-johnson commented on #676
@c-schwarze We're both looking at her academics/faculty/ page, right? I see her as having Ed.D. and Teaching (M.A.)

I'll try republishing again

[2016-01-12 14:17] c-schwarze commented on #676
I still don't see the Teaching (M.A.). Are you looking at the 4 Job Titles she has? The Metadata at the top of the page isn't what is being used to put her on the page.

![screen shot 2016-01-12 at 8 15 53 am](https://cloud.githubusercontent.com/assets/7849657/12265789/e145609c-b904-11e5-9a09-8915e5c13521.png)

[2016-01-13 16:49] annmarieven opened #679 "Update to Academic Program Homepage Template"
Can we somehow add an option (maybe even admin only) plain text field below 'program details' on the academic program homepage template?

Should I add it to the data definition and then you can get it to show up correctly?

[2016-01-13 17:20] c-schwarze commented on #679
Sure. Add it to the DD and i'll update the format

[2016-01-13 17:35] annmarieven commented on #679
Let's make it only available to admin for now.

[2016-01-13 17:57] emily-johnson commented on #676
@c-schwarze Ohh.. I thought that's what did pull her. So if we add her other job title for MAT, it should pull her?

[2016-01-13 19:06] c-schwarze commented on #676
Yep!

[2016-01-13 21:26] kathrynmagnuson opened #680 "Institutional Data & Research pdfs"
I tried republishing them twice, but these three pdfs aren't working (the one for the CAPS page is).

https://www.bethel.edu/institutional-data-research/outcomes/debt/cas-graduate-debt14.pdf
https://www.bethel.edu/institutional-data-research/outcomes/debt/gs-graduate-debt14.pdf
https://www.bethel.edu/institutional-data-research/outcomes/debt/sem-graduate-debt14.pdf

Could you take a look at this?

[2016-01-14 14:40] c-schwarze commented on #680
It looks like the path is different since one of the folders has changed.

https://www.bethel.edu/institutional-data-research/outcomes/debt/cas-graduate-debt14.pdf
is now
https://www.bethel.edu/institutional-data-research/outcomes/student-debt/cas-graduate-debt14.pdf

[2016-01-14 15:47] annmarieven opened #681 "GS Academics ENVoY Certificate Site Launch & Issues"
Getting ready to launch the ENVoY site.

Built in testing folder right now: https://cms.bethel.edu/entity/open.act?id=b5a7637c8c58651370c56c6d2ea59f01&sort=fo&type=folder&sortd=ASCENDING

Migration grid:
https://docs.google.com/spreadsheets/d/11K-MAuCwqoMSQuA5tQAMvcVxkqdjoRO8hFBeWrgq3qk/edit#gid=1540206335

Redirects:
None. This is a brand new site.

- [x] Update Marketing google sheet https://doc

[2016-01-14 15:48] annmarieven commented on #681
@c-schwarze I can't get the program details folder to appear in the left hand nav. Could you take a look?

https://staging.bethel.edu/_testing/build-out/graduate-academics/envoy/index.php

[2016-01-14 16:12] annmarieven opened #682 "GS Academics STEM Certificate Site Launch & Issues"
Getting ready to launch the STEM site.

Built in testing folder right now: https://cms.bethel.edu/entity/open.act?id=b5ac9cb88c58651370c56c6d60eff03b&type=folder&

Migration grid:
https://docs.google.com/spreadsheets/d/11K-MAuCwqoMSQuA5tQAMvcVxkqdjoRO8hFBeWrgq3qk/edit#gid=817258412

Redirects:
None. This is a brand new site.

- [x] Update Marketing google sheet https://docs.google.com/spreadsheets

[2016-01-14 16:12] annmarieven commented on #682
@c-schwarze I can't get the program details folder to appear in the left hand nav. Could you take a look?

https://staging.bethel.edu/_testing/build-out/graduate-academics/stem/

[2016-01-14 16:40] c-schwarze commented on #682
Fixed.

[2016-01-14 17:05] emily-johnson opened #683 "cas.bethel.edu Redirect"
@e-jameson Hi! Can you redirect
https://cas.bethel.edu/irb/Informedconsent
to
https://www.bethel.edu/academics/irb/informed-consent

Thanks!

[2016-01-14 20:53] kathrynmagnuson commented on #680
Thanks!

[2016-01-14 20:53] #680 closed

[2016-01-15 16:03] #676 closed

[2016-01-19 15:35] e-jameson opened #684 "Move Blink Layout Owners page"
We need to move this page to either Cascade or as a page in WSAPI. These links need to be only shown to certain groups (ideally) or roles. If we can do only roles the WSAPI is probably a better option. There is a Python script that handles the click. @c-schwarze can you work with a student on this sometime this semester?

Page: https://www.bethel.edu/its-old/blink/layout-owners/index/edit/

Script

[2016-01-19 15:36] e-jameson commented on #677
channel has been launched.

[2016-01-19 15:36] #677 closed

[2016-01-19 16:10] e-jameson commented on #683
Hey @emily-johnson!

I didn't see this last week. its done now.

[2016-01-19 16:10] #683 closed

[2016-01-19 16:15] e-jameson commented on #678
Looks like this is good? Not sure if any changes were made?

[2016-01-19 16:16] c-schwarze commented on #678
Forgot to comment back here. I fixed it.

[2016-01-19 21:01] annmarieven commented on #681
This site has been launched and is looking good!

[2016-01-19 21:23] annmarieven commented on #681
@emily-johnson can you put a note in analytics about the launch of this site?

[2016-01-19 21:57] annmarieven commented on #682
Site launched. Looking good.

[2016-01-20 15:11] annmarieven opened #685 "CAS Study Abroad & Off Campus Programs Site Migration"
We're working to get rid of the old study abroad site and revamp the current Cascade page.

content grid (done by office, marked in order of importance, notes from me about each page):
https://docs.google.com/a/bethel.edu/spreadsheets/d/1CWY8tuCIKedjGiCydjmHUytT9X56FK-j6qSyxnhQepk/edit?usp=sharing

old site:
http://cas.bethel.edu/off-campus-programs/

current cascade page:
https://www.bethel.edu/u

[2016-01-20 15:52] c-schwarze commented on #679
@annmarieven have you updated the DD?

[2016-01-20 17:29] emily-johnson commented on #681
Analytics are tagged

[2016-01-20 17:32] emily-johnson commented on #682
Analytics are tagged

[2016-01-20 17:32] annmarieven commented on #679
This has been added to the data definition.

[2016-01-20 19:34] #678 closed

[2016-01-20 19:37] e-jameson commented on #575
@donowenskid ^ is this done?

[2016-01-20 20:37] c-schwarze commented on #679
I updated the format.

If there is a program block, the text is below the "Program Details" header. If there is no program block, the text is below the Major/minors table (pretty much just CAS). Let me know if this should change.

[2016-01-20 21:08] donowenskid commented on #575
@e-jameson  Let me sift back through this this week. I'll close it when it's done. Thanks for catching it.

[2016-01-21 21:49] kathrynmagnuson commented on #673
Done! :)

[2016-01-21 21:49] #673 closed

[2016-01-21 21:58] e-jameson opened #686 "fix schema errors"
Marcel has given us a document with a list of schema errors that need to be fixed. @c-schwarze if you want to give this to a student let me know and I can share the document.

[2016-01-25 15:16] c-schwarze opened #687 "Workflow changes for Faculty Bio"
@annmarieven We need to change the workflows for all Faculty Bios. Each workflow should submit the faculty listing pages of all 4 schools.

A faculty in CAS and SEM will only go through 1 workflow (and only 1 of the school listings will be published). The issue is that both school listings need to be published in this case.

Let me know if you have any questions!

[2016-01-25 15:45] e-jameson opened #688 "upgrade Cascade"
Cascade is a few minor versions behind. I think we needed a newer JDK version to upgrade, lets test on cms.xp and figure out an upgrade plan, then do the upgrade on prod cms.

[2016-01-25 20:11] e-jameson opened #689 "move live image bank more towards PHP"
it looks like we could move a lot of the image bank PHP that is in Cascade to be on the server, so in the future we can be more agile with changes.

https://cms.bethel.edu/entity/open.act?id=18b724528c5865130f1c0f8fe0372e20&type=format

[2016-01-25 20:31] #689 closed

[2016-01-26 16:30] c-schwarze opened #690 "Creating a workflow for E-Announcements"
@annmarieven, we need a workflow for Christine Ernston to approve e-announcement submissions. The workflow should also publish this Publish Set: https://cms.bethel.edu/entity/open.act?id=7f91a9be8c586513496652d5fa5767be&type=publishset

Users will be able to submit e-announcements through Tinker (similar to faculty bios/events). These submitted e-announcements will need to go to Christine's workfl

[2016-01-27 17:30] annmarieven opened #691 "Seminary Academics Online Program Page"
We need to finish creating and launch the seminary online page.

Page in Cascade:
https://cms.bethel.edu/entity/open.act?id=d358891c8c58651344b52cc3d1851b36&type=page&

- [x] launch page
- [ ] add to this page: https://www.bethel.edu/academics/online

[2016-01-27 17:53] annmarieven commented on #682
@emily-johnson  Can we add the "STEM in K-12 Education Certificate" to the following forms?
marketing education
marketing caps/gs

[2016-01-27 18:04] annmarieven commented on #507
@hamtim can you look at this google doc, specifically the items highlighted in yellow? we gave our best guess on whether certain things were programs or majors but for a lot of caps, we weren't 100% sure. can you confirm?

https://docs.google.com/document/d/1RkW4JoTy785apLvGxM8EUZnbxPP5Rpt9bCHz2gUs6Nc/edit

[2016-01-27 18:06] annmarieven commented on #634
opened a different github for the online page. closing this issue.

[2016-01-27 18:06] #634 closed

[2016-01-28 16:15] emily-johnson commented on #682
Done!

[2016-01-28 17:36] annmarieven opened #692 "Academic Program Gainful Employment"
@c-schwarze I had to add a few more fields to the data definition of the academic program template. (they're at the bottom below the outcomes section) Could you work your magic to get them to show up?

Unfortunately this is urgent :( Vedder's needs the sites updated by tomorrow so do you think that's a possibility?

[2016-01-28 18:49] c-schwarze commented on #692
Updated.

Let me know if any changes need to be made!

[2016-01-28 19:33] emily-johnson commented on #692
@c-schwarze Can we change it so that it will still show up without a heading? Thanks!

[2016-01-28 20:10] c-schwarze commented on #692
Yep!

Updated.

[2016-01-28 20:16] emily-johnson commented on #692
![screen shot 2016-01-28 at 2 15 18 pm](https://cloud.githubusercontent.com/assets/13204220/12657566/9e664b20-c5c9-11e5-874a-855333275607.png)

Any idea why this is here after I removed the heading? I tried republishing

[2016-01-28 20:17] emily-johnson commented on #692
Oh, and then it doesn't show up at all on the live site

[2016-01-28 20:27] c-schwarze commented on #692
Whoops. Fixed.

Also, the publish queue had some other things in it, so it published after a few more minutes. I just published that page to prod as well.

[2016-01-28 20:33] emily-johnson commented on #692
Awesome, thanks!

[2016-01-28 20:33] #692 closed

[2016-01-29 15:32] annmarieven commented on #672
this site has been launched!

@emily-johnson can you go through this site and clean up the html? Will you show @kathrynmagnuson how to do it too?

[2016-02-01 21:09] e-jameson commented on #688
@c-schwarze is going to do this Wed. evening.

[2016-02-02 16:04] annmarieven commented on #630
@emily-johnson can you look into this?

[2016-02-02 16:12] annmarieven commented on #679
looking good and working great.

[2016-02-02 16:12] #679 closed

[2016-02-02 16:20] annmarieven commented on #687
each faculty bio workflow has been updated to publish all 4 school's publish sets.

[2016-02-02 16:20] #687 closed

[2016-02-02 16:58] emily-johnson commented on #630
It looks like the index just never got published, so the link was still pointing to the .dot file

[2016-02-02 16:58] #630 closed

[2016-02-02 17:03] annmarieven commented on #690
I created this workflow based off the 'send event for approval' workflow.

https://cms.bethel.edu/entity/open.act?id=a2e7a9748c5865134eb5f740f4c83873&type=workflowdefinition

Let me know if you need anything else from me!

[2016-02-02 17:48] emily-johnson commented on #672
Done!

[2016-02-02 17:48] #672 closed

[2016-02-02 18:02] annmarieven commented on #691
@kathrynmagnuson can you find me a picture of a student on a computer? if possible, can they look relatively pleasant or happy :)

here are 2 examples:
https://www.bethel.edu/adult-undergrad/academics/online
https://www.bethel.edu/graduate/academics/online

[2016-02-02 18:54] ale73233 commented on #630
Hello!

Is there a way I can be removed from getting these emails?

Thanks!!:)

On Tue, Feb 2, 2016 at 11:58 AM, Emily Johnson <notifications@github.com>
wrote:

[2016-02-04 14:20] annmarieven commented on #630
@ale73233 I think that's something only you can do. I can't change that on our end. Sorry!

[2016-02-04 14:22] e-jameson commented on #630
@annmarieven you can remove her account from the BU organization. Might stop some of them from sending. I just made you an owner so you probably couldn't do this before. https://github.com/orgs/betheluniversity/people

[2016-02-04 15:12] kathrynmagnuson commented on #691
![13968822112_3780acd9fb_o](https://cloud.githubusercontent.com/assets/14840641/12819070/26b26158-cb1f-11e5-9b9c-ba1e0104a049.jpg)
![13937033737_5710e23c28_o](https://cloud.githubusercontent.com/assets/14840641/12819068/26af8c8a-cb1f-11e5-8e69-4a9e5259f606.jpg)
![17800950996_ac434aa1e0_o](https://cloud.githubusercontent.com/assets/14840641/12819069/26afd46a-cb1f-11e5-8ef1-da315a0dcbae.jpg)
![13896

[2016-02-04 15:12] kathrynmagnuson commented on #691
Let me know if any of these work :)

[2016-02-04 17:22] annmarieven commented on #691
hmmm.... are there any older looking students? those all look like undergrad folks and this is for Sem.

[2016-02-04 17:29] kathrynmagnuson commented on #691
![7487497212_72f92c582a_o](https://cloud.githubusercontent.com/assets/14840641/12823589/7533e938-cb32-11e5-9199-b27ce0b40f0e.jpg)
![13996666215_c0263c59b1_o](https://cloud.githubusercontent.com/assets/14840641/12823590/7738546c-cb32-11e5-8d66-501a06a5f352.jpg)
![13997100134_3a48962d54_o](https://cloud.githubusercontent.com/assets/14840641/12823596/816c94ca-cb32-11e5-8d97-29c81ef3d731.jpg)

[2016-02-04 17:30] kathrynmagnuson commented on #691
Most of the pictures are either of undergrad students... and most of the seminary pictures are a bit outdated

[2016-02-04 22:13] e-jameson opened #693 "Add a link to add an event to your calendar on Event Pages"
We need to
- Add a link to add the event to your calendar (your personal calendar on your iPhone, for example)
  - only after RSVP if there is an RSVP form.

[2016-02-05 15:01] annmarieven commented on #681
no longer need to do floodlight tags. haworth is doing them.

[2016-02-05 16:16] kathrynmagnuson opened #694 "Academic Transfers Redirect"
Could you put in this redirect?

http://cas.bethel.edu/academic-planning/registration/new-student/

TO:

https://www.bethel.edu/undergrad/admissions/enroll/pre-registration

Thanks!

[2016-02-05 21:32] e-jameson commented on #694
@kathrynmagnuson  this is done

[2016-02-05 21:32] #694 closed

[2016-02-05 21:33] e-jameson commented on #688
This is done.

[2016-02-05 21:33] #688 closed

[2016-02-09 17:52] emily-johnson opened #695 "Empty block bug"
So we are working on setting up the [transportation index](https://cms.bethel.edu/entity/open.act?id=dcc5fc678c5865130265fd809af22214&type=page) to be able to quickly and easily add a block saying that shuttle services are suspended. We settled on a flex page with block at the top and the main content in the section below.

The issue is that when the first section is empty (when the shuttles are r

[2016-02-09 19:36] c-schwarze commented on #695
Fixed.

It used to only check the first section of the flex page for content/blocks/etc. I believe the example you used had an empty section followed by the next section with data.

I updated the code so that it looks through all sections (not just the first one).

[2016-02-09 19:40] emily-johnson commented on #695
Awesome, thanks!!

@johjacb Could you take a look at the spacing now?

[2016-02-09 19:41] c-schwarze commented on #695
I got it.

[2016-02-09 19:51] c-schwarze commented on #695
should be fixed. You may have to republish.

[2016-02-09 20:09] e-jameson opened #696 "created redirect for http://cas.bethel.edu/academic-planning/credits"

[2016-02-09 20:09] #696 closed

[2016-02-11 14:01] annmarieven opened #697 "Timezone on Event Pages"
We're going to put timezones on event pages. Maybe we can do this automatically with Python or something. Touch base with Jmo to hear his thoughts on that.

[2016-02-11 21:35] kathrynmagnuson opened #698 "Broken Links: Marketing Page (PowerPoint Downloads)"
Caleb,

The Powerpoint links under the Template section of this page are giving a 404. https://cms.bethel.edu/entity/open.act?id=394c5cf68c58651337aebe3f96eb4449&type=page&
I checked in Cascade and they appear to be linked correctly, & I republished the page but they still aren't working. I also downloaded the Powerpoints in Cascade and was able to view them.

Could you look in to this? Thanks!

F

[2016-02-11 21:50] c-schwarze commented on #698
It looks like the Powerpoints were not published. I published them all to prod/staging. Looks good to me!

[2016-02-12 16:13] kathrynmagnuson commented on #698
Thanks!

[2016-02-12 16:13] #698 closed

[2016-02-15 16:50] #695 closed

[2016-02-15 17:14] annmarieven opened #699 "Post site launches clean up/url updating"
We need to go through and update links that are linking to the old site. Yes, they will be redirecting but we'd like to set the links up correctly as internal links now that the pages live in Cascade.

Start with this grid and check on anything in the "url updates/notes" column:
https://docs.google.com/spreadsheets/d/1638zkuIoM27Z0C2AN2YcBaEidc5GFHnDkkJoSUp_t7E/edit#gid=616838558

Can you also che

[2016-02-16 17:19] emily-johnson opened #700 "Silva Redirects"
@e-jameson Can you put in these redirects? Thanks!

http://cas.bethel.edu/dept/biblical-theological/index-2 to /undergrad/academics/biblical-theological/

http://cas.bethel.edu/dept/theatre/index-2 to /undergrad/academics/theatre/

http://cas.bethel.edu/dept/comm/index-2 to /undergrad/academics/communication/

http://cas.bethel.edu/dept/mw-languages/index-2 to /undergrad/academics/world-languages/

[2016-02-16 17:26] kathrynmagnuson commented on #691
We found the picture Allie uploaded in December and linked it to the page. :)

[2016-02-18 15:10] #579 closed

[2016-02-18 15:11] e-jameson commented on #700
@emily-johnson these are done.

[2016-02-18 15:11] #700 closed

[2016-02-18 15:14] e-jameson commented on #507
@hamtim have you had a chance to look at this?

[2016-02-18 15:15] c-schwarze commented on #693
@mjf78594 could you look into this?

[2016-02-18 20:44] kathrynmagnuson opened #701 "San Diego video on Seminary Academics Page"
Andrea,

Could you write a description for this video in vimeo? https://vimeo.com/155878923/settings

Thanks!

[2016-02-19 15:00] a-parrott commented on #701
Yup. This is done.

[2016-02-19 15:00] #701 closed

[2016-02-19 16:13] annmarieven commented on #691
This page has been launched.

https://www.bethel.edu/seminary/academics/delivery-options/online

@johjacb could you add it to bethel.edu/academics/online

[2016-02-19 16:16] annmarieven commented on #691
@kathrynmagnuson can you link the word 'online' on this page: https://www.bethel.edu/seminary/academics/delivery-options/ to the page we just launched. let's also move the online section above the face to face section.

thanks! then reassign to @johjacb for updating.

[2016-02-19 17:12] johjacb commented on #691
I've add it. Published the staging

[2016-02-19 17:24] annmarieven commented on #699
@emily-johnson is this done?

Next item on the list - delete news articles in cascade 2011 and older

Move all articles from this folder: https://editor.its.bethel.edu/silva/www/news/articles/edit/tab_edit to this folder: https://editor.its.bethel.edu/silva/archive/www/news/articles/edit/tab_edit

[2016-02-19 17:47] emily-johnson commented on #699
I updated all of the url updates/notes from the google sheet and had Jmo do the redirects, and just now I deleted the 2008-2011 articles from Cascade.

@e-jameson I was trying to cut/paste in new silva and when I cut a page, the paste options appear on the page, but when I navigate away to the folder I want to paste it to, the paste option disappears. I was specifically trying to move the [fulbrig

[2016-02-22 16:00] annmarieven opened #702 "Program Feed Update"
Right now we aren't using the program feed for these online lists but we should be:
https://www.bethel.edu/graduate/academics/online
https://www.bethel.edu/adult-undergrad/academics/online

Program feed data definition:
https://cms.bethel.edu/entity/open.act?id=98476db08c586513091377e50bd6ef0a&type=structureddatadefinition&

What do we need to do in order to be able to list online programs with co

[2016-02-22 16:02] annmarieven commented on #691
Thanks @johjacb.

@kathrynmagnuson once this is done on your end you can just close the issue.

[2016-02-22 17:26] emily-johnson opened #703 "Financial Aid Cleanup"
I'm working on changing the fin aid option collection pages to blocks (and deleting the old pages, republishing the pages with relationships, etc.)

[2016-02-22 17:47] c-schwarze commented on #702
You should be able to create a program feed with 'online' selected. Then include that block instead of the online block. I created one using the page the graduate/academics/online page: https://cms.bethel.edu/entity/edit.act?type=page&id=966b6e9f8c5865130265fd80d7f05b6f

Let me know if you have any questions.

[2016-02-22 17:54] annmarieven commented on #703
We're also going to clean up the Financial Aid Options.
Content type relationships:
https://cms.bethel.edu/entity/relationships.act?id=b01e8cff8c5865130c130b3abdf08b22&type=contenttype

I've already created the new base asset for this. To get started on this one, create the block version of one of the page financial aid options. Then leave it (one block, one page of the same thing) and assign to @

[2016-02-22 18:02] c-schwarze commented on #702
I realize I overlooked the part with "concentrations listed and linked". I can make that work.

I will add another option to the program feed: "Display by:" with options "Degree Type" and "Program"

This will take a bit of work, so it might not be finished for a week or so.

[2016-02-22 18:03] emily-johnson commented on #703
@c-schwarze Here is the first example: [Academic and Achievement option page](https://cms.bethel.edu/entity/open.act?id=d402585f8c586513162f1fd4ad4145b5&type=page&) and [Academic and Achievement option block](https://cms.bethel.edu/entity/open.act?id=0a23d1df8c5865133ad1c90530a9b1ad&type=block&)

[2016-02-22 20:21] annmarieven opened #704 "Counselor Territories"
Opening a github for the counselor territory asset updates.

remove title field
make auto page title h2
include admission counselor territories in automatic list
adjust spacing between photo and text

[2016-02-22 22:17] c-schwarze commented on #703
Done. Just create a flex page and attach the new block that is created.

And surprisingly we actually wrote the code to do this over a year ago. :smile:

[2016-02-23 16:08] kathrynmagnuson commented on #691
This is done!

[2016-02-23 16:08] #691 closed

[2016-02-23 16:19] annmarieven commented on #703
hah. yay! @emily-johnson we don't actually have to embed the blocks anywhere because they'll be pulled to the pages using the financial aid collection.

[2016-02-23 16:51] emily-johnson commented on #703
@kathrynmagnuson is working on the options today, and I'm going to try and finish up the collections

[2016-02-23 17:03] kathrynmagnuson commented on #703
Here is a [financial aid option](https://cms.bethel.edu/entity/open.act?id=0f0d3f048c5865133ad1c905c1b3c33d&type=block_STRUCTUREDDATA) we just created a block for but don't think it's pulling to the[ staging site]( https://staging.bethel.edu/undergrad/financial-aid/types/military-benefits). can you take a look? @c-schwarze

[2016-02-23 17:25] emily-johnson commented on #703
Collections are done!

[2016-02-24 18:07] emily-johnson opened #705 "Nurse Educator events not pulling"
Hi Caleb! Could you take a look at why the Nurse educator events on [March 9th](https://cms.bethel.edu/entity/open.act?id=64c0bef78c58651331ed8325fe2d5699&type=page&) and [April 14th](https://cms.bethel.edu/entity/open.act?id=64c335fb8c58651331ed83253e8b7b8d&type=page&) aren't pulling to the [Nurse Educator index page](https://cms.bethel.edu/entity/open.act?id=bb0440298c58651370c56c6d4a0d5e57&type

[2016-02-24 18:19] c-schwarze commented on #705
It looks good to me on the [staging page](https://staging.bethel.edu/graduate/academics/certificates/nurse-educator/).

Some of our feeds use php, which only shows up on staging.bethel.edu and www.bethel.edu (not the internal Cascade view).

I will create a new issue to display a "Events only appear on staging or prod" on the feed.

Let me know if you have any questions.

[2016-02-24 18:21] c-schwarze opened #706 "Feeds and other things that use PHP"
We need to make our PHP feeds display a message for the internal Cascade view.

Something like "To view this feed, go to the staging or www page."

[2016-02-24 20:14] emily-johnson commented on #705
Hmm.. we were looking on the live site. Maybe it was just taking Cascade extra long to publish. Thanks!

[2016-02-24 20:49] c-schwarze commented on #705
It definitely could be. Cascade is pretty slow in publishing these days :disappointed:

[2016-02-25 16:22] emily-johnson commented on #705
Any reason you can think of for why the program that they select in tinker wouldn't be pulled into the event in cascade? That was the original issue, that no program was selected in the metadata.

I'll double check and make sure that she is filling it all out in tinker, but I'm pretty sure she is

[2016-02-25 17:18] kathrynmagnuson commented on #703
@c-schwarze will you have time to look at this today? Thanks!

[2016-02-25 17:24] emily-johnson commented on #705
Yeah, she said she is selecting it every time, and it often (or maybe even always) doesn't move over into cascade

[2016-02-25 17:35] emily-johnson commented on #703
Here's one of the [collections](https://cms.bethel.edu/entity/edit.act?type=block&id=0f2236338c5865133ad1c9054b5bef5e) that it should be pulling to (this particular option is tagged for all of the schools, the link I gave is the CAS collection)

[2016-02-25 18:34] c-schwarze commented on #705
Should be fixed for all submissions now

[2016-02-25 18:34] #705 closed

[2016-02-25 18:37] c-schwarze commented on #658
it should be working

[2016-02-25 18:37] #658 closed

[2016-02-25 20:19] c-schwarze commented on #702
This should be updated. There are limited options when you choose by Program Concentration compared to Degree type.

[2016-02-25 21:47] kathrynmagnuson opened #707 "Wufoo Issues in Firefox"
Brooke is having issues with Wufoo forms in Firefox (44.0.2) where the fields aren't expanding correctly & I was able to replicate the issue as well. Could you take a look at this? Thanks!

FP 16953 (she included a video screenshot which demonstrates the issue).

[2016-02-25 22:40] c-schwarze commented on #684
Unfortunately we cannot link a pull request between repositories....Or move them with ease.

Here is the pull request in Tinker: https://github.com/betheluniversity/Tinker/pull/92

[2016-02-25 22:43] c-schwarze commented on #690
Thanks! Closing.

[2016-02-25 22:43] #690 closed

[2016-02-25 22:45] c-schwarze commented on #575
I'm just cleaning out the github queue. @donowenskid is this done?

[2016-02-25 22:49] c-schwarze commented on #444
@annmarieven this issue is almost a year old...is this done?

[2016-02-26 15:02] c-schwarze opened #708 "Published Event edits should send confirmation emails"
Currently we are sending confirmation emails for new events. Brooke has requested that we add confirmation emails to event edits as well.

[2016-02-26 15:02] c-schwarze commented on #708
Updated. Closing

[2016-02-26 15:02] #708 closed

[2016-02-26 15:08] c-schwarze opened #709 "GitHub Reporting"
We would like to find a GitHub API that can help us generate useful reporting. Hopefully we can find a Python API. Some examples include:

* List all users and the number of issues/comments/etc. associated with them for a given date range.
* Various averages on issues. i.e. average time an issue was open
* And anything other report that we can generate that provides cool or useful reporting.

[2016-02-26 15:38] c-schwarze commented on #703
I updated the Collections. Let me know if it still isn't working correctly.

[2016-02-26 18:05] emily-johnson commented on #703
@c-schwarze Everything looks good, thanks!

We made a lot of progress today, including finishing the military benefits! Kathryn will keep working her way down the list this afternoon as well

[2016-02-26 22:21] c-schwarze commented on #697
Whoever ends up working on this, here is some documentation to look at:

https://velocity.apache.org/tools/devel/javadoc/org/apache/velocity/tools/generic/DateTool.html

[2016-02-29 15:34] c-schwarze commented on #706
Event feed, News feed, and Faculty feed now display an internal message because they use PHP.

There might be a few other ones that we want to make this change to, but not likely.

Closing.

[2016-02-29 15:34] #706 closed

[2016-02-29 17:53] emily-johnson commented on #703
@annmarieven I went to go delete the [Bethel Military Scholarship page](https://cms.bethel.edu/entity/open.act?type=page&id=d355e48d8c586513162f1fd49171b75a), but it is linked on the [National Guard page](https://cms.bethel.edu/entity/open.act?id=703126ee8c5865132dfb57c84cdb2619&type=page). I first thought of just replacing the page with the new block I made, but there is already a media-text bloc

[2016-02-29 19:13] c-schwarze opened #710 "Program Search"
We need to create a block in Cascade to search all of our programs.

This block should use JS to dynamically search our programs.

[2016-02-29 19:47] c-schwarze opened #711 "Blink Event Feed"
The Blink Event feed is displaying "none" as the location for some events.

[2016-02-29 19:47] c-schwarze commented on #711
Fixed. Closing.

[2016-02-29 19:47] #711 closed

[2016-02-29 20:26] c-schwarze commented on #710
Here are some options to search by:

* Program Name (is metadata separate? Do we want both?)
* Cohort info (probably only Online, F2F, and blended?)
* School

Are there any other pieces of info that would be useful? We can figure this out at our next Cascade meeting

[2016-03-01 17:42] emily-johnson commented on #703
We're done!!

[2016-03-01 17:42] #703 closed

[2016-03-01 17:45] emily-johnson opened #712 "Cache-test Rename :)"
We would like to request that the cache-test be renamed to cache-clear. Thanks much!

[2016-03-01 21:19] kathrynmagnuson opened #713 "Undergrad Theatre Photogallery Heading"
We just created this [photo gallery](https://cms.bethel.edu/entity/open.act?id=3405c2628c586513644af8a83cc5857c&type=block)/ [block](https://cms.bethel.edu/entity/open.act?id=34052d288c586513644af8a8caec503b&type=page) and the title is showing up as H3 size font, could you change it to the regular H2 size? Thanks!

[2016-03-01 21:21] c-schwarze commented on #713
Done.

[2016-03-01 21:21] #713 closed

[2016-03-01 21:24] kathrynmagnuson commented on #713
Thanks!

[2016-03-03 05:43] e-jameson opened #714 "Add tracking to header"
@c-schwarze can you add tracking tags to the header links? Something like ?src=head or something like that.

Lets do this for now but it might be interesting to see if there is anything we can do in Tag Manager to make the tracking less noticeable. Like a class on the <a> that triggers a tag?

[2016-03-03 14:36] e-jameson opened #715 "blogs ldap"
blogs ldap isn't working

[2016-03-03 14:36] #715 closed

[2016-03-03 15:34] annmarieven opened #716 "Left Hand Nav PHP"
#Marcel Media has found that our left hand navigation has some php at the end of the urls causing them to redirect. This only happens on individual pages within the left hand nav but not folders.

Can we find a way to get rid of the php in our left hand navigation so that we don't have so many redirects on our site?

We said we could maybe ask Hannon Hill about it or somehow use a publish trigger

[2016-03-03 15:36] annmarieven opened #717 "Index page redirects"
When setting up a link in Cascade or using a page chooser, the system forces you to select the actual index rather than just the folder. The index page inevitably redirects back to the folder so we run into a bunch of redirects again.

Can we somehow fix this in Cascade or do something automatically that will remove index from our urls and allow us to point to the folder to avoid the redirect on t

[2016-03-03 15:40] c-schwarze opened #718 "Duplicate description and title"
@annmarieven, Marcel should be happy now. There were duplicate descriptions.

[2016-03-03 15:50] e-jameson commented on #718
I'm going to re-open this so we remember we need to publish.

[2016-03-03 20:19] c-schwarze commented on #718
We shouldn't have to republish anything.

Also, as a note, we are forced to have the same style description and title in the metadata, for all of our pages.

[2016-03-03 20:19] #718 closed

[2016-03-03 21:32] c-schwarze commented on #714
Added. It feels goofy to have the ?src=head be carried throughout the url, as the user clicks throughout the site.

Thoughts?

[2016-03-04 14:55] annmarieven opened #719 "Folder Meta Descriptions"
Marcel pulled a bunch of urls from our site that didn't have meta descriptions. Unfortunately many of these were folders. Is there any way we can make the folders look at the index page and use that description? Or do we need to actually put descriptions in for folder assets?

If we do this, we'll need to do a whole site publish.

Thanks Caleb!

[2016-03-04 15:41] donowenskid commented on #575
Closing

[2016-03-04 15:41] #575 closed

[2016-03-04 16:57] kathrynmagnuson commented on #707
Eric, have you had a chance to look at this?

[2016-03-04 17:07] e-jameson commented on #707
@kathrynmagnuson can you send a support ticket to Wufoo asking them if they know of any issues in firefox? http://help.wufoo.com/wufoo_asksupport?l=en_US

[2016-03-04 17:08] c-schwarze commented on #719
Could you send me a few of the URLs that didn't have descriptions?

[2016-03-04 17:42] c-schwarze commented on #716
I updated our site nav so .php does not appear in the link.

In order for the changes to take effect on all of our pages, we will need to do a site-wide publish. Can I do that tonight or Saturday night? @annmarieven

[2016-03-04 17:56] kathrynmagnuson commented on #707
They said they just fixed the issue yesterday, and I tried it again and it seems to be working just fine.

[2016-03-04 17:56] #707 closed

[2016-03-07 16:34] emily-johnson opened #720 "Wufoo form not loading"
The [Student Employment Application](https://staging.bethel.edu/_testing/financial-aid-form-testing/student-employment-app-1617) isn't loading, and we've checked the form hash, authentication requirements, where it's linked up, republished to staging, etc. multiple times. The other form in the folder works fine, so it seems to just be this one form (it looks fine in wufoo too). Can you take a look

[2016-03-07 16:39] e-jameson commented on #720
There is a Javascript error on this page. @johjacb is going to take a look at it.

[2016-03-07 16:47] emily-johnson commented on #720
@e-jameson How did you know (for me in the future)? I didn't see any error messages

PS thanks @johjacb!

[2016-03-07 16:49] e-jameson commented on #720
@emily-johnson that turned out to be a false alarm. The real issue is the form has was copied/pasted with a space at the beginning, so it was generating an invalid ID for the <div> tag. I fixed the hash and published to staging.

[2016-03-07 16:52] emily-johnson commented on #720
Ohh, ok. Darn invisible space. Thanks!

[2016-03-07 16:52] #720 closed

[2016-03-07 17:20] annmarieven opened #721 "School homepage highlight"
If I click on the header to get a to a school (https://www.bethel.edu/graduate/?src=head) the 'Home' link should be highlighted but it's not.

Thanks!

[2016-03-07 18:06] annmarieven opened #722 "Faculty Bio discipline heading"
@parlau noticed an issue with faculty bios:
On https://www.bethel.edu/undergrad/academics/world-languages/faculty, when
you click on "read more" for both Donna LeGrand and De Zhang, their
profiles do not contain those teaching specialty sections on their page.

It works for Sarah Tahtinen-Pacheco and Sandi Weightman, but not Donna and De. I don't know what the extent is of this problem on other pr

[2016-03-07 20:00] annmarieven commented on #716
I think we can only do a site wide publish during the week. That way if anything major goes wrong, we are around to fix it.

I'll bring it up in slack to see if people have any objections.

[2016-03-07 20:14] annmarieven commented on #719
https://docs.google.com/spreadsheets/d/1H5P-3lUTjd12m7Joi4sbLf276EUPGa2SFAn9EheTOjE/edit#gid=1844724333

[2016-03-07 20:16] annmarieven commented on #702
@emily-johnson can you see if we can create 2 online feeds for the pages included in the first description (above)?

We need them to look exactly as they do now so don't publish anything to production unless we know it's for sure working correctly.

Thanks!

[2016-03-08 17:01] emily-johnson commented on #702
@e-jameson Can you take a look at both of these pages ([Graduate Online](https://www.bethel.edu/graduate/academics/online) and [Adult Undergrad Online](https://www.bethel.edu/adult-undergrad/academics/online)), the graduate page is using Caleb's new feed and the CAPS one is still using the old block, both of which are now broken (?)

Let me know if you have questions! Thanks!

[2016-03-08 18:24] e-jameson commented on #702
@emily-johnson sending this back now that its working

[2016-03-08 19:37] emily-johnson commented on #702
@e-jameson Can you take a look and link up the concentrations to the actual concentration pages (in the program details) instead of having all of the concentrations go to the program index? Example: [CAPS Business Management concentrations](https://staging.bethel.edu/adult-undergrad/academics/online)

And then also changing it to pull our title instead of the condensed Banner titles. But that can

[2016-03-08 19:46] emily-johnson commented on #702
This is the [old CAPS block](https://staging.bethel.edu/_testing/emj/test-online-block-old), we want it exactly like this :)

[2016-03-08 20:16] e-jameson commented on #702
@emily-johnson, this is updated. I published the publish set as well.

[2016-03-08 20:44] annmarieven commented on #704
When we first rolled out the cas admissions site, we had started to create a counselor territories block. We need some adjustments on it.

For your reference, this is the document we'll be working from: https://docs.google.com/spreadsheets/d/1IT703M0XMPJOkn5YQC8H-bRLRen5JnX_jk_8ba55pqk/edit#gid=0

And here is a test of the territory block: https://cms.bethel.edu/entity/open.act?id=bc6888f88c586513

[2016-03-08 20:48] annmarieven commented on #682
marketing grid updated.

[2016-03-08 20:48] #682 closed

[2016-03-08 20:49] annmarieven commented on #681
marketing grid updated.

[2016-03-08 20:49] #681 closed

[2016-03-09 17:54] c-schwarze opened #723 "E-Announcement Archive"
- [x] Add deep link
- [x] Update format of individual announcements
- [x] Remove future dates from the date picker
- [x] Move the JS to PHP (once we start using this, it is going to get real sloq with JS)
- [x] Check in with Jake to see what other pieces of styling need to be updated.
- [x] Have The initial loading of the page load today's date into the datepicker

[2016-03-09 17:56] e-jameson commented on #721
we got rid of the `?src=head` from the URL.

[2016-03-09 17:56] #721 closed

[2016-03-09 17:57] e-jameson commented on #714
We are doing this 100% in opimizely, so this isn't needed.

[2016-03-09 17:57] #714 closed

[2016-03-09 22:28] c-schwarze commented on #723
current testing is done here: https://staging.bethel.edu/_testing/caleb-schwarze/e-announcement-archive?date=02-12-2016

[2016-03-10 16:29] emily-johnson commented on #702
@e-jameson Can we update the names so that we're using our titles and not banner's?

[2016-03-10 16:29] emily-johnson commented on #702
oh or @c-schwarze

[2016-03-10 16:38] c-schwarze commented on #702
What title are you wanting changed?

From what to what?

[2016-03-10 16:50] emily-johnson commented on #702
Right now we are using the Banner titles for each program (which are formatted differently and abbreviate concentration). Can we change it to use our cascade titles?

The [old CAPS block](https://staging.bethel.edu/_testing/emj/online-block-old) has them how we want them to look

Thanks!

[2016-03-10 18:57] c-schwarze commented on #702
I updated the Concentration titles to be the title of the concentration in cascade.

I am just removing the "Program Details" text if it is found.

Also, I noticed that the titles of the program are slightly differing.

[2016-03-10 22:30] #723 closed

[2016-03-11 22:12] e-jameson opened #724 "Course listings from Courseleaf XML"
We need to investigate creating course listings from our Catalog's XML. I'm not sure the best way to do this, but here is some info:

[code]

Mike gave me this site as an example of the type of data and details we need:
http://www.crown.edu/online-graduate-programs/business-administration-mba/

[CourseLeaf - Data Access (APIs).pdf](https://github.com/betheluniversity/cascade/files/170046/CourseLea

[2016-03-14 14:32] phg49389 commented on #709
Moving this issue to Tinker, as that's where the code for it is being written.

[2016-03-14 14:32] #709 closed

[2016-03-15 19:02] e-jameson commented on #699
@emily-johnson I moved this. You have to use a specific node like http://zope5.its.bethel.edu:8080/silva/www/news/articles/edit/tab_edit

[2016-03-17 21:13] annmarieven commented on #675
updated FP job to let Erin know we won't have time for this right now.

[2016-03-17 21:13] #675 closed

[2016-03-18 14:40] c-schwarze commented on #702
Is this finished @emily-johnson ?

[2016-03-18 22:11] annmarieven opened #725 "Job titles in faculty listings"
https://www.bethel.edu/seminary/academics/faculty

If you look at Paul Ferris, Denise Muir-Kjesbo, and Dan Gurtner, they all have "Professor Professor"

This is because they have the title "Professor" for multiple programs.

Can we brainstorm a way to address this in our next Cascade meeting?

[2016-03-21 16:26] c-schwarze commented on #722
Fixed. Faculty bios will need a republish.

[2016-03-21 16:32] e-jameson commented on #719
We updated the velocity/php template so this shouldn't be an issue. @annmarieven can you re-open once Marcel re-generates the sheet and it looks like its still an issue?

[2016-03-21 16:32] #719 closed

[2016-03-22 14:11] josiahtillman commented on #657
Here is the test page! https://cms.bethel.edu/entity/open.act?id=61c976da8c586513192b273868714e9e&type=page

[2016-03-22 14:37] c-schwarze commented on #686
https://schema.org/docs/gs.html

[2016-03-22 15:28] emily-johnson commented on #702
Yeah, they look good, thanks!

[2016-03-22 15:28] #702 closed

[2016-03-22 21:43] c-schwarze commented on #717
I updated everything I could find/think of. All links should have '/index' removed.

When we publish things the rest of the week, keep an eye out for errors or ones that are missed. I just published everything to staging, so tomorrow I will test around some more.

[2016-03-23 20:09] johjacb commented on #657
Made a couple tweaks: https://staging.bethel.edu/news/articles/2016/march/tuition-affordability

@hamtim take a look

[2016-03-23 20:42] annmarieven opened #726 "Migrating old e-announcements"
@emily-johnson we need to migrate e-announcements from old Silva to Cascade. The old content can be found in the following folders:

- [x] https://bethelnet.bethel.edu/e-announcements/articles/2016/april/edit/tab_edit
- [x] https://bethelnet.bethel.edu/e-announcements/articles/2016/may/edit/tab_edit
- [x] https://bethelnet.bethel.edu/e-announcements/articles/2016/september/edit/tab_edit

They can

[2016-03-23 20:48] e-jameson commented on #726
@annmarieven I think there are some into 2017 too?

[2016-03-23 20:50] annmarieven commented on #726
Christine said those were probably an accident.

[2016-03-23 20:50] e-jameson commented on #726
ah quite so.

[2016-03-24 01:10] emily-johnson commented on #726
@annmarieven Just a few notes: I didn't move over the second [Admitted Student Overnight](https://bethelnet.bethel.edu/e-announcements/articles/2016/april/edit/tab_edit) event, because it looks like a duplicate, and the [History of Science in Europe](https://bethelnet.bethel.edu/e-announcements/articles/2016/april/history_of_scie/edit/tab_edit) announcement has "(unapproved)" next to the preview i

[2016-03-24 01:25] emily-johnson commented on #726
Do we not have a BSOE Staff role? The [Admin Support Listserv announcement](https://bethelnet.bethel.edu/e-announcements/articles/2016/may/administrative/edit/tab_edit) had it selected in silva

[2016-03-24 13:31] c-schwarze commented on #726
We removed that role. I would guess you can just use the St. Paul Staff. Maybe check with @hamtim on that.

[2016-03-24 14:54] annmarieven commented on #725
from our virtual cascade meeting in slack:

AnnMarie Vennerstrom [9:50 AM]
let’s put a comma between multiple titles and only display unique ones. great idea @c-schwarze

[2016-03-24 16:10] c-schwarze commented on #725
@annmarieven could you glance through this [staging page](https://staging.bethel.edu/seminary/academics/faculty)?

[2016-03-29 13:47] c-schwarze commented on #717
I changed this to be a publish trigger. It appears to be working great. We just need to finish publishing everything today (since it failed twice last night).

[2016-03-30 13:28] annmarieven commented on #726
@e-jameson can we put a redirect in from the old e-announcement submission page to the new?

https://bethelnet.bethel.edu/e-announcements/add-ann/
to:
https://tinker.bethel.edu/e-announcement/

[2016-03-30 13:57] c-schwarze commented on #717
Everything to staging is published. next time we publish to production, it should be fixed.

[2016-03-30 13:57] #717 closed

[2016-03-30 14:35] e-jameson commented on #726
done.

[2016-03-30 19:03] annmarieven commented on #722
Doing whole site publish tonight which will roll this out.

Double check tomorrow.

[2016-03-31 13:44] annmarieven commented on #726
@emily-johnson can you change the 4 pages here to blocks?
https://cms.bethel.edu/entity/relationships.act?id=85dece258c5865130c130b3a3eae7fe6&type=contenttype

Delete and unpublish the original ones.

When the relationships tab is empty (the link above), will you delete the e-announcement content type?

[2016-03-31 15:27] annmarieven opened #727 "Degree Subtitle"
Let's get the degree metadata from the program block to show up when the degree subtitle field in metadata on a page (to be created) is set to show.

- [x] Create a 'Degree subtitle' field in metadata w/ options: Do not hide | Hide (default is hide except for academic program homepages, faculty pages, how to apply pages)
- [x] Get the degree field from program block to appear
- [x] Make it look pr

[2016-03-31 16:29] emily-johnson commented on #726
Done!

[2016-03-31 16:29] #726 closed

[2016-03-31 20:51] c-schwarze commented on #727
I don't see this on the [program detail](https://cms.bethel.edu/entity/edit.act?type=page&id=c278076c8c5865135753448208e7fd9d) flex pages

[2016-03-31 21:00] c-schwarze commented on #727
Also, do we have any programs that have multiple degree types selected?

If so, how should we handle them? Comma separated?

[2016-04-01 17:54] c-schwarze commented on #727
[Here](https://staging.bethel.edu/graduate/academics/counseling-psychology/) is a testing page.

[2016-04-01 19:42] annmarieven commented on #727
The field is now also on the basic metadata. I had only added it to robust at first.

I don't believe any programs have multiple degree types. @hamtim can you confirm this?

[2016-04-01 20:02] annmarieven commented on #727
AP, Vedders, and I are not crazy about how it looks. Too much space or something... @johjacb can you play around with it?

[2016-04-01 20:07] johjacb commented on #727
this is with Caleb to implement the css i added

[2016-04-01 20:16] annmarieven commented on #725
the staging page looks good. one more question in regards to this that just came up today...

If they have the same title within the same school, can we merge departments/programs within the listing on their bio page.

Example:

**Professor**
DMin, Bethel Seminary
MDiv, Bethel Seminary
MATL, Bethel Seminary

as opposed to

**Professor**
DMin, Bethel Seminary

**Professor**
MDiv, Bethel Seminary

*

[2016-04-01 21:05] c-schwarze commented on #727
It shouldn't make much of a difference if there are multiple degrees (it will be comma separated).

Also I added in jake's css.

And it should work with robust metadata and basic metadata with flex pages

[2016-04-05 17:09] annmarieven opened #728 "Seminary Academics Certificate in Church Planting Site Launch and Issues"
We're still in the build out phase but will be launching the church planting site soon. The site can be found in /_testing/build-out/seminary-academics/certificates/church-planting

link to build out folder in cascade: https://cms.bethel.edu/entity/open.act?id=e2d3f1668c5865135952038794983110&type=folder&

No migration grid or redirects (brand new program)

Launch To Dos:
- [x] Update Marketing go

[2016-04-05 17:10] annmarieven commented on #728
@emily-johnson can you go through each asset in this folder and make sure the certificate in church planting metadata is tagged (for the ones that can be)?

https://cms.bethel.edu/entity/open.act?id=e2d3f1668c5865135952038794983110&type=folder&

Will you also find a site image bank that seems relatively applicable and link it up? If you can't find one we'll have to create a new one with other Flic

[2016-04-05 17:37] emily-johnson commented on #728
I tagged everything with the certificate, and linked up the Transformational Leadership image bank

[2016-04-05 19:16] annmarieven commented on #728
@e-jameson can you look at the news feed here? Articles are showing up that shouldn't be and I'm not sure why.

staging page: https://staging.bethel.edu/_testing/build-out/seminary-academics/certificates/church-planting/

news feed block: https://cms.bethel.edu/entity/open.act?id=e418eee38c58651359520387b7c38eda&type=block&

news feed article that's appearing: https://cms.bethel.edu/entity/open.ac

[2016-04-06 14:30] e-jameson commented on #716
@c-schwarze, it looks like this is stripping too aggressively for directories in the left nav. For example, on https://www.bethel.edu/about/ the Faith URL is linking to https://www.bethel.edu/about/faith instead of https://www.bethel.edu/about/faith/

[2016-04-06 16:20] e-jameson commented on #722
@annmarieven looks like this is fixed?

[2016-04-06 16:33] e-jameson commented on #728
@annmarieven the page is linked to the Christian Studies certificates feeds still

[2016-04-06 18:56] annmarieven commented on #444
@emily-johnson we're going to pick this one back up again and try to get it out the door. Here are a few things I'm hoping you can tackle:

- [ ] recreate site image bank - looks like the images are cropped to the wrong size. also see if any of the photos in the gallery can be used in the site image bank. i don't want 2 galleries on here and it'd be great to use some of their original photos.
- [

[2016-04-06 20:47] annmarieven opened #729 "Chronological Order Event Listings on Calendar"
Could the event listings on the calendar, within a certain day, be in chronological order?

[2016-04-07 18:02] emily-johnson commented on #444
Notes/questions:
- CWC had the same title & display name on the old site, so I didn't add a display name
- We do not have images for Kristin Nichols-Besel or Michelle Steffenhagen

- @annmarieven which "massive image on this page"?
- Are we trusting the old site over our build-out one? For example, the room listed for the math lab is different, and other times
- Are we moving all of the pdfs and o

[2016-04-07 20:41] kathrynmagnuson commented on #444
Added information to the new contact us page that was on the old one, but didn't remove additional information on the new one that isn't on the old (let me know if that doesn't make sense :).

[2016-04-08 16:39] emily-johnson commented on #444
- Removed the "massive image"
- Went through all the pages and updated locations, times and other details according to the live site

[2016-04-08 17:06] annmarieven commented on #444
@emily-johnson can we change the title to "Christianity and Western Civilization"? (or whatever the full title is. maybe confirm that) display name should still be CWC.

@kathrynmagnuson let's remove the additional information on the new one that isn't on the old. (your comment above)

[2016-04-08 18:13] emily-johnson commented on #444
- Created the redirect grid
- Changed the CWC title
- I was looking at content while doing the times/locations earlier, and I think everything looks good, but it's probably good to have @kathrynmagnuson go through

[2016-04-11 19:51] c-schwarze commented on #727
it sounds like it is good to go? Ill assign the github back to @a-vennerstrom to update program pages/titles

[2016-04-12 17:50] josiahtillman commented on #686
Done~!

[2016-04-12 17:50] #686 closed

[2016-04-12 20:26] annmarieven commented on #725
@c-schwarze did you see this?

[2016-04-12 20:28] annmarieven commented on #728
waiting on approval from @hamtim.

[2016-04-12 20:29] #722 closed

[2016-04-12 20:43] c-schwarze commented on #725
I did not. I will look at it now. Sorry!

[2016-04-12 21:22] c-schwarze commented on #716
This should be fixed. The issue was actually in our code for the navigation (folders did not have the / at the end).

A site-wide publish is needed to fix this everywhere.

[2016-04-12 21:39] c-schwarze commented on #550
Can this be closed?

[2016-04-12 21:40] c-schwarze commented on #684
@nate-li finished this. closing

[2016-04-12 21:40] #684 closed

[2016-04-13 15:29] e-jameson opened #730 "created some redirects"
I created these

/semfac/facwebs/ https://www.bethel.edu/seminary/academics/faculty
/semfac/bssdfaculty/docs/comm https://www.bethel.edu/seminary/academics/faculty

[2016-04-13 15:29] #730 closed

[2016-04-13 19:05] c-schwarze commented on #729
Updated. Might take a few minutes for the cache to clear.

I put the all day events first. Let me know if you want this to change.

[2016-04-13 20:01] annmarieven opened #731 "Faculty Page Descriptions"
We changed how job titles are entered into faculty bios but I don't think we changed how the metadata description is being automatically populated.

Can someone look into that? It will be more complex since there are multiple job titles, multiple departments, etc.

Can we see what it was doing and talk about it in our Cascade meeting to see what our options are moving forward?

[2016-04-13 21:26] c-schwarze commented on #731
It is currently grabbing the first job title entered and it is not including the school.

Google recommends a max of 155 characters max, which does not leave much room for the professors who have 3+ job titles.

We should definitely bring this up in our next Cascade meeting.

[2016-04-14 14:44] annmarieven commented on #727
@johjacb can you make it not all caps? per the request of @vedmic.

Then reassign to me and we'll go through and update the page titles.

[2016-04-14 14:57] annmarieven commented on #731
Doesn't look like it's working... he has a job title here but the description isn't right. And this would have recently been published from our whole site publish.

https://cms.bethel.edu/entity/edit.act?type=page&id=f66eb4be8c586513100ee2a7240ef051

We're going to keep it as just the first job title entered.

[2016-04-14 15:02] hamtim commented on #657
@vedmic what do you think?

[2016-04-15 14:57] c-schwarze commented on #731
A faculty bio submission with tinker is what creates the metadata description. So I submitted that bio through tinker, and it works now.

Here is the list of 252 bios it does not work for, which will have to either be resubmitted through tinker, manually entered, or I can take a few hours to write something that does it automatically.

Let me know which you choose!

[code]

[2016-04-15 17:14] c-schwarze commented on #704
Okay I made a bunch of updates. Let me know if there are any other changes that should be made!

[2016-04-15 18:45] c-schwarze commented on #725
@annmarieven do you have any updates on this?

[2016-04-18 14:11] johjacb commented on #727
this has been updated

[2016-04-18 15:57] annmarieven commented on #731
How long would it take to write a script to do this automatically?

[2016-04-18 16:00] annmarieven commented on #727
@emily-johnson we need to update our caps and gs program page titles. Here are examples:

Existing:
M.S. in Physician Assistant
M.S. in Physician Assistant Program Details
M.S. in Physician Assistant Faculty
M.S. in Physician Assistant Application Process

New:
Physician Assistant
Physician Assistant Program Details
Physician Assistant Faculty
Physician Assistant Application Process

There are a f

[2016-04-18 16:04] c-schwarze commented on #731
To test it thoroughly, so that I don't mess up the data, I would say 3-4 hours.

[2016-04-18 16:16] annmarieven commented on #727
@emily-johnson, we're good to move forward with this. thanks!

[2016-04-18 16:20] annmarieven commented on #729
Looks good to me.

[2016-04-18 16:20] #729 closed

[2016-04-18 16:25] annmarieven commented on #710
are all programs in cascade and can we find them with exact name
find by cluster
other names for our programs
outcome based search

http://www.gcu.edu/degree-programs/

[2016-04-18 17:05] annmarieven commented on #725
jmo said he thinks we can do both. there would be priority for grouping job titles within a specific program and then secondary would be grouping programs for identical job titles.

let me know if that doesn't make sense :-P

[2016-04-18 17:06] annmarieven commented on #716
when you're in staging and click on a page in the left hand nav that is just a page, it jumps you to www instead of keeping you in staging.

is this because of the recent change?
https://staging.bethel.edu/undergrad/financial-aid/ click on dates & deadlines or contact us

[2016-04-18 17:09] emily-johnson commented on #727
Done (CAPS):
Accounting
Business Management (and concentrations)
Christian Ministries
Finance
Human Services
Nursing
Org Leadership (and concentrations)

[2016-04-18 18:31] annmarieven commented on #507
@emily-johnson can you look at the ones we put comments next to, make those changes (to the index page and block), and then close the issue?

[2016-04-19 14:04] annmarieven opened #732 "Seminary Academics Marriage and Family Therapy Post-Graduate Certificate Site Launch and Issues"
We're getting ready to launch this site: https://staging.bethel.edu/_testing/build-out/seminary-academics/certificates/family-therapy

link to build out folder in cascade: https://cms.bethel.edu/entity/open.act?id=f827d9ff8c586513739ca2fdd8489c5d&type=folder&

Migration grid: https://docs.google.com/spreadsheets/d/1HuG1V-OM7If-YOM8_scVqYEH3PTH_Y1qyBXWhs4cdFQ/edit#gid=0

Redirects: (just one)
https