[2015-01-29 17:31] kelslundberg commented on #360
Looks good in Firefox

[2015-01-29 17:31] annmarieven commented on #360
Looks good in Safari

[2015-01-29 17:39] kelslundberg commented on #360
Good on android

[2015-01-29 17:39] annmarieven commented on #360
Looks good in Safari on iOS 8.1.3.

Not crazy about the header image but that will all be changing before we begin promotion for 2015.

[2015-01-29 17:45] kelslundberg commented on #360
Site published

Emailing web author

Closing the githubs

[2015-01-29 17:45] #360 closed

[2015-01-29 17:54] kelslundberg opened #416 "Academics Routing Page Launch"
We're launching the academics routing page and who studies:

https://staging.bethel.edu/academics/
https://staging.bethel.edu/academics/who-studies

@annmarieven to test in Safari and iOS 8 (safari)
KL in Firefox and Andriod 4 (chrome)

[2015-01-29 18:04] annmarieven commented on #416
Looks good in Safari in staging and soda.

Looks ok in soda in Safari on iOS 8. Need to add a title when we launch responsive and image bank goes away.

[2015-01-29 18:13] annmarieven commented on #384
I will test in Safari and iOS 8 (safari)
@kelslundberg in Firefox and Android 4 (chrome)

[2015-01-29 18:13] kelslundberg commented on #416
Looks good in Firefox and Android 4

[2015-01-29 18:14] kelslundberg commented on #416
Published

[2015-01-29 18:14] #416 closed

[2015-01-29 18:37] annmarieven commented on #384
Looks good in Safari and iOS 8 in staging and soda

[2015-01-29 18:37] kelslundberg commented on #384
All groovy in Firefox and Android 4 Chrome

[2015-01-29 18:41] annmarieven commented on #384
Site published.
@kelslundberg will annotate.
I contacted web author.

[2015-01-29 18:41] #384 closed

[2015-01-29 18:58] annmarieven commented on #386
@kelslundberg proofing on Firefox and Android 4 - Chrome
I am proofing on Safari and iOS 8 - Safari

---
Safari looks good in iOS 8 in staging and soda.

[2015-01-29 19:00] kelslundberg commented on #386
Looks good in FF and in Android 4 Chrome

[2015-01-29 19:05] annmarieven commented on #386
Site published.
@kelslundberg will annotate.
I contacted web author.

[2015-01-29 19:05] #386 closed

[2015-01-29 19:15] annmarieven commented on #385
@kelslundberg looked in Firefox.
I looked in Safari.

Soda doesn't work with authentication so we weren't able to proof the site because most of it is authenticated.

[2015-01-29 19:15] kelslundberg commented on #385
FF looks good

[2015-01-29 19:17] annmarieven commented on #385
Site published.
@kelslundberg will annotate.
I contacted web author.

[2015-01-29 19:17] #385 closed

[2015-01-29 19:18] c-schwarze commented on #414
Updated.

[2015-01-29 19:50] annmarieven commented on #415
I will test in Safari and iOS 8 (safari)
@kelslundberg in Firefox and Android 4 (chrome)

[2015-01-29 20:09] kelslundberg commented on #415
Looks good in Firefox and on Android 4 in Chrome

[2015-01-29 20:11] annmarieven commented on #415
Looks good in Safari and on iOS 8 in Safari

[2015-01-29 20:31] kelslundberg commented on #415
Launcie launchie

[2015-01-29 20:31] #415 closed

[2015-02-02 15:52] e-jameson commented on #414
@vedmic I'm closing this but hopefully you read this in your inbox

[2015-02-02 15:52] #414 closed

[2015-02-02 15:56] e-jameson commented on #397
Can you modify the Data Definition to something that works for you all? And then enter some data and we can adjust the code accordingly.

[2015-02-02 15:56] a-gundy commented on #389
@annmarieven, I made the changes you suggested. I don't think the media + text thing works very well on the index page ("How can we help you?" is way down at the bottom of the page), but see what you think.

[2015-02-02 16:20] e-jameson commented on #396
There is no entry in the API for floor controls on the web, but there is for iOS. Our map still has the old style controls, so I'm guessing this feature will be available when the API version 4 is released. They haven't announced when that would be.

https://developers.google.com/maps/documentation/ios/map#floor_picker

[2015-02-02 22:02] kelslundberg opened #417 "Text over media asset and collection"
Okay! I created a draft of a data definition for this new feature. I called it Banner Collection, but we can call it whatever we want:

https://cms.bethel.edu/entity/open.act?id=4bfd38f68c58651302818aa9aa9aaf22&type=structureddatadefinition

I modeled it similar to media + text. The idea is that you choose your background (image or video), add the text you want displaying over your media, and crea

[2015-02-02 22:05] kelslundberg commented on #417
@e-jameson I'm assigning to you because I'm guessing first step is to get all of the info to pull in and then Jake would do the beauty work. But feel free to assign to whoever!

[2015-02-03 15:22] e-jameson commented on #417
I'll work on this today. Is there any chance calling it "Banner collection" will get confused. We have this type of banner:

http://sweetclipart.com/multisite/sweetclipart/files/imagecache/middle/banner_white.png

And this type of Banner:

https://docs.oracle.com/cd/E17781_01/server.112/e18804/img/version_banner.jpg

[2015-02-03 17:24] e-jameson commented on #417
@johjacb here is a rough start on this.
https://cms.bethel.edu/entity/open.act?id=5011c2288c58651302818aa9a6b12df8&type=page&

Here is the format with all the variables created. So it just needs some love and styling.

https://cms.bethel.edu/entity/open.act?id=5016e2988c58651302818aa9dcd532db&type=format

[2015-02-03 17:32] kelslundberg commented on #417
That's a good point, @e-jameson.

I'm open to any ideas...Text over media collection is probably most descriptive. But it's kind of long...

[2015-02-03 19:13] kelslundberg opened #418 "Matching gifts block in Cascade"
Hey @e-jameson

Would you be able to put the matching gifts code from this page in a block for us?

https://www.bethel.edu/giving/donate/

It can go here in Cascade:
https://cms.bethel.edu/entity/open.act?id=4bfb4d618c58651302818aa99169f310&type=folder&

Thanks so much! Let me know if you have questions!

[2015-02-03 19:25] e-jameson commented on #418
Here is a block with the code

https://cms.bethel.edu/entity/open.act?id=50e76f268c58651302818aa96b43dc04&type=block

[2015-02-03 19:41] kelslundberg opened #419 "Quote submission form updates for Development"
Hey @annmarieven and @ErikGruber

Let's get the Wufoo form for quotes updated to include donor info:

https://betheluniversity.wufoo.com/forms/web-services-quote-submission/

How do we want to do this?

Add donor to the drop down? What if they're also an alum? Should we capture any specific info from donors?

Anything we want to add on the data definition side of things?

https://cms.bethel.edu/en

[2015-02-03 19:54] kelslundberg commented on #418
Perfect!

Thank you!

[2015-02-03 19:54] #418 closed

[2015-02-04 14:12] annmarieven commented on #397
I added an offices field in the main campus > building section.

[2015-02-04 14:24] kelslundberg opened #420 "Image and video captions on basic pages"
I think it might be nice to have optional captions for images or video on our basic pages.

We used to have it, but then I think it went away when we did the basic-plus merger.

There is still a field for it in the data def:

https://cms.bethel.edu/entity/open.act?id=4bfb51a68c58651302818aa98015c5ee&type=page

Do we think we could get this added back? Let me know if anyone has thoughts on the matt

[2015-02-04 15:25] a-gundy opened #421 "Site Feature Url error"
Lauren has been getting the following error message when she tries to publish the index for the music department (https://cms.bethel.edu/entity/open.act?id=afcd616f8c5865132467e6ffcb7669fa&type=page&):
![screenshot2015-02-03at11 09 01am_20150203111409_669493](https://cloud.githubusercontent.com/assets/9537391/6042976/bf854c7e-ac4e-11e4-856a-8cccd48084b7.png)

Is there something wrong with the form

[2015-02-04 15:42] e-jameson commented on #421
This should be fixed.

[2015-02-04 15:54] a-gundy commented on #421
Responded to Lauren.

[2015-02-04 15:54] #421 closed

[2015-02-04 16:26] annmarieven commented on #419
Maybe we should make that a checkbox instead of a dropdown. Thoughts on that?

[2015-02-04 16:39] kelslundberg opened #422 "Giving - Officer Forms"
Hey @a-gundy

I'm working on migrating the Giving site, and I'd love some help.

Could you move this folder of docs/forms from Silva into Cascade:

https://www.bethel.edu/giving/forms/

Cascade location
https://cms.bethel.edu/entity/open.act?id=504a427c8c58651302818aa97f32a676&type=folder&

I think you already moved some of these forms when you were working on the preload stuff.

Let me know if yo

[2015-02-04 16:42] ErikGruber commented on #419
I've been thinking about how much we want to keep reusing this form. Maybe we should meet for a few minutes. The form was created for a specific use, so there are length limitations on it. Does it make sense to keep using it for everything?

[2015-02-04 16:51] kelslundberg commented on #419
Yeah we can do that! Friday at 11:30.

[2015-02-04 18:13] parlau commented on #413
Richard Peterson's profile was updated via Tinker (yesterday, I think) and his photo is gone again. On both the list page and the profile page. The image is not linked anymore.

https://www.bethel.edu/undergrad/academics/physics/faculty
https://www.bethel.edu/academics/faculty/peterson-richard

[2015-02-04 20:57] e-jameson commented on #413
@parlau, @annmarieven : Not sure when the issue was introduced, but I've fixed it. I relinked Richard Peterson's page and submitted an edit with no changes. The image remain linked. I also tested a brand new submission with an image. Going to close but feel free to re-open.

[2015-02-04 20:57] #413 closed

[2015-02-04 21:21] johjacb commented on #420
should be back in on soda

[2015-02-05 15:24] a-gundy commented on #422
@kelslundberg
I moved the forms over to Cascade. Let me know if you want me to migrate anything else on the Giving site.

[2015-02-05 18:25] kelslundberg opened #423 "Responsive Testing"
Hey all,

I'm creating a github for responsive testing so folks can find the link to the grid more easily.

There are 2 main tabs to focus on:

Testing (assignments, what we're testing, what browsers/devices, status):
https://docs.google.com/a/bethel.edu/spreadsheets/d/1opBQpZ1wauUBdlG_oSA8CFzi91B_zzN4cpIO1yrjo2A/edit#gid=310037777

Issues (where you report issues):
https://docs.google.com/a/bethe

[2015-02-05 19:18] kelslundberg commented on #408
Hey everyone @johjacb @annmarieven @e-jameson @vedmic @ErikGruber @c-schwarze @hamtim @a-parrott

I mapped out the navigation based on what we talked about today:

https://docs.google.com/a/bethel.edu/spreadsheets/d/1xOYlNqFtsxsye3I36n51dD9TpZY6Mg9LqCxz4ZfSIfU/edit#gid=0

I also added a second worksheet as a little sample mock up of the school navigation we want to test.

Feel free to add anything

[2015-02-06 20:17] annmarieven commented on #419
@ErikGruber is going to come up with changes to be made to the quote form and we will take care of those for him.

He's also going to create a form for collecting homepage stories and either create it or send the info to me so either I or a student can create it.

[2015-02-06 20:18] annmarieven commented on #411
Emailed Brooke to let her know.

[2015-02-06 20:18] #411 closed

[2015-02-09 16:21] annmarieven opened #424 "Faculty Bio Updates"
- [x] Change title to h1.
- [x] Change headers to h2.

Add the following fields:
- [x] Courses Taught
- [x] Presentations
- [x] Professional Organizations, Committees, and Boards

If I add these to the data definition will the automatically appear on Tinker? Or do you need to do something to make that happen?

[2015-02-10 17:49] #422 closed

[2015-02-10 17:50] kelslundberg commented on #420
Thanks @johjacb. Looks good!

[2015-02-10 17:50] #420 closed

[2015-02-10 18:06] kelslundberg commented on #402
Hey @e-jameson - is this something you were still working on? I added a test image bank to my testing site and linked it up through the Site Images chooser in the setup. I'm not seeing the images right now...

https://soda.bethel.edu//_testing/kelsey-testing/basic

[2015-02-10 18:08] e-jameson commented on #402
It was working last I looked at it. I'll check it out after lunch.

[2015-02-10 18:09] kelslundberg commented on #402
Super! Thanks!

[2015-02-10 18:10] c-schwarze commented on #424
Feel free to add those to the data def, then I can add them to tinker. We will have to manually add them to tinker, but it should be simple.

[2015-02-10 19:35] c-schwarze commented on #424
Also, all faculty bios'  title/header are updated and published.

[2015-02-10 21:48] hamtim opened #425 "Add "Homepage Proof Point" Tag"
@kelslundberg -

In talking with @vedmic and @ErikGruber, we'd like to add an additional tag for proof points, so they could pull to the zone on the homepage for proof points. I know we have the "premiere" tag, but we may need to be even more selective on the homepage.

with cordial sincerity
@hamtim

[2015-02-11 14:31] e-jameson commented on #402
This is working again. Part of the code was commented for some reason.

[2015-02-11 15:16] kelslundberg commented on #402
Awesome! Thanks for looking at it.

This is what we're going to be doing tomorrow so I appreciate the
quickness. I'll double check it today.

On Wed, Feb 11, 2015 at 8:31 AM, Eric Jameson <notifications@github.com>
wrote:

[2015-02-11 18:47] kelslundberg commented on #425
I talked with @ErikGruber about how he wants this to work and we're thinking we'll start by having him build collections of proof points manually since we have that functionality. There's an option to use metadata or to build your own collection. So we'll go the build your own collection route for the homepages for now.

[2015-02-11 18:47] #425 closed

[2015-02-12 18:43] annmarieven opened #426 "Program Block"
We created a data definition and an asset factory for the program details block.

https://cms.bethel.edu/entity/open.act?id=703ebc8d8c5865132395524d89bfaeb9&type=structureddatadefinition&

@e-jameson and @johjacb - time to work your magic!

[2015-02-12 20:23] annmarieven commented on #403
We gathered images today. Assigning to @johjacb for determining crop size.

[2015-02-12 21:30] kelslundberg opened #427 "List of pages hidden from nav"
Hey @c-schwarze - can you pull a list/report of all of the basic pages that are hidden from navigation?

@e-jameson said to use the query api

Just holler if you have any questions!
KL

[2015-02-16 15:28] c-schwarze commented on #427
Let me know if you need anything else with this. It pulls in any page/block/file/folder that has the 'hide-from-nav' metadata set to "Hide".

https://cms.bethel.edu/entity/open.act?id=36b1c6d28c58651302818aa9d731dd81&type=page
https://staging.bethel.edu/_testing/caleb-test-folder/locate-page-hidden-from-nav

[2015-02-16 16:36] #396 closed

[2015-02-16 17:16] annmarieven commented on #403
We're going to test a site today with real images, cropping to 3:1.

Top middle is the anchor point on the image.

[2015-02-16 21:01] kelslundberg opened #428 "Faculty listing pages for CAPS and GS programs"
Hey @a-parrott

Can you add faculty listing pages to all of our adult undergrad and graduate program sites?

There's an asset factory for Faculty listing in the Academics folder when you select New to add a new asset in Cascade.

All you need to do is add a page title "Faculty" and then tag it with the appropriate school and program.

Here's a sample in CAS so you can see what it looks like:
https

[2015-02-16 21:03] kelslundberg commented on #428
Oh and here is an example of what a faculty listing looks like live on the site!

https://www.bethel.edu/undergrad/academics/anthropology-sociology-reconciliation/faculty

It pulls in all of the page info automatically depending on the school/program selected.

[2015-02-16 21:19] kelslundberg commented on #427
This is great! Thanks so much!

[2015-02-16 21:55] kelslundberg opened #429 "ID lookup for giving site"
Hey @e-jameson,

How can I make this form in Cascade:
https://cms.bethel.edu/entity/open.act?id=55c101938c58651302818aa9b463224b&type=page&

Function like it does in Silva:
https://www.bethel.edu/giving/phonathon/donation

Thanks for your help :)

KL

[2015-02-16 21:57] e-jameson commented on #429
Go to wufoo.bethel.edu, and select "lookup" values from the dropdown.

Normal values will populate the person that visited the page, "lookup" values will populate based on the ID that was entered.

Any for with "lookup" values select will show like the current Phonathon page.

[2015-02-16 22:05] #410 closed

[2015-02-17 14:08] a-parrott commented on #428
All done!

[2015-02-17 14:08] #428 closed

[2015-02-17 17:10] annmarieven opened #430 "YouTube videos on vimeo block"
We need to add the functionality to embed a YouTube video. I've added a youtube field on the vimeo block (which once this is done, we'll change to be 'video block' instead of vimeo).

Let me know if you need anything else from me!

Also, what from YouTube will be entered in the field?

[2015-02-17 17:13] kelslundberg opened #431 "How to apply - override and extra steps"
Hey @e-jameson

So How to Apply pages were all set up to pull in Banner data, like you said. I had tested and forgot :)

But there are two things in the data def that that aren't working...

https://staging.bethel.edu//graduate/academics/physician-assistant/how-to-apply

1) Overriding default text - I have step 2 set to NOT display default, but it looks like it is...

2) I have a 5th step here tha

[2015-02-17 18:13] kelslundberg commented on #429
It looks like there are only lookup values for First and Last name. Should there be more?

Sorry! I didn't work with preload forms in Silva so I'm a little out of context :)

[2015-02-17 18:19] e-jameson commented on #429
Ah, they probably got left behind. I've added all of them but address. That will take a while longer because it isn't the SQL return set yet.

[2015-02-17 18:21] kelslundberg commented on #429
sounds good :) I think it's address we need for the phonathon form - but we can always leave it in Silva until it's ready

[2015-02-17 22:45] c-schwarze commented on #430
We can have the field either of these formats:
1) https://www.youtube.com/embed/cHHbdy0uOqM (full youtube url)
2) cHHbdy0uOqM (youtube's url code)

Here is a working example
https://cms.bethel.edu/entity/open.act?id=999f1f028c5865132395524d5a289f3a&type=page

[2015-02-18 15:39] e-jameson commented on #431
Hey KL these are updated.

[2015-02-18 15:42] e-jameson commented on #429
I've asked Lisa to add the address fields to the SQL output. Whenever she gets back to me it won't take long to add the new fields.

[2015-02-18 15:58] e-jameson commented on #430
I've updated this so it works with both the full-URL and just the code. Meaning we don't have to choose to always do one or the other.

page for proof:

https://cms.bethel.edu/entity/open.act?id=9d6390288c5865132395524db1dec20c&type=page

@annmarieven go ahead and close this when you see it.

[2015-02-18 18:08] a-parrott opened #432 "Embedding Data Definition Block"
Hey - I have a created a data definition here:

https://cms.bethel.edu/entity/open.act?id=9da9f4df8c5865132395524d6c586de0&type=structureddatadefinition

When I tried to embed the block on a Security and Safety page in Cascade, there is an error message.

Would you be able to format the block? (AnnMarie was not sure whether this should go to you or Jake)

Thanks!

[2015-02-19 05:11] e-jameson opened #433 "Make all header / footer links https"
The ones that go to www.bethel.edu

[2015-02-19 14:34] kelslundberg commented on #431
Hey @e-jameson - It's looking better! But it looks like the info I have for step 4 is showing up twice instead of the info for step 5...maybe I did something wrong :)

[2015-02-19 16:52] c-schwarze commented on #433
done and published.

[2015-02-19 17:00] c-schwarze commented on #433
Oops. I mean the global header and footer are published. However, the navigation header ( the one right above the image) will only be updated on a full site publish.

[2015-02-20 20:37] e-jameson commented on #433
@c-schwarze can you make sure everything in Soda is https? It looks like some things in the footer aren't. Go ahead and close it after that and it'll get update with the new design in a few weeks.

[2015-02-20 21:29] #432 closed

[2015-02-23 17:10] kelslundberg opened #434 "Search page"
@e-jameson is going to move over the search page as it is - and then we'll figure out what we need to do to spruce it up

[2015-02-23 21:28] c-schwarze commented on #433
www, soda, and staging should all have https for links for header/footer/global-nav.

[2015-02-23 21:28] #433 closed

[2015-02-23 21:49] e-jameson commented on #434
@johjacb here is a search page that needs a little styling.

https://soda.bethel.edu/search/?cx=017681067239267367526%3Achqo5ugqj90&ie=UTF-8&q=test&sa=Search

[2015-02-24 14:56] annmarieven opened #435 "Confluence search block"
From job 14069:

As we are developing the ITS web site we would like to support user self
service by providing a search feature on the web site similar to the
knowledge base search in Blink. I understand this will need to be created
for the content management system.

Randal Swanson
ITS Help Desk
Bethel University

651.635.8772
r-swanson@bethel.edu

[2015-02-24 15:39] e-jameson commented on #435
I had the code for this in Silva so I moved it quick:

Here is the test page:
https://staging.bethel.edu//_testing/jmo/block-pages/confluence-search

And the block:
https://cms.bethel.edu/entity/open.act?id=bc20c0248c5865132802f161b7112fcb&type=block

Feel free to move the block.

[2015-02-24 17:35] kelslundberg commented on #431
I think this is done :)

[2015-02-24 17:35] #431 closed

[2015-02-24 19:34] kelslundberg opened #436 "Updating page titles for Majors"
Hey @a-gundy

Wondering if you could help make some updates to the page titles on all of our CAS major pages?

Take a look at this one here:

http://soda.bethel.edu//undergrad/academics/art/majors-minors/art

I think if we added the word "Major" to the page title so it read "Art Major", it would help provide more context in the new design. I don't think we need to add it to the display title - so

[2015-02-24 21:33] annmarieven commented on #430
haha awesome test video @c-schwarze  :)

Looks good to me. FYI all, this youtube field is hidden so only admin can see it right now.

And, I changed the block name to 'Video' instead of 'Vimeo-Block'

[2015-02-24 21:33] #430 closed

[2015-02-24 21:46] annmarieven commented on #424
@a-parrott can you add the above fields to the faculty bio data definition?

They should go in this order:
I'm thinking this might be a good order:
Biography
Courses Taught
Awards
Publications
Presentations
Certificates and Licenses
Professional Organizations, Committees, and Boards

They'll need to be setup with logic by adding check boxes to the 'what would you like to add' field and then specif

[2015-02-24 21:48] annmarieven commented on #391
I restricted placement of the news folder and job posting folder. Closing issue.

[2015-02-24 21:48] #391 closed

[2015-02-24 21:52] annmarieven commented on #389
@a-gundy sorry I'm just now getting back to this. What if we found photos for each of these items - help me decide, classroom support, general requests, and self service and made them all media + texts in the office hompage template.

Then make the how can we help you a media text on it's own and embed it in the feature zone.

The individual contacts can go to the 'additional content' section at t

[2015-02-24 22:15] a-parrott commented on #424
Added and set!

[2015-02-26 16:18] a-gundy commented on #436
@kelslundberg,
I added major/program to the titles of the undergrad sites. If there was already something listed (like B.A. or B.F.A.), I didn't add anything.

Thanks,
Abi

[2015-02-26 16:18] #436 closed

[2015-02-26 16:26] ErikGruber commented on #417
Can we change the name to Feature Collection?

[2015-02-26 16:39] a-gundy commented on #389
@annmarieven, I think it looks a lot better.

If you want different images of the classroom, this shot is pretty good (https://www.flickr.com/photos/betheluniversity/14120565122). A search for "active learning classroom" brings up a bigger list in Flickr if you want more options.

Thanks!
Abi

[2015-02-26 19:43] annmarieven opened #437 "Giving Site Launch and Issues"
staging.bethel.edu/giving

@kelslundberg  looked at it in Chrome in staging and soda.

I will check Safari and iPhone 6 iOS 8.

@kelslundberg will look on her droid.

[2015-02-26 19:47] kelslundberg commented on #427
@a-parrott is going to start looking at these pages that are hidden from nav in Soda

[2015-02-26 20:15] kelslundberg commented on #437
Droid looks good

[2015-02-26 20:16] annmarieven commented on #437
Safari and iOS 8 look good.

[2015-02-26 20:25] c-schwarze commented on #424
Updated and pushed live. Let me know if any changes need to be made

[2015-02-26 20:55] kelslundberg commented on #437
Launched. Redirects in. Done.

[2015-02-26 21:09] annmarieven commented on #437
@a-gundy can you put a note on our analytics?

[2015-02-27 15:06] a-gundy commented on #437
Noted in google analytics.

[2015-02-27 15:06] #437 closed

[2015-03-02 17:13] kelslundberg commented on #417
We're going to change this up so we have assets and a collection separately. I'll update the data definition for the asset itself and attach metadata and such. Then we'll need to build a separate collection asset for pulling these in either using metadata or manual selection.

[2015-03-02 17:21] kelslundberg commented on #417
We also talked about if it's linking to a video then it pulls up the video in a light box.

[2015-03-02 17:29] kelslundberg commented on #417
Not a light box. We're going to figure out something else :)

[2015-03-02 17:50] kelslundberg opened #438 "Faculty carousel"
We're going to build a collection/carousel where we can pull in faculty to feature.

Name (linked to faculty bio page)
Job Title
Image

Maybe something else down the road, but I want to see what this looks like to start.

And we're thinking it would pull in at random any faculty member who had all of these items....

[2015-03-02 17:52] #405 closed

[2015-03-02 17:52] #402 closed

[2015-03-02 18:31] kelslundberg commented on #417
@e-jameson and I talked about this. We updated the data definition so text over media will be single assets. Then we'll create a collection where you can choose your items by metadata or manual selection.

[2015-03-02 18:34] kelslundberg commented on #438
@e-jameson and I talked about this a little bit. I think we're good to start building something based on the above requirements - the only change would be to pull in random faculty members based on meta data. That way we could have CAS faculty show up on the Undergrad homepage and Graduate faculty on the Graduate School homepage and so on...

[2015-03-03 17:19] annmarieven commented on #424
@parlau check this out and let us know if anything needs to be changed!

[2015-03-03 17:19] #424 closed

[2015-03-03 17:22] parlau commented on #424
Looks great! Thanks!

[2015-03-04 14:36] e-jameson commented on #438
@johjacb here is a faculty carousel work in progress.

https://soda.bethel.edu//_testing/jmo/block-pages/faculty-feed

Relevant code:

https://github.com/betheluniversity/cascade-php/blob/master/collections/php/faculty.php

[2015-03-04 14:48] e-jameson commented on #438
@kelslundberg @ErikGruber @annmarieven do you have any feedback on this?

[2015-03-04 15:02] e-jameson commented on #417
@johjacb here are some examples to look at. They need some styling help.

https://soda.bethel.edu//_testing/jmo/banner-collection/index
https://soda.bethel.edu//_testing/jmo/banner-collection/index-10 (this webm is mostly black --rendering error)

Here is the format:

https://cms.bethel.edu/entity/open.act?id=5016e2988c58651302818aa9dcd532db&type=format&

[2015-03-04 17:21] ErikGruber commented on #438
@kelslundberg @johjacb @e-jameson I added this to the page

https://soda.bethel.edu//undergrad/index-new

Thoughts?

[2015-03-09 17:50] kelslundberg opened #439 "Video Captions in Flex"
Hey @c-schwarze -

Can you help me get video captions to show up on Flex pages?

I added a Caption field to the video block. And have a video embedded with a caption here in the Enroll section:

https://soda.bethel.edu/undergrad/admissions/

We do have Caption as a field on our Basic pages. I'm guessing we can just use the same styles? Here's an example of that:

https://soda.bethel.edu/undergrad/

[2015-03-10 05:34] c-schwarze commented on #439
Updated.

[2015-03-10 13:19] ErikGruber commented on #439
@johjacb @kelslundberg do we want any styling on the caption? I feel like it looks different from captioned photos on our site, but I can't find one.

[2015-03-10 14:14] ErikGruber commented on #417
Hey @e-jameson and @kelslundberg, I need a change to this.

Adding a button with a link needs to be optional.

If a button isn't added, then the image itself needs to be linked.

[2015-03-10 17:28] kelslundberg commented on #417
Makes sense to me. @e-jameson, let me know if you need anything from me here!

[2015-03-11 13:06] kelslundberg commented on #439
It looks like that's the style @johjacb has set for Soda. I'm fine with it. But if you feel like it needs something different, feel free to suggest!

https://soda.bethel.edu//undergrad/academics/faculty

[2015-03-11 14:03] kelslundberg commented on #403
This is done...I think....

[2015-03-11 14:03] #403 closed

[2015-03-11 14:03] kelslundberg commented on #387
This is done

[2015-03-11 14:03] #387 closed

[2015-03-11 14:37] ErikGruber commented on #439
Looks good. I was seeing something different at first.

[2015-03-11 14:52] e-jameson commented on #417
updated

[2015-03-11 18:59] a-parrott commented on #427
Looked at the hidden pages. They look good.

[2015-03-18 20:18] annmarieven commented on #389
@e-jameson can you put a rule in for
https://www.bethel.edu/offices/learning-technology/

to go here:
https://www.bethel.edu/learning-technology/

[2015-03-18 20:51] e-jameson commented on #389
donel

[2015-03-19 13:34] #427 closed

[2015-03-19 13:36] #439 closed

[2015-03-19 13:51] annmarieven commented on #438
We launched with this. Closing issue.

[2015-03-19 13:51] #438 closed

[2015-03-19 13:54] annmarieven commented on #429
@e-jameson has this been finished? It'd be great to get this form out of Silva -- https://www.bethel.edu/giving/phonathon/donation

[2015-03-19 13:55] #423 closed

[2015-03-19 13:56] annmarieven commented on #419
We created the form.

[2015-03-19 13:56] #419 closed

[2015-03-19 14:01] annmarieven commented on #417
@e-jameson you were working on these to have the school homepages link to school specific sites rather than sending someone back out to bethel.edu/admissions, for example.

I published the undergrad school to staging and this is the link on the button: https://staging.bethel.edu/$internal_link.asset.path

Doesn't appear to be working the way it should :blush:

[2015-03-19 14:04] #408 closed

[2015-03-19 14:04] #406 closed

[2015-03-19 14:06] #404 closed

[2015-03-19 14:06] annmarieven commented on #389
@a-gundy can you put a note in analytics that we launched this site on 3/17?

[2015-03-19 14:08] #397 closed

[2015-03-19 14:10] annmarieven commented on #365
Closing issue.

[2015-03-19 14:10] #365 closed

[2015-03-19 14:11] annmarieven commented on #330
@e-jameson where is this at? I went to your jmo/basic page but it looks like it's a test for proof points now.

[2015-03-19 14:12] annmarieven commented on #302
I'm going to schedule a meeting to clean up data defs, content types, config sets, asset factories, etc. that we're not using.

[2015-03-19 14:36] annmarieven commented on #244
Anyone know what this is?

[2015-03-19 14:46] c-schwarze commented on #244
Well, it was supposed to be a page where you can view all profile stories by school. Do we need it anymore?

[2015-03-19 16:28] e-jameson commented on #330
https://staging.bethel.edu/_testing/jmo/block-pages/individual-courses

[2015-03-19 16:29] e-jameson commented on #417
fixed

[2015-03-19 16:32] e-jameson commented on #429
I've asked Lisa again to add address values.

[2015-03-19 16:36] annmarieven commented on #417
yay! it's working. closing issue.

[2015-03-19 16:36] #417 closed

[2015-03-19 16:38] annmarieven commented on #435
I think people will want to be able to limit searches to a specific space. So for example, if the search box is on the TLT page, it only searches within the TLT space.

This is still low priority.

[2015-03-19 20:02] annmarieven opened #440 "Working copy view not working"
@e-jameson, I have no idea if this is something we may have unknowingly broke on our end or if it's a bigger Cascade issue. So I'm submitting it both places.

When approving assets in a workflow, the working copy no longer shows the user's updates. Instead it just shows me the current version of the asset. In addition, sometimes there is a yellow bar that appears at the top that says "No Changes D

[2015-03-20 13:26] e-jameson commented on #440
This sounds like something that wasn't working in the past, but I don't remember what we did to fix it. Cascade should have an answer though (at least they knew last time)

[2015-03-23 13:48] annmarieven commented on #440
From the Cascade guy:
I looked over this briefly in your instance but didn't see anything glaring. I'll probably need to spend some more time working with a local copy of your Workflow to see if I can reproduce the issue.

In the meantime, are you aware of when you started noticing this behavior? Was it after a particular upgrade or was a Format recently edited that the Page uses to display the DE

[2015-03-23 14:05] a-gundy commented on #389
Done!

[2015-03-23 14:05] #389 closed

[2015-03-23 14:42] annmarieven opened #441 "Prayer Initiative Site Launch and Issues"
@a-gundy is going to migrate this site. https://www.bethel.edu/prayer-initiative/

[2015-03-23 14:48] annmarieven opened #442 "Get rid of soda"

[2015-03-24 15:46] #442 closed

[2015-03-24 15:49] e-jameson commented on #440
"was a Format recently edited"

ha. yeah. a few of them :)

[2015-03-24 16:43] a-gundy commented on #441
@annmarieven,
Take a look and let me know what you want changed (especially look at image sizes for some of the images from the old site that don't exist in Flickr).

https://cms.bethel.edu/entity/open.act?id=471514e78c5865134252346a067ba505&type=folder&

[2015-03-24 19:06] annmarieven commented on #440
Does that ring a bell enough for you to know what to fix?

http://help.hannonhill.com/discussions/bug-reports/2521-working-copy-view-doesnt-show-most-recent-updates

[2015-03-24 19:07] e-jameson commented on #440
I think its a private discussion so I can't view it.

[2015-03-24 19:24] ale73233 opened #443 "Tinker Redirect"
Hi Eric,

In tinker, when trying to redirect links the save buttom doesn't work, or it takes a while for it to show a URL.

[2015-03-24 19:33] e-jameson commented on #443
The output just isn't being printed on the screen. It is saving the first time, so for now just click save once and refresh the page to put the URL in again to verify.

Caleb is looking into the cause of the problem

[2015-03-24 19:41] e-jameson commented on #429
This form is ready to be moved over now. We should probably test it a bit more than a normal form.

[2015-03-24 19:48] e-jameson commented on #443
Should be fixed now.

[2015-03-24 19:48] #443 closed

[2015-03-24 20:19] e-jameson commented on #183
Can we close this?

[2015-03-25 19:11] annmarieven opened #444 "Academic Enrichment Support Center (AESC) Migration"
@a-gundy can you use these directions to migrate this site? https://docs.google.com/a/bethel.edu/document/d/1G6Lm4p8gvjqOP-eVh1Gu_0nMvKitrtViO6C4XU6XK7g/edit

@e-jameson will need to give you a zip file of the site.

https://www.bethel.edu/undergrad/academics/support/

[2015-03-25 19:59] annmarieven opened #445 "Alert Notification for Cascade"
We had class for a construction alert in Silva -- <p class="alert-message"><strong></strong>Alert: The east gate is closed due to construction. Please use the main entrance.</p> (https://editor.its.bethel.edu/silva/www/about/maps-directions/construction-alert/edit/tab_edit)

Can we do something like that for Cascade? https://cms.bethel.edu/entity/edit.act?id=ba13b80c8c586513100ee2a718241435&type=p

[2015-03-25 20:17] annmarieven commented on #441
@a-gundy Looking good!! I love the photos you chose for the header and the prayer walk!

Can you list all the redirects we need here:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1HE_qm8gkamBZo4pZ1Halc2y8oBeomqwxU4Sq55DmpYk/edit#gid=0

I noted which pages we're not migrating and will need redirects here:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1OQFAOAbkUk8FPhJ1CYVNb8P45dEjzmvUzF

[2015-03-25 20:18] annmarieven commented on #441
Then you can reassign to me. I will have Allie put the redirects in when we launch, hopefully next Tuesday!

[2015-03-25 20:59] e-jameson commented on #444
I've sent the zip to Abi in a Slack DM

[2015-03-26 15:36] annmarieven opened #446 "News and events feeds"
Seems the news and event feeds have lost the ability to hide when there are no articles/events.

This one is set to hide: https://cms.bethel.edu/entity/edit.act?id=22a535618c58651326c0f0dfd6715253&type=page

But is showing up here: https://www.bethel.edu/undergrad/academics/physics/

[2015-03-26 15:38] a-gundy commented on #441
@annmarieven, the redirect grid is ready!

[2015-03-26 15:40] annmarieven opened #447 "Proof Points not appearing on some academic pages"
Proof point collection:
https://cms.bethel.edu/entity/open.act?id=cca96c588c5865137ca4729016ad58c9&type=page&

Proof point that should be showing up:
https://cms.bethel.edu/entity/open.act?id=8d82a2f78c58651375fc4ed26b4c563c&type=block_STRUCTUREDDATA

Live page with no proof points appearing:
https://www.bethel.edu/undergrad/academics/physics/

@ErikGruber said there are others where this is happe

[2015-03-26 16:02] annmarieven opened #448 "Event table text"
Is the text in the table at the top of the event pages a little smaller than the rest of the text?
https://www.bethel.edu/events/2015/chemistry-reunion

Is that on purpose?

[2015-03-26 16:32] c-schwarze commented on #447
Fixed.

[2015-03-26 16:41] c-schwarze commented on #446
Fixed

[2015-03-26 16:41] #446 closed

[2015-03-26 18:39] annmarieven opened #449 "Faculty departments missing commas"
This faculty has 3 departments he teaches in but they are missing commas between them.
https://www.bethel.edu/academics/faculty/frederickson-joel

I swear they used to be there. :-P

[2015-03-26 18:41] annmarieven opened #450 "Faculty departments missing"
This guy has 2 GS programs selected (Strategic Leadership and EDD) but only the strategic leadership one shows up on his bio.

https://www.bethel.edu/academics/faculty/helgerson-leslie

[2015-03-26 18:43] johjacb commented on #448
yes and yes. but it could be changed. its mainly to allow some tables to be usable on mobile without having to apply the 'responsive' class.

This could easily be changed if desired.

[2015-03-26 18:55] c-schwarze commented on #449
Fixed. Commas were only being added to undergrad departments.

[2015-03-26 18:57] c-schwarze commented on #449
Faculty bios will have to be republished --> publishing all now

[2015-03-26 18:59] c-schwarze commented on #450
Faculty bios were only grabbing the first selected value from GS/Sem/CAPS. Now they grab all selected programs.

[2015-03-26 18:59] #450 closed

[2015-03-26 19:00] #449 closed

[2015-03-27 21:12] #447 closed

[2015-03-27 21:24] e-jameson commented on #183
we aren't not doing this because we don't want all or nothing.

[2015-03-27 21:24] #183 closed

[2015-03-30 14:30] a-gundy opened #451 "Corporate Partnerships Site Launch and Issues"
I'll be manually migrating the Corporate Partnerships site (https://www.bethel.edu/academics/partnerships/corporate/) to Cascade.

[2015-03-30 16:42] ErikGruber opened #452 "Quotes - include grad year and current job/grad school"
Hey @c-schwarze , could we change quotes to display the grad year and the current job/grad school fields?

[2015-03-30 16:44] ErikGruber commented on #452
Like this -

"blah blah blah blahb blaha"

-Erik Gruber '06
Current Job: Senior Web Content Specialist, Bethel University

[2015-03-30 18:12] vedmic opened #453 "Broken Link to Seminary Admissions Blog"
Caleb, it looks like the block for the seminary admissions blog wasn't set up for external links and instead of linking to: http://blogs.bethel.edu/seminary-admissions/  it's linking to: https://www.bethel.edu/http://blogs.bethel.edu/seminary-admissions/  Could you take a look at it.

Thanks.

Location of the Block is: https://www.bethel.edu/seminary/admissions/

[2015-03-30 19:02] annmarieven commented on #453
@vedmic you just have to republish the site and it will be fixed :)

[2015-03-30 20:19] annmarieven opened #454 "Course Catalogs Page Site Launch and Issues"
@a-gundy can you migrate this page?
https://editor.its.bethel.edu/silva/www/academics/catalog/edit/tab_edit

Assign it to me for proofing before launch.

After launch, I will reassign the issue to you so you can close it down in Silva.
Let me know if you have any questions!

[2015-03-30 20:20] annmarieven commented on #454
I will update this grid when it's launched:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1BxUTjlDdgBKo-XZrOHhx-DhXHSCBCzRLGZ4S9KyuyyI/edit#gid=1762576728

[2015-03-30 20:49] annmarieven commented on #429
I entered a few IDs but the information doesn't populate.. am I missing something?

https://staging.bethel.edu/giving/phonathon/
https://cms.bethel.edu/entity/open.act?id=55c101938c58651302818aa9b463224b&type=page
https://cms.bethel.edu/entity/open.act?id=55c269188c58651302818aa941656393&type=block&

[2015-03-30 21:41] annmarieven commented on #429
Waiting for country to work. One side note - the message about the form not loading still shows even after the lookup field and button appear.

[2015-03-31 14:27] annmarieven commented on #453
@vedmic fixed this.

[2015-03-31 14:27] #453 closed

[2015-03-31 14:47] a-gundy opened #455 "Embedded Financial Aid Options not displaying"
I can't get the embedded Financial Aid Option to display on the corporate partnership pages.

https://cms.bethel.edu/entity/open.act?id=702a10fe8c5865132dfb57c8b938acaa&type=page&

[2015-03-31 15:23] annmarieven commented on #441
Launched the site. Will do basic testing in Chrome, Firefox and Safari. The site is very basic so there aren't any new assets being used.

[2015-03-31 16:11] e-jameson commented on #429
Country now preloads United States correctly, the rest will fail. They should also failed in Silva. I'll look at the message when I get a chance.

[2015-03-31 16:23] annmarieven commented on #441
Looks good in Chrome, Firefox, and Safari on iPhone 6 iOS 8 - Safari.

@ale73233 put in redirects.
@a-gundy optimized all the images and put a note in google analytics.

Access and permissions are all set up for training.

[2015-03-31 16:23] #441 closed

[2015-03-31 16:28] a-gundy commented on #454
@annmarieven,
I migrated the page. I think the links will all need to be updated after Sem, GS, and CAPS are migrated.

[2015-03-31 17:16] a-gundy commented on #451
@annmarieven,
Do you think we could put all of the partners into a single Office Homepage as media+text instead of giving them each their own page?

https://cms.bethel.edu/entity/open.act?id=70293ec88c5865132dfb57c8f98d29a4&type=page&

[2015-03-31 19:56] c-schwarze commented on #452
Updated and live. Test page: https://www.bethel.edu/undergrad/academics/biblical-theological/

[2015-04-01 14:38] a-gundy opened #456 "Military Partnerships Migration"
I'll be migrating this site/page. https://www.bethel.edu/academics/partnerships/military/

[2015-04-01 14:39] a-gundy opened #457 "Church Leadership Partnership Migration"
I'll be migrating the Church Leadership Partnership site. https://www.bethel.edu/academics/partnerships/church-leadership/

[2015-04-01 15:18] annmarieven opened #458 "Security & Safety Site Launch and Issues"
@ale73233 can you put together a list of redirects for Security & Safety? List them in this google doc:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1XXSrOpnEwapEWnS8IGE1t9DruxrrJIiuZCCk-QIrgcY/edit#gid=0

The old urls will be found in these 2 sites:
http://bethelnet.bethel.edu/security-safety (these redirects should be listed on the sheet but you won't be able to enter them into Tinker bec

[2015-04-01 15:33] annmarieven commented on #454
@a-gundy Looking good! Can you unlink the title of the cas one? That way it's consistent with the rest. Once they're all in Cascade then we can probably link the titles back up. Also, hide the site navigation so we don't have the crazy left hand nav. Publish to staging so you can proof it.

Then publish to production, test the links, close the Silva page, mark the page as launched here: https://do

[2015-04-01 16:20] ale73233 commented on #458
On the Active Alerts page "Image" is showing up and needs to be removed: https://www.bethel.edu/security-safety/active-alerts

[2015-04-01 16:22] ale73233 commented on #458
-I created the redirects and sent them to eric
-created the other redirects and put them into tinker
-assigned the github to caleb to fix Active Alerts pages

On Wed, Apr 1, 2015 at 10:18 AM, AnnMarie <notifications@github.com> wrote:

[2015-04-02 14:16] a-gundy commented on #454
Launched!

[2015-04-02 14:16] #454 closed

[2015-04-02 14:38] a-gundy commented on #456
@annmarieven,
I'm assigning this to you for proofing.

https://staging.bethel.edu/academics/partnerships/military/

https://cms.bethel.edu/entity/open.act?id=757eaa0e8c5865132dfb57c8f6541c80&type=page&

[2015-04-02 14:51] a-gundy commented on #457
@annmarieven,
I'm sending this off to you for proofing.

https://staging.bethel.edu/academics/partnerships/church-leadership/

https://cms.bethel.edu/entity/open.act?id=756f287b8c5865132dfb57c86950b95a&type=page&

[2015-04-02 16:56] annmarieven commented on #303
@ale73233 can you make a list of redirects for this site:
https://bethelnet.bethel.edu/health-services/index/@@index.html
to the respective pages in the new health services site? https://www.bethel.edu/health-services/

Create the list here: https://docs.google.com/a/bethel.edu/spreadsheets/d/18pErtI6ySzi5gw13sSsBb_2eFl4JJAY3eDUhizTuiVc/edit#gid=0

Then assign this issue to @e-jameson for redirect

[2015-04-02 16:58] annmarieven commented on #303
Also, once those are redirected, @ale73233 can you close the content in bethelnet?

[2015-04-02 19:20] ale73233 commented on #303
Can you do these redirects and let me know when they are done?
https://docs.google.com/a/bethel.edu/spreadsheets/d/18pErtI6ySzi5gw13sSsBb_2eFl4JJAY3eDUhizTuiVc/edit#gid=0

Thanks!

[2015-04-02 20:21] ale73233 commented on #303
redirects done, closed health-services in old silva

[2015-04-02 20:21] #303 closed

[2015-04-06 15:38] #452 closed

[2015-04-06 18:41] annmarieven commented on #458
Waiting for one more redirect (to be done by @ale73233) and the active alerts page to be fixed (to be done by @c-schwarze).

[2015-04-07 13:47] c-schwarze commented on #458
The information correctly displays now (the Images bold title no longer appears). It might need some formatting help.

[2015-04-07 14:19] c-schwarze commented on #455
Fixed. Financial Aid Options can now be embedded properly.

[2015-04-07 14:19] #455 closed

[2015-04-07 15:21] johjacb commented on #445
You can now manually add an .alert class.

[2015-04-07 15:21] #445 closed

[2015-04-07 15:41] c-schwarze opened #459 "Run Migration Tool locally"
Here is the quick instructions on how to run Hannon Hill's migration tool locally.

* Download the most recent tarfile at https://github.com/hannonhill/Universal-Migration-Tool/releases
  * (something like Universal-Migration-Tool-7.12.3.tar.gz     ~13.6 MB)
* Open the tar file, which will create a "Universal-Migration-Tool" folder.
  * Move this folder to where ever you want to keep it.
* Use ter

[2015-04-07 15:42] ale73233 commented on #458
I finished the last redirect!:)

On Tue, Apr 7, 2015 at 8:47 AM, Caleb Schwarze <notifications@github.com>
wrote:

[2015-04-07 15:42] c-schwarze commented on #459
Abi, here are the instructions to run the migration tool locally. Let me know if you have any questions! Also, I was pretty sure you were the one who needed it, but if not let me know!

[2015-04-07 15:46] c-schwarze commented on #302
Has this meeting been scheduled?

[2015-04-07 15:54] a-gundy commented on #459
Caleb, thank you for the instructions! Is this something we'll have to do every time we have to do every time we want to run the migration tool locally or is once enough for each computer?

[2015-04-07 16:00] c-schwarze commented on #459
You may have to run the ./startup.sh command each time you want to use the tool.

[2015-04-07 16:13] a-gundy commented on #459
It works. Added these instructions to the documentation.

[2015-04-07 16:13] #459 closed

[2015-04-08 14:15] e-jameson commented on #426
The blocks are ready to be loaded. Here is a sheet with the relevant issue:

https://docs.google.com/a/bethel.edu/spreadsheets/d/1j_vEh9YnXDgL3Hl71i9-tanx-QmhT-8Lif6ERLrdR2Q/edit

[2015-04-08 14:58] annmarieven opened #460 "Staging url to jump back into Cascade broken"
If you click on "TESTING" in the red banner that says "This page is a TESTING version." you go to a broken url.

https://staging.bethel.edu/president/$cms_url

[2015-04-08 15:10] annmarieven commented on #458
Because Caleb fixed the images item, @ale73233 can you submit a sample active alert and publish the 'active-alerts' page to staging so we can see how it looks?

https://cms.bethel.edu/entity/open.act?id=9dceb3cf8c5865132395524dda452251&type=block&

[2015-04-08 15:11] annmarieven commented on #440
Contacted Tim again via the discussion above because we really gotta get this fixed :confused:

[2015-04-08 15:12] #448 closed

[2015-04-08 15:15] annmarieven commented on #429
Country still isn't loading for me. The lookup field loads REALLY slow and then once I enter an ID, the form loads REALLY slowly too.

[2015-04-08 15:19] a-parrott opened #461 "Video on CAPS/GS Academic Homepages"
Videos are not loading on the CAPS and GS academic homepages. I have checked different pages and videos.

Current pages with this issue: https://cms.bethel.edu/entity/open.act?id=c0ed981b8c5865132a1de4ef51796e26&type=page

https://cms.bethel.edu/entity/open.act?id=133d366d8c5865130f1c0f8fb8e30bb2&type=page&

[2015-04-08 15:25] annmarieven commented on #426
@ale73233 and @a-gundy can you create a 'program-details' folder in every graduate, adult-undergrad, and seminary program folder? Then within that program-details folder, there should be flex index page.

For example, within the physician-assistant folder, there is a program-details folder with an index.
https://cms.bethel.edu/entity/edit.act?id=711876cb8c5865132dfb57c86905a1e1&type=folder

Title

[2015-04-08 15:39] ale73233 commented on #458
Hi Caleb,
The active alerts page isn't working, https://staging.bethel.edu/security-safety/active-alerts
The image isn't showing up and "There are currently no active alerts" should not be showing up as well.

[2015-04-08 15:43] c-varberg commented on #460
This was me. I was working on the Twig implementation. It should be working now

[2015-04-08 16:26] ale73233 commented on #426
I finished adding all of the folders and indexes to all of the programs.

[2015-04-08 17:11] e-jameson commented on #429
Country is fixed.

It seems just as fast or slow as the current version to me:

https://www.bethel.edu/giving/phonathon/donation

Its kind of a slow process, unfortunately.

[2015-04-08 18:14] annmarieven commented on #445
Published to prod.

[2015-04-08 18:39] annmarieven commented on #426
@ale73233 for every caps and gs program folder, can you create a program block in the shared-content/program-block/ folder?

system name: program-name-program
title: Program Name

ex: teaching-program, Teaching or physician-assistant-program, Physician Assistant

[2015-04-08 19:11] ale73233 commented on #426
I created the program blocks and linked them up to the index pages.

[2015-04-08 19:13] e-jameson commented on #426
My block-population code is ready to test as soon as the program codes are loaded.

[2015-04-08 19:51] annmarieven commented on #426
I added a new field. :confused: sorry @e-jameson

It's called "program_description" and should only show up at the top of the program-details/index page.

[2015-04-08 19:51] c-schwarze commented on #458
1) The image chosen is a pdf. Can you guys choose an actual image instead?

2) The text "There are currently no active alerts" is appearing because that is what is entered in the WYSIWYG. Do you want that to automatically be hidden? Otherwise you can just delete that text.

[2015-04-08 20:10] e-jameson commented on #461
fixed.

[2015-04-08 20:10] #461 closed

[2015-04-08 20:11] #460 closed

[2015-04-08 20:13] e-jameson commented on #302
We had it and @annmarieven has a list of todo's to assign.

[2015-04-08 20:33] annmarieven commented on #426
The cas nursing major is showing up on the gs nursing page: https://staging.bethel.edu/graduate/academics/nursing/

[2015-04-09 13:12] annmarieven commented on #458
@ale73233 can you choose an image instead of a pdf? :)

@c-schwarze oops! it doesn't need to be automatically hidden. the web author can just remove it. thanks for clarifying ;)

[2015-04-09 13:28] annmarieven commented on #456
launched. updated grid here: https://docs.google.com/a/bethel.edu/spreadsheets/d/1BxUTjlDdgBKo-XZrOHhx-DhXHSCBCzRLGZ4S9KyuyyI/edit#gid=1762576728

[2015-04-09 13:28] #456 closed

[2015-04-09 13:29] annmarieven commented on #429
Tested and launched the phonathon form. Woo!

[2015-04-09 14:14] annmarieven opened #462 "New GIF for Event Confirmation Submission"
Time for a new gif here!
https://tinker.bethel.edu/event/confirm

[2015-04-09 17:13] annmarieven commented on #426
- [ ] Is the word "concentration" hard coded in here? If so, can we remove it?
https://staging.bethel.edu/graduate/academics/mba/program-details/mba
I'm wondering if we don't need a heading at all since the title of the page will suffice. Thoughts?

- [ ] Space before and after comma
https://staging.bethel.edu/graduate/academics/special-education/program-details/

- [ ] Program length isn't popula

[2015-04-09 19:33] ale73233 commented on #458
I closed this site, http://bethelnet.bethel.edu/security-safety
Eric is doing one last redirect.
Eric can you close this site? https://www.bethel.edu/campus-security/

[2015-04-09 19:41] e-jameson commented on #458
The redirect is done. I'm not sure what you mean by close this site?

[2015-04-09 19:55] annmarieven commented on #458
Can you go into Silva and close it? We can't access it anymore because it just redirects on us :stuck_out_tongue: I'm assuming you have a work around to get into the site.

[2015-04-09 19:57] e-jameson commented on #458
https://cms-editor.bethel.edu/silva/www/campus-security/edit ?

[2015-04-09 20:02] annmarieven commented on #458
@ale73233 can you get in with the url jame-o included above?

[2015-04-09 20:21] ale73233 commented on #458
I got in and closed the site!

[2015-04-10 16:17] e-jameson commented on #462
my vote: http://i.imgur.com/uqeDrzw.gifv

[2015-04-10 20:51] annmarieven commented on #462
hahaha that one has my vote :point_up:

[2015-04-14 19:36] annmarieven commented on #426
@c-schwarze and @e-jameson, can you guys look at these and check them off if/when they've been fixed?

[2015-04-14 20:10] e-jameson commented on #426
@vedmic was going to look into having them change the Concentration Names.

[2015-04-14 20:11] c-schwarze commented on #426
Republished all graduate/academics/PROGRAM/program-details/ folders. If you see anything on the list that is checked off but shouldn't be, let us know.

[2015-04-15 13:05] annmarieven commented on #426
@c-schwarze - just to staging, right? :)

[2015-04-15 13:11] annmarieven commented on #462
@c-schwarze can you update the gif?

[2015-04-15 13:47] c-schwarze commented on #426
Yep!

[2015-04-15 13:54] a-parrott commented on #426
@c-schwarze - do the above changes affect CAPS programs as well (once republished)?

[2015-04-15 13:55] c-schwarze commented on #426
Yep

[2015-04-15 14:48] annmarieven commented on #426
- [ ] Change 'cost per credit' heading to "Average cost per credit"

[2015-04-15 16:45] a-parrott commented on #426
@c-schwarze It looks like the program description field is appearing on the homepage. The program description should just be on the program-details index page.

[2015-04-15 19:37] c-schwarze commented on #462
Added the ram gif.

[2015-04-15 19:56] c-schwarze commented on #426
Fixed.

[2015-04-16 15:15] a-gundy commented on #451
@annmarieven,
Assigning to you for proofing. I'm not super happy with the alignment on the Partners' pages.
https://staging.bethel.edu/academics/partnerships/corporate/
https://cms.bethel.edu/entity/open.act?id=6b1f9c6f8c5865137a0a4916ed177dd4&type=folder&

[2015-04-16 16:40] annmarieven commented on #328
These are no longer working.

[2015-04-16 16:47] annmarieven commented on #426
@e-jameson since we link the block to the concentration pages, can the block just pull the concentration page title as the "concentration name" for now? (until the catalog launches then we'll use that data)

or does that fall apart if there is only one option and the info lives on the program details page?

Let's chat when you're back in the office.

[2015-04-16 17:36] c-schwarze commented on #328
It should be fixed. I didn't really know what it was supposed to look like -- I just patched it up.

Let me know if it looks right!

[2015-04-16 17:53] c-schwarze commented on #426
Like this? https://staging.bethel.edu/graduate/academics/mba/program-details/

[2015-04-16 18:30] annmarieven commented on #426
yes, but could we get it to show up in all listings? like here: https://staging.bethel.edu/graduate/academics/mba/ and here: https://staging.bethel.edu/_testing/caleb-test-folder/online-programs

[2015-04-16 18:34] #458 closed

[2015-04-16 18:50] c-schwarze commented on #426
Yep. The first page just needed to be published.

The online one is updated and published.

[2015-04-16 18:54] annmarieven commented on #426
is it too much work to make it strip out "program details"? this will only appear if there's just one option for the program and no additional concentrations
see nurse-midwifery: https://staging.bethel.edu/graduate/academics/nurse-midwifery/
https://staging.bethel.edu/_testing/caleb-test-folder/online-programs

[2015-04-16 18:54] annmarieven commented on #426
also, I totally did republish that page! :angry: :stuck_out_tongue_closed_eyes:

[2015-04-16 19:04] c-schwarze commented on #426
Updated.

Cascade is just messing with you :P

[2015-04-16 19:09] annmarieven commented on #457
can you add this: Practical training for lay leaders and ministry staff of Converge Worldwide. to the teaser on the index page? The teaser field is in the metadata.

on the certificate page, can we list the courses like this:
Church Leadership and Management (ORGL667)
Let's make them bold instead of h3.

enter descriptions for the org leadership and ministry practice pages.

Once those things are

[2015-04-16 19:32] ale73233 opened #463 "Areas of Study icon missing"
Hi caleb, we received a footprints job (14537) with this issue:
The icons for "areas of study" aren't appearing on CAS program pages like
this one;

https://www.bethel.edu/undergrad/academics/athletic-training/

[2015-04-16 20:53] annmarieven commented on #426
beautiful! you're the best! :grinning:

[2015-04-16 21:04] annmarieven commented on #328
I've checked a few others, but the mba one seems to be the only one that got fixed. And I have published a few times and checked in an incognito window.

https://staging.bethel.edu/graduate/academics/education-doctorate/how-to-apply

[2015-04-16 21:06] e-jameson commented on #328
There is no data in Banner for most anymore. It disappeared. @hamtim said they were working on it (?)

http://wsapi.bethel.edu/capsgs-checklist/2-MS-PASG/2

[2015-04-17 14:44] a-gundy commented on #444
The grid I'm working with:

https://docs.google.com/a/bethel.edu/spreadsheets/d/1638zkuIoM27Z0C2AN2YcBaEidc5GFHnDkkJoSUp_t7E/edit#gid=757457493

[2015-04-17 15:30] hamtim commented on #328
I'm not sure why updating the items has been so difficult for admissions. I'm meeting with Vickie this afternoon and will tell her that they need to figure it out because we're launching with whatever is on those pages. #fail

[2015-04-17 15:50] annmarieven opened #464 "Old Event Page No Crawl"
Brooke's request:
I have been getting a few requests for old event page to be deleted (for recurring events). Most recently the New Student Welcome page from 2014 because Liz had a parent get confused on the date because they landed on the 2014 page through search I think and didn't read the 2014 part or something.

I know we don't want to delete the pages so I'm not sure there is much we could do

[2015-04-20 14:09] e-jameson commented on #464
I'm not sure I like this solution. If we are going to prevent crawling we might as well just delete them...?

[2015-04-20 20:59] annmarieven commented on #463
@c-schwarze did you see this?

[2015-04-20 21:00] c-schwarze commented on #463
Yeah. Asking @johjacb . The connection is correct (from what I can tell). But the image isn't where it should be...

[2015-04-21 14:05] a-gundy commented on #457
Launched, made a note in google analytics, and archived.

[2015-04-21 14:05] #457 closed

[2015-04-21 15:13] hamtim opened #465 "Why all the bold?"
@c-schwarze Can you look into why the bottom half of this page is bold?

https://www.bethel.edu/employment/openings/postings/2015/april/assistant-wellness-director

[2015-04-21 15:30] c-schwarze commented on #465
Somehow in the education WYSIWYG, the bold tags were being created, but not finished. I have no idea how that occurred.

But its fixed now!

[2015-04-21 15:30] #465 closed

[2015-04-21 15:37] a-gundy opened #466 "Photo galleries not showing up"
The photo gallery on https://www.bethel.edu/dining-services/promotions/cooking-classes/cooking-class-14 works fine, but when I republished it to staging, the gallery disappeared.
(https://cms.bethel.edu/entity/open.act?id=a1a55ab58c5865132a1de4ef20cb11f8&type=page)

I've also been having trouble getting photo galleries to show up in staging for other pages.

[2015-04-21 16:23] c-varberg commented on #435
I updated it to search for specific spaces

Test Page:
https://staging.bethel.edu//_testing/calebv/basic1?

Block: the space is currently set to nothing, so the test page will just search through everything
https://cms.bethel.edu/entity/open.act?id=d77f12ef8c586513575344826cd390d8&type=block&

The block takes a "Specific Space" attribute. These can be found by going to confluence and searching for

[2015-04-21 19:37] annmarieven opened #467 "Block without Data Definition data definition"
Per our clean up discussion, we said @e-jameson needs to find a new name for this data definition.
https://cms.bethel.edu/entity/open.act?id=2db23bb78c5865131d874c310c3856cb&type=structureddatadefinition&

[2015-04-21 19:38] e-jameson commented on #467
done.

[2015-04-21 19:38] #467 closed

[2015-04-21 21:00] annmarieven opened #468 "Sitemap content types and config sets"
@e-jameson is going to look at these to determine if they're still needed:

https://cms.bethel.edu/entity/open.act?id=1e9e73d18c58651313b6fe6ba78100ac&type=contenttypecontainer&
https://cms.bethel.edu/entity/open.act?id=ef6a1df58c58651375fc4ed26949ed3b&type=contenttype&

[2015-04-21 21:02] annmarieven commented on #468
Check these config sets too:

https://cms.bethel.edu/entity/open.act?id=ef6a1df58c58651375fc4ed26949ed3b&type=contenttype&
https://cms.bethel.edu/entity/open.act?id=1e9e73d18c58651313b6fe6ba78100ac&type=contenttypecontainer&

[2015-04-21 21:06] annmarieven opened #469 "Combine xml content types and config sets"
I have this note on my document but I don't know how to do it or what exactly we meant by it.

** Combine xml content types and config sets into one of each **
@e-jameson can you take a look?

[2015-04-21 21:07] annmarieven opened #470 "E-announcement config set and content type"
we said to delete the e-announcement config set but the e-announcement content type is using it. can both be deleted or should be e-announcement content type be using a different config set?

[2015-04-21 21:19] annmarieven opened #471 "Summer School Site Launch & Issues"
@parlau I've published the site. Can you include a google sheet with redirects in this issue to finish the launch?

Thanks!

[2015-04-21 21:46] parlau commented on #471
Are we able to edit the department headers? For example: Anthro, Soc, and Rec Studies. I know that's how it is in Banner...

Redirects are on the sheet labeled "4.21.15." (Those MWL ones also need to be done--I had already started another list.) https://docs.google.com/a/bethel.edu/spreadsheets/d/1a23esJ3_S7hLfwt1Hwp5TXqVZ23jCZ3U4bOBXD17Oow/edit#gid=962366028

[2015-04-22 14:24] parlau commented on #471
Let me/Tim know when things are ready so the email can be sent with the new URL.

[2015-04-22 15:17] annmarieven commented on #471
@parlau unfortunately we can't change the headers since it's pulling right from banner..

[2015-04-22 15:22] annmarieven commented on #471
@ale73233 can you go through the silva site here: cas.bethel.edu/summer-school/edit and make sure we have all the pages accounted for on the redirects grid? https://docs.google.com/a/bethel.edu/spreadsheets/d/1a23esJ3_S7hLfwt1Hwp5TXqVZ23jCZ3U4bOBXD17Oow/edit#gid=962366028

[2015-04-22 15:30] ale73233 commented on #471
I looked through the site and they all were there except this page:
http://cas.bethel.edu/summer-school/descriptions/
I added it to the grid.

On Wed, Apr 22, 2015 at 10:22 AM, AnnMarie <notifications@github.com> wrote:

[2015-04-22 16:12] annmarieven opened #472 "Changing Major List assets' data definition"
Go here for the list of all the major lists:
https://cms.bethel.edu/entity/relationships.act?id=c4c088b38c5865130c130b3adca79d02&type=structureddatadefinition

1. Edit each one, change the data definition to "include format"
2. Paste this into the name of format field:
**list-majors-minors**
3. Submit (don't send to workflow)

Reassign this issue to me when it's done.

[2015-04-22 16:21] ale73233 commented on #472
Finished!:)

[2015-04-22 16:58] ale73233 opened #473 "Changing Event and News Feeds to Blocks"
all schools start with gs
Go through undergrad academics
create new event feed in every folder
system name: parent folder id of site (art-event-feed)
delete page one and rename block
Title: site name (Art Event Feed)
open in firefox and chrome
look at settings of the page feed
look in department tag it
check heading, copy and paste
no work flow
submit
delete event feed page uncheck unpublish conte

[2015-04-22 17:30] parlau commented on #471
@annmarieven okay,

It seems to just be me, but every time I type in the new url or click the link from the left nav on https://www.bethel.edu/undergrad/academics/majors-minors, I still get kicked back to the old page. ?? I can get to the subpages, but the Summer School index keeps going back to the cas.bethel page. I've tried on Chrome, Safari, and Firefox.

[2015-04-22 18:56] johjacb commented on #463
should be back in place

[2015-04-22 19:10] annmarieven commented on #472
Deleted data defintion. Closing issue.

[2015-04-22 19:10] #472 closed

[2015-04-22 20:14] annmarieven commented on #471
@e-jameson can you put the redirects in for this site?

@parlau it's redirecting because we haven't done the redirects yet.

[2015-04-22 20:18] e-jameson commented on #471
done.

[2015-04-22 20:21] annmarieven commented on #471
@parlau and @hamtim redirects are finished and the site is officially launched!

closing issue.

[2015-04-22 20:21] #471 closed

[2015-04-23 13:57] #463 closed

[2015-04-23 15:20] c-schwarze opened #474 "Create list of events without descriptions"
AnnMarie requested:

"Can we pull a report of events that don't have something in the description field?"

Either use the Query API tool or just recursively check.

@c-varberg let me know if you have any questions.

[2015-04-23 16:18] e-jameson commented on #470
I updated the content type and deleted the config set.

[2015-04-23 16:18] #470 closed

[2015-04-23 16:39] e-jameson commented on #469
I did this.

[2015-04-23 16:39] #469 closed

[2015-04-23 17:03] e-jameson commented on #468
These are all deleted.

[2015-04-23 17:03] #468 closed

[2015-04-23 20:25] ale73233 commented on #473
finished gs and caps, start undergrad tomorrow,

[2015-04-23 22:06] c-schwarze commented on #466
Fixed.

[2015-04-23 22:06] #466 closed

[2015-04-24 12:25] annmarieven opened #475 "GS Academics MBA Site Launch and Issues"
We are going to launch this site: https://staging.bethel.edu/graduate/academics/mba/

I will do testing on the most recent versions of Chrome, FF, Safari, and iOS 8 on iPhone 6.

@a-parrott can you browse through the site on your phone and note in here what kind of phone it is?

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1C1IXgA2jgj0V2_mONHispe90NW7voEbAzXe7UOm28O4/edit#gi

[2015-04-24 12:30] annmarieven commented on #475
Off to a good start... :wink: I did a final publish to staging before I started testing and now the homepage is completely blank except for the page title. :stuck_out_tongue_closed_eyes: @e-jameson or @johjacb can you take a look?

[2015-04-24 13:20] a-parrott commented on #475
Looking good so far! My phone is a Moto G Android 4.4.

[2015-04-24 13:20] annmarieven commented on #475
Chrome, FF and Safari all look good (except for haven't proofed the homepage)

[2015-04-24 14:27] a-gundy opened #476 "Transportation Site Migration"
I'm moving the Transportation site from old Silva to Cascade.

Migration grid: https://docs.google.com/a/bethel.edu/spreadsheets/d/1OQFAOAbkUk8FPhJ1CYVNb8P45dEjzmvUzFc-1XYDrso/edit#gid=714966338

Location in Cascade: https://cms.bethel.edu/entity/open.act?id=dcc119768c5865130265fd80fa096ffc&type=folder&

Redirect grid: https://docs.google.com/a/bethel.edu/spreadsheets/d/1Zgo_g5L4LXodhceWQpRBFpttNI

[2015-04-24 16:12] ale73233 commented on #473
undergrad, caps, gs are all done. Seminary doesn't have any news feeds. Human Kinetics in undergrad didn't have a news feed page.

[2015-04-24 16:21] annmarieven commented on #475
@johjacb
Minor issues on iOS 8:
massive space between program details list and spotlight paragraph.
https://files.slack.com/files-pri/T02513GQF-F04HZLDRT/slack_for_ios_upload.jpg

Major issue on iOS 8:
Quotes not appearing
https://files.slack.com/files-pri/T02513GQF-F04HBSMEG/slack_for_ios_upload.png

[2015-04-24 19:12] annmarieven commented on #475
Site launched, reviewed, and everything looks good! Rule and redirects have been put in place.

[2015-04-24 19:12] annmarieven commented on #475
@a-gundy just a few minor things left to do and then you can close this issue.

Thank you!

[2015-04-24 19:16] ErikGruber opened #477 "layout differences flex vs basic"
Hey @johjacb , I noticed that the top content on basic pages is even with the blue box - https://www.bethel.edu/graduate/academics/mba/networking

and it drops down a bit in flex - https://www.bethel.edu/graduate/academics/mba/program-details/

Let me know if that didn't make sense.

[2015-04-24 20:54] e-jameson commented on #464
Added this to sitemap

[2015-04-24 20:54] #464 closed

[2015-04-27 14:09] a-gundy commented on #475
Tagged in analytics and archived site in Silva.

[2015-04-27 14:09] #475 closed

[2015-04-27 14:38] c-varberg commented on #244
https://staging.bethel.edu/_testing/calebv/StoryHub
I moved the code into velocity, but it still looks exactly the same

[2015-04-27 14:53] e-jameson commented on #426
I think everything in this issue is done.

[2015-04-27 14:53] #426 closed

[2015-04-27 14:58] a-gundy commented on #476
@annmarieven, would you look at this site? https://staging.bethel.edu/transportation/
Let me know what kind of changes you'd like me to make.

[2015-04-27 15:57] e-jameson commented on #435
@annmarieven do we need this issue open anymore?

[2015-04-27 16:00] annmarieven commented on #473
@ale73233 can you do the same thing with news feeds? Create new news article feed blocks, link them to the homepage of each site, and then delete the news feed **page**?

[2015-04-27 16:03] annmarieven commented on #473
all schools start with gs
Go through [school]/academics
create new news article feed in every folder
system name: parent folder system name of site (art-news-article-feed)
Title: site name (Art News Article Feed)
open in existing news article feed page in a new window
look at settings of the page feed
look in department/program tag
check heading, copy and paste
look at number of articles, and arti

[2015-04-27 16:05] c-varberg commented on #474
This is the list of events I was able to Query for that don't have a description. Let me know if this isn't what you were looking for.

events/2015/bsg/cosmic-valentines-bowling
events/2014/bsg/residence-hall-co-ed-dodgeball-competition
events/2015/academic-dates/finals-spring-cas
events/2015/academic-dates/summer-term-c-begins
events/2015/academic-dates/second-half-spring-classes-begin
events/201

[2015-04-27 16:08] e-jameson commented on #474
@c-varberg: Great work!

@c-schwarze can you work with V. to get this on a staging page in _testing somewhere and make the links go to the staging pages?

[2015-04-27 16:10] e-jameson opened #478 "Sort Location and Delivery"
@c-schwarze can you sort location and deliveries alphabetically on these pages:

https://www.bethel.edu/graduate/academics/mba/

[2015-04-27 16:33] c-varberg commented on #474
Caleb already left, but this is what I was able to come up with
https://staging.bethel.edu/_testing/calebv/events/events-without-description-page

[2015-04-27 16:43] a-parrott opened #479 "Deleted Page Still Live"
This page is deleted, but it's still visible:

https://www.bethel.edu/graduate/academics/nurse-midwifery/preceptors/course-of-study

Thanks!

[2015-04-27 16:46] #479 closed

[2015-04-27 16:53] c-varberg commented on #474
I just realized there is a metadata description as well as an event description in the data definition. The page is currently searching for empty metadata description. Which one did we want it to look through?

[2015-04-27 16:56] ale73233 commented on #473
finished graduate/adult undergrad news feeds
start in undergrad

[2015-04-27 19:15] e-jameson commented on #474
@annmarieven how does that list look and do you know the answer to @c-varberg question?

[2015-04-27 19:21] annmarieven commented on #474
We want a list of items without something in the metadata description.

[2015-04-27 19:22] annmarieven commented on #474
also, thanks!! this is exactly what we needed :)

[2015-04-27 19:22] #474 closed

[2015-04-27 19:32] annmarieven opened #480 "GS Academics MA in Gerontology Site Launch and Issues"
We are going to launch this site on 4/28: https://staging.bethel.edu/graduate/academics/gerontology

I will do testing on the most recent versions of FF, Safari, and iOS 8 on iPhone 6.

@ErikGruber can you browse through the site on Chrome?
@a-parrott can you browse through the site on your Android 4?
@mwengstrom can you browse through the site on IE 11?

Migration grid:
https://docs.google.com/a/

[2015-04-27 19:43] annmarieven opened #481 "CAPS Academics BS in Nursing (RN to BS) Site Launch and Issues"
We are going to launch this site on 4/28: https://staging.bethel.edu/adult-undergrad/academics/nursing

I will do testing on the most recent versions of FF, Safari, and iOS 8 on iPhone 6.

@ErikGruber can you browse through the site on Chrome?
@a-parrott can you browse through the site on your Android 4?
@mwengstrom can you browse through the site on IE 11?

Migration grid:
https://docs.google.com

[2015-04-27 20:33] ErikGruber commented on #480
I'm thinking that news story shouldn't be there?

[2015-04-27 20:33] annmarieven commented on #480
News feeds are a little messed up. @c-schwarze were you taking a look at those?

[2015-04-27 20:34] ErikGruber commented on #480
is the Faculty link in the left nav broken for anyone else?

[2015-04-27 20:35] ErikGruber commented on #480
and How to Apply?

[2015-04-27 20:35] annmarieven commented on #480
No?

[2015-04-27 20:36] c-schwarze commented on #480
Yeah I'm working on the news feeds.

[2015-04-28 13:20] annmarieven commented on #481
site image banks appear to be broken on staging - https://staging.bethel.edu/adult-undergrad/academics/nursing/ @c-schwarze or @e-jameson ?

[2015-04-28 13:25] a-parrott commented on #480
Android 4.4 - Image bank is missing on the homepage
The homepage does not scroll past the main image
Recent News and Upcoming Events headings appear, though they are set to hide

Everything else looks great!

[2015-04-28 13:42] c-schwarze commented on #481
Oops. My bad. Should be fixed now (mostly).

[2015-04-28 13:46] a-parrott commented on #480
Android 4 - On the homepage, the quotes are partially cut.

[2015-04-28 13:46] annmarieven commented on #480
Same with iPhone 6 (iOS 8). I think it has something to do with the new carousel we're using..?

[2015-04-28 13:48] annmarieven commented on #481
Everything looks good in FF, Safari, and iOS 8 except for the quote carousel cutting off quotes on mobile devices.

[2015-04-28 13:53] a-parrott commented on #481
Looking good on Android 4.

[2015-04-28 14:23] annmarieven commented on #481
This is live and looking good. Passing to you @a-gundy :)

[2015-04-28 14:40] annmarieven commented on #480
This is live and looking good. Passing to you @a-gundy :)

Also, @mwengstrom can you do testing on IE when you get in today?

[2015-04-28 14:42] annmarieven commented on #473
@ale73233 After you're done updating all the news and events feeds, can you create both a news article feed block and an event feed block for all of the Seminary programs?

Thank you!!

[2015-04-28 14:44] a-gundy commented on #481
Added analytics note and archived silva site.

@mwengstrom,
Assigning to you for IE testing. Reassign to @annmarieven when you are done.

[2015-04-28 14:45] #435 closed

[2015-04-28 14:45] #328 closed

[2015-04-28 14:51] a-gundy commented on #480
Archived site and added analytics tag.

@mwengstrom,
Reassign to @annmarieven when you're done testing in IE.

[2015-04-28 15:31] e-jameson commented on #330
@c-varberg this can be set to autoCache for 12 hours.

[2015-04-28 15:32] e-jameson commented on #478
@c-varberg you could look into this too. Check out /_cascade_formats/blocks_programs/ for examples on sorting.

[2015-04-28 15:32] e-jameson commented on #244
@ErikGruber can you review this sometime.

[2015-04-28 16:23] ale73233 commented on #473
I'm waiting to do the undergrad news and events feeds this afternoon so I can do them all at once. I tried adding an event feed to a seminary program but in the event feed block, there is no seminary block with listed programs to tag, can that be added somehow?

[2015-04-28 16:23] a-gundy commented on #444
@annmarieven,
Would you proof this site? https://staging.bethel.edu/undergrad/academics/support/
Let me know what changes need to be made.

[2015-04-28 18:21] c-varberg commented on #330
alright, it appears to be working now.
I used the same page and block. The format I used it here.
/_cascade/formats/blocks/blocks-without-data-definitions/individual-courses

[2015-04-28 19:01] annmarieven opened #482 "GS Academics MS in Nurse-Midwifery Site Launch and Issues"
We are going to launch this site on 4/29: https://staging.bethel.edu/graduate/academics/nurse-midwifery

I will do testing on the most recent versions of FF, Safari, and iOS 8 on iPhone 6.

@ErikGruber can you browse through the site on Chrome?
@a-parrott can you browse through the site on your Android 4?

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1C1IXgA2jgj0V2_mONHispe9

[2015-04-28 19:23] annmarieven opened #483 "GS Academics Ed.D. Site Launch and Issues"
We are going to launch this site on 4/29: https://staging.bethel.edu/graduate/academics/education-doctorate

I will do testing on the most recent versions of FF, Safari, and iOS 8 on iPhone 6.

@ErikGruber can you browse through the site on Chrome?
@a-parrott can you browse through the site on your Android 4?

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1C1IXgA2jgj0V2_mONHi

[2015-04-28 19:31] annmarieven opened #484 "CAPS Academics BS in Accounting Site Launch and Issues"
We are going to launch this site on 4/29: https://staging.bethel.edu/adult-undergrad/academics/accounting/

I will do testing on the most recent versions of FF, Safari, and iOS 8 on iPhone 6.

@ErikGruber can you browse through the site on Chrome?
@a-parrott can you browse through the site on your Android 4?

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/13YMTx5qrCCXtTerntuDI

[2015-04-28 20:09] ale73233 commented on #473
I finished undergrad news and event feeds. I did all of the Seminary article feeds, the sem event feeds need seminary program tagging box.

[2015-04-28 21:03] mwengstrom commented on #480
On the homepage,

The proof point is not showing animation and the text is offset.
![image](https://cloud.githubusercontent.com/assets/5014864/7380221/14d81b36-edc0-11e4-87c9-354f91df5594.png)

Some images are not displaying
![image](https://cloud.githubusercontent.com/assets/5014864/7380182/c101752a-edbf-11e4-9e80-0c46edbf6696.png)
vs.
![image](https://cloud.githubusercontent.com/assets/5014864/7

[2015-04-28 21:06] mwengstrom commented on #480
Other than that it looks good, reassigning to @annmarieven

[2015-04-28 21:13] mwengstrom commented on #481
On the homepage, the images above 'Skills', 'Careers', and 'Employers' do not appear in IE

[2015-04-29 11:19] annmarieven commented on #482
Looks good on FF and Safari

[2015-04-29 11:24] annmarieven commented on #482
There's just one issue with the delivery code pulling both O and OI when Dave believes it should only be OI. He said he fixed it and the sync ran last night but O and OI are still both in the program block. I'm following up with @e-jameson to see if it's something on our end or if we need to talk to Dave again.

[2015-04-29 13:09] ErikGruber commented on #482
Looks good in Chrome

[2015-04-29 13:13] a-parrott commented on #482
Android 4 - One of the quotes (the one with the photo) is cut short.

[2015-04-29 13:20] a-parrott commented on #483
Android 4 - Concentration descriptions appear to be missing from the homepage; quotes cut short.

[2015-04-29 13:28] a-parrott commented on #484
Android 4 - The homepage doesn't scroll past Recent News, the news heading appears although there isn't any news, the image bank is gone.

But all other pages look great!

[2015-04-29 13:37] a-parrott commented on #484
Fixed via republish. Thanks @annmarieven

[2015-04-29 13:43] annmarieven commented on #484
FF, Safari, and iOS 8 on iPhone 6 look good.

[2015-04-29 14:00] annmarieven commented on #484
@vedmic there is no tracking code in the google doc from haworth so I wasn't able to put in a floodlight tag.

[2015-04-29 14:06] annmarieven commented on #484
Site launched, looking good. Passing to you @a-gundy

You can assign it to @vedmic when you're done so he can take care of the floodlight tag.

[2015-04-29 14:06] annmarieven commented on #484
Oops. There was no old site. So.... nothing to tag in analytics or close/archive in Silva. :stuck_out_tongue:

[2015-04-29 14:36] annmarieven commented on #483
My quotes were cut off on my iPhone but a republish has fixed this. I'm assuming it's fixed for @a-parrott too :)

Firefox and Safari look good.

Getting ready to launch.

[2015-04-29 14:39] ErikGruber commented on #483
Everything looks good in Chrome, except the delivery description being wrong.

[2015-04-29 14:41] ErikGruber commented on #484
good in chrome

[2015-04-29 15:31] annmarieven commented on #483
The site has been launched.

@vedmic how do we do the floodlight tag since it was 2 different sites before and now there's only 1?

[2015-04-29 17:04] c-varberg commented on #478
It's sorted now on that page. Did you also want them sorted on the individual concentration pages?
Like this one
https://staging.bethel.edu/graduate/academics/mba/program-details/global-management

[2015-04-29 18:19] c-varberg commented on #478
the concentration pages are also sorted now.

[2015-04-29 18:24] #478 closed

[2015-04-29 18:56] annmarieven commented on #483
@a-gundy this is ready for you now.

[2015-04-29 18:58] annmarieven commented on #481
@johjacb can you take a look at the IE issues?

[2015-04-29 19:00] annmarieven commented on #481
@ale73233 can you link up the news feed to the index (site is in issue title)? then publish the page, check off the box at the top of this issue and that's it! keep it open for jake.

[2015-04-29 19:01] annmarieven commented on #480
@ale73233 can you link up the news feed to the index (site is in issue title)? then publish the page, check off the box at the top of this issue and that's it!

Assign to @johjacb when you're done so he can look at the IE issues.

[2015-04-29 19:39] annmarieven commented on #473
@ale73233 Now that we've done all academics, we have to clean up the rest of the random feeds :)

Using these links, can you go through and create blocks in place of the pages? Embed the newly created blocks where the pages were, delete the feed pages, and republish the page with the feed on it. View it at www to make sure everything is working right.

event feeds -
https://cms.bethel.edu/entity/r

[2015-04-30 14:50] e-jameson commented on #330
@c-varberg can you push your code to GitHub?

[2015-04-30 16:56] ale73233 commented on #473
still working on this

[2015-04-30 20:11] c-schwarze opened #485 "Online Programs"
@ErikGruber  passing this off to you. Let me know what changes you would like.

https://staging.bethel.edu/_testing/caleb-schwarze/online-programs

[2015-04-30 20:56] ale73233 commented on #473
Hi Eric,
I finished adding all of the event and news article feeds.

[2015-05-01 14:18] c-varberg commented on #330
oh yea sorry. I forgot I added to the php

[2015-05-04 14:42] ErikGruber opened #486 "Media Text - title link"
The media+text block is currently set up to require the Title to be linked to something. Could we add an option to not have the Title linked to anything?

[2015-05-04 15:13] c-schwarze commented on #486
I updated the media-text block, so you have the option to choose to not have a link for the title.

[2015-05-04 15:15] ErikGruber commented on #486
Looks good. Thanks!

[2015-05-04 15:15] #486 closed

[2015-05-04 16:45] annmarieven opened #487 "GS Academics MA in Teaching Site Launch and Issues"
We are going to launch this site on 5/5: https://staging.bethel.edu/graduate/academics/teaching

I will do testing on iOS 8 on iPhone 6.

@ale73233 can you browse through the site on Chrome, FF and Safari?
@a-parrott can you browse through the site on your Android 4?

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1C1IXgA2jgj0V2_mONHispe90NW7voEbAzXe7UOm28O4/edit#gid=202989906

[2015-05-04 16:54] ale73233 commented on #487
FF: These links aren't working in FF:
https://www.bethel.edu/graduate/academics/teaching/faculty
https://www.bethel.edu/graduate/academics/teaching/program-details/

still need to look at chrome and safari

On Mon, May 4, 2015 at 11:45 AM, AnnMarie <notifications@github.com> wrote:

[2015-05-05 15:32] ale73233 commented on #487
Everything looks good in chrome and safari.

On Mon, May 4, 2015 at 11:54 AM, Allie Emmert <ale73233@bethel.edu> wrote:

[2015-05-05 15:34] e-jameson commented on #487
The www versions or staging? They aren't meant to be live yet correct?

[2015-05-05 15:40] ale73233 commented on #487
The staging!

On Tue, May 5, 2015 at 10:34 AM, Eric Jameson <notifications@github.com>
wrote:

[2015-05-05 15:43] a-parrott commented on #487
Android 4 - Quotes cut short.

Making a list for registrar of courses in the course description with ?s.

[2015-05-05 15:50] e-jameson commented on #482
rule is done.

[2015-05-05 16:14] annmarieven commented on #482
Site launched, redirects in, things look good. Passing to you @a-gundy

[2015-05-05 16:15] annmarieven commented on #480
@ale73233 can you look at this?

[2015-05-05 16:15] annmarieven commented on #481
@ale73233 can you look at this?

[2015-05-05 16:19] ale73233 commented on #480
I linked up the news feed to the index and published the page!

[2015-05-05 16:21] annmarieven commented on #487
@a-parrott I republished the site to staging - can you see if that fixes the quotes thing?

[2015-05-05 16:23] ale73233 commented on #481
I linked up the news feed to the index and published the page.

[2015-05-05 16:30] a-parrott commented on #487
Cleared the cache, but the quotes are still cut short on my phone. Also, the Recent News heading appears although there are no articles (the feed is set to hide).

[2015-05-05 16:47] annmarieven opened #488 "News Archive Feeds look at metadata"
Can we setup the news archive feeds to use metadata? Right now they're not :)

I will respond to job 14653 when this is done.

[2015-05-05 16:49] c-schwarze commented on #487
News/Event feeds should hide properly now

[2015-05-05 16:53] c-schwarze commented on #488
@c-varberg I am passing this one off to you. Should be an easy fix, just call the same functions as the news articles to match metadata.

Let me know if you have any questions.

[2015-05-05 17:25] a-gundy commented on #482
Tagged and archived. @annmarieven, does this need to be proofed in IE or can we close this issue?

[2015-05-05 19:25] annmarieven commented on #480
@johjacb do you want to do anything about @mwengstrom's testing in IE 11?

[2015-05-05 19:26] annmarieven commented on #481
@johjacb do you want to do anything with @mwengstrom's testing in IE 11? If not, close the issue.

[2015-05-05 19:26] annmarieven commented on #482
We don't need to keep proofing all of them in IE. closing.

[2015-05-05 19:26] #482 closed

[2015-05-06 14:54] c-varberg commented on #488
@annmarieven It should be working now. Let me know if you have any problems with it!

[2015-05-06 18:07] annmarieven commented on #487
Quotes are cut off on my iPhone 6 too. @c-schwarze @johjacb @e-jameson can one of you look at this?

[2015-05-06 18:39] annmarieven opened #489 "GS Academics MA in Strategic Leadership Site Launch and Issues"
Getting ready for launch: https://staging.bethel.edu/graduate/academics/strategic-leadership/

I will do testing on iOS 8 on iPhone 6, Chrome, FF and Safari.
@a-parrott can you browse through the site on your Android 4?

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1C1IXgA2jgj0V2_mONHispe90NW7voEbAzXe7UOm28O4/edit#gid=29744874

Redirects:
https://docs.google.com/a/bethel.edu

[2015-05-06 19:13] annmarieven commented on #489
Looks good in Chrome, FF, Safari, and iOS 8 on iPhone 6. Even the quote isn't cut off. This one doesn't have an image so I wonder if that has something to do with it.

[2015-05-06 19:28] a-parrott commented on #489
Looks good on Android 4!

[2015-05-06 19:34] annmarieven opened #490 "CAPS Academics BA in Christian Ministries Site Launch and Issues"
Getting ready for launch: https://staging.bethel.edu/adult-undergrad/academics/christian-ministries/

I will do testing on iOS 8 on iPhone 6 and Safari.
@ErikGruber will you do Chrome and FF?
@a-parrott can you browse through the site on your Android 4?

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/13YMTx5qrCCXtTerntuDIguVhKPH6mcQK0plCeaNbCh4/edit#gid=1108329628

Redirects:

[2015-05-06 19:37] annmarieven opened #491 "CAPS Academics BA in Human Services Site Launch and Issues"
Getting ready for launch: https://staging.bethel.edu/adult-undergrad/academics/human-services/

I will do testing on iOS 8 on iPhone 6 and Safari.
@ErikGruber will you do Chrome and FF?
@a-parrott can you browse through the site on your Android 4?

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/13YMTx5qrCCXtTerntuDIguVhKPH6mcQK0plCeaNbCh4/edit#gid=1462047950

Redirects:
https:

[2015-05-06 19:49] e-jameson commented on #487
rule is done

[2015-05-06 19:54] annmarieven commented on #487
The site has been launched and looks good! Passing to you @a-gundy

[2015-05-06 20:00] ErikGruber commented on #490
In Chrome, there's no space between the white "Online" box and Courses

https://staging.bethel.edu/adult-undergrad/academics/christian-ministries/program-details/

[2015-05-06 20:01] annmarieven commented on #483
Mike and I talked, I've created the floodlight tag.

[2015-05-06 20:04] ErikGruber commented on #490
Same issue in FF

[2015-05-06 20:07] ErikGruber commented on #490
Course descriptions -

Understanding the Bible (BIBL360)
Communication in Ministry (CHMN451)

have question marks instead of apostrophes

[2015-05-06 20:15] ErikGruber commented on #491
In Chrome - the quote info is displaying wrong - it isn't displaying the person's name, and the grad year and current job are on the same line

[2015-05-06 20:17] ErikGruber commented on #490
In Chrome - the quote info is displaying wrong - it isn't displaying the person's name, and the grad year and current job are on the same line

[2015-05-06 20:18] ErikGruber commented on #491
In Chrome, there's no space between the white "Online" box and Courses

https://staging.bethel.edu/adult-undergrad/academics/human-services/program-details/

[2015-05-06 20:18] ErikGruber commented on #491
same issue in FF

[2015-05-06 20:19] e-jameson commented on #491
Are time to completion and credits coming back before these go live? Thats probably why the spacing is strange.

[2015-05-06 20:19] ErikGruber commented on #491
Course descriptions w/ question marks:

Individual and Family Psychopathology (HUSE350)

Counseling Microskills (HUSE440)

[2015-05-06 20:19] e-jameson commented on #491
Are time to completion and credits coming back before these go live? Thats probably why the spacing is strange.

[2015-05-06 20:39] a-parrott commented on #491
Android 4 - quotes are cut short

[2015-05-06 20:52] a-parrott commented on #490
Android 4 - the quote is cut short.

[2015-05-07 12:57] annmarieven opened #492 "CAPS Academics BA in Organizational Leadership Site Launch and Issues"
Getting ready for launch: https://staging.bethel.edu/adult-undergrad/academics/organizational-leadership/

I will do testing on iOS 8 on iPhone 6 and Safari.
@ale73233 will you do Chrome and FF?
@a-parrott can you browse through the site on your Android 4?

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/13YMTx5qrCCXtTerntuDIguVhKPH6mcQK0plCeaNbCh4/edit#gid=1557122749

Redirect

[2015-05-07 13:06] annmarieven opened #493 "CAPS Academics BS in Business Management Site Launch and Issues"
Getting ready for launch: https://staging.bethel.edu/adult-undergrad/academics/business-management/

I will do testing on iOS 8 on iPhone 6 and Safari.
@ale73233 will you do Chrome and FF?
@a-parrott can you browse through the site on your Android 4?

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/13YMTx5qrCCXtTerntuDIguVhKPH6mcQK0plCeaNbCh4/edit#gid=166836598

Redirects:
http

[2015-05-07 13:17] e-jameson commented on #489
rule is done

[2015-05-07 13:23] annmarieven commented on #489
this site is launched and looks good! passing to @a-gundy

[2015-05-07 13:41] annmarieven commented on #490
I sent the courses to Dave for fixing. The quotes are also fixed.

@johjacb can you look at the spacing issue that @ErikGruber mentioned?

[2015-05-07 14:06] annmarieven commented on #490
Safari has the same spacing issue E mentioned above. Other than that, looks good. iOS 8 on iPhone 6 looks good too.

[2015-05-07 14:07] annmarieven commented on #490
@vedmic I don't see Christian Ministries in this grid for the floodlight tag - https://docs.google.com/spreadsheets/d/1Dt3mn1YIFCuAVjFI9CRzZSowiAgrjxftWjFnEiA1BxI/edit#gid=0

[2015-05-07 14:12] a-gundy commented on #489
Tagged and archived. Closing.

[2015-05-07 14:12] #489 closed

[2015-05-07 14:14] a-gundy commented on #487
Tagged and archived. Closing issue.

[2015-05-07 14:14] #487 closed

[2015-05-07 14:18] a-gundy commented on #483
Tagged launch and archived the three Ed.D. sites. Closing issue.

[2015-05-07 14:18] #483 closed

[2015-05-07 14:59] annmarieven commented on #491
I sent the courses to Dave for fixing.

iOS 8 on iPhone 6 looks good and so does Safari

[2015-05-07 15:36] johjacb commented on #477
yes this is a known issue. any Section automatically gets padding added on all sides, including top padding on the first Section of the page.

[2015-05-07 15:37] c-schwarze opened #494 "List all events with "all-day""
@c-varberg could you create a list of all events that have "all-day" checked?

You will probably have to recursively do this as opposed to using the query API tool (it only returns 500 items max, and there are 600+ events)   :(

[2015-05-07 15:38] ale73233 commented on #492
everything looks good in FF and Chrome!

[2015-05-07 15:44] c-schwarze commented on #494
If you could also link the results to the specific cms edit page, that would be great.

[2015-05-07 15:46] ale73233 commented on #493
FF and Chrome: on the faculty page, https://staging.bethel.edu/adult-undergrad/academics/business-management/faculty Denise Fleming's photo is oval and all of the rest are circle.
FF and Chrome: the "request info" button on the bottom of the pages says "request infor"

[2015-05-07 15:48] e-jameson commented on #493
Looks like her image is a rectangle not a square:

https://cdn2.bethel.edu/resize/unsafe/1400x0/smart/https://www.bethel.edu/academics/faculty/images/fleming-denise.jpg

@johjacb anything we can do or does she just need a square image?

[2015-05-07 15:48] a-parrott commented on #493
Android 4:
Quotes cut short
Course with question marks: BUSN575

[2015-05-07 16:02] ErikGruber commented on #485
Let's change the title to Online Programs

[2015-05-07 16:02] ErikGruber commented on #485
@johjacb is probably going to want to take a look at styling.

[2015-05-07 16:10] a-gundy opened #495 "Narrow Images in Firefox"
The site images often appear very narrow in Firefox. Part of the image looks cut off.

![2015-05-06_11-19-52](https://cloud.githubusercontent.com/assets/9537391/7520044/817affde-f4a9-11e4-97f3-900c1a42b022.png)

[2015-05-07 16:10] ale73233 commented on #493
Fixed the info button.

[2015-05-07 16:14] e-jameson commented on #330
@hamtim @annmarieven @ErikGruber @johjacb This is ready to be looked at.

Only thing I know we need to ad is the little expand / collapse buttons.

[2015-05-07 16:15] a-parrott commented on #492
Android:
Short quotes
Courses with question marks: ORGL462, HUSE350

[2015-05-07 16:21] annmarieven opened #496 "GS Academics MA in Counseling Psychology Site Launch and Issues"
Getting ready for launch: https://staging.bethel.edu/graduate/academics/counseling-psychology/

I will do testing on iOS 8 on iPhone 6.
@ale73233 will you do Chrome, FF, and Safari?
@a-parrott can you browse through the site on your Android 4?

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1C1IXgA2jgj0V2_mONHispe90NW7voEbAzXe7UOm28O4/edit#gid=0

Redirects:
https://docs.google

[2015-05-07 16:27] annmarieven commented on #491
Quotes have been fixed. Going to launch with the ? in the course descriptions. Dave will fix shortly.

[2015-05-07 16:30] ale73233 commented on #496
looks good!

[2015-05-07 16:39] ale73233 opened #497 "Events page broken link"
Hi Caleb,
Could you look into this for Brooke Jameson?

events/2015/academic-dates/commencement-spring-cas has the 'Event page link' field filled in but is not actually redirecting there from the calendar, along with the rest of the commencement events I have set to re-direct. I know when I first set up the pages it was working so I'm guessing all the other events with a redirect also don't work n

[2015-05-07 16:45] e-jameson commented on #490
rule is done

[2015-05-07 16:45] e-jameson commented on #491
rule is done

[2015-05-07 16:48] ale73233 commented on #490
redirects are done

[2015-05-07 16:53] ale73233 commented on #491
redirects are done!

[2015-05-07 16:59] annmarieven commented on #490
done and passing to @a-gundy!

[2015-05-07 17:00] annmarieven commented on #491
Done and passing to @a-gundy

[2015-05-07 17:07] a-gundy commented on #491
Tagged and archived. Closing issue.

[2015-05-07 17:07] #491 closed

[2015-05-07 17:08] a-gundy commented on #490
Tagged and archived. Closing issue.

[2015-05-07 17:08] #490 closed

[2015-05-07 17:30] c-schwarze commented on #497
Fixed. This should be left open until Brooke confirms this working. Can you contact Brooke @ale73233 or @annmarieven ?

[2015-05-07 18:07] annmarieven commented on #473
@ale73233 I think you may have forgotten this step - "Embed the newly created blocks where the pages were, delete the feed pages, and republish the page with the feed on it. View it at www to make sure everything is working right."

Maybe not on all of them but the few that I checked hadn't been done. I took screenshots of the items before you went through so you'll have to work off this list --
!

[2015-05-08 14:28] annmarieven commented on #492
Submitted the courses to Dave. Proofed on iOS 8 on iPhone 6 and Safari.

Found an issue with quotes but we may launch without a fix for now.
http://www.screencast.com/t/AH2bChuwdTPb - when your screen is small on a desktop.
https://files.slack.com/files-pri/T02513GQF-F04PY7GJT/slack_for_ios_upload.png - a lot of padding makes for a really long skinny quote section.

[2015-05-08 15:24] annmarieven commented on #493
Fixed Denise Fleming's photo. Ran into some caching issues though so it might not appear fixed to everyone, even though I cleared the cache here:
https://tinker.bethel.edu/cache-test/academics/faculty/images/fleming-denise.jpg

Sent course to Dave.
Allie fixed the request info button.

[2015-05-08 15:41] e-jameson commented on #492
rule is done

[2015-05-08 15:41] e-jameson commented on #493
rule is done

[2015-05-08 15:45] annmarieven commented on #493
Site launched, looks good.

Passing to @a-gundy!

[2015-05-08 15:58] annmarieven commented on #492
Woo! Site launched. Will open a separate job for the minor quote issues.

Passing to @a-gundy

[2015-05-08 15:59] annmarieven opened #498 "Quote issues"
http://www.screencast.com/t/AH2bChuwdTPb - when your screen is small on a desktop.
https://files.slack.com/files-pri/T02513GQF-F04PY7GJT/slack_for_ios_upload.png - a lot of padding makes for a really long skinny quote section.

on Android 4 @a-parrott reported the quotes are getting cut off.

[2015-05-08 16:47] e-jameson commented on #496
rule has been done for a while. forgot to update the ghub.

[2015-05-08 16:48] annmarieven commented on #496
Site launched and looks good! Passing to @a-gundy

[2015-05-08 16:56] c-varberg commented on #494
This is the list I came up with
https://staging.bethel.edu/_testing/calebv/events/events-without-description-page

[2015-05-08 18:27] annmarieven commented on #497
@c-schwarze I just republished a page that is using the external link field but it's still not redirecting for me.

https://cms.bethel.edu/entity/open.act?id=1c0471d58c586513742d45fd5140447d&type=page

live page: https://www.bethel.edu/events/2015/academic-dates/commencement-spring-cas

[2015-05-08 20:51] c-schwarze commented on #497
@e-jameson and I talked. We are going to have every event created through Tinker that has an external link, create a redirect in Tinker as well.

[2015-05-11 14:12] a-gundy commented on #493
Tagged and archived. Closing issue.

[2015-05-11 14:12] #493 closed

[2015-05-11 14:12] a-gundy commented on #492
Tagged and archived. Closing issue.

[2015-05-11 14:12] #492 closed

[2015-05-11 14:13] e-jameson commented on #498
I'm somewhat confident we fixed this (it was only an issue in staging(?)).

Would you mind double checking the pages?

[2015-05-11 14:13] a-gundy commented on #496
Tagged and archived. Closing issue.

[2015-05-11 14:13] #496 closed

[2015-05-11 17:57] hamtim opened #499 "Add Cluster to Robust Metadata"
To automate program listings, we'll need to add a cluster option to the robust metadata. Clusters:

Business & Leadership
Education
Health Sciences & Human Services

I'll open another issue for tagging.

[2015-05-11 17:59] hamtim commented on #499
Realized we also need to add, I think, "Program Title/Name" and URL

[2015-05-11 18:00] hamtim opened #500 "Tag Program Blocks with appropriate metadata"
1. For program breakdown by cluster, see FP 14616.

2. Add URLs for program pages

[2015-05-11 18:50] annmarieven commented on #473
@ale73233 I've had to go and do some of these as people emailed saying their feeds were broken, so you'll run into a few that have already been done. just fyi

[2015-05-11 19:00] annmarieven commented on #497
:+1: sounds good! let me know when it's done and I will update Brooke.

[2015-05-11 19:43] johjacb commented on #495
We fixed some other stuff and it may have taken care of the issue. I was seeing it previously in FF as well, but it looks to me like it is working as expect now.

Check it out and close the issue if its fixed.

[2015-05-11 21:03] c-schwarze commented on #497
Having a meeting with Brooke to figure this out.

[2015-05-12 12:37] johjacb commented on #481
icons are in place

[2015-05-12 14:45] a-gundy commented on #495
I'm still seeing this. Sometimes a shift+refresh fixes it, but not always. https://www.bethel.edu/graduate/academics/counseling-psychology/

[2015-05-12 16:30] a-gundy opened #501 "Total credits not showing"
Total credit info isn't showing up on the live site (or staging) even when it is in the program block.
https://cms.bethel.edu/entity/edit.act?id=9a60534e8c58651357534482f316a934&type=block
https://staging.bethel.edu/graduate/academics/education-doctorate/program-details/higher-education

For some reason it was showing up for some of the programs, but not for others and then it disappeared again wh

[2015-05-12 16:37] c-schwarze commented on #501
I believe we removed showing total credits. @annmarieven can you verify this?

[2015-05-12 17:48] johjacb commented on #480
icons are in place on 11 and  the proof point should be fixed

[2015-05-12 18:47] annmarieven opened #502 "CAPS Academics Associates Degree Site Launch and Issues"
Getting ready to launch this site: https://staging.bethel.edu/adult-undergrad/academics/associates/

I will do testing on the most recent versions of Safari, and iOS 8 on iPhone 6.

@a-parrott can you browse through the site on your Android 4, Chrome, and FF?

Migration grid:
https://docs.google.com/spreadsheets/d/13YMTx5qrCCXtTerntuDIguVhKPH6mcQK0plCeaNbCh4/edit#gid=705000123

Redirects:
https://

[2015-05-12 18:57] annmarieven commented on #480
Awesome! Closing issue.

[2015-05-12 18:57] #480 closed

[2015-05-12 18:58] annmarieven commented on #481
Great! Closing issue.

[2015-05-12 18:58] #481 closed

[2015-05-12 18:59] annmarieven commented on #501
We took it out of the banner data because we were getting incorrect information. We're manually entering that info now. Can it appear if we have manually entered something into the program block?

[2015-05-12 19:08] annmarieven opened #503 "GS Academics MA in Education Site Launch and Issues"
Getting ready to launch this site: https://staging.bethel.edu/graduate/academics/education-k12/

I will do testing on the most recent versions of Safari and iOS 8 on iPhone 6.
@a-parrott can you browse through the site on your Android 4, Chrome, and FF?

Migration grid:
https://docs.google.com/spreadsheets/d/1C1IXgA2jgj0V2_mONHispe90NW7voEbAzXe7UOm28O4/edit#gid=116567737

Redirects:
https://docs.g

[2015-05-12 19:16] a-parrott commented on #502
Looks really good!

[2015-05-12 19:27] annmarieven commented on #500
@hamtim that FP job is a little confusing... am I suppose to be looking at attachments? If so, which ones?

Can you confirm these are the clusters:

Business and Leadership
Education
Healthcare and Human Services

And clarify where I can find the info about which program goes with which cluster?

Thanks :)

[2015-05-12 20:52] johjacb commented on #485
caleb cleaned up the page style a little

[2015-05-12 20:52] c-schwarze commented on #501
Oh gotcha. Should be showing up now on page publish.

[2015-05-12 21:14] annmarieven commented on #473
@ale73233 Touch base with me before you start doing this. Thanks!

[2015-05-13 13:14] a-parrott commented on #503
Firefox: Site images appeared broken. After a republish the images appear narrow: http://screencast.com/t/7psQyXtWclbv

[2015-05-13 13:24] a-parrott commented on #503
Chrome: Looks great!

[2015-05-13 13:46] a-parrott commented on #503
Android 4: Looking good!

[2015-05-13 14:13] annmarieven commented on #502
Safari and iOS 8 on iPhone 6 look good. Getting ready for launch!

[2015-05-13 14:26] a-gundy commented on #501
Republished the program-details pages. Looks good!

[2015-05-13 14:26] #501 closed

[2015-05-13 14:29] e-jameson commented on #502
rules are done

[2015-05-13 14:40] annmarieven commented on #502
Woo! Site :rocket:

Passing to @vedmic for floodlight tag.
@a-gundy you can do your thing too :)

[2015-05-13 14:54] hamtim opened #504 "GS Academics MS in Nurse Educator Site Launch and Issues"
Getting ready to launch this site: https://staging.bethel.edu/graduate/academics/nursing/

I will do testing on the most recent versions of Safari, and iOS 8 on iPhone 6.

@a-parrott can you browse through the site on your Android 4, Chrome, and FF?

Migration grid:
https://docs.google.com/spreadsheets/d/1C1IXgA2jgj0V2_mONHispe90NW7voEbAzXe7UOm28O4/edit#gid=400511749

Redirects:
https://docs.googl

[2015-05-13 15:03] annmarieven commented on #503
Proofed on Safari and iOS 8 on iPhone 6. looks good!

[2015-05-13 15:11] e-jameson commented on #503
rule is done

[2015-05-13 15:16] annmarieven commented on #503
Site :rocket:

Passing to @vedmic for the floodlight tag.
@a-gundy you can take care of your things when you get a chance :)

[2015-05-13 15:38] annmarieven commented on #504
Proofed in Safari and iOS 8. Looks fantastic.

[2015-05-13 15:40] annmarieven commented on #504
Chrome looks good too

[2015-05-13 16:57] annmarieven commented on #497
setup event approver group to view all meetings, conferences, and rentals events when logged into Tinker
add external link field to Tinker but only make available to event approver group
update so 2 people can be listed as authors
auto redirect based on url entered in Tinker

[2015-05-13 16:57] annmarieven commented on #497
@c-schwarze let me know if you need anything else from me :)

[2015-05-13 18:23] a-parrott commented on #504
Firefox: Looking good!
Android 4: Also super.

[2015-05-13 18:32] ale73233 opened #505 "Event Feed Block"
Hey Eric,
I'm linking up event feeds and in /career-development/index we changed the event feed page to an event feed block, I linked up the block but the event feed is still not showing up on the live version. Annmarie had to change the data def from a page chooser to a block chooser.

[2015-05-13 18:34] e-jameson commented on #505
@c-schwarze can you look at this?

[2015-05-13 19:25] ale73233 commented on #473
Finished linking them! This is a list of ones with no relations:
/seminary/admissions/admissions-event-feed
/graduate/admissions/admissions-event-feed
/undergrad/admissions/admissions-event-feed
/_homepages/adult-undergrad-event-feed
/_testing/kelsey-testing/cas-homepage-event-feed
/_cascade/base-assets/pages/event-feed
/_homepages/seminary/seminary-event-feed
 /_homepages/seminary/seminary-news-a

[2015-05-13 19:28] ErikGruber commented on #485
Looks alright to me. @vedmic or @hamtim ?

[2015-05-13 19:45] c-schwarze commented on #505
Fixed. All office homepages will need to be republished @ale73233 or @annmarieven

[2015-05-14 17:11] a-gundy commented on #473
/seminary/academics/calendars/st-paul/2014-2015-event-feed is pulling all seminary events, not just St. Paul.

/seminary/academics/calendars/san-diego/2014-2015-event-feed has pulled Ed.D. Online Information Session for some reason, also pulling events with past dates.

/events/arts/upcoming-events is showing some unrelated events (i.e. Sem commencement) and some events with past dates.

/undergra

[2015-05-14 18:32] c-schwarze opened #506 "New Programs Data Def"
@annmarieven could you create a new data definition for our new program block. Let keep our old one around until we finish building the new one.

Also, it would be fantastic to have a test block as well.

Let me know if you have any questions! Thanks!

[2015-05-14 18:38] annmarieven opened #507 "View all content with degree type tag"
Can we get a list of any and all content with a degree type selected in the metadata?

We're going to change the metadata but I need a list so we know what was tagged before we lose it all.

Let me know if you need more info from me!

[2015-05-14 19:27] annmarieven commented on #506
data definition: https://cms.bethel.edu/entity/open.act?id=53b9a3ba8c5865130265fd80943a90a1&type=structureddatadefinition

test block: https://cms.bethel.edu/entity/open.act?id=53e2c9418c5865130265fd800df3c24a&type=block

[2015-05-14 19:28] annmarieven commented on #506
I removed program name because that is just the title of the block. :)

[2015-05-14 20:01] c-schwarze commented on #507
@c-varberg can you look at this when you have a chance?

[2015-05-14 20:23] c-schwarze commented on #494
Finished working with Brooke on this one. Closing.

[2015-05-14 20:23] #494 closed

[2015-05-14 20:42] annmarieven commented on #505
republished all office homepages.

@ale73233 can you proof a few to make sure the event feeds are showing up appropriately and pull the right events?

go to -- administration > content type > office homepage > relationship tab

[2015-05-15 14:04] a-gundy commented on #503
Tagged and archived.

[2015-05-15 14:07] a-gundy commented on #502
Tagged and archived (including the General Studies folder since I think it was combined with Associate content).

[2015-05-15 14:48] a-gundy commented on #473
/seminary/academics/calendars/st-paul/2014-2015-event-feed is OK, the event was named wrong so it looked like it was pulling from BSSD.

/seminary/academics/calendars/san-diego/2014-2015-event-feed had the date range a little off, fixed it. The seminary calendars are booth pulling past dates, but I'm assuming that is OK. The Ed.D. event was tagged wrong. Do we need to republish calendar xml to get

[2015-05-15 14:52] annmarieven commented on #473
@a-gundy
/events/arts/upcoming-events let's untag Benson Great Hall on this feed

if the ed.d. event was changed and republished, the change should show up on the bssd calendar feed. if it doesn't, try publishing the page and the xml.

[2015-05-15 15:51] ale73233 commented on #505
I proofed them and they are showing up correctly!:)

On Thu, May 14, 2015 at 3:42 PM, AnnMarie <notifications@github.com> wrote:

[2015-05-15 19:33] annmarieven opened #508 "GS Academics MA in Special Education Site Launch and Issues"
Getting ready to launch this site: https://staging.bethel.edu/graduate/academics/special-education/

I will do testing on the most recent versions of Safari, and iOS 8 on iPhone 6.

@a-parrott can you browse through the site on your Android 4, Chrome, and FF?

Migration grid:
https://docs.google.com/spreadsheets/d/1C1IXgA2jgj0V2_mONHispe90NW7voEbAzXe7UOm28O4/edit#gid=223990650

Redirects:
https://

[2015-05-15 19:40] e-jameson commented on #508
rule is done

[2015-05-15 19:46] e-jameson commented on #504
rule is done.

[2015-05-15 19:50] annmarieven commented on #504
Passing to @vedmic for the floodlight tag and @a-gundy for archiving and analytics.

[2015-05-15 20:23] a-parrott commented on #508
Firefox: The proof points do not animate.

[2015-05-15 20:31] a-parrott commented on #508
Chrome: Looks good!

[2015-05-15 20:42] a-parrott commented on #508
Android 4: Also looks good!

[2015-05-18 14:11] a-gundy commented on #504
Tagged and archived the site.

[2015-05-19 14:42] a-gundy opened #509 "Massive enrollment counselor images"
Enrollment counselor images are massive for all the schools in Firefox (v. 38.0.1). It looks much better in Chrome.

https://www.bethel.edu/undergrad/admissions/counselors/east
https://www.bethel.edu/graduate/admissions/advisors/erica-hering
https://www.bethel.edu/adult-undergrad/admissions/advisors/josh-daubenmeyer
https://www.bethel.edu/seminary/admissions/team/terry-stephens

![enrollment-issue

[2015-05-19 18:36] #506 closed

[2015-05-19 18:37] #498 closed

[2015-05-20 16:59] annmarieven opened #510 "Updating quote collection pages to blocks"
@ale73233
Using the link below, can you go through and create blocks in place of the pages?
1. Check the metadata of the collection page
2. Create a collection block and tag the collection block with the same exact metadata (it will be named 'associates-quote-collection1' and that's okay for now)
3. Embed the newly created blocks where the page was. You can find out where the collection page was e

[2015-05-21 15:52] a-gundy commented on #510
/undergrad/academics/biology/biology-quote-collection manually selected a quote, but there are multiple quotes it could automatically pull.

honors-quote-collection and index-quote-collection don't have any relationships

Assigning to @annmarieven

[2015-05-21 19:25] annmarieven commented on #497
@c-schwarze any update on this?

[2015-05-21 19:34] c-schwarze commented on #497
Nearly finished. By early next week, this will be done.

[2015-05-21 20:14] ale73233 commented on #510
left off in education in undergrad

[2015-05-22 15:18] c-schwarze commented on #497
Updated

1) Events can have multiple authors (separated my commas)
2) The Event Approver group/role will see all events that are tagged as "rentals/meetings/conferences"
3) Only the Event Approver can see the "External Link" field.
4) Whenever an event is submitted that has a "External Link" field, either
      a) a new redirect is created in tinker
      b) the redirect is updated to the new path

[2015-05-22 16:03] e-jameson opened #511 "News Feed RSS feed"
We need to be able to publish RSS pages for our news feeds.

[2015-05-22 16:16] hamtim commented on #511
We need to figure out how to exclude Bethel Alert news stories.... Let's
chat.

----------
Timothy Hammer
Senior Strategist
Web & Creative Services

Bethel University
3900 Bethel Drive
St. Paul, MN 55112
o: 651.638.6784 c: 515.971.5659

On Fri, May 22, 2015 at 11:03 AM, Eric Jameson <notifications@github.com>
wrote:

[2015-05-22 21:03] e-jameson commented on #511
@c-schwarze Can you maybe work with Josiah maybe later next week or whenever he has some free time to start working on this. There is an "RSS" content type already created that we can use, just need to support news feeds.

[2015-05-22 21:06] e-jameson commented on #244
Going to close this. I'm guessing it will resurface for text o' media someday but oh well.

[2015-05-22 21:06] #244 closed

[2015-05-22 21:08] e-jameson commented on #495
Looks like this is fixed?

[2015-05-26 14:13] annmarieven commented on #302
working on collection clean up.

[2015-05-26 14:29] annmarieven commented on #462
Time for a new June gif here!
https://tinker.bethel.edu/event/confirm

anyone know where that one of the hyper little goat jumping over and on top of the other goats?

[2015-05-26 15:36] annmarieven commented on #462
@c-schwarze can you add this one? http://stream1.gifsoup.com/view3/4010102/buttercup-goat-gif-o.gif

[2015-05-26 18:22] hamtim commented on #511
@annmarieven is adding a Bethel Alert category that we can exclude (or I guess rather, not include) in the RSS feed

[2015-05-26 19:31] annmarieven commented on #511
Category added.

[2015-05-26 19:32] annmarieven commented on #510
Still working on cleaning up/getting rid of old quote collection pages.

[2015-05-26 20:24] c-schwarze commented on #507
Next time we publish all of our pages, i should be able to get this done.

For whatever reason, Cascade is just too slow to do it properly (20,000+ pages is too much for it to scan manually now)

[2015-05-28 15:56] johjacb commented on #509
This has been fixed, but the pages need to be republished :disappointed:

[2015-05-28 16:00] johjacb commented on #495
Is this still an issue? Looking good for me in FF 38

[2015-05-28 20:57] annmarieven commented on #510
Finished quote collection transition from pages to blocks.

[2015-05-28 20:57] #510 closed

[2015-05-28 20:57] annmarieven commented on #509
This will be taken care of next time we do a whole-site publish (sometime next week).

[2015-05-28 20:57] #509 closed

[2015-05-29 13:18] c-schwarze commented on #507
Let me know if you would like the list in a different way. But here are the pages that has degree type tagged:

/_testing/caleb-schwarze/another-caleb-testing-folder/cas-department
/_testing/caleb-schwarze/major-minor
/_testing/mark-test/testtwitterbio
/undergrad/academics/biokinetics/majors-minors/biokinetics
/undergrad/academics/anthropology-sociology-reconciliation/majors-minors/third-world-stu

[2015-05-29 18:40] c-schwarze opened #512 "Calendar Bug"
"i just noticed that on mobile if you are on the calendar, not on the current month, and hit the Today button, it malfunctions." - Jake

@josiahtillman when you have time, look into this

[2015-05-29 20:20] c-schwarze opened #513 "Changing JQuery to JS"
In this file: https://github.com/betheluniversity/fizz/blob/master/src/js/main.js

There is some JQuery that should be updated to vanilla JS.

The slick code that is in main.js does not have to be converted as that is going away

@josiahtillman -- here is another JS thing for you to do.

[2015-06-01 15:57] annmarieven opened #514 "GS Academics MA in Special Education Site Launch and Issues"
Planning to launch this site on 6/2: https://staging.bethel.edu/graduate/academics/special-education/

I will do testing on the most recent versions of Safari, and iOS 8 on iPhone 6.

@a-parrott can you browse through the site on your Android 4, Chrome, and FF?

Migration grid:
https://docs.google.com/spreadsheets/d/1C1IXgA2jgj0V2_mONHispe90NW7voEbAzXe7UOm28O4/edit#gid=223990650

Redirects:
https:

[2015-06-01 15:58] annmarieven commented on #514
oops. closing duplicate issue.

[2015-06-01 15:58] #514 closed

[2015-06-01 16:01] annmarieven commented on #497
Followed up with Brooke in FP job.

[2015-06-01 16:01] #497 closed

[2015-06-01 16:06] annmarieven commented on #499
Per our conversation on 5/28/15...

Healthcare
Education
Business and Leadership

[2015-06-01 17:03] annmarieven commented on #330
@e-jameson  can you look at why this is blank?

https://staging.bethel.edu/_testing/jmo/block-pages/individual-courses

Can you show me how to set this up for caps and gs so it's pulling the right content?

[2015-06-01 17:11] c-schwarze commented on #485
@johjacb passing this to you for any more changes.

https://staging.bethel.edu/adult-undergrad/academics/online
https://staging.bethel.edu/graduate/academics/online

[2015-06-02 14:44] c-schwarze commented on #462
Added goat gif for June!

[2015-06-02 15:46] annmarieven commented on #508
Looks great in Safari and iOS on iPhone 6.

[2015-06-02 15:53] e-jameson commented on #508
rule is done

[2015-06-02 15:59] annmarieven commented on #508
site launched. looks good!

@vedmic can you do the floodlight tag on this one?

[2015-06-02 16:09] josiahtillman commented on #512
Fixed! :laughing:

[2015-06-02 16:09] #512 closed

[2015-06-02 18:43] e-jameson commented on #330
Its not blank anymore?

[2015-06-02 18:46] c-schwarze commented on #330
Didn't know an issue was open for this. Fixed this.

[2015-06-03 12:38] vedmic commented on #504
Haworth Tag added and published

[2015-06-03 12:38] #504 closed

[2015-06-03 12:45] vedmic commented on #503
Haworth tag added and published.

[2015-06-03 12:45] #503 closed

[2015-06-03 12:50] vedmic commented on #508
Haworth tag added and published.

[2015-06-03 16:13] annmarieven commented on #330
@johjacb can you add the little expand / collapse buttons?

[2015-06-03 16:23] annmarieven commented on #507
After writing out what the new degree type list would look like, I would like to NOT change the metadata.

A.A.
B.A.
B.M.
B.S.
B.F.A
Certificate
Post-grad Certificate
M.A.
M.S.
M.D.
D.Min.
Ed.D. (??)

It is not clear or user friendly. We'll need to code on the back end if we want the original list to display differently on a page:
<dropdown>
	<item>Select</item>
	<item>Associate of Arts</item>
	<i

[2015-06-03 16:28] #505 closed

[2015-06-03 19:04] johjacb commented on #485
no design changes needed just need to add a image bank. I think @ErikGruber was going to look for some photos?

[2015-06-03 20:15] annmarieven opened #515 "Reconciliation Studies major/minor"
The Reconciliation Studies major button is linked to the minor and the minor doesn't show up in the table.

https://www.bethel.edu/undergrad/academics/anthropology-sociology-reconciliation/

Any idea why? Could this be happening elsewhere too?

[2015-06-04 14:21] annmarieven commented on #507
Decision made to keep degree type as is.

[2015-06-04 14:24] annmarieven commented on #499
Per our conversation on 6/4/15 we are putting these in the data definition - not metadata.

[2015-06-04 19:49] annmarieven opened #516 "Media text with media aligned right"
The top part of this page is a media text
https://staging.bethel.edu/academics/partnerships/corporate/partners/allina-health

When I align the image on the right, I the text doesn't align with the rest of the text on the page. It has a bigger left margin.

@johjacb is going to fix it.

[2015-06-04 20:16] annmarieven commented on #451
Reviewed this site. I don't think we can list all the partners on one page because each business needs their own unique url to send to their employees.

Everything looks good except for a minor space issue on the media + text. We're going to launch as is and @johjacb will fix it within a week or 2.

[2015-06-05 19:25] annmarieven opened #517 "GS Academics MS in Physician Assistant Site Launch and Issues"
We are getting ready to launch this site: https://staging.bethel.edu/graduate/academics/physician-assistant/

I will do testing on the most recent versions of Chrome, FF, Safari, and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/a/bethel.edu/spreadsheets/d/1C1IXgA2jgj0V2_mONHispe90NW7voEbAzXe7UOm28O4/edit#gid=2036050991

Redirects:
https://docs.google.com/spreadsheets/d/1EtNkiFK6PZXJ

[2015-06-05 20:10] annmarieven commented on #517
All the testing looks good.

[2015-06-05 20:40] annmarieven commented on #508
@c-schwarze can you close and archive the site in Silva?

[2015-06-05 20:41] annmarieven commented on #502
Passing to @vedmic for floodlight tag.

[2015-06-05 20:42] annmarieven commented on #517
Site launched. @vedmic can you put the floodlight tag in? Don't close the issue yet because we still need to archive the old site.

Check the box above after you've put in the tag.

[2015-06-05 21:08] c-schwarze commented on #508
@e-jameson I will pass this off to you :)

[2015-06-08 19:08] annmarieven opened #518 "Program Feed"
We need to create a block that will pull certain programs based on metadata tagged.

For example, I need to create a page for each degree type (doctorate, masters, certificates, bachelors for caps, etc.). I want to be able to tag the metadata (school and degree type) and have an automated list of the programs that fit those 2 categories.

The end result will look something like this:
http://caps.b

[2015-06-08 20:58] c-schwarze commented on #515
Fixed. The reconciliation studies minor was tagged as major. I retagged it as a minor.

[2015-06-08 20:58] #515 closed

[2015-06-09 15:31] e-jameson opened #519 "Faculty pages load slowly"
@c-schwarze can you see if there are any ways we can optimize the faculty pages?

https://cms.bethel.edu/entity/open.act?id=9476f3de8c5865132395524deb3b06b3&type=page&

[2015-06-09 18:06] #513 closed

[2015-06-09 18:09] josiahtillman commented on #511
I’ve got the rss feed up! Here’s the xml of my test.  It has the parameters of being of school type bethel university and of unique-news type homepage

Josiah Tillman [11:34 AM]
https://staging.bethel.edu/_testing/josiah-tillman/test-news.xml

[2015-06-09 18:27] josiahtillman commented on #511
Changed it to have no school type parameters.  It will now post any that are of unique-news type homepage.

[2015-06-09 18:34] hamtim commented on #511
Looking good. Can we add the teaser/description @josiahtillman?

[2015-06-09 18:52] josiahtillman commented on #511
Do you want the teaser or the description? They are normally pretty similar, so we don't probably need both,, do we?

[2015-06-09 18:55] hamtim commented on #511
Can you give me examples of each? Not in the code, just want it would
return from one of our stories?

----------
Timothy Hammer
Senior Strategist
Web & Creative Services

Bethel University
3900 Bethel Drive
St. Paul, MN 55112
o: 651.638.6784 c: 515.971.5659

On Tue, Jun 9, 2015 at 1:52 PM, josiahtillman <notifications@github.com>
wrote:

[2015-06-09 18:58] josiahtillman commented on #511
Teaser: The founder-director emeritus of the Center for Faith & Work shares insights about work from the book of Genesis.
Description: Bethel’s “Faith in the Public Square” Convocation series continued with Katherine Leary Alsdorf, an expert in the field of faith and work, who spoke in chapel last week about the connection between the Old Testament book of Genesis and our work.

We can probably pr

[2015-06-09 19:29] hamtim commented on #511
maybe the description?

----------
Timothy Hammer
Senior Strategist
Web & Creative Services

Bethel University
3900 Bethel Drive
St. Paul, MN 55112
o: 651.638.6784 c: 515.971.5659

On Tue, Jun 9, 2015 at 1:58 PM, josiahtillman <notifications@github.com>
wrote:

[2015-06-09 19:43] josiahtillman commented on #511
@hamtim :
Okay! I got it to show the description and then the teaser if there is no description! Same link will work to see it
https://staging.bethel.edu/_testing/josiah-tillman/test-news.xml

[2015-06-10 14:23] josiahtillman commented on #519
This has been improved.

[2015-06-10 14:24] #519 closed

[2015-06-10 14:25] annmarieven commented on #488
This still isn't working for me.

Live page: https://www.bethel.edu/president/announcements/

News feed block: https://cms.bethel.edu/entity/open.act?id=0af749f18c5865130265fd8051bbf6f3&type=block&

[2015-06-10 15:14] hamtim commented on #511
I think this will work nicely. Can we move it into production?

-t

----------
Timothy Hammer
Senior Strategist
Web & Creative Services

Bethel University
3900 Bethel Drive
St. Paul, MN 55112
o: 651.638.6784 c: 515.971.5659

On Tue, Jun 9, 2015 at 2:43 PM, josiahtillman <notifications@github.com>
wrote:

[2015-06-10 21:27] josiahtillman commented on #518
@annmarieven Alright! I created a block for this!

Here is an example of what it does:
https://staging.bethel.edu/_testing/josiah-tillman/programfeedpage

Here is the block that it is pulling from:
https://cms.bethel.edu/entity/edit.act?id=df581d0d8c5865134da7f0bcd80a0f2b&type=block

I also created an Asset Factory:
https://cms.bethel.edu/entity/open.act?id=df56eb1a8c5865134da7f0bc16b9fa7e&type=as

[2015-06-11 15:46] annmarieven commented on #518
Hm.. why is your list all neat and clean?
https://cms.bethel.edu/entity/open.act?id=e349b62b8c5865134da7f0bc437ec381&type=page&

Mine has funky names, pulling concentrations, etc.

Also, what if I want my list to pull all masters programs (including MA and MS)?

[2015-06-11 19:24] c-schwarze commented on #488
News feeds weren't checking the "unique-news" metadata values. Should be working now.

[2015-06-12 13:27] josiahtillman commented on #511
Alrighty, they're all good to go! Here is the folder for the rss feeds:
https://cms.bethel.edu/entity/open.act?id=e2cfc1fe8c5865134da7f0bc9f3dc791&type=folder&

We also moved the job posting rss feeds here as well to keep them all together.

[2015-06-12 14:39] annmarieven opened #520 "Hide from Calendar not working"
From Jan Jessup in job 14953:
For the Chemistry Dept Open House event I posted on the calendar for October 10, I selected yes for "Hide from Calendar," but I still see it on the calendar. I'd like this to appear on the department's event feed but not on the calendar. I will be posting ten more Homecoming open houses like this that should appear on various dept feeds--too many for one day on the ca

[2015-06-12 14:41] annmarieven opened #521 "Construction alert on event pages"
Per Jan Jessup's request in job 14953.

Is it possible to only have the alert show for events through august 2015? By October the construction will be done but the alert is showing on those pages as well.

[2015-06-12 14:43] e-jameson commented on #521
@annmarieven: we aren't checking month (difficult) only year (easy). The idea was to remove the alert and then republish all 2015 events when construction was done. Is that okay or do we need to only target now through August. I belive the language on the page had a timeframe.

[2015-06-12 17:25] annmarieven commented on #488
Appears to be working!

[2015-06-12 17:25] #488 closed

[2015-06-12 20:35] josiahtillman commented on #520
Fixed it~! :D

[2015-06-12 20:43] #520 closed

[2015-06-15 16:54] e-jameson commented on #511
Assigning @hamtim

[2015-06-15 18:57] a-parrott opened #522 "60 credit prerequisite"
The Sentence:

You need to have 60 credits to start this program. Your enrollment counselor can help you explore your options for obtaining credits, including taking courses in our associate degree programs.

[2015-06-15 19:25] annmarieven commented on #518
Here's the data definition for the program feed:
https://cms.bethel.edu/entity/edit.act?id=f89c4ca08c5865134da7f0bccee1c882&type=structureddatadefinition

[2015-06-16 13:43] c-schwarze commented on #507
The new list. However, any page that was NOT publishable, will also NOT appear in this list.

staging.bethel.edu/undergrad/academics/biokinetics/majors-minors/biokinetics
staging.bethel.edu/undergrad/academics/anthropology-sociology-reconciliation/majors-minors/third-world-studies
staging.bethel.edu/undergrad/academics/anthropology-sociology-reconciliation/majors-minors/sociocultural-studies
stagi

[2015-06-17 14:10] annmarieven opened #523 "Faculty lists"
Can we make it so if I just select a school, the faculty list will pull all faculty with that school chosen?

https://staging.bethel.edu/adult-undergrad/academics/faculty

https://cms.bethel.edu/entity/open.act?id=01d111c58c5865137c9c2c89fea8d13a&type=page

[2015-06-17 16:15] e-jameson opened #524 "News Archive not Archiving."
https://www.bethel.edu/news/news-archive

@c-schwarze, @josiahtillman could probably work on this with some context.

[2015-06-17 16:42] c-schwarze commented on #524
What is the feed supposed to do?

[2015-06-17 16:43] e-jameson commented on #524
https://www.bethel.edu/president/announcements/

[2015-06-17 16:47] c-schwarze commented on #524
The feed was not marked as a news archive.

Updated to a news archive and published.

[2015-06-17 16:47] #524 closed

[2015-06-17 20:26] josiahtillman commented on #523
Alrighty! I made it so all faculty in the specified school will be displayed if no departments are chosen :)

[2015-06-17 20:26] #523 closed

[2015-06-18 20:27] annmarieven commented on #476
This site is ready to launch. Plan to launch next week. Just need to update the redirect grid.

[2015-06-18 20:36] annmarieven commented on #476
Redirect grid updated. No rule needed. This site is ready to go! No rule needed.

Will launch 6/22 at 1 p.m. Training scheduled for the following week.

[2015-06-18 20:43] annmarieven commented on #451
This site launched on June 5. Forgot to update github.

@johjacb assigning to you for the spacing issue on the media + text.

example page:
https://www.bethel.edu/academics/partnerships/corporate/partners/allina-health

[2015-06-18 20:48] annmarieven commented on #495
I did some navigating. Looks fixed to me!

[2015-06-18 20:48] #495 closed

[2015-06-18 20:49] annmarieven commented on #499
Changed my mind about the location of the cluster. We want it in the metadata because we need to be able to tag the program and then also tag the cluster in the feed. However, it will just be visible rather than inline.

[2015-06-18 20:50] #499 closed

[2015-06-18 20:51] annmarieven commented on #521
I followed up with Jan to explain and see what she's okay with.

[2015-06-18 20:56] annmarieven commented on #518
We need an asset factory created for this but I don't know how to do that without a specific data definition. I think we'd use the 'include format' one but don't know what to do with that.

[2015-06-19 12:31] annmarieven opened #525 "Proof points aren't animating"
Our proof points seem to have lost the ability to animate.

[2015-06-19 14:16] c-schwarze commented on #518
Josiah already created an asset factory (link above ^^ ) :)

 And it is exactly as you stated it. You use the 'include format' data definition and type "program-feed".

[2015-06-19 15:59] annmarieven commented on #485
This is live. Closing.

[2015-06-19 15:59] #485 closed

[2015-06-22 14:44] annmarieven opened #526 "Content Viewing Accounts"
We need to replicate this page and login functionality in Cascade:

https://www.bethel.edu/its/blink/cv-accounts/index/edit/

[2015-06-22 15:34] annmarieven opened #527 "Left hand nav error"
Someone is having issues with the left hand nav. They are reporting and have taken a screen shot of it appearing all the way at the bottom of the page. I can't replicate the issue. Any ideas what's going on?

Page: gs.bethel.edu/academics/individual-courses/

Screenshots are here:
https://footprints.bethel.edu/MRcgi/MRTicketPage.pl?USER=celanna&MRP=z4Hh4CV&MAJOR_MODE=EDIT&MAXMININC=&LASTID=7201&MR

[2015-06-22 16:16] e-jameson commented on #522
B.A. and B.S. CAPS programs

[2015-06-22 16:18] e-jameson commented on #527
I can't replicate this either and it should be in Cascade soon. Ignore unless we hear move complaints?

[2015-06-22 17:04] c-schwarze commented on #527
I am able to see the issue in Chrome...but I can't figure out why its formatting like that.

[2015-06-22 18:25] annmarieven commented on #527
hm.. since we were able to replicate it, can we look into it further?

[2015-06-22 19:19] annmarieven commented on #476
Site launched, redirects in place, note added to google analytics.

[2015-06-22 19:19] #476 closed

[2015-06-22 19:26] annmarieven commented on #521
Sounds like they're okay leaving as is. Closing issue.

[2015-06-22 19:26] #521 closed

[2015-06-23 12:20] johjacb commented on #516
this has been fixed

[2015-06-23 12:22] johjacb commented on #451
this should be fixed

[2015-06-23 12:50] #516 closed

[2015-06-23 12:51] annmarieven commented on #451
added to analytics. closing issue.

[2015-06-23 12:51] #451 closed

[2015-06-23 17:05] johjacb commented on #527
I also cannot replicate in any browser.

How long before this is in cascade?

[2015-06-23 20:27] johjacb commented on #477
should be fixed

[2015-06-23 20:27] #477 closed

[2015-06-25 13:46] annmarieven opened #528 "Proof point update"
It looks like when there's a proof point with a big word followed by a big number, there's no space between the word and the number (https://www.bethel.edu/undergrad/academics/physics/ - Top and 10, for example).

[2015-06-25 13:52] c-schwarze commented on #528
Fixed. There was no space entered in the proof point itself.

[2015-06-25 13:52] #528 closed

[2015-06-25 13:58] annmarieven opened #529 "Event date formatting update"
Wednesday, July 01, 2015
https://www.bethel.edu/events/2015/admissions/online-information-session-for-online-seminary-programs

For single digit dates, can we get rid of the 0 in front?

So it would read: Wednesday, July 1, 2015

[2015-06-25 14:02] c-schwarze commented on #529
Do we want this to apply to our event feed single digit dates?

Check a few out here https://www.bethel.edu/events/

[2015-06-25 14:30] annmarieven opened #530 "Blog feed"
Is there a way to do a blog feed in Cascade?

[2015-06-25 14:48] josiahtillman commented on #529
They now leave off the 0! The link caleb shared is unchanged, do you want me to change that one as well?

[2015-06-25 14:48] c-schwarze commented on #529
Yeah. All event feeds should be updated as well

[2015-06-25 15:05] annmarieven commented on #530
@e-jameson is going to ask @pstjean about the RSS feed when he gets back.

[2015-06-25 15:13] e-jameson commented on #526
The content has been moved here:

https://staging.bethel.edu/its/accounts/blink-roles

[2015-06-25 15:50] annmarieven commented on #522
Let's put this on the program details page. Below the concentration description and above the white boxes that give the location, start dates, etc.

[2015-06-25 15:56] c-schwarze commented on #522
Added. here is an example page

https://staging.bethel.edu/graduate/academics/mba/program-details/management

[2015-06-25 18:05] josiahtillman commented on #529
Fixed~! :)

[2015-06-25 18:05] #529 closed

[2015-06-26 20:07] #527 closed

[2015-06-26 20:49] johjacb opened #531 "Tweaking tables"
We need to tweak our responsive tables a bit. Caleb uncovered 5 pages that have a table. Please add any more if you know of any.

dining-services/locations/monson/prices
- No changes needed, the table should look fine with the new format

dining-services/meal-plans/plans
- this table will probably need to be broken into two tables, and given the small numbers, we may be able to get away without ma

[2015-06-30 13:55] annmarieven opened #532 "ITS Site Launch and Issues"
We're launching this site tomorrow - https://staging.bethel.edu/its/

I will proof the site in Chrome, FF, Safari, and on iOS 8 - iPhone 6. This site is all basic pages and forms so I don't anticipate any issues.

Redirect grid: https://docs.google.com/spreadsheets/d/16yMgP4BX_ABVlhOIfJgMK9rwwiJuF1FpuC4zvf5ANT0/edit#gid=0

- [x] Create redirects
- [x] Tag analytics
- [x] Close old site @e-jameson

[2015-06-30 16:25] annmarieven commented on #532
After cleaning up a heck of a lot of nasty html from copying/pasting from google docks, Chrome looks good. Moving onto the others.

[2015-06-30 16:48] annmarieven commented on #532
FF, Safari, and iOS 8 - iPhone 6 look mostly good.

I ran into one item on my phone. This page title is too long and gets cut off --

https://bethel.slack.com/files/a-vennerstrom/F071HDJVC/slack_for_ios_upload.png

@johjacb what can we do about that?

Otherwise, the site is ready to launch.

[2015-07-01 14:06] annmarieven commented on #532
Site launched! Run through looked good, all the redirects are in too.

@e-jameson can you close the old site?

[2015-07-01 20:04] annmarieven opened #533 "Student Worker Permissions - ITS page"
Randy would like this page moved to Cascade. Right now we don't have this ability in Cascade.

Is it something we want to/can support?

https://www.bethel.edu/its/forms/stw-perms/@@index.html

[2015-07-01 20:10] annmarieven commented on #526
This works great!

[2015-07-01 20:10] #526 closed

[2015-07-01 20:11] annmarieven commented on #522
Good except for that it's on a GS page. This sentence should only be on BA and BS CAPS programs. :)

Once that's fixed, we should be good to roll it out!

[2015-07-02 12:52] annmarieven commented on #532
@e-jameson did this get moved or closed?

[2015-07-02 15:45] annmarieven commented on #531
more pages with tables:
graduate/academics/special-education/prerequisites
graduate/academics/physician-assistant/prerequisites
/graduate/financial-aid/after-awarded/compare-loans
/undergrad/financial-aid/after-awarded/compare-loans
/adult-undergrad/financial-aid/after-awarded/compare-loans

[2015-07-02 16:38] c-schwarze commented on #531
Those tables aren't responsive tables fyi.

[2015-07-02 17:01] annmarieven commented on #531
Was this issue only for tables that were already responsive?

[2015-07-02 17:07] annmarieven commented on #522
I'm seeing this on Seminary pages too - https://cms.bethel.edu/entity/open.act?id=99d7f9588c5865135753448210bdb88b&type=page

[2015-07-02 17:27] johjacb commented on #531
yes

[2015-07-02 19:50] c-schwarze commented on #522
Updated, but not published.

[2015-07-02 20:11] johjacb commented on #531
ok all of these tables have been converted

[2015-07-02 21:05] e-jameson commented on #532
Moved to /its-old in old silva.

[2015-07-06 13:39] #532 closed

[2015-07-06 13:47] annmarieven commented on #531
Should this code be applied to other tables on our site as well?

[2015-07-06 14:22] e-jameson commented on #533
I don't think we should.  Something like this should go to whoever controls INB accounts / Dept drives directly, or they should support a way to control access.

[2015-07-06 14:25] e-jameson commented on #434
@johjacb is this something you'd like @josiahtillman to look at when he has time?

[2015-07-06 14:39] e-jameson commented on #508
Didn't realize this was waiting for me. Done.

[2015-07-06 14:39] #508 closed

[2015-07-06 15:58] annmarieven opened #534 "Create License Folders and Blocks"
Emily,
Could you create folders and program blocks for each of our licenses?
https://docs.google.com/spreadsheets/d/1EY5kgeUPJIZiTBa9nKzPbuCjs0JiB_AF3Ww516XEEf4/edit#gid=1093195317

Folders will live here: /graduate/academics/licensures/
Enter system name from grid (existing url column)
Hide from navigation in metadata

system names for 2 programs not on grid:
teaching-k-12
teaching-secondary

Cre

[2015-07-06 16:29] e-jameson commented on #530
http://blogs.bethel.edu/bethel-library/feed/rss/

[2015-07-06 16:51] e-jameson commented on #530
@pstjean said the RSS format might change when we update our Wordpress version, so they might want to hold off until that is done. Hopefully the update will be done Wednesday evening.

[2015-07-06 16:53] annmarieven commented on #534
Now that those items are there, can you create a program details folder with an index page for each license folder?

Within each license folder, create a new folder.
system name: program-details
display name: Program Details
title: Name of License Program Details (ex: Director of Education License Program Details)

Then create a flex page inside of the program details folder.
system name: index
di

[2015-07-06 19:30] annmarieven commented on #533
Eric is following up with Randy, per Mike's request. Closing issue.

[2015-07-06 19:30] #533 closed

[2015-07-07 18:08] emily-johnson commented on #534
The program blocks are now linked to the program details index of each corresponding license

[2015-07-07 20:22] annmarieven opened #535 "GS Academics Nurse Educator Certificate Site Launch and Issues"
Proofing this site. Depending on how it goes, maybe we'll launch this week!
https://staging.bethel.edu/graduate/academics/certificates/nurse-educator

I will do testing on the most recent version of Safari and iOS 8 on iPhone 6.
@donowenskid can you do testing on the most recent versions of Chrome and FF?

Migration grid:
https://docs.google.com/spreadsheets/d/11K-MAuCwqoMSQuA5tQAMvcVxkqdjoRO8hFBe

[2015-07-07 20:23] annmarieven opened #536 "GS Academics Gerontology Certificate Site Launch and Issues"
Proofing this site. Depending on how it goes, maybe we'll launch this week!
https://staging.bethel.edu/graduate/academics/certificates/gerontology

@a-parrott will do testing on the most recent versions of Chrome, FF, Safari, and her Android.

Migration grid:
https://docs.google.com/spreadsheets/d/11K-MAuCwqoMSQuA5tQAMvcVxkqdjoRO8hFBeWrgq3qk/edit#gid=663055073

Redirects:
https://docs.google.com/s

[2015-07-07 20:49] annmarieven commented on #535
@johjacb courses is a little tight to the white box with the delivery info.

https://staging.bethel.edu/graduate/academics/certificates/nurse-educator/program-details/

[2015-07-08 13:59] e-jameson commented on #502
reminder: @vedmic

[2015-07-08 14:02] a-parrott commented on #536
Everything looks great!

[2015-07-08 14:06] annmarieven opened #537 "Event times"
See this page as an example:
https://www.bethel.edu/events/2015/admissions/seminary-summer-series-ii-spiritual-and-personal-formation

if times are both am or pm the first am or pm should be dropped.

Instead of:
1 p.m. - 2 p.m.
it should be:
1-2 p.m.

Thanks!

[2015-07-08 16:42] c-schwarze commented on #537
Updated.

[2015-07-08 16:53] johjacb commented on #531
I changed the table at : https://www.bethel.edu/graduate/financial-aid/after-awarded/compare-loans

The table at : https://www.bethel.edu/undergrad/financial-aid/after-awarded/compare-loans

is very large. Could we pull out 'Bethel's Advice'? And maybe move the more info links to a list below the table?

[2015-07-08 18:59] e-jameson commented on #440
I gave Tim an export of our DB so they can look into this more.

[2015-07-08 19:00] e-jameson commented on #440
Tim from H.H.

[2015-07-08 19:58] donowenskid opened #538 "Remove Spotlight Code on Academic Program Page"
Most academic home pages have spotlight sections, but the license pages won't. Can you remove the spotlight code from the license pages?

https://staging.bethel.edu/graduate/academics/licensures/technology-educators/

https://cms.bethel.edu/entity/open.act?id=6421ce938c5865137c9c2c89d343f189&type=page&

[2015-07-09 13:49] c-schwarze commented on #538
Updated.

[2015-07-09 13:49] #538 closed

[2015-07-09 17:27] johjacb commented on #330
I updated the html - expand button should be there now

[2015-07-09 17:28] johjacb commented on #525
has this been fixed?

[2015-07-09 17:33] josiahtillman commented on #525
Oh yea! forgot to close it! It has been fixed.

[2015-07-09 17:33] #525 closed

[2015-07-09 17:37] e-jameson commented on #330
@annmarieven do we need this issue open still?

[2015-07-09 17:41] annmarieven commented on #507
@emily-johnson can you go through the most recent list of content (above) and check that the degree field in the metadata is correct? You should be able to look at the title of the page (or title of the site) to see what type of degree it is.

We'll also need to go through all of the program blocks (in the _shared content folder in cascade) AND all of the setup blocks for each program site. Could

[2015-07-09 19:40] annmarieven opened #539 "GS Academics Certificate in International Baccalaureate Teaching and Learning Site Launch and Issues"
Proofing this site. Still waiting for total credits and program length so we won't be able to launch till then. But we're getting everything else ready.
https://staging.bethel.edu/graduate/academics/certificates/international-baccalaureate/

I will do testing on the most recent version of Safari and iOS 8 on iPhone 6.
@donowenskid can you do testing on the most recent versions of Chrome and FF?

M

[2015-07-09 19:54] emily-johnson commented on #507
I went through and checked/updated everything, changes are recorded in the google doc I shared with you

[2015-07-09 20:02] annmarieven commented on #535
@johjacb also, the program details pages have a larger margin than the rest of our pages when I view it on iOS 8 on iPhone6.

everything else on iOS 8 looks good.
Safari looks good too.

@donowenskid I added you to this issue. Can you look at Chrome & FF? Then reassign to me :blush: Thanks!

[2015-07-09 20:11] annmarieven commented on #534
@emily-johnson if the setup blocks are all created with the admissions buttons, image banks, site title, and program block linked up, can you mark it as 'done' on each sheet in this grid? https://docs.google.com/spreadsheets/d/1EY5kgeUPJIZiTBa9nKzPbuCjs0JiB_AF3Ww516XEEf4/edit#gid=2045791505

let's look at the navigation order of each one too and mark it as 'done'. I'll walk you through the first o

[2015-07-09 20:36] annmarieven commented on #539
@hamtim no courses are getting pulled from banner. There was some confusion about the name. Dave emailed on May 27 with the new name but in early June the folks asked for a different name. We're going with the official one that we got from Dave: Certificate in International Baccalaureate Teaching and Learning

Safari looks good.
iOS 8 looks good too.

@emily-johnson can you look through this site

[2015-07-10 18:59] emily-johnson commented on #539
I went through the /graduate/academics/certificates/international-baccalaureate folder and changed everything to the name that Dave sent out.

[2015-07-10 20:05] donowenskid commented on #535
Site looks great on both Chrome and FF

[2015-07-10 20:06] donowenskid commented on #539
Site looks great on both Chrome and FF

[2015-07-13 16:13] annmarieven commented on #535
Need to send to Diane Dahl for final proof before launch (after we get total credits and program length)

[2015-07-13 16:33] annmarieven commented on #522
I will publish one to staging and send it through for approval to Diane Dahl. (don't do nursing)

[2015-07-13 16:36] annmarieven commented on #330
looks good!

[2015-07-13 16:36] #330 closed

[2015-07-13 16:37] annmarieven commented on #473
events and news feeds have been changed.

[2015-07-13 16:37] #473 closed

[2015-07-14 14:15] annmarieven opened #540 "Homecoming registration widget"
FP job 15156.

From Erin Ekstrand:
For the past two years our reunion pages have included a feature/widget that lists the names of those who have registered for that particular reunion. It has updated in real time, based on Wufoo registrations. How do I include that feature on each of the reunion pages this year?

[2015-07-14 16:57] annmarieven commented on #531
I will do this after we get something figured out. There are some major issues going on with tables that we've tweaked. Attached are screenshots. Check FP job 15145 for more info.

![image_20150709105013_485554](https://cloud.githubusercontent.com/assets/6526079/8679287/607e1dba-2a1f-11e5-988f-8f25f609184f.png)
![image_20150714113212_941764](https://cloud.githubusercontent.com/assets/6526079/86792

[2015-07-14 16:57] annmarieven commented on #531
@johjacb see the issues above.

[2015-07-14 19:21] emily-johnson opened #541 "URLs linked incorrectly"
When faculty are entering their professional website URL in the tinker faculty bio form, Cascade is treating it as an internal link and sticking "https://www.bethel.edu/academics/faculty/" in front of whatever they entered (for example see the website link on this site: https://www.bethel.edu/academics/faculty/westmark-michelle).

Can you code it to treat anything entered as a complete and externa

[2015-07-14 19:25] e-jameson commented on #541
I think the issue is she did not include the http:// in from the of the URL, so the browser is treating it as a relative link. @c-schwarze, you could probably just if the URL starts with http://, and if not prepend it. We can't do it blindly incase they do include it.

Also, her website doesn't exist? >_<

[2015-07-14 19:51] c-schwarze commented on #541
Fixed.

[2015-07-14 19:51] #541 closed

[2015-07-15 13:41] e-jameson commented on #540
@annmarieven , when do they need this live by?

[2015-07-15 13:49] annmarieven commented on #540
She said they're hoping to have registration up and running within the next week or so. Which is not a very long turn around time for us. So I would shoot for end of July? Is that possible?

[2015-07-15 14:25] e-jameson commented on #540
Up to you. I don't think it will take too long to move over.

[2015-07-15 14:51] annmarieven commented on #540
Let's shoot for July 24 then.

[2015-07-15 14:56] e-jameson commented on #540
Waiting on a SQL Procedure from Dave H.

[2015-07-15 18:28] emily-johnson opened #542 "Nursing Courses"
Nursing isn't pulling courses from banner

https://www.bethel.edu/adult-undergrad/academics/nursing/program-details/

[2015-07-15 18:34] emily-johnson opened #543 "Human-services course list"
https://www.bethel.edu/adult-undergrad/academics/human-services/program-details/

The core courses should be above all three "Select one from:" courses, it is setup this way in Cascade but won't update on the live site.

[2015-07-15 20:54] c-schwarze commented on #543
Fixed. Let me know if you run into this elsewhere!

[2015-07-15 20:54] #543 closed

[2015-07-15 21:13] e-jameson commented on #542
Two issues here:

1. CORE320 was entered as a core course, which is not a course for this program.

2. My code didn't handle the extra course correctly and failed. This has been fixed so the page loads normally, but it would probably be good to remove this from the block.

[2015-07-15 21:36] #542 closed

[2015-07-15 21:39] e-jameson commented on #517
Site has been archived. @vedmic you can close the issue after the tag has been added.

[2015-07-16 14:33] annmarieven commented on #539
Still not getting IB courses. Assigning to @hamtim

[2015-07-16 14:52] annmarieven commented on #536
Site is live. @e-jameson ready for the rule!

[2015-07-16 14:56] e-jameson commented on #536
rule is done

[2015-07-16 14:59] annmarieven commented on #536
@emily-johnson using the grid above, can you put in the 2 redirects? I will also give you access to google analytics and show you how to add a note.

Once those 2 things are done, check the boxes above. Thanks!

[2015-07-16 15:32] annmarieven commented on #536
@e-jameson can you archive the old site?

from here: https://editor.its.bethel.edu/silva/gs/academics/certificates/edit/tab_edit
to here: https://editor.its.bethel.edu/silva/archive/gs/academics/edit/tab_edit -- I tried to create a certificates folder but Silva broke. :(

[2015-07-16 15:54] annmarieven commented on #522
hm. I just tried publishing a page to staging to test this and nothing is showing up for me.

https://staging.bethel.edu/adult-undergrad/academics/organizational-leadership/program-details/christian-ministries

[2015-07-16 15:58] annmarieven commented on #518
@emily-johnson can you create a folder 'program-feeds' in the shared content folder?

Then create one program feed for each degree type, organized within school folders.
gs masters (all) (graduate-masters)
gs doctorate
gs certificates
gs licensures

caps bachelors (all) (adult-undergrad-bachelors)
caps cert

seminary masters (all) (seminary-masters)
seminary certificates
seminary doctorate

[2015-07-16 16:08] c-schwarze commented on #522
Oops. It was only working for some. Fixed now.

[2015-07-16 16:11] e-jameson commented on #518
I think this isn't assigned to me?

[2015-07-16 16:14] annmarieven commented on #522
@hamtim Here is a page for Diane Dahl to approve (60 credit sentence and core courses). https://staging.bethel.edu/adult-undergrad/academics/organizational-leadership/program-details/christian-ministries

Let me know when it's been approved and I will publish all ba/bs pages to production.

[2015-07-16 16:19] annmarieven commented on #535
@hamtim Can you send this to Diane for a final proof? (url is above)

[2015-07-16 16:20] annmarieven commented on #530
Followed up with Betsy.

[2015-07-16 16:20] #530 closed

[2015-07-16 16:37] emily-johnson commented on #518
Done!

[2015-07-16 16:58] emily-johnson commented on #518
@josiahtillman Can we hide the title of the program feed on this page? https://staging.bethel.edu/graduate/academics/masters
Even if we changed it to make sense here, we will use the block on other sites. Thanks!

[2015-07-16 17:05] johjacb commented on #531
the scrollbars have been changed. now they should only show on IE when the content actually overflows.

On macs, the scrollbars are hidden, on IE, the scrollbars will be visible. Its yucky. :disappointed:

The best way to avoid this is to adjust the table.

[2015-07-16 18:46] emily-johnson commented on #518
(We want it hidden anywhere we embed it, not just on that page)

[2015-07-16 18:52] josiahtillman commented on #518
Alright, they should all be hidden now :D

[2015-07-16 19:42] emily-johnson commented on #518
@josiahtillman /adult-undergrad/academics/certificates/index is pulling the HR management cert (which is not labeled as a certificate in the metadata) but NOT pulling the alcohol/drug counseling cert (which does have correct metadata). And some of the other pages are not pulling anything:

https://staging.bethel.edu/adult-undergrad/academics/bachelors/
https://staging.bethel.edu/graduate/academics

[2015-07-16 20:54] annmarieven commented on #536
I archived the site.

Passing to @vedmic for floodlight tag.

[2015-07-17 03:20] hamtim commented on #522
Diane approves the 60 credit language.

For core, she's like it to be "CORE" because "it is a category." She'd also like the descriptive text about CORE added below the heading. She said that text was sent to @vedmic.

[2015-07-17 03:39] hamtim commented on #535
Sent to Pam Friesen and Barb H in nursing (Diane said to send to them).

-t

----------
Timothy Hammer
Senior Strategist
Web & Creative Services

Bethel University
3900 Bethel Drive
St. Paul, MN 55112
o: 651.638.6784 c: 515.971.5659

On Thu, Jul 16, 2015 at 11:19 AM, AnnMarie <notifications@github.com> wrote:

[2015-07-17 04:28] hamtim commented on #522
Diane sent me the text:

A distinctive feature of Bethel's approach to education is our commitment to the development of the whole person. In addition to courses within a major, CAPS students explore personal values and faith formation in a hospitable environment that respects learning from one another's perspectives. Rather than teaching students what to think about Christianity, we teach student

[2015-07-17 13:58] vedmic commented on #484
Sent Floodlight tag to AMV.

[2015-07-17 14:00] vedmic commented on #502
This is done.

[2015-07-17 14:00] #502 closed

[2015-07-17 14:01] vedmic commented on #517
AMV can you assign the floodlight tag.

[2015-07-17 14:02] vedmic commented on #536
We don't have floodlight tags for certificates yet. I'll reach out to Haworth to get these.

Thanks.

[2015-07-17 14:02] #536 closed

[2015-07-17 14:24] annmarieven commented on #517
floodlight tag added. closing issue.

[2015-07-17 14:24] #517 closed

[2015-07-17 14:26] annmarieven commented on #531
Can you show me how I would adjust the tables to fix this? Let's look at it sometime next week.

[2015-07-17 14:38] josiahtillman commented on #518
Ok, I believe this is fixed now.  The block should also now output "No Programs to List" If it didn't find any programs in your department(s).

[2015-07-17 15:13] annmarieven commented on #484
floodlight tag added. closing issue.

[2015-07-17 15:13] #484 closed

[2015-07-17 16:10] emily-johnson commented on #518
@josiahtillman They still aren't pulling anything, the three I listed above all say No Programs to List. I've checked the metadata of the degrees/certs/licenses and they seem to be set up just how they should be to be getting pulled. Can you tell us why they aren't getting pulled in?

[2015-07-17 16:49] annmarieven opened #544 "GS Academic Landing Page"
These get pretty messy when we try to use the program feed blocks. Any thoughts on how to clean it up?

https://cms.bethel.edu/entity/open.act?id=ba467aa78c58651370c56c6d8de34356&type=page

This was the page before blocks. Ideally we'd have it look something like this:
https://staging.bethel.edu/_testing/erik-test/gs-academics-index

[2015-07-17 16:52] annmarieven commented on #544
This goes beyond the academic page too. We'll need to figure something out for admissions pages as well:
https://staging.bethel.edu/adult-undergrad/admissions/
https://staging.bethel.edu/graduate/admissions/

[2015-07-17 17:17] annmarieven commented on #518
One other minor thing, when it says No Programs to List, it looks like a link but doesn't actually link to anything. Can we remove that?

Reassign to @emily-johnson when it's ready for proofing again

[2015-07-17 17:21] josiahtillman commented on #518
Alright, the links you sent me have been fixed, and it no longer looks like a link when it says "No Programs to List."

[2015-07-17 19:06] emily-johnson commented on #518
Looks great, thanks!!

[2015-07-20 16:25] annmarieven commented on #522
@emily-johnson 2 things here.

Can you add this text 'A distinctive feature of Bethel's programs is our commitment to the development of the whole person. In addition to courses within a program, students explore personal values and faith formation in a hospitable environment that respects learning from one another's perspectives. Rather than teaching students what to think about Christianity, we

[2015-07-20 16:57] annmarieven opened #545 "Tagging school, degree, program"
Can you go through each school's academic folder and all the program blocks to make sure the following are tagged?

School
Degree type
Program

/_shared-content/program-blocks/ -- make any needed changes but don't publish because blocks don't need to be published

/undergrad/academics/
* index page for each program - publish to production
* event feed
* news article feed
* proof point collection
*

[2015-07-20 18:18] emily-johnson commented on #522
I added the description to all of them and changed the heading to "CORE Courses" for the ones that already had that heading. Accounting, Business Management and Nursing have the heading "Select 2 from:" so I left those alone.

[2015-07-20 19:22] annmarieven commented on #522
@e-jameson can you add the description field so it shows up on the live pages?

[2015-07-23 12:59] annmarieven commented on #537
I'm still seeing this even on a newly published page. https://cms.bethel.edu/entity/open.act?id=34fbcde08c5865130265fd80a32da194&type=page

Reassign to me when it's done for testing and then I'll republish the whole events folder. Thanks!

[2015-07-23 13:03] annmarieven commented on #537
Nevermind. For some reason the 'live' tab was showing something different than the layout tab. I'll republish the whole events folder sometime.... It might clog up the queue for a while

[2015-07-23 13:12] #537 closed

[2015-07-23 18:16] annmarieven opened #546 "Seminary Academic Program Feeds and Collections"
@emily-johnson can you go into /seminary/academics/ and make sure each program folder has the following 4 items:

event feed
news article feed
quote collection
proof point collection

Check existing ones to see naming structure, tags, feed/collection settings, etc.

Once they're created, link each one up to the program folder's index page.

Thanks!

[2015-07-23 19:54] emily-johnson commented on #546
When creating an event feed, there are no Seminary program options, which is probably why none of the Sem programs have event feeds as of now.

@e-jameson @c-schwarze Can one of you add the Sem programs? Or are they not there for a reason?

[2015-07-23 20:15] c-schwarze commented on #546
The seminary program options were in the edit/metadata portion of the event feeds. They should now be where the rest of the metadata is (inline).

[2015-07-23 20:16] emily-johnson commented on #546
Awesome, thanks!

[2015-07-24 15:42] annmarieven commented on #539
Scheduling launch for Monday (without courses). @emily-johnson can you unhide the index page so it shows up in the left hand nav?

Then reassign to me for launch.

[2015-07-24 15:51] annmarieven commented on #535
Made a few fixes via the FP job. Scheduling launch for Monday.

[2015-07-24 16:33] annmarieven opened #547 "GS Academics Leadership Foundations Certificate Site Launch and Issues"
We'll launch on Monday.
https://staging.bethel.edu/graduate/academics/certificates/leadership-foundations/

I will do testing on the most recent version of Safari and iOS 8 on iPhone 6.
@donowenskid can you proof this site and do testing on the most recent versions of Chrome and FF?

Migration grid:
https://docs.google.com/spreadsheets/d/11K-MAuCwqoMSQuA5tQAMvcVxkqdjoRO8hFBeWrgq3qk/edit#gid=201599

[2015-07-24 17:30] emily-johnson commented on #539
Done

[2015-07-24 19:44] emily-johnson commented on #546
Every sem program has all four items now, and they are linked to the index

[2015-07-24 19:46] emily-johnson commented on #545
Update: sem and undergrad are done

[2015-07-24 20:18] e-jameson opened #548 "apply.bethel.edu errors"
1. The form on the left hand side of this page is formatted strangely.

2. Going to this URL (https://www.bethel.edu/admissions/apply/?uid=false) should show an error message, it doesn't look like it is anymore.

[2015-07-24 20:22] donowenskid commented on #547
Looks great in both Chrome and FF

[2015-07-24 20:40] c-schwarze commented on #548
Looks like it was using jQuery. ill look into it

[2015-07-27 14:25] emily-johnson opened #549 "Calendar links redirecting to Silva"
https://editor.its.bethel.edu/silva/seminary/academics/calendars/index/edit/tab_edit

The links on this page are supposed to lead to the calendar pages in cascade, but are redirecting to silva and therefore saying the page doesn't exist. Can you fix it?

Thanks!

[2015-07-27 14:47] c-schwarze commented on #548
1) @johjacb is updating the form classes

2) The jQuery has been updated.

[2015-07-27 15:54] e-jameson commented on #549
We are going to remove this redirect rule tomorrow, which will fix these issues.

[2015-07-27 16:00] c-schwarze commented on #548
fixed.

[2015-07-27 16:00] #548 closed

[2015-07-27 16:19] #546 closed

[2015-07-27 18:46] e-jameson commented on #540
@annmarieven, this is ready.

Example page:

https://www.bethel.edu/_testing/jmo/block-pages/homecoming-guest-list

Example Block:

https://cms.bethel.edu/entity/open.act?id=d0b3598b8c58651314811f9c31ef0bb2&type=block&

Data def:

https://cms.bethel.edu/entity/open.act?id=d0ae0fcd8c58651314811f9cddf33e00&type=structureddatadefinition

I didn't create an asset factory or base asset.

[2015-07-27 19:05] annmarieven commented on #545
ugh. we have to go back and update 2 things.

make sure ONLY the program name is tagged on event feeds.
make sure ONLY the program name is tagged on news article feeds.

sorry em!

[2015-07-27 19:24] annmarieven commented on #547
Fixed news and event feeds. Tested on Safari and iPhone 6. Looking good!

Publishing now. No rules or redirects needed since it didn't exist in Silva before. Will add to the current certificate page.

[2015-07-27 19:55] donowenskid commented on #539
Site is launched. Jmo, can you put a rule in?

[2015-07-27 19:57] e-jameson commented on #522
@annmarieven @emily-johnson Descriptions are one pages now (need to be republished):

https://staging.bethel.edu/adult-undergrad/academics/organizational-leadership/program-details/christian-ministries

[2015-07-27 20:01] annmarieven commented on #547
Site launched, looks good!

[2015-07-27 20:02] e-jameson commented on #539
Rule is in but site is 404ing

https://www.bethel.edu/graduate/academics/certificates/international-baccalaureate/

[2015-07-27 20:09] e-jameson commented on #440
Waiting for Mike Johnson to get a database backup to HH.

[2015-07-27 20:10] annmarieven commented on #539
Site launched. Looks fantastico!

[2015-07-27 20:10] #539 closed

[2015-07-27 20:16] donowenskid commented on #535
Site ready. Jmo, another rule please?

[2015-07-27 20:20] e-jameson commented on #535
rule is done

[2015-07-27 20:31] annmarieven commented on #535
Site launched. Looks awesome!

[2015-07-27 20:31] #535 closed

[2015-07-28 16:12] emily-johnson commented on #545
Ok I think it's all done finally! :+1: :grinning:

[2015-07-30 15:10] #545 closed

[2015-07-30 15:12] #534 closed

[2015-07-30 15:18] annmarieven commented on #518
After talking with Jake, we need to go about this differently. We won't be able to just have one set of blocks in the shared content because of the way they look on the pages (especially flex pages). We'll need to create them wherever we need them, based on the unique headings they need.

@josiahtillman can you make the title of the block show up as a heading 2 again?

@emily-johnson can you build

[2015-07-30 15:19] annmarieven commented on #547
@emily-johnson can you add this program to the certificate section on this page: http://gs.bethel.edu/academics/ (it's in silva)

once that's done and you've proofed it live and made sure the link works, you can close the issue. thanks!

[2015-07-30 15:27] josiahtillman commented on #518
Ok! It's a heading 2 once again~!

[2015-07-30 15:44] annmarieven opened #550 "Post Office Migration"
@emily-johnson can you take care of a few things before I proof the site?

Right now it looks like a lot of p tags have an extra class="p" but it should just be < p > (but with no spaces. I can't do the actual html or github thinks I'm coding stuff into the issue. :stuck_out_tongue: )

- [x] HTML clean up --- p tags, heading tags (h2 or h3), remove any &#160; code and replace it with a space
- [x]

[2015-07-30 15:46] e-jameson commented on #550
You can do \`\<p\>\` to put in HTML tags (the fancy tick above ~) looks like this:

`<p>`

:)

[2015-07-30 15:48] annmarieven opened #551 "Missing Banner Data"
@emily-johnson can you go through this grid and take care of a few things?
https://docs.google.com/spreadsheets/d/1zEs-6RFad9aTQVtVf1nsTd7RLxz3OwGj_WgwwJeah8Q/edit#gid=0

- [x] Add the program name next to each code
- [x] Indicate whether or not courses are pulling - may need to check multiple concentration pages if the program has concentrations (enter yes or no into the courses column)
- [x] Che

[2015-07-30 15:49] emily-johnson commented on #518
Ok the graduate feeds look good (the master's page isn't showing the title only because it won't let me publish to staging). I'll work on sem and caps

[2015-07-30 16:25] emily-johnson commented on #518
They are all moved to their academics folders and the caps feeds are renamed and all set up. We'll have to go back and work on the sem feeds once we know for sure what we are doing with the folder structure.

[2015-07-30 16:25] #518 closed

[2015-07-30 16:34] emily-johnson commented on #547
Done. I also removed Postsecondary Teaching from the certificates site since we no longer offer it.

[2015-07-30 16:34] #547 closed

[2015-07-30 18:50] annmarieven commented on #540
created a base asset and an asset factory. followed up with Erin.

[2015-07-31 16:58] emily-johnson commented on #550
@annmarieven The totals in the table of intra-campus distribution numbers aren't right, but I don't know if the totals or the other values are wrong. Can we check what those numbers should actually be?

[2015-07-31 17:53] emily-johnson commented on #549
@e-jameson this is your reminder to create those individual redirects :) Thanks!

[2015-08-03 16:23] annmarieven opened #552 "Videos on Event Pages"
I've added a block chooser so we can embed videos onto event pages.

Can someone make them appear just like event images do?

There's also a caption field which would be great if it appeared for either an image or a video.

Let me know if you need any more info from me.

[2015-08-04 14:25] emily-johnson commented on #549
@e-jameson You're off the hook! Peter was able to take care if it yesterday :+1:

[2015-08-04 14:25] #549 closed

[2015-08-04 16:09] johjacb commented on #531
I think these tables have all been fixed. reopen if new issues surface

[2015-08-04 16:09] #531 closed

[2015-08-04 16:10] johjacb commented on #440
is this working?

[2015-08-04 18:40] annmarieven commented on #551
One more thing - can you also add any codes that we have in blocks that aren't in the grid and fill out the program name, courses, and data for those as well?

[2015-08-04 18:43] annmarieven commented on #544
@emily-johnson can you try building this page (and making it look nice) --
https://staging.bethel.edu/_testing/erik-test/gs-academics-index using the program feed blocks?

then let's move it to /graduate/academics/index

Don't publish to production

[2015-08-04 18:44] annmarieven commented on #522
@emily-johnson can you republish each program details index page (and subsequent concentration pages) for all caps academics programs?

proof each one live before you move onto the next.

thanks!

[2015-08-04 18:52] annmarieven commented on #500
@emily-johnson can you look at job 14616 attachments "Healthcare and Human Services (GS and CAPS) and "Education Postcard June 2015" and "Business and Leadership non-CAPS"

Based on the programs on each attachment, edit the program block and index page for that program to tag the cluster (found in the metadata tab).

let me know if you have any questions!

[2015-08-04 19:21] emily-johnson commented on #551
Done!

[2015-08-04 19:21] #551 closed

[2015-08-04 20:21] e-jameson opened #553 "remove jQuery from wufoo block"
After the change, we'll need to coordinate with @annmarieven about republishing all the pages with Wufoo blocks, and then coordinate with @johjacb about removing jQuery.

[2015-08-05 15:43] emily-johnson commented on #544
@johjacb Can we put a white box around the two blocks of program feeds (like the graduate admissions index)?

https://cms.bethel.edu/entity/open.act?id=fe657b288c58651314811f9c727296d2&type=page

[2015-08-05 18:44] emily-johnson commented on #500
@hamtim I tagged the clusters for the programs based on the info from the "CAPS-GS Info Session Postcards Summer 2015-Proof 4.pdf" attached to case 14616.

[2015-08-05 19:03] emily-johnson commented on #522
All of the caps program details indexes are republished

[2015-08-05 19:03] #522 closed

[2015-08-05 19:11] annmarieven opened #554 "Purchasing Services Site Launch and Issues"
We launched the purchasing site and everything looks good.

bethel.edu/purchasing

Now we just need a few redirects.

@e-jameson
bethelnet.bethel.edu/purchasing -- > https://www.bethel.edu/purchasing
bethelnet.bethel.edu/purchasing/bus-request-form --> https://www.bethel.edu/purchasing/transportation/bus-request

@emily-johnson can you put these redirects in?
purchasing/stationery/ --> https://www

[2015-08-05 19:12] emily-johnson commented on #550
I emailed the post office asking if they had updated numbers for the table

[2015-08-05 19:37] emily-johnson commented on #554
The redirects are done and I deleted the pages from the comm and marketing site

[2015-08-05 19:44] donowenskid opened #555 "Elective Course Description in Program Block"
Cascade putting the program description in the course description field in the program block.

Extra content is in the elective section on live page:
https://www.bethel.edu/graduate/academics/counseling-psychology/program-details/child-adolescent-counseling

Link to the program block:
https://cms.bethel.edu/entity/edit.act?id=9a5fe5928c58651357534482da2f5a44&type=block

[2015-08-05 19:49] e-jameson commented on #555
Fixed, needs to be republished.

[2015-08-05 19:56] annmarieven commented on #554
@emily-johnson can you also update the purchasing links in these 2 areas:
https://blink-cms.bethel.edu/channels/forms/bu-forms/edit/tab_edit -- bus request and name badge

https://blink-cms.bethel.edu/channels/offices-departments-programs/offices-departments/edit/tab_edit -- office sites g-z

[2015-08-05 20:07] #555 closed

[2015-08-05 20:42] annmarieven commented on #540
From Erin:
Entered on 08/05/2015 at 09:14:10 CDT (GMT-0500) by erin-ekstrand@bethel.edu:
Hi Web Services!

Thank you for publishing the Class Reunion pages that I submitted
yesterday! Unfortunately, the Guest List block appears to be publishing the
names of alumni who registered for last year's reunions. Is it possible to
get this corrected this morning?

Thank you!
Erin

[2015-08-05 21:01] annmarieven opened #556 "Online added to Silva Header"
Can we add Online to the header in Silva?

[2015-08-06 16:40] emily-johnson commented on #550
I updated the table in cascade with the updated numbers from the post office

[2015-08-10 15:06] c-schwarze commented on #552
Here is a test: https://staging.bethel.edu/_testing/caleb-schwarze/events/acsd-student-leadership-conference

Also, a couple things:
1) If there is both a image and a video, it will default to a image.
2) images/videos currently only appear IF there is a 'event description'. Let me know if this needs to be changed.

[2015-08-10 15:50] e-jameson commented on #554
@annmarieven, is `bethelnet.bethel.edu/purchasing -- > https://www.bethel.edu/purchasing` a rule or redirect? A rule would cover the second one, but are there things in bethelnet.bethel.edu/purchasing that sill need to be accessed?

[2015-08-10 16:23] #511 closed

[2015-08-10 17:56] emily-johnson commented on #554
Just for the record, I did updated those links last week and updated the footprint case relating it

[2015-08-10 17:56] e-jameson commented on #554
redirects are done

[2015-08-10 18:08] e-jameson commented on #440
@johjacb did you update the file Hannon Hill Tim sent over? @annmarieven did you get a chance to test it?

[2015-08-10 18:49] annmarieven opened #557 "Staff listing block not working"
Can someone see why the staff listing block isn't working on this page?
https://www.bethel.edu/parents/contact/team/

thanks!

[2015-08-10 19:21] c-schwarze commented on #557
Fixed. Kind of complicated.

The staff listing block was including 'basic' pages, which each included the 'staff-bio'.

Now staff listing blocks can include basic pages, which include 'staff-bio's

[2015-08-10 19:48] annmarieven commented on #557
The pages should be going to the staff pages in the parent site though, not alumni.

Any thoughts there?

[2015-08-10 19:48] annmarieven commented on #557
bethel.edu/parents/contact/jim and
bethel.edu/parents/contact/erin

[2015-08-10 19:52] c-schwarze commented on #557
Oh. Sure. Updated.

[2015-08-10 20:02] annmarieven opened #558 "Program block data confusion"
This page is pulling information from the higher education concentration instead of k-12 administration.

https://www.bethel.edu/graduate/academics/education-doctorate/program-details/k-12-administration

https://www.bethel.edu/graduate/academics/education-doctorate/program-details/higher-education

block:
https://cms.bethel.edu/entity/edit.act?id=9a60534e8c58651357534482f316a934&type=block

[2015-08-11 14:12] e-jameson commented on #558
@annmarieven, this one is fixed. I had to change some code that I don't think should have been there, but could you spot check a few other programs to make sure they still look okay?

[2015-08-11 14:56] annmarieven opened #559 "Social Media Links disappeared"
We used to have social media site features appear at the bottom of pages, if they were entered into the setup block.

They seem to have disappeared.

Block:
https://cms.bethel.edu/entity/open.act?id=ab3a30098c5865132a1de4efda4bc643&type=block&
Live site:
https://www.bethel.edu/dining-services/ (I just published the index page again to make sure it wasn't an issue that would be fixed with a republi

[2015-08-11 14:58] e-jameson commented on #559
This page has social media links: http://screencast.com/t/F3bPAlGsKNF

[2015-08-11 15:17] annmarieven commented on #559
oops. I forgot my blockers don't show the social media... my bad. sorry!

[2015-08-11 15:17] #559 closed

[2015-08-11 15:18] annmarieven opened #560 "Add Instagram to Social Media & Adjust Spacing"
I added instagram to the data definition. Can we get that to appear on the bottom of sites if a url is entered?

Also, the icons look like they're almost touching the text. Can we get a little more space?

[2015-08-11 15:20] emily-johnson commented on #544
We got the white box around all of the feeds and I moved everything to /graduate/academics/

Because we created separate feeds for the index page with the settings we want, there is now a regular and index version of the four feeds (ex: graduate-certificates-program-feed and graduate-certificates-index-program-feed)

Let me know if you want me to change the names of the new feeds, otherwise it is

[2015-08-11 15:27] annmarieven commented on #557
Looks good!

[2015-08-11 15:27] #557 closed

[2015-08-11 15:55] annmarieven commented on #552
great! tested and looks good.

[2015-08-11 15:55] #552 closed

[2015-08-11 15:55] annmarieven commented on #540
jmo fixed this.

[2015-08-11 15:55] #540 closed

[2015-08-11 16:01] annmarieven commented on #558
@emily-johnson can you spot check a few programs to make sure the data that's entered into the program block matches what's live on the concentration/program details pages?

[2015-08-11 16:10] annmarieven commented on #554
Everything's looking great!

[2015-08-11 16:44] e-jameson commented on #560
@johjacb I added instagram to this file. Not sure if our SVG file has an instagram icon or not, but I'm passing this to you to look at that and spacing.

[2015-08-11 16:48] emily-johnson commented on #558
I looked at the special ed, mba and counseling psych concentrations and they all look good.

[2015-08-11 16:48] #558 closed

[2015-08-11 18:40] e-jameson commented on #440
Sounds like the fix worked.

[2015-08-11 18:40] #440 closed

[2015-08-11 19:17] e-jameson commented on #556
done.

[2015-08-11 19:17] #556 closed

[2015-08-11 19:39] a-parrott opened #561 "Seminary Program Descriptions"
@donowenskid can you finish the last of the Seminary Program Descriptions? These would be: Mental Health Counseling, Ministry Practice, Theological Studies, and Transformational Leadership.

Please load the descriptions in the corresponding program blocks. Content for the descriptions can come from the homepage.

Let me know if you have any questions. Thanks!

[2015-08-11 19:46] donowenskid commented on #561
Sure! I'll take a look at it.

On Tue, Aug 11, 2015 at 2:39 PM, a-parrott <notifications@github.com> wrote:

--
Chris Owen
Bethel University
Shipping/Receiving Clerk
Ext: 6481

[2015-08-11 20:11] e-jameson commented on #553
@annmarieven, this is ready for @emily-johnson to go through and publish/test all the pages with Wufoo blocks on them.

[2015-08-12 18:05] emily-johnson commented on #544
I changed the names of the new indexes to index-graduate-______-program-feed, and moved the original certificate and licensure program feeds into their folders

[2015-08-12 18:44] emily-johnson commented on #553
Ok I went through and published everything (except for about/caps-gs because it wouldn't let me)

[2015-08-12 18:56] emily-johnson commented on #553
Just kidding there are five more pages of blocks... haha I'll do that now

[2015-08-13 14:44] annmarieven opened #562 "Update to maps/directions and instructions for guests on event pages"
We're going to create an automated link to our maps and directions page if someone chooses on campus for the location. This is going in the location field.

We're also going to create an Instructions for Guests field.

@a-parrott did you take notes about this and could you fill in any missing gaps?

@e-jameson where do we start?

[2015-08-13 14:46] annmarieven opened #563 "Setup blocks and empty folders"
Can we change the way setup blocks pull content for the left hand nav? Can it skip over folders if there is no published content in it?

[2015-08-13 14:54] annmarieven opened #564 "CAPS Academics B.S. in Finance Site Launch and Issues"
Now that we're getting data, we are closer to launching this site.
https://staging.bethel.edu/adult-undergrad/academics/finance/

However, 2 major things before we can go live. There is no faculty on the faculty page cause no one is tagged. @hamtim what do you want to do about this? Also, should anyone review this site before we launch? Assigning to @hamtim before we do anything else.

@donowenski

[2015-08-13 15:34] emily-johnson commented on #553
Done!

[2015-08-13 16:23] hamtim commented on #564
@annmarieven let's launch and we'll let Molly know when it's done.

As for faculty, can we tag Molly Wickam and then in my launch email to her, I'll tell her that she'll need to get more faculty.

[2015-08-13 16:47] annmarieven commented on #564
@emily-johnson can you tag Molly Wickam and republish the faculty page?

[2015-08-13 16:58] emily-johnson commented on #564
I tagged Molly and republished to staging

[2015-08-13 19:58] annmarieven opened #565 "Share to Facebook Widget"
Can we create a new block that allows people to share something to their Facebook account?

For example, the development office wants to have this feature on the confirmation page after someone makes a gift.

Let me know what you need from me to get started.

[2015-08-14 12:55] a-parrott commented on #562
Here's my notes on this:

If the event is on-campus then the location field will be auto-populated.
If it’s off-campus then the user has to write in the location.

The location field will have the auto-populated info or the written in info

There will be a new Instructions for Guests field where users can write info about parking, for example.

[2015-08-14 15:48] annmarieven commented on #564
Molly just emailed asking about the status of this site. @donowenskid think we can proof today so we can launch on Monday?

[2015-08-14 17:20] c-schwarze commented on #563
I updated the nav to hide folders/pages if they have never been published.

Cascade only knows if a page has ever been published. So if things get unpublished/published, then it will still show up in the nav. It would take a lot more work to check if the page is currently published or not. We could do it, but it would slow page load time.

Also, pages will have to get republished to have the updat

[2015-08-14 17:33] donowenskid commented on #564
Content proofed. Looks great in Chrome.

[2015-08-14 17:36] donowenskid commented on #564
Closed issue on accident.

[2015-08-14 18:38] johjacb commented on #560
@annmarieven what is the url that you are looking at?

@e-jameson instagram should already be in the file, its in our global footer

[2015-08-14 18:55] annmarieven opened #566 "Moving admissions forms to Cascade"
@emily-johnson can you move this form to Cascade?

https://www.bethel.edu/undergrad/admissions/enroll/deposit

It should live in the same exact spot in the Cascade site. Once the page has been published to production, proof/test it live (make sure the preload is working), and then close the Silva page.

Let me know if you have any questions!

[2015-08-14 19:13] annmarieven commented on #566
Can you do these too?
https://www.bethel.edu/seminary/admissions/enroll -- it's preload as well.

https://www.bethel.edu/adult-undergrad/admissions/enroll  -- it's preload as well.

[2015-08-17 14:08] annmarieven opened #567 "News Feed Images"
I added a field in the data definition to allow us to hide images from news article feeds.

https://cms.bethel.edu/entity/open.act?id=693f5a068c5865132786f4d0ecaa5cb7&type=structureddatadefinition

Can you add the technical capability for that?

[2015-08-17 15:00] annmarieven commented on #564
Looks good on Safari, Firefix, and iOS 8 on iPhone 6.

@donowenskid I assigned the FP job to you for updating the headline on the sell sheet. Could you update here as well?

[2015-08-17 15:21] donowenskid commented on #564
Done.

[2015-08-17 15:32] e-jameson commented on #553
@c-schwarze can you try and get a list of all the Wufoo blocks (https://cms.bethel.edu/entity/relationships.act?id=ba13cf0d8c586513100ee2a77e570c1c&type=structureddatadefinition) that have Use Preload set to "Yes".

[2015-08-17 15:34] annmarieven commented on #564
@emily-johnson can you take care of the few things assigned to you and then reassign to me for the floodlight tag?

[2015-08-17 15:34] annmarieven commented on #564
oh, and... the site is launched and looks great. woo!

[2015-08-17 15:35] emily-johnson commented on #566
Done!

[2015-08-17 15:35] #566 closed

[2015-08-17 15:51] c-schwarze commented on #567
Updated.

All blocks that are set to not display images, will have to be republished (the page).

[2015-08-17 15:51] #567 closed

[2015-08-17 16:05] annmarieven commented on #564
Not marketing this program yet - no flood light tag.

[2015-08-17 16:25] a-parrott commented on #561
@donowenskid how's this going? Any questions?

[2015-08-17 16:26] #564 closed

[2015-08-17 16:34] donowenskid commented on #561
I should have these done this afternoon.

On Mon, Aug 17, 2015 at 11:25 AM, a-parrott <notifications@github.com>
wrote:

--
Chris Owen
Bethel University
Shipping/Receiving Clerk
Ext: 6481

[2015-08-17 16:37] a-parrott commented on #561
@donowenskid Great. Just load them to the corresponding program blocks when they're ready. Thanks!

[2015-08-17 16:38] donowenskid commented on #561
@a-parrott...you got it!

[2015-08-17 16:55] annmarieven opened #568 "Mission, Vision, and Values page in About site"
Put mission and vision content onto a new page.

System name: mission-vision
Title: Mission, Vision, and Values
Display name: Mission and Vision

Delete and redirect Values page to the new mission, vision, values page.

[2015-08-17 19:06] annmarieven opened #569 "Program block delivery option"
We need to add a sentence about evening classes for SemPM.

[2015-08-17 20:32] c-schwarze commented on #553
Unfortunately, Cascade's search doesn't allow for that to work. Only because the "Content" being searched is stored as "Yes", which would trigger the other thousand blocks with options set to "Yes"

[2015-08-18 16:37] e-jameson commented on #565
Before I do this... @annmarieven @johjacb is this something we can style so it looks good being its own block?

[2015-08-18 16:52] annmarieven commented on #560
@johjacb bethel.edu/dining-services

[2015-08-18 17:02] c-schwarze commented on #553
I was able to get the Cascade search to find all of the wufoo blocks and publish them automatically.

They are still being published at the moment.

[2015-08-18 17:28] e-jameson commented on #434
@josiahtillman is this done?

[2015-08-18 17:29] josiahtillman commented on #434
Oops! Forgot to close this.  It is done! ^^

[2015-08-18 17:29] #434 closed

[2015-08-18 21:21] e-jameson commented on #553
I removed jquery from the body-end.php file and confirmed forms are working.

[2015-08-19 12:52] annmarieven commented on #554
@emily-johnson can you look into this broken button on this page?

https://www.bethel.edu/purchasing/printed-materials/name-badges/

looks like the redirects aren't working.

[2015-08-19 14:30] emily-johnson commented on #554
I changed the link to go straight to the new page in cascade, I'll look at the redirects again

[2015-08-19 14:45] emily-johnson commented on #554
There was an error in the three redirects, but now they are fixed

[2015-08-19 14:45] #554 closed

[2015-08-19 15:24] annmarieven opened #570 "Maps and directions"
can we link to a specific place on our map page?

so open this https://www.bethel.edu/about/maps-directions/ with specific things in the dropdown already?

[2015-08-19 17:57] e-jameson commented on #553
@emily-johnson, can you go through this again and publish everything just to make sure we got them all? We got a couple cases this morning about forms not working.

[2015-08-20 14:21] johjacb commented on #560
i added some space

[2015-08-20 14:26] annmarieven commented on #429
Can we add a few more fields to the lookup?

Based on this form -- https://editor.its.bethel.edu/silva/www/undergrad/student-life/withdrawal/withdraw-stop-out

We need:
Residence hall
Residence number
Middle name

Also, the form shows the note about not loading until after you enter the ID and hit the 'lookup' button.
Here's the Cascade version I'm working on: https://www.bethel.edu/undergrad/stud

[2015-08-20 14:26] annmarieven commented on #429
@e-jameson This form is no longer working in Silva, which is why it's high priority. :(

[2015-08-20 14:40] e-jameson commented on #429
I added Middle Name - Lookup, and put in a request for Residence Hall and Residence Number to be put into the SQL Result set.

[2015-08-20 14:53] emily-johnson commented on #553
Done republishing!

[2015-08-20 14:53] #553 closed

[2015-08-20 15:25] e-jameson commented on #560
i added Instagram to the site-features check and confirmed Dining Services is working in staging.

[2015-08-20 15:25] #560 closed

[2015-08-20 15:43] emily-johnson commented on #560
I published the whole site to prod and let Chris know it was done.

[2015-08-20 19:23] e-jameson commented on #562
Lets look at this after the maps/directions updates are done.

[2015-08-20 21:32] c-schwarze commented on #570
Updated and live. These are the 4 parameters
[code]

A couple of tests:
[code]

[2015-08-21 17:06] annmarieven opened #571 "Seminary Academics M.A. in Children's and Family Ministry Site Launch and Issues"
Getting ready to launch this site:
https://staging.bethel.edu/seminary/academics/childrens-ministry/

We'll plan to launch Monday morning if everything goes well.

@donowenskid can you proof content, Firefox, and Chrome?
I'll proof on Safari and iOS 8 on iPhone 6.

Migration grid:
https://docs.google.com/spreadsheets/d/1HuG1V-OM7If-YOM8_scVqYEH3PTH_Y1qyBXWhs4cdFQ/edit#gid=1353725850

Redirects:
ht

[2015-08-21 17:07] annmarieven commented on #571
@e-jameson or @c-schwarze do you know why the teaching specialty is showing up on the faculty list but not on her actual bio page?

List: https://staging.bethel.edu/seminary/academics/childrens-ministry/faculty
Actual bio page with empty teaching specialty section: https://www.bethel.edu/academics/faculty/muir-kjesbo-denise

[2015-08-21 17:26] c-schwarze commented on #571
Should be fixed!

[2015-08-21 19:24] annmarieven commented on #571
wait.. I think there was some confusion.

We still want the teaching specialty section to show up on the listing page. Touch base with me if you're not sure :)

[2015-08-21 19:30] c-schwarze commented on #571
Oh sure. Its back now :)

[2015-08-21 21:03] donowenskid commented on #561
@a-parrott Descriptions are loaded. Take a look and let me know if you have any thoughts or edits.

[2015-08-22 21:34] donowenskid commented on #571
Proofed and edited content. "Visit Us" link directs to error in both chrome and FF:

"The directory which you have requested does not have an index file."

https://www.bethel.edu/seminary/admissions/events/

Everything else looks great.

[2015-08-24 14:23] annmarieven commented on #571
Proofed on Safari and iOS 8 on iPhone 6.

Fixed the broken visit link.

Publishing now.

[2015-08-24 14:37] a-parrott opened #572 "Homepage Banner Features"
Features from the  /_homepages/www/www-text-over-media-collection are not filtering to the Undergrad homepage. I'm not sure where the Undergrad features currently on that page are coming from.

The Seminary homepage is pulling a text-over-media block that is not part of the www-text-over-media-collection. That block is this one: https://cms.bethel.edu/entity/open.act?id=ec1569c48c5865137938fc88ebf

[2015-08-24 14:41] e-jameson commented on #571
rule is done

[2015-08-24 14:42] annmarieven commented on #571
@emily-johnson can you do the redirects and short url and tag analytics?

Then reassign to me and I'll take care of the archiving the old site.

[2015-08-24 14:58] a-parrott commented on #561
Thanks @donowenskid.

This is done.

[2015-08-24 14:58] #561 closed

[2015-08-24 16:15] emily-johnson commented on #571
Done!

[2015-08-24 16:23] annmarieven opened #573 "Text Over Media Collections # of items order"
Can we change the order for the question that asks how many items should be displayed so that it shows them in order from newest to oldest?

Data definition: https://cms.bethel.edu/entity/open.act?id=03f3c1788c5865134b095345659b5d7f&type=structureddatadefinition&

[2015-08-24 16:38] annmarieven opened #574 "Text over media disable feature"
Can we make the disable feature remove the text over media from any homepages using metadata?

[2015-08-24 16:42] annmarieven commented on #565
yes, let's make it a block.

[2015-08-24 16:42] e-jameson commented on #565
@c-schwarze can you have a student look at this?

[2015-08-24 18:15] annmarieven opened #575 "Meta descriptions for program homepages"
@donowenskid can you take a look at each of our adult program homepage meta descriptions? I looked at a few and some are all over the place while others are missing completely.

This shows up in search engine results so they should be roughly 130-155 characters in length.

Let me know if you have any questions!