[2016-04-19 14:11] annmarieven commented on #697
Timezones: Pacific, Mountain, Central, Eastern

-- looking at the first update on this issue, was doing it automatically not something that was possible?

[2016-04-19 14:13] annmarieven opened #733 "Seminary Academics Certificate in Young Life Youth Ministry Site Launch and Issues"
We're getting ready to launch this site: https://staging.bethel.edu/_testing/build-out/seminary-academics/certificates/young-life

link to build out folder in cascade: https://cms.bethel.edu/entity/open.act?id=f7c4f3148c586513739ca2fd69928e77&type=folder&

Migration grid: https://docs.google.com/spreadsheets/d/1HuG1V-OM7If-YOM8_scVqYEH3PTH_Y1qyBXWhs4cdFQ/edit#gid=0

Redirects: (just one)
https://w

[2016-04-19 14:15] annmarieven opened #734 "Seminary Academics Certificate in Theological Studies Site Launch and Issues"
We're getting ready to launch this site: https://staging.bethel.edu/_testing/build-out/seminary-academics/certificates/theological-studies

link to build out folder in cascade: https://cms.bethel.edu/entity/open.act?id=f7c1ba5f8c586513739ca2fdd044ce1d&type=folder&

Migration grid: https://docs.google.com/spreadsheets/d/1HuG1V-OM7If-YOM8_scVqYEH3PTH_Y1qyBXWhs4cdFQ/edit#gid=0

Redirects: (just one)

[2016-04-19 14:28] c-schwarze commented on #697
- [ ] Add checkbox and dropdown fields to cascade
- [ ] Add fields to tinker event form
- [ ] Update Event format in cascade to display timezone (do we want to always mention the timezone?)
- [ ] Add shorthand timezone to calendar?

[2016-04-19 14:31] e-jameson commented on #697
Can we not do it based on location, if they select one of the preloaded values?

[2016-04-19 15:06] annmarieven commented on #731
@emily-johnson and @kathrynmagnuson
we need to go through the above bios and manually enter the description into the metadata. We just need to enter the person's first job title into the description, submit, and publish the page.

The descriptions will read, "Meet Patti Meras, [Professor of Chemistry,] at Bethel University."

The content in the [ ] is what you're manually adding. Make a note in th

[2016-04-19 15:12] donowenskid commented on #732
content looks great. Good to go!

[2016-04-19 15:21] donowenskid commented on #728
Content is proofed. Edits have been adjusted. Good to go.

[2016-04-19 15:47] emily-johnson commented on #507
Done, the only things that were still marked as majors were the Business Management and Christian Ministries blocks

[2016-04-19 15:47] #507 closed

[2016-04-19 15:50] annmarieven commented on #728
running into an issue here.
degree subtitle won't appear on this page:
https://staging.bethel.edu/seminary/academics/certificates/church-planting/how-to-apply

also, the breadcrumb on that page is larger than it is on all other pages. (ex: https://staging.bethel.edu/seminary/academics/certificates/church-planting/program-details/)

not sure if this is @johjacb or @e-jameson

[2016-04-19 15:53] e-jameson commented on #728
Looks like the breadcrumb is getting the styling because there is no subtitle. @c-schwarze, any idea why its not getting it?

[2016-04-19 15:53] annmarieven commented on #728
oops. forgot we're not doing degree subtitle on seminary programs yet. just caps/gs for now. i'm removing it but can we look at the breadcrumb still?

[2016-04-19 16:03] emily-johnson commented on #727
Went back to that previous list and un-hid the degree subtitles and published.

Total list:
- [ ] Accounting
- [ ] Business Management (and concentrations)
- [ ] Christian Ministries
- [ ] Finance
- [ ] Human Services
- [ ] Org Leadership (and concentrations)
- [ ] Nursing (RN to B.S.)
- [ ] Associates

- [ ] Counseling Psychology
- [ ] Education K-12
- [ ] Gerontology
- [ ] MBA
- [ ] Nurse Educat

[2016-04-19 16:51] annmarieven commented on #728
Site launched! Working through the post launch to-dos.

[2016-04-19 16:54] emily-johnson commented on #728
Added the certificate to both the main SEM and leadership marketing wufoos

Published the Sem Academics index, SEM certificates index, SEM online programs feed, Leadership marketing page

Tagged analytics

[2016-04-19 17:13] annmarieven commented on #728
everything is done and good to go. closing job.

[2016-04-19 17:13] #728 closed

[2016-04-19 18:15] annmarieven commented on #732
Site proofed. Publishing to prod. @emily-johnson as soon as it goes live, you can do your items here.

[2016-04-19 18:25] a-parrott commented on #734
Content reviewed. It's good to go.

[2016-04-19 18:38] a-parrott commented on #733
Content good to go.

[2016-04-19 18:48] emily-johnson commented on #732
Redirect done

[2016-04-19 18:58] annmarieven commented on #732
Site is launched. Just a few more post-launch things to do here. Assigning to Em.

[2016-04-19 20:58] annmarieven commented on #704
Followed up with Liz to see if those zip codes are accurate. Our students will build it out initially.

[2016-04-19 21:42] c-schwarze commented on #725
@annmarieven I updated the job titles. It works for both now with the priority you mentioned. Could you take a look at a few bios?

https://staging.bethel.edu/academics/faculty/bement-jaroscak-laura
https://staging.bethel.edu/academics/faculty/bonawitz-katie
https://staging.bethel.edu/academics/faculty/daniels-nikki

[2016-04-20 14:30] annmarieven commented on #710
Other names and outcomes will be entered in Tinker (or mass upload with a csv) and then stored in Tinker database, csv file created on server.

I will create google spreadsheets for each program with:
Tag            Outcome     Other name
actuary           x                    x
math                                     x

[2016-04-20 15:49] annmarieven commented on #733
Site has been proofed and is live. Going to go through the post-launch list.

[2016-04-20 16:11] emily-johnson commented on #732
Redirect and analytics tag are done

I tagged the Human Services cluster in the program block and republished the site. I added it to the Sem general marketing form and the human services marketing form

[2016-04-20 16:15] emily-johnson commented on #732
Published program feeds

[2016-04-20 16:29] emily-johnson commented on #733
Published program feeds, redirected old site and added analytics tag

There's no cluster tagged, so I only added it to the Sem marketing form

[2016-04-20 18:09] #732 closed

[2016-04-20 18:51] #733 closed

[2016-04-21 13:23] annmarieven commented on #727
Assigning to @a-parrott for changing 2 sites job titles to 'degree' and 'program'. Analytics will be tagged when that's done.

[2016-04-21 14:32] annmarieven commented on #697
Time options will be:
Central <--- this will be default
Pacific
Mountain
Eastern

Will appear on the event forms as:
CT
PT
MT
ET

[2016-04-21 16:39] emily-johnson commented on #727
@c-schwarze If "Select" is selected in the degree type field, can we have it not display anything? Thanks!

[2016-04-21 17:06] a-parrott commented on #727
@c-schwarze: The degree subtitle is not appearing on some faculty pages and many of the how to apply pages.
https://www.bethel.edu/graduate/academics/special-education/how-to-apply
https://www.bethel.edu/graduate/academics/gerontology/faculty

[2016-04-21 17:07] a-parrott commented on #727
I changed the titles of the following programs: Strategic Leadership Program, Gerontology Degree, Business Management Program, Finance Degree.

Analytics are tagged.

[2016-04-22 17:05] emily-johnson opened #735 "Open Enrollment site migration"
We're getting ready to launch this site: https://staging.bethel.edu/_testing/build-out/open-enrollment

link to build out folder in cascade: https://cms.bethel.edu/entity/open.act?id=1b6391388c58651326dfdb1c61aa0161&type=folder&

Migration grid: https://docs.google.com/spreadsheets/d/1BxUTjlDdgBKo-XZrOHhx-DhXHSCBCzRLGZ4S9KyuyyI/edit#gid=1315737609

**Redirects:**
Rule:
https://www.bethel.edu/offic

[2016-04-22 17:05] emily-johnson commented on #735
@annmarieven how does this look?

[2016-04-22 19:28] c-schwarze commented on #710
[code]

[2016-04-25 20:20] emily-johnson opened #736 "Cty Rd E2 alert on Tinker event pages"
Can we add the Cty Rd E2 construction alert that is on the [maps & directions page](https://cms.bethel.edu/entity/open.act?id=ba13b80c8c586513100ee2a718241435&type=page&) to all Tinker pages too? Only events that are on the St. Paul campus I'd assume. Thanks!

[2016-04-26 14:09] c-schwarze commented on #736
Added to all Cascade Event pages.

The alert will always show up, unless "Seminary San Diego" is selected for the school.

[2016-04-26 15:42] annmarieven commented on #735
@emily-johnson looks great! I added web author access because that's something that needs to be done for this site.

[2016-04-26 16:09] emily-johnson commented on #735
Looks good in the three browsers and on mobile

[2016-04-26 16:13] annmarieven commented on #710
@kathrynmagnuson can you go through the MBA sheet and MBA block and for every concentration, make a new tab in the spreadsheet. the name of the tab should be the last part of the system name of the page that it's linked up to (in the block).

We have to do this for every block that has concentrations but the rest can be created as we go through add terms.

[2016-04-26 16:27] kathrynmagnuson commented on #710
Here's the spreadsheet with multiple tabs: https://docs.google.com/spreadsheets/d/109CvzGu5p2YiKt248aeuiRte_symdu6kM0bhyzv26Ic/edit#gid=0

[2016-04-26 16:43] c-schwarze commented on #710
We decided to the following:
* The program search will display program concentrations, not programs
* The Spreadsheets will be by block with tabs for each concentration and a tab for ALL concentrations

[2016-04-26 20:48] annmarieven commented on #704
@kathrynmagnuson can you use this google doc: https://docs.google.com/spreadsheets/d/1IT703M0XMPJOkn5YQC8H-bRLRen5JnX_jk_8ba55pqk/edit#gid=0 and load all the data here: https://cms.bethel.edu/entity/open.act?id=cfc882068c58651375fc4ed2ced35038&type=block& (undergrad/admissions/counselors/counselor-territories)

Once you have all the data loaded we'll embed it on the counselors/index page. We'll ha

[2016-04-27 15:06] emily-johnson commented on #736
@c-schwarze do we have to publish them all out?

[2016-04-27 15:07] c-schwarze commented on #736
Ah yes. I forgot to mention that.

[2016-04-27 15:08] emily-johnson commented on #736
Should we only do the current ones? Like the 2016 folder?

[2016-04-27 15:09] c-schwarze commented on #736
Let me play around with making it appear automatically, first.

[2016-04-27 15:10] emily-johnson commented on #736
Ok, thanks!

[2016-04-27 16:03] c-schwarze commented on #736
Okay, all events 2016 and beyond will need to be republished.

But in the future, we can just update the alert text to apply it to all event pages.

[2016-04-28 13:20] annmarieven opened #737 "Seminary Academics Ministry Practice Certificate Site Launch and Issues"
We're getting ready to launch this site: https://staging.bethel.edu/_testing/build-out/seminary-academics/certificates/ministry-practice

link to build out folder in cascade: https://cms.bethel.edu/entity/open.act?id=60927d548c58651331ed8325ae51f097&type=folder&

Migration grid: https://docs.google.com/spreadsheets/d/1HuG1V-OM7If-YOM8_scVqYEH3PTH_Y1qyBXWhs4cdFQ/edit#gid=0

Redirects:
none. there w

[2016-04-28 13:23] annmarieven opened #738 "Seminary Academics Christian Studies Certificate Site Launch and Issues"
We're getting ready to launch this site: https://staging.bethel.edu/_testing/build-out/seminary-academics/certificates/christian-studies

link to build out folder in cascade: https://cms.bethel.edu/entity/open.act?id=60a422878c58651331ed83252af909ac&type=folder

Migration grid: https://docs.google.com/spreadsheets/d/1HuG1V-OM7If-YOM8_scVqYEH3PTH_Y1qyBXWhs4cdFQ/edit#gid=0

Redirects:
none. there wa

[2016-04-28 13:33] annmarieven opened #739 "Seminary Academics Anglican Studies Certificate Site Launch and Issues"
We're getting ready to launch this site: https://staging.bethel.edu/_testing/build-out/seminary-academics/certificates/anglican-studies

link to build out folder in cascade: https://cms.bethel.edu/entity/open.act?id=838170218c5865136fbb39054d7216c3&type=folder

Migration grid: https://docs.google.com/spreadsheets/d/1HuG1V-OM7If-YOM8_scVqYEH3PTH_Y1qyBXWhs4cdFQ/edit#gid=0

Redirects:
none. there was

[2016-04-28 13:34] a-parrott commented on #735
Content looks good!

[2016-04-28 14:38] a-parrott commented on #738
I'm not sure there's information coming from Banner for the How to Apply section.

@donowenskid - Could you add more content to the Spotlight paragraph? 75 to 100 words is the rule of thumb, less when we have less content to go off of, but it would be nice to have that section filled out a bit more.

Otherwise, looks good!

[2016-04-28 15:17] annmarieven commented on #734
site proofed and launched and looking good! assigning to @emily-johnson

[2016-04-28 15:18] emily-johnson commented on #736
Now I'm not seeing it on any events

[2016-04-28 15:19] e-jameson commented on #736
example: https://www.bethel.edu/events/2016/library/on-doing-online-instruction-well

[2016-04-28 15:22] donowenskid commented on #739
Proofed. Looks good.

[2016-04-28 15:32] emily-johnson commented on #734
I redirected the old site, tagged analytics, added the program to the SEM RFI form and published program feeds

[2016-04-28 15:33] #734 closed

[2016-04-28 15:55] emily-johnson commented on #735
@e-jameson Can you let me know when the secure-files authentication is done?

[2016-04-28 15:58] annmarieven commented on #739
site launched and looking good!

[2016-04-28 16:00] annmarieven commented on #739
assigning to @emily-johnson for post-launch to dos.

[2016-04-28 16:04] donowenskid commented on #738
Content is ready to go.

[2016-04-28 16:13] donowenskid commented on #737
content good to go!

[2016-04-28 16:15] e-jameson commented on #735
rule is done.

[2016-04-28 16:16] annmarieven commented on #725
looks great! i'm assuming this got pushed out with the last site publish, right?

[2016-04-28 16:18] annmarieven commented on #685
This got put on hold because Terra Dotta hadn't launched yet. Will still need to be done eventually just not sure of the new launch date. Stefan is working with the office to launch the new app so touch base with him.

Assigning to @hamtim to decide how high priority this is and who the writer will be.

[2016-04-28 16:19] annmarieven commented on #550
assigning to @emily-johnson for redirects and site launch (if/when it's ready for that)

[2016-04-28 16:19] c-schwarze commented on #725
Yep! Closing...

[2016-04-28 16:19] #725 closed

[2016-04-28 16:20] c-schwarze commented on #716
This should be fixed with the last site publish. Let me know if you see it somewhere.

[2016-04-28 16:59] emily-johnson commented on #736
It now looks like it's on some, but I can't really see a pattern for which ones dont have it

[2016-04-28 17:16] e-jameson commented on #736
Caleb's comment in the code
[code]

[2016-04-28 18:05] emily-johnson commented on #735
All done!

[2016-04-28 18:05] #735 closed

[2016-04-28 18:40] emily-johnson commented on #736
Hmm.. There are a bunch of events that meet those requirements and don't have it still. I republished the 2016 folder to see if that's all the issue was, but the alert isn't even in the Cascade versions either. Ex: https://cms.bethel.edu/entity/open.act?id=be2bb11c8c58651337fd222103ace0fc&type=page&

Any thoughts @c-schwarze?

[2016-04-28 18:58] c-schwarze commented on #727
Fixed. Pages with degree subtitle selected will look for the program-details/index page to find the program block. Then it will use that degree metadata field.

Pages will need to be republished to see this change

[2016-04-28 19:00] c-schwarze commented on #736
The alert had to be written in PHP, so it will not show up in the cascade view. It can only be viewed on staging and www.

The example you gave looks like its working on staging currently.

[2016-04-28 19:03] c-schwarze commented on #704
From @kathrynmagnuson:
"Hi Caleb, I'm wondering if for the counselor-territories pages, it can be set up so that I can put in nonconsecutive zipcodes separated by commas instead of just consecutive ones with a hyphen or adding a new zipcode field every time. I'll send a screenshot of what I'm trying to do"

![screen shot 2016-04-28 at 11 31 03 am](https://cloud.githubusercontent.com/assets/7849657

[2016-04-28 19:09] kathrynmagnuson commented on #704
Can you assign it back to me when this is set up? Thanks!

[2016-04-28 19:25] c-schwarze commented on #704
Updated. Let me know if you want any other changes!

[2016-04-28 19:41] kathrynmagnuson commented on #704
Yay! Thanks so much!

[2016-04-29 15:44] annmarieven commented on #738
Site launched and looking good.

Assigning to @emily-johnson for post launch to dos.

[2016-04-29 16:56] annmarieven commented on #737
site launched and looking good.

assigning to @emily-johnson for post launch to dos.

[2016-04-29 18:51] annmarieven commented on #716
still seeing it here:
https://staging.bethel.edu/undergrad/financial-aid/ click on dates & deadlines or contact us

[2016-04-29 19:23] emily-johnson commented on #737
Done!

[2016-04-29 19:23] #737 closed

[2016-04-29 19:32] emily-johnson commented on #738
Done!

[2016-04-29 19:32] #738 closed

[2016-04-29 19:38] emily-johnson commented on #550
@a-parrott can you take a look at the content? Then I'll go through all the steps to publish

[2016-04-29 19:51] emily-johnson commented on #550
**Redirects:**
Rule:
https://bethelnet.bethel.edu/postoffice/
to
https://www.bethel.edu/post-office

**Launch To Dos:**
- [ ] Proof on Chrome, Firefox, Safari, and iOS 9.3.1 on iPhone 6
- [ ] Move site
- [ ] Redirect rule @e-jameson
- [ ] Tag analytics
- [ ] Web author access
- [ ] Close and archive old site

[2016-04-29 19:52] kathrynmagnuson commented on #704
I finished putting in all the zip codes on the block, and published to staging. I tried testing it but it usually comes up with multiple counselors instead of the one associated with that zip code (even though the correct one comes up first on the list). I double checked a few to make sure there weren't errors on the block, could you take a look at it? Thanks!

https://staging.bethel.edu/undergrad

[2016-04-29 19:54] c-schwarze commented on #704
Could you give a couple of examples that you were having issues with?

[2016-04-29 20:02] kathrynmagnuson commented on #704
The zip code "55447" should come up with admissions counselor Geraldine, but both her and Josh appear as results.
"97001" should be Jenny, but Jenny and Josh come up. "55112" should be Maddie, but Kelli and Maddie come up, etc.

[2016-04-29 20:19] c-schwarze commented on #704
It looks like for those examples there appear to be typos. The ranges given include many zip codes. See the screenshots:

![screen shot 2016-04-29 at 3 17 32 pm](https://cloud.githubusercontent.com/assets/7849657/14928450/ae6ecb0e-0e1d-11e6-84a1-2ccbe32a6802.png)
![screen shot 2016-04-29 at 3 17 58 pm](https://cloud.githubusercontent.com/assets/7849657/14928451/ae70187e-0e1d-11e6-82ba-23a9df0388e1

[2016-05-02 14:27] e-jameson opened #740 "remove ITS Outage & Updates tab from blink."
I did this.yay.

[2016-05-02 14:27] #740 closed

[2016-05-02 14:53] e-jameson commented on #657
@vedmic help

[2016-05-02 15:24] emily-johnson commented on #736
@c-schwarze So we're good to go? From what I can find, we are. I'm checking back with Brooke and Avis again

[2016-05-02 15:29] emily-johnson commented on #736
Also, she wants it on the commencement site too, so can I just add it manually like the maps-directions page?

[2016-05-02 15:54] c-schwarze commented on #736
Yeah I believe we are good to go.

How many pages is it going to be on? If it is only a few, manually is totally fine.

[2016-05-02 15:57] e-jameson commented on #736
so needy.

[2016-05-02 16:36] emily-johnson commented on #739
Done!

[2016-05-02 16:36] #739 closed

[2016-05-02 16:46] emily-johnson commented on #727
Published out all program folders, is this done then? @c-schwarze

[2016-05-02 16:47] c-schwarze commented on #727
yes. reopen if any other issues arise.

[2016-05-02 16:47] #727 closed

[2016-05-03 15:16] e-jameson opened #741 "Wrong heading on Grad school program pages"
Email from Erik Gruber:
[code]

[2016-05-03 16:35] c-schwarze commented on #741
fixed. minor issues with degree subtitle using setup block.

[2016-05-03 16:35] #741 closed

[2016-05-03 17:45] emily-johnson opened #742 "Silva menu - linking to outside form"
So I need to add two google forms ([Dept Space Request](https://drive.google.com/open?id=1J_vcYN2pNe_PVGAT9cQ6M_jLji0huApqJScAKydWKF4) and [Moving an Employee](https://drive.google.com/open?id=1OQsY8GJnkRppcBPamfjWrKk--ksJg_-Dp-msE7Ojwic)) to the [Facilities bethelnet site](https://bethelnet.bethel.edu/facilities-mgmt/), and I wanted to do it like the Sign Request, where it just links to an outsid

[2016-05-03 17:49] emily-johnson commented on #742
Wait it just worked! Can you try clicking on the Dept Space Request?

[2016-05-03 17:52] emily-johnson commented on #742
The other one worked too, woo! So never mind, as long as this is the best way to do it

I am curious why the sign request menu item doesn't show up though

[2016-05-04 16:31] emily-johnson commented on #742
@e-jameson ok it's not working again apparently... :(

[2016-05-05 20:05] e-jameson commented on #742
I think we got this all sorted, @emily-johnson can you test the site again from within Blink and let me know?

[2016-05-05 20:08] e-jameson commented on #716
Looks like this is fixed. Can we close @c-schwarze ?

[2016-05-05 20:09] e-jameson commented on #699
@emily-johnson can we close this issue?

[2016-05-05 20:16] #742 closed

[2016-05-05 20:32] #736 closed

[2016-05-05 20:42] emily-johnson commented on #742
All good!

[2016-05-10 15:56] #699 closed

[2016-05-13 16:22] c-schwarze opened #743 "Faculty Bio publish sets are slow"
I noticed that the faculty bio publish sets are really slow (~40 minutes). Currently, whenever a faculty bio is submitted, all 4 school faculty bio publish sets are published, which each publish 10-15 faculty pages.

I created a prototype solution using PHP, so we no longer need to publish those publish sets.

Here are the current pages using velocity:
CAS
https://www.bethel.edu/undergrad/academic

[2016-05-16 20:19] a-parrott opened #744 "Majors and Minors Program Blocks"
@kathrynmagnuson - Can you add CAS major and minor page links to each major and minor program block?

See these for examples:
https://cms.bethel.edu/entity/open.act?id=018dc7e08c586513739ca2fdcc55bd77&type=block&
https://cms.bethel.edu/entity/open.act?id=018f38058c586513739ca2fd8b0bbe0d&type=block&

Thanks!

[2016-05-23 16:54] kathrynmagnuson commented on #744
I finished the majors and am working on the minors (stopped at cross-cultural-mission-program).

[2016-05-23 19:46] vedmic commented on #744
You are a rockstar.

*Michael Vedders*
Director of Marketing
Bethel University
vedmic@bethel.edu
o. 651.638.6094
m. 651.260.8002

On Mon, May 23, 2016 at 11:54 AM, kathrynmagnuson <notifications@github.com>
wrote:

[2016-05-24 13:48] kathrynmagnuson commented on #744
Ok, these are all finished! :)

[2016-05-27 17:42] c-schwarze commented on #743
This is live.

[2016-05-27 17:42] #743 closed

[2016-05-27 17:43] #716 closed

[2016-05-31 14:41] emily-johnson opened #745 "Staging links"
As of now, any links in staging take you out to www instead of staying in staging, can we fix this (per Eric)? :)

[2016-05-31 15:07] kathrynmagnuson commented on #731
These are done! A couple notes:
- Don Johnson, Ngozi Mbibi, Jeff Overlie (job description is "recent faculty"), and Ron Hultgren are not in the directory
- Rodney Becker does not have a faculty bio, but is in the directory
- Dave Lowe does not have a faculty bio and is not in the directory

[2016-06-07 16:24] e-jameson opened #746 "cdc rule"
[code]

[2016-06-07 16:24] #746 closed

[2016-06-20 15:48] a-parrott commented on #744
Hey Emily and Kathyrn - Can you add display names to the undergrad program blocks that are for emphases? Thanks!

[2016-06-20 18:33] emily-johnson opened #747 "blogs.bethel.edu crashing"
Here is what Laura replied with after it had been working finally (yay!), and then crashed:

[2016-06-20 18:34] emily-johnson commented on #747
![image_20160620125406_408495](https://cloud.githubusercontent.com/assets/13204220/16205905/a4a4f02a-36eb-11e6-9217-ec1edca03755.png)

[2016-06-22 17:55] emily-johnson opened #748 "Program Search"
- [x] Adding display names to CAS concentrations
- [x] Cleaning up the program spreadsheets (@kathrynmagnuson and I)
- [x] Figure out if we can change the Ed. D. title and get rid of the display name
- [x] Hitting enter refreshes the page, and shouldn't
- [x] Trying to make sure delivery options don't get changed when the page refreshes or you hit enter

[2016-06-22 19:42] emily-johnson commented on #747
@e-jameson I got a case from Kent Gerber about the blogs site being down, any updates?

Case 17902

[2016-06-23 15:38] emily-johnson commented on #744
I added the display names to the CAS concentrations yesterday, and they look good in the search

[2016-06-24 17:54] c-schwarze commented on #731
What is left to do on this?

[2016-06-24 17:55] c-schwarze commented on #710
Closing.

This has moved to #748

[2016-06-24 17:55] #710 closed

[2016-06-27 20:57] kathrynmagnuson opened #749 "Cascade Display Name Changes"
left off on Theatre Arts (https://cms.bethel.edu/entity/edit.act?id=62fa36708c5865130c130b3a4788c397&type=page&_ga=1.33322102.917986205.1442595968)

[2016-06-28 14:49] kathrynmagnuson commented on #749
This page is blank and named differently than the other pages in the same folder https://staging.bethel.edu/undergrad/academics/communication/forensics/results/2000-2010 (https://cms.bethel.edu/entity/edit.act?type=page&id=3a25e8fa8c58651379d37f208ddd8c3e)

[2016-06-28 19:57] kathrynmagnuson commented on #749
Questions about Title vs. Display names:

- https://cms.bethel.edu/entity/edit.act?id=6bdbd0448c5865135c5c083d19a505d3&type=page&_ga=1.200512358.917986205.1442595968

- https://cms.bethel.edu/entity/edit.act?id=3965d9258c58651337aebe3f2b642d02&type=page&_ga=1.268081990.917986205.1442595968

- https://cms.bethel.edu/entity/edit.act?id=1fbaa7438c58651313b6fe6bdb7139c7&type=page&_ga=1.189641699.91798

[2016-06-28 20:57] kathrynmagnuson commented on #749
left off on "Updating FAFSA after filing taxes"

[2016-06-29 20:56] kathrynmagnuson commented on #749
https://cms.bethel.edu/entity/edit.act?id=c4a054588c5865130c130b3a853e3763&type=page&_ga=1.234650454.917986205.1442595968

left off on "Photojournalist Alex Potter Visits Campus"

[2016-06-30 16:30] kathrynmagnuson commented on #749
Finished first run through of all the pages, but there are a number of pages that need to be looked at again

[2016-07-05 20:38] kathrynmagnuson commented on #749
Went through the list a second time, here's what's still left with display names:

- pages in the following folders: _homepages, _shared-content, human-resources

- pages with the following titles: Faculty, Apply, Program Details, How to Apply, Application

- major pages with endorsements/emphases

-  & a few other misc. pages :)

[2016-07-07 13:00] johjacb commented on #748
- [ ] change to 'Associate's', 'Bachelor's', 'Doctoral' in filter
- [ ] remove Compare and Reset all buttons, just leave checkbox
- [ ] remove degree type column and put degree level (Major, Minor, Adult Degree Completion) in that space instead
- [ ] headings for the table section should be: Associate's Degrees, Bachelor's Degrees, Doctoral Degrees

[2016-07-07 13:01] #657 closed

[2016-07-07 15:24] #747 closed

[2016-07-07 15:56] c-schwarze commented on #748
@vedmic I finished the updates. Let me know if anything looks wrong.

[2016-07-14 15:37] c-schwarze commented on #748
I updated the program search with our changes from our cascade meeting (7/14/16).

* add "'s" to license and certificate
* move compare program buttons to the bottom of the page instead of each table
* Change schools to shorter names (undergrad, adult undergrad, graduate, seminary)
* added help text to the form

[2016-07-26 18:26] e-jameson commented on #685
Melanie Eslinger m-eslinger@bethel.edu
Keep track of any "empty" pages, but don't move them.

[2016-07-26 18:37] emily-johnson commented on #685
Emailed Melanie about the pictures

[2016-08-02 20:45] emily-johnson opened #750 "Group permissions"
I created a new group for the Business Office, with Amy Blaz as the only member. She has access to what she should, but can't create any new assets (only Messages is in her New drop down list).

Andrea and I have compared the group to others and it looks identical

The issue looks to be with the group, and not her account, because when I also added her to the ITS group, she could then create new a

[2016-08-05 19:40] #748 closed

[2016-08-05 19:42] #704 closed

[2016-08-05 19:44] #744 closed

[2016-08-05 19:45] #731 closed

[2016-08-05 19:53] e-jameson commented on #697
This will launch with the new tinker version.

[2016-08-05 19:53] #697 closed

[2016-08-05 20:39] emily-johnson commented on #550
@e-jameson Ok, site is live (not archived), appears that there is a redirect rule, and multiple redirects in tinker, no web author

https://www.bethel.edu/post-office/

[2016-08-05 20:43] emily-johnson commented on #550
Just went back and tagged analytics

[2016-08-05 21:24] emily-johnson commented on #550
@vedmic Should we be setting up a web author for the Post Office?

Also, can I archive the old site?

[2016-08-06 00:14] #749 closed

[2016-08-06 15:24] hamtim commented on #550
@emily-johnson you can archive the old site. They won't have a web author for now.
-t

[2016-08-08 16:34] johjacb opened #751 "Implement table strategy"
Create a generic table strategy for mobile

[2016-08-10 17:06] johjacb opened #752 "Request Info form validation"
@e-jameson

I added the styles and js for the form validation. However, it doesn't appear to be sending the form. I updated the php to send the staging emails to me and I only received 1 out of 12 or so.

Could you take a look to make sure the emails are sending?

[2016-08-11 18:15] c-schwarze commented on #752
Emails should be sending now, sorry for the delay!

[2016-08-11 18:15] #752 closed

[2016-08-12 19:24] c-schwarze commented on #750
@emily-johnson I believe you resolved this?

[2016-08-12 19:27] emily-johnson commented on #750
Yep! Thanks

[2016-08-12 19:27] #750 closed

[2016-08-12 20:01] c-schwarze commented on #745
Fixed. however, we will need a site-wide publish for this to appear everywhere.

I think I will keep this issue open until the next site-wide publish.

[2016-08-12 20:04] c-schwarze commented on #444
Where is this at? Nothing has been posted for 4 months.

[2016-08-22 20:58] kathrynmagnuson opened #753 "New Tinker Issues"
Under Events:
- [x] Start/End dates should be required
- [x] If your curser is on the left side (left-hand nav.) you can't scroll

General:
- [ ] Is there a way for staff/faculty to save an event/bio/e-announcement and continue working on it later or do they have to do it all at once and submit? (I don't think so. -- Caleb)

[2016-08-22 20:58] kathrynmagnuson commented on #753
![tinker-event](https://cloud.githubusercontent.com/assets/14840641/17871472/4f0bbbe0-6881-11e6-8fa6-56cb2c88f699.png)

[2016-08-23 15:39] kathrynmagnuson commented on #753
Events:

- it might be easier (for users) to have a field to choose what school it is, and then have a dropdown with the options that apply, rather than having all the options for all four schools showing at once

- deleted an event through Tinker and it is no longer in Cascade, but it still shows up live/the link still works (https://www.bethel.edu/events/2017/admissions/kmTest2) (Ghost page?)

F

[2016-08-23 19:39] kathrynmagnuson commented on #753
Faculty Bio:

- [ ] Under Job Title it asks "Are you the program director?" You can currently select yes and no at the same time, and once you click on one you can't un-click it

[2016-08-23 19:41] kathrynmagnuson commented on #753
Office Hours: Web Services is showing up twice for me
![screen shot 2016-08-23 at 2 39 03 pm](https://cloud.githubusercontent.com/assets/14840641/17907009/62d57b7a-693f-11e6-96c6-43cc034493fd.png)

[2016-08-24 15:49] kathrynmagnuson commented on #753
Office Hours:

- [ ] maybe add a way for offices to say they are closed for a whole day (i.e. Saturdays & Sundays, since right now it's required to put a time in for every day of the week)

[2016-08-24 18:35] emily-johnson commented on #550
Oops, this is done! Closing

[2016-08-24 18:35] #550 closed

[2016-08-24 20:56] kathrynmagnuson commented on #753
Admin Menu: Blink Layout Owners

- [ ] is this a clitch or can the names be moved to the right a little?
![screen shot 2016-08-24 at 3 52 51 pm](https://cloud.githubusercontent.com/assets/14840641/17947615/1c0f5f9c-6a13-11e6-9fb9-29020b5fcbc9.png)

[2016-08-25 17:25] johjacb commented on #751
this already exists. a table needs the class .responsive added.

[2016-08-25 17:25] #751 closed

[2016-08-25 19:03] kathrynmagnuson commented on #753
- [ ] still having issues with Clear Cache, when I click submit nothing happens

[2016-08-26 15:49] e-jameson commented on #440
For future reference.

![image](https://cloud.githubusercontent.com/assets/6525585/18011415/b1d89788-6b7a-11e6-82ca-1f7f3465f4d7.png)

![image](https://cloud.githubusercontent.com/assets/6525585/18011424/bd0da102-6b7a-11e6-8050-acbfccfd1a4b.png)

[2016-08-26 16:43] c-schwarze commented on #440
This issue was resolved again, due to removing our code of setting the $currentPage variable.

[2016-08-30 19:36] c-schwarze commented on #745
So we had to revert this update, since it broke some staging links.

It appears we have some apache rewrites that are causing us havoc. Will update when it is fixed.

[2016-09-01 15:55] emily-johnson commented on #685
Melanie never replied that I can see in FP, emailed her directly

[2016-09-01 15:59] emily-johnson commented on #444
Ready to send _testing site to Sam Mulberry, but debating holding off until we have the staging links fixed (or temporarily fixed)

[2016-09-09 21:16] emily-johnson commented on #745
@c-schwarze this was fixed right?

[2016-09-09 21:17] emily-johnson commented on #685
Melanie replied and we are working on a few small changes, wait for a reply from MV

[2016-09-14 20:44] c-schwarze opened #754 "Migrating HR News Channel from Blink to Cascade"
- [x] create DD
- [x] create channel format
- [x] create archive format
- [x] create hr news article format

[2016-09-14 21:21] emily-johnson opened #755 "Admission Team pages"
Can we add phone and email to the bio previews that get pulled into the adm team pages?

[https://www.bethel.edu/adult-undergrad/admissions/team/](https://www.bethel.edu/adult-undergrad/admissions/team/)
https://www.bethel.edu/graduate/admissions/team/
https://www.bethel.edu/seminary/admissions/team/

Thanks!

[2016-09-15 14:23] c-schwarze commented on #755
Updated. Republish and phone and email should appear.

Let me know if you want the format to change!

[2016-09-15 18:28] emily-johnson opened #756 "Sem Student Life Migration"
https://bethelnet.bethel.edu/sem-stulife/

/seminary/student-life

[ ] Migrate, copying current structure
[ ] Train Beth Clark into Cascade
[ ] Close and archive old site

[2016-09-15 19:56] c-schwarze commented on #745
Yeah! This should be fixed.

closing

[2016-09-15 19:56] #745 closed

[2016-09-16 14:38] c-schwarze opened #757 "Proof Point has too many digits"
I believe we decided to limit the number of digits in proof points to about 4 (so that the numbers remain in the box). David, could you update this proof point to take care of the issue?

Proof point: https://cms.bethel.edu/entity/open.act?id=8d82a2f78c58651375fc4ed26b4c563c&type=block&
Example Page: https://staging.bethel.edu/undergrad/academics/physics/

![screen shot 2016-09-15 at 4 51 43 pm](h

[2016-09-16 14:52] d-freed commented on #757
Changed to $1.2 M in Cascade. Issue should be resolved.

[2016-09-16 15:02] #757 closed

[2016-09-16 16:30] emily-johnson commented on #755
Thanks!

Note from Amara:

[2016-09-23 17:04] emily-johnson opened #758 "Sem Faculty Page"
https://www.bethel.edu/seminary/academics/faculty

Currently one long list, can we split it up?
- Doctoral
- St. Paul
- San Diego
- Online

Change the order? Highlight specific faculty, some hardly ever teach but are at the top because of their name
### Repeating titles

David Howard has three job titles in order for him to show up in three program faculty lists. Each faculty member only has ONE t

[2016-09-26 16:06] emily-johnson commented on #758
Blurb in Highlight field (on main faculty page and in bio). Research, expertise or specialty content moved to highlight (whichever is being used currently)

Work on search for faculty page down the road

Program directors at the top of program pages, but faculty list is totally alphabetical (white boxes for program directors still, but wherever they are in the list)

Sorting by location on main fa

[2016-09-27 17:32] emily-johnson commented on #755
@c-schwarze have you had a chance to look at the extensions? ^

[2016-09-27 18:33] c-schwarze commented on #755
Oh sorry. Its fixed and looks good on staging.

You will need to republish to www.

[2016-09-27 18:33] #755 closed

[2016-10-04 16:29] emily-johnson commented on #754
Michelle requested that the Employee Handbook link be added to the bottom, like it used to be, was there a reason we didn't put it in this time?

https://www.bethel.edu/human-resources/handbook

[2016-10-11 17:47] emily-johnson commented on #754
@c-schwarze Do you have an estimate on when you'll get the chance to look at this? Thanks!!

[2016-10-11 18:05] c-schwarze commented on #754
I have no knowledge of this. Who else would know?

[2016-10-11 18:06] emily-johnson commented on #754
@e-jameson I'm pretty sure it was on the previous version in silva, and just now isn't in the Cascade one. Can we add it back? (The handbook link)

[2016-10-20 16:08] emily-johnson commented on #754
@e-jameson do you think you'd have time to do this before next week?

[2016-10-26 18:19] e-jameson commented on #754
@emily-johnson this is done sorry for delay.

[2016-10-26 18:19] #754 closed

[2016-10-26 21:46] emily-johnson commented on #444
Looks like I never heard back from Sam, sent another email

[2016-10-31 17:29] kathrynmagnuson opened #759 "Proof Point issues"
- [x]  bu_campus-acerage (has "acres" after 247)
- [x]  cas_anthropology_student-number (large number)
- [x] cas_biology_grad-school-acceptance-8-year ("nearly" in text before number)
- [x] cas_buisness_preparedness ("more than" in text before number)
- [x] cas_business_top-programs ("top" in text before number)
- [x] cas_chemistry_top-program ("top" used)
- [x] cas_communication_europe-term-count

[2016-11-01 18:57] emily-johnson opened #760 "Event deletion workflow"
From HH on our help request:

which would confirm that this is the exact same problem.

[2016-11-02 18:41] d-freed commented on #759
completed the last two, looks good

[2016-11-02 18:41] #759 closed

[2017-01-26 18:56] c-schwarze commented on #753
Closing, those that matter we have taken care of.

[2017-01-26 18:56] #753 closed

[2017-02-07 20:11] d-freed opened #761 "International Studies Migration Launch"
We launched this site - www.bethel.edu/international-studies/

Redirect grid: https://docs.google.com/spreadsheets/d/1GRay2uycMVnPAMIw0zkRT4-6YPEFP9aCAfpZDF6-4bY/edit#gid=0

Create redirects: Done
Tag Analytics: Done
Close old site : @e-jameson

[2017-02-27 17:03] kathrynmagnuson opened #762 "Picture Additions to Web Pages"
- [x] https://www.bethel.edu/events/2017/admissions/edd-online-information-session4

- [x] https://www.bethel.edu/events/2017/admissions/online-info-session-for-bethel-seminarys-online-programs

- [x] https://www.bethel.edu/events/2017/admissions/ms-in-nurse-educator-online-info-session11

- [x] https://www.bethel.edu/events/2017/admissions/ms-in-nurse-educator-online-info-session1

- [x] https://

[2017-02-28 21:04] kathrynmagnuson commented on #762
- [ ] https://www.bethel.edu/events/2017/admissions/ms-physician-assistant-online-info-session

- [ ] https://www.bethel.edu/events/2017/admissions/adult-undergraduate-and-graduate-info-session

- [ ] https://www.bethel.edu/events/2017/admissions/edd-online-information-session

- [ ] https://www.bethel.edu/events/2017/admissions/ms-in-nurse-educator-online-info-session2

- [ ] https://www.bethel.e

[2017-02-28 21:20] #762 closed

[2017-05-26 14:58] c-schwarze commented on #693
Throwing some documentation here for later: https://developers.google.com/apps-script/guides/rest/quickstart/js

I was able to get a simple test working. Now I am going to work on creating a usable prototype

[2017-06-12 18:14] emily-johnson opened #763 "Sociology and Reconciliation Studies - Name Change"
Anthropology, Sociology, & Reconciliation Studies is changing its name to Sociology and Reconciliation Studies, here are the places we need to update it:

undergrad/academics/anthro...
- [x] folder system name
- [x] block system names and titles
- [x] site title and social media title in setup block
- [x] throughout majors-minors folder
- [x] newsletters/index
- [x] index page titles and content

[2017-06-12 18:44] emily-johnson commented on #763
Once we get the dept folder done, I'll have Jmo do a rule from
/undergrad/academics/anthropology-sociology-reconciliation to
www.bethel.edu/undergrad/academics/sociology-reconciliation

[2017-06-12 18:57] kathrynmagnuson commented on #763
I'm checking things off but they're just done to staging until we finish, then eric can put in the redirects before we publish live

[2017-06-12 19:17] emily-johnson commented on #763
Blink > Office and Dept Sites  >Depts and Programs (CAS)
- [ ] Dept name and link

[2017-06-12 19:22] kathrynmagnuson commented on #763
"Bethel is the only Christian university that integrates sociology, anthropology, and reconciliation studies in a single department" is this statement still true/do we take these sort of things into account when deleting all the anthropologies?

[2017-06-12 19:25] d-freed commented on #763
Good question, I will check with Lauren.

[2017-06-12 20:51] emily-johnson commented on #763
Redirect rule done, publishing folder now

[2017-06-12 20:59] d-freed commented on #763
Lauren doesn't know what to do with that. So...I'd say hold for now.

[2017-06-12 21:17] emily-johnson commented on #763
Updated the metadata in tinker, syched it and updated the metadata for the pages/blocks in the main folder

[2017-06-12 21:45] emily-johnson commented on #763
Updated the proof point and quote metadata as well

[2017-09-26 17:41] crossonrose commented on #511
No way!

[2018-05-11 21:26] c-schwarze commented on #758
@emily-johnson This is old, but is there anything left to do?

[2018-05-11 21:26] c-schwarze commented on #756
@emily-johnson where is this at?

[2018-05-11 21:27] c-schwarze commented on #444
@emily-johnson where is this at?

[2018-05-11 21:27] c-schwarze commented on #685
@emily-johnson where is this at?

[2018-05-14 20:51] #763 closed

[2018-05-14 21:25] emily-johnson commented on #444
The site is up and Sam was trained in as the web author, closing

[2018-05-14 21:25] #444 closed

[2018-05-14 21:26] emily-johnson commented on #756
https://www.bethel.edu/undergrad/student-life/

[2018-05-14 21:26] #756 closed

[2018-05-14 21:33] #685 closed

[2018-05-22 21:08] #758 closed

[2018-05-25 20:51] #761 closed

[2018-06-12 20:15] c-schwarze opened #764 "Event is failing to be deleted"
There is an event that we haven't been able to delete for some time. We will need to delete it from the DB directly. Cascade's DB is a mess to look through. Good luck.

https://cms.bethel.edu/entity/open.act?type=workflow&id=e90880898c58651305db597cb701d92b

[2018-06-12 22:11] c-schwarze opened #765 "Image Publish Trigger"
When an image is published, it could be nice to use a publish trigger to use the tinker clear cache module so that images will automatically have their cache cleared. This would resolve many of the homepage image cacheing issues that marketing has.

[2018-06-13 21:57] c-schwarze commented on #764
Mike Johnson was able to delete the event.

He is working on also deleting the workflow history that was attached to it

[2018-06-21 13:58] kelslundberg opened #766 "CAS Admissions - Counselor Search"
Hey, Caleb!

I'm putting this here in Cascade. Feel free to move if it makes better sense somewhere else.

We're going to explore if there is a way to improve the experience for prospective students looking for their counselor. Right now folks have to scan the counselor list to find their state or county:

https://www.bethel.edu/undergrad/admissions/counselors/

The team is open to ideas from us o

[2018-06-21 13:58] kelslundberg commented on #766
@c-schwarze it looks like I can't assign things in this repository :)

[2018-06-29 15:40] c-schwarze commented on #766
Hey Kelsey,

The data is Salesforce for counselors is a mess - there are a ton of rules and things. I think Salesforce is a good option, it will just take cleaning up some of that (which is good).

We used to have a zip code that people enter, so I assume they don't want that again. If you want to brainstorm a few ideas, that would be great. We didn't have time last Web meeting to talk about this.

[2018-07-02 19:21] kelslundberg commented on #766
Thanks @c-schwarze for some initial thoughts here - including @e-jameson here too.

According to my convo with Admissions and by the looks of how they have things listed on the site, it seems like they segment assignments by state for out of state folks and by county for Minnesota students.

I came across this University that also segments in a similar way:

https://www.mills.edu/admission-aid/und

[2018-07-05 16:35] c-schwarze commented on #766
Oooo. That is slick. If the data is cleaned up, I think we could manage something like that.

[2018-07-06 18:10] kelslundberg commented on #766
Sounds good! Yeah if I show them this I think they'll be motivated to clean up the data :) But I didn't want to show them until you looked at it.

What would be the next step in figuring out how the data needs to be updated/cleaned up?

[2018-07-11 16:38] kelslundberg commented on #766
@c-schwarze - have you had a chance to look any more at this to see what needs to happen for data clean up?

[2018-07-17 16:31] e-jameson commented on #766
Hey @kelslundberg,

We talked about this today. We decided that we can for sure create something like this for the website, but don't feel comfortable creating it until we can better represent the assignment rules. This most likely means re-evaluating the assignment rules in Salesforce. I'm going to take this one for now and ask our S.F. BA to work with them to try and come up with something that

[2018-07-17 20:42] kelslundberg commented on #766
Sounds good @c-schwarze! Thanks for talking about this with the team. I'll send an update to Liz just so she's aware we've been looking at it - if that's okay with you. And let her know that the sales force folks will likely follow up to look at data/assignments.

[2018-08-07 21:00] c-schwarze commented on #764
We kept the history, as it was an issue dealing with all of the rules and things.

[2018-08-07 21:00] #764 closed

[2018-10-23 21:58] c-schwarze opened #767 "Force other sites to stop"
This page is pulling our pages and using an iframe. We should add some code to stop it.

http://www.euni.de/tools/jobpopup.php?lang=en&option=showJobs&jobid=392598&jobtyp=5&university=National+University+of+Ireland+Galway&country=IE&sid=38138

This if statement works to send anything iframing our pages to google. We also need to check who is hosting the page (if possible?). Maybe something like `w

[2019-03-20 21:50] c-schwarze opened #768 "Create a better README page"
Be sure to talk about bu_cascade

[2019-04-09 21:40] c-schwarze opened #769 "Add in Sentry"
It looks like cascade can work with sentry. We should try on cms.xp.

https://docs.sentry.io/clients/java/

[2020-05-28 18:37] c-schwarze commented on #768
updated, closing

[2020-05-28 18:37] #768 closed

[2020-05-28 18:40] c-schwarze commented on #765
Now that we are leveraging imgix, we would need to develop a imgix cache clear module. Might take a bit more work to get up and running, but it should be quite fast!

[2020-05-28 18:40] c-schwarze commented on #769
not worth it

[2020-05-28 18:40] #769 closed

[2020-05-28 18:42] c-schwarze commented on #724
Closing, as this is more than 4 years old. I'm pretty sure the requirements have changed.

[2020-05-28 18:42] #724 closed

[2020-05-28 18:43] c-schwarze commented on #693
Although this is probably still desirable, the request is not active. Closing.

[2020-05-28 18:43] #693 closed